<div class="text-12 font-medium flex items-center uppercase">
	<a routerLink="/projects" class="font-medium cursor-pointer">Projects</a>
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="text-primary-100 font-medium">Apps</span>
</div>

<div class="flex items-center justify-between mb-24px mt-18px" *ngIf="displayedApps.length > 0">
	<div class="flex items-center">
		<form class="border border-primary-400 h-36px px-14px py-0 max-w-[350px] w-full rounded-[10px] flex items-center bg-white-100" [ngClass]="{ active: appsSearchString != undefined && appsSearchString != '' }">
			<img src="/assets/img/search-icon.svg" alt="search icon" class="mr-10px" />
			<input type="search" placeholder="Search apps" [(ngModel)]="appsSearchString" (keyup)="searchApps({ searchInput: $event })" [ngModelOptions]="{ standalone: true }" class="w-full text-grey-40 text-14 outline-none" />
			<button convoy-button *ngIf="appsSearchString && appsSearchString.length > 0" class="transition-all duration-200">
				<img src="/assets/img/enter-icon.png" alt="enter icon" class="w-16px" />
			</button>
		</form>

		<!-- app status filter  -->
		<!-- <div class="dropdown margin-left__24px">
			<button
				class="button button__filter button--has-icon icon-right icon-left"
				[ngClass]="{ active: selectedAppStatus !== 'All' }"
				(click)="showOverlay = true; showAppStatusDropdown = !showAppStatusDropdown"
			>
				<img class="margin-left__0px" src="/assets/img/status-filter-icon.svg" alt="status filter icon" />
				<span>Status</span>
				<span class="color__grey">:</span>
				<span class="color__primary font__14px font__weight-500 margin-left__8px" *ngIf="selectedAppStatus">{{ selectedAppStatus }}</span>
				<img class="margin-right__0px" src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
			</button>

			<div class="dropdown__menu with-padding small" [ngClass]="{ show: showAppStatusDropdown }">
				<div class="dropdown__menu__item with-border" *ngFor="let status of appStatuses">
					<label [for]="status">{{ status || 'None' }}</label>
					<input type="checkbox" name="status" [value]="status" [id]="status" [checked]="selectedAppStatus == status" (change)="filterAppByStatus(status)" />
				</div>

				<div class="flex flex__align-items-center margin-top__10px">
					<button class="button__clear" (click)="showAppStatusDropdown = false; showOverlay = false">Clear</button>
				</div>
			</div>
		</div> -->
	</div>
	<button convoy-button size="sm" class="h-36px" id="create-app-modal-button" routerLink="./new">Create An App</button>
</div>

<convoy-card *ngIf="isloadingApps">
	<convoy-table-loader id="events_loader_loader" [tableHead]="appsTableHead"></convoy-table-loader>
</convoy-card>

<convoy-card *ngIf="!isloadingApps && displayedApps && displayedApps.length > 0">
	<div class="min-h-[70vh] overflow-y-auto overflow-x-auto w-full min-w-[485px]" id="event-deliveries-table-container">
		<table convoy-table>
			<thead convoy-table-head>
				<th convoy-table-head-cell [class]="i === 0 ? 'pl-20px' : ''" *ngFor="let head of appsTableHead; let i = index">{{ head }}</th>
			</thead>
			<tbody>
				<ng-container *ngFor="let apps of displayedApps; let i = index">
					<tr convoy-table-row [forDate]="true">
						<td convoy-table-cell [forDate]="true">{{ apps.date }}</td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
					</tr>
					<tr convoy-table-row *ngFor="let app of apps.content; let index = index" [id]="'app' + i" [routerLink]="['./' + app.uid]">
						<td convoy-table-cell class="pl-16px">
							<convoy-tag [type]="!app.is_disabled ? 'success' : 'grey'">{{ app.is_disabled ? 'Disabled' : 'Enabled' }}</convoy-tag>
						</td>
						<td convoy-table-cell>{{ app.name }}</td>
						<td convoy-table-cell>{{ app.created_at | date: 'hh:mm:ss a' }}</td>
						<td convoy-table-cell>{{ app.updated_at | date }}</td>
						<td convoy-table-cell>{{ app.events || 0 }}</td>
						<td convoy-table-cell>{{ app?.endpoints?.length || 0 }}</td>
						<td convoy-table-cell>
							<button convoy-button title="view events" size="xs" texture="light" (click)="loadEventsFromAppsTable($event, app.uid)" [disabled]="app.events <= 0">
								<img src="/assets/img/view-events-icon.svg" class="w-14px mr-10px" alt="view events icon" />
								View Events
							</button>
						</td>
						<td convoy-table-cell>
							<convoy-dropdown size="sm" buttonSize="sm" buttonFill="clear" #appTableDropdown>
								<ng-container dropdownToggle>
									<img src="/assets/img/more-icon-vertical.svg" alt="more icon" />
								</ng-container>
								<ul>
									<li convoy-list-item class="w-full px-14px hover:bg-primary-500">
										<a class="w-full text-12" [routerLink]="'/projects/' + privateService.activeProjectDetails?.uid + '/apps/' + app.uid + '/edit'">Update</a>
									</li>
									<li convoy-list-item className="px-14px hover:bg-primary-500">
										<button convoy-button class="w-full" class="w-full !justify-start" fill="text" color="danger" (click)="promptDeleteModal($event, app)">Delete</button>
									</li>
								</ul>
							</convoy-dropdown>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
</convoy-card>

<convoy-card className="mt-16px" *ngIf="!isloadingApps && displayedApps?.length === 0">
	<convoy-empty-state
		imgSrc="/assets/img/new-empty-state.png"
		[heading]="appsSearchString && appsSearchString.length > 0 ? 'An app with the name “' + appsSearchString + '” does not exist' : 'Create your first application'"
		[buttonText]="appsSearchString && appsSearchString.length > 0 ? '' : 'Create Application'"
		[description]="appsSearchString && appsSearchString.length > 0 ? '' : 'An application is either your backend application or your users application. It can hold multiple endpoints which listen for your webhook events that are sent or received.'"
		(onAction)="router.navigateByUrl('/projects/' + privateService.activeProjectDetails?.uid + '/apps/new')"
		className="min-h-[65vh]"
		id="events-empty-state"
	></convoy-empty-state>
</convoy-card>

<div class="flex items-center mt-16px" [ngClass]="{ invisible: displayedApps.length === 0 }">
	<button convoy-button fill="outline" size="sm" class="pl-4px pr-16px py-4px border-primary-300" routerLink="./" [queryParams]="{ page: apps?.pagination?.prev || 0 }" [disabled]="apps?.pagination?.prev === 0" (click)="getApps({ page: apps?.pagination?.prev })">
		<svg width="24" height="24" class="mr-8px fill-primary-100">
			<use xlink:href="#arrow-left-icon"></use>
		</svg>
		Previous
	</button>
	<button convoy-button fill="outline" size="sm" class="pr-4px pl-16px py-4px border-primary-300 ml-16px" routerLink="./" [queryParams]="{ page: apps?.pagination?.next }" [disabled]="apps?.pagination?.next === 0" (click)="getApps({ page: apps?.pagination?.next })">
		Next
		<svg width="24" height="24" class="ml-8px fill-primary-100">
			<use xlink:href="#arrow-right-icon"></use>
		</svg>
	</button>
</div>

<app-delete-modal *ngIf="showDeleteAppModal" [isLoading]="isDeletingApp" [deleteText]="'delete “' + appsDetailsItem?.name + '”'" (closeModal)="showDeleteAppModal = false" (deleteData)="deleteApp()"></app-delete-modal>

<convoy-modal *ngIf="showCreateAppModal || showEditAppModal" position="full" [id]="'appForm'" [title]="showEditAppModal ? 'Edit App' : 'Create App'" (closeModal)="goBack()">
	<ng-container modalBody>
		<app-create-app [editAppMode]="showEditAppModal" (discardApp)="goBack()" (createApp)="goBack(); getApps()"></app-create-app>
	</ng-container>
</convoy-modal>
