<dialog #dialog convoy-dialog position="center" class="!rounded-24px !bg-new.surface-page border border-new.border">
	<div class="p-40px">
		<img src="/assets/img/success.gif" loop="1" alt="Success gif" class="h-140px w-140px rounded-[100%] m-auto mb-16px" />
		<p class="text-center font-heading font-medium text-[16px] leading-[24px] text-new.text-primary max-w-[250px] m-auto mb-40px">{{ notification.message }}</p>
		<button type="button" class="mx-auto block px-40px py-12px rounded-full bg-new.primary-400 font-body font-medium text-[14px] leading-[16px] text-white-100 transition-all hover:opacity-90" (click)="dismissNotification()">Continue</button>
	</div>
</dialog>
