<convoy-page size="md">
	<convoy-card className="flex p-0">
		<div class="border-r border-r-grey-10 w-full max-w-[300px]">
			<div class="border-b border-b-grey-10 px-40px py-20px">
				<h3 class="font-semibold">Settings</h3>
			</div>
			<ul class="pl-40px py-32px">
				<li *ngFor="let menu of settingsMenu">
					<button
						class="flex items-center"
						[class]="
							activePage === menu.name
								? 'bg-primary-500 text-primary-100 rounded-8px transition-all duration-200 py-12px !px-16px mb-20px !justify-start min-w-[216px]'
								: 'text-grey-40 rounded-8px transition-all duration-200 py-12px !px-16px mb-20px !justify-start min-w-[216px]'
						"
						(click)="toggleActivePage(menu.name)"
					>
						<svg width="18" height="18" class="mr-10px transition-all duration-200" [class]="activePage === menu.name ? 'fill-primary-100' : 'fill-grey-40'" [id]="menu.icon">
							<use [attr.xlink:href]="'#' + menu.icon + '-icon'"></use>
						</svg>
						<span class="font-medium text-14 transition-all duration-200 whitespace-nowrap capitalize">{{ menu.name }}</span>
					</button>
				</li>
			</ul>
		</div>
		<div class="px-32px py-18px min-h-[60vh] w-full">
			<ng-container *ngIf="activePage === 'organisation settings'">
				<organisation-settings></organisation-settings>
			</ng-container>

			<ng-container *ngIf="activePage === 'configuration settings'">
				<configurations></configurations>
			</ng-container>
		</div>
	</convoy-card>
</convoy-page>
