input,
select,
textarea,
datalist {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
  padding: 7px;
  position: relative;
  background: #ffffff;
  border: 1px solid #e4e9f2;
  border-radius: 4px;
}

input[type='checkbox']::after,
input[type='radio']::after {
  content: url("../assets/img/checkbox-icon.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input[type='checkbox']:checked,
input[type='radio']:checked {
  background: var(--primary-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  position: relative;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-height: 50px;
}

.filter > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter .filter--button {
  min-width: 130px;
}

.filter .filter--button,
.filter select {
  background: #ffffff;
  border: 1px solid #f3f5f9;
  border-radius: 8px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 0 8px;
}

.filter .filter--button div,
.filter select div {
  margin: 0 8px;
}

.filter .filter--button img:last-of-type,
.filter select img:last-of-type {
  width: 20px;
}

.filter .filter--button.active,
.filter select.active {
  border-color: rgba(71, 125, 179, 0.2);
  -webkit-box-shadow: 0px 10px 25px rgba(151, 143, 175, 0.08);
          box-shadow: 0px 10px 25px rgba(151, 143, 175, 0.08);
  color: var(--primary-color);
  font-weight: 500;
}

.filter .select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.filter .select::after {
  content: '';
  position: absolute;
  background: url("/assets/img/angle-arrow-down.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  right: 5px;
}

.filter .select select {
  height: 46px;
  min-width: 145px;
}

.mat-date-range-input-container {
  max-width: 230px;
}

.table .filter--button .mat-date-range-input-container {
  max-width: 180px;
}

.mat-date-range-input-start-wrapper .mat-date-range-input-inner {
  position: initial !important;
}

.mat-date-range-input-start-wrapper {
  overflow: unset;
}

.filter .filter--button div {
  margin: 0;
}

.mat-date-range-input-inner[disabled] {
  color: currentColor;
}

.table {
  margin: 24px 24px 0;
}

.table--load-more {
  border-top: 1px solid #eee;
}

.table--load-more button {
  font-weight: bold;
  font-size: 18px;
}

.table--date-row {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.table .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table .checkbox input {
  margin: 0 20px 0;
}

.table .dropdown {
  position: relative;
}

.table .dropdown.large {
  min-width: 145px;
}

.table .dropdown .dropdown--list {
  position: absolute;
  top: 110%;
  background: var(--primary-color-inverse);
  width: 95%;
  left: 5%;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #f3f5f9;
  border-radius: 8px;
  z-index: 5;
  opacity: 0;
  height: 0px;
  overflow: hidden;
}

.table .dropdown .dropdown--list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

.table .dropdown .dropdown--list--item input {
  margin-right: 10px;
}

.table .dropdown .dropdown--list.show {
  opacity: 1;
  height: unset;
  overflow: unset;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  text-align: left;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  padding: 9px 10px;
}

table tbody tr {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  border-radius: 8px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

table tbody tr.has-border {
  border-top: 1px solid #edeff5;
}

table tbody tr:not(.table--date-row):hover, table tbody tr:not(.table--date-row).active {
  background: rgba(71, 125, 179, 0.05);
}

table tbody tr .has-retry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

table tbody tr .has-retry img {
  width: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-3px, -50%);
          transform: translate(-3px, -50%);
  opacity: 0.5;
}

table tbody tr td {
  padding: 0;
}

table tbody tr td > div {
  padding: 9px 10px;
}

table tbody tr td.has-long-text > div {
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

table tbody tr button {
  padding: 1px 8px;
  font-weight: 500;
  font-size: 12px;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

table tbody tr button.spin img {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

table tbody tr button img {
  width: 14px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 50px;
}

.pagination button {
  padding: 5px;
}

.empty-state {
  text-align: center;
  max-width: 200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.empty-state p {
  margin-top: 20px;
  font-size: 14px;
}

.tag {
  padding: 1px 8px;
  background: rgba(115, 122, 145, 0.1);
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
}

.tag--Failure {
  background: #f7e5e5;
  color: #ff0505;
}

.tag--Retry {
  background: #f8e5b9;
}

.tag--Success {
  background: #e5f7e7;
  color: #1f9c6a;
}

.dashboard--page {
  width: 1374px;
  margin: 32px auto;
  padding: 0 2rem;
}

.dashboard--page--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard--page--details--chart {
  padding: 0;
  max-width: 850px;
  width: 100%;
}

.dashboard--page--details--chart h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

.dashboard--page--details--chart > div {
  padding: 24px;
}

.dashboard--page--details--credentials {
  max-width: 428px;
  width: 100%;
}

.dashboard--page--details--credentials .card--container {
  padding: 16px 24px;
}

.dashboard--page--head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metrics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(278px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  min-height: 76px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #eaedf3;
}

.metrics li {
  padding: 16px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.metrics li.messages {
  background: url(/assets/img/message-icon-transparent.svg) no-repeat;
  background-position: 210px 35px;
}

.metrics li.apps {
  background: url(/assets/img/apps-icon-transparent.svg) no-repeat;
  background-position: 210px 35px;
}

.metrics li:not(:last-of-type) {
  border-right: 1px solid #eaedf3;
}

.metrics li img {
  margin-right: 30px;
}

.metrics li div:first-of-type {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.metrics li div:last-of-type {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.dashboard--logs {
  margin-top: 32px;
  padding: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard--logs .table--container {
  max-height: calc(100vh - 950px);
  min-height: 521px;
  overflow: auto;
}

.dashboard--logs .table--container.smaller-table {
  min-height: 567px;
}

.dashboard--logs--tabs {
  width: calc(1310px - 480px);
  border-right: 1px solid #edeff5;
  height: 100%;
  overflow: auto;
}

.dashboard--logs--tabs .filter {
  margin-right: 16px;
}

.dashboard--logs--tabs .filter .select select,
.dashboard--logs--tabs .filter .filter--button {
  height: 35px;
  padding: 0px 8px;
  outline: none;
}

.dashboard--logs--tabs .filter .event-button {
  width: 140px;
  min-width: unset;
}

.dashboard--logs--tabs .filter .event-button img {
  width: 13px;
}

.dashboard--logs--tabs .filter .select select {
  width: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 30px;
}

.dashboard--logs--tabs button.events-filter-clear-btn {
  display: block;
  background: var(--primary-color);
  min-width: unset;
}

.dashboard--logs--details {
  padding: 24px;
  width: 480px;
  max-height: calc(100vh - 950px);
  min-height: 707px;
  overflow: auto;
}

.dashboard--logs--details > h3 {
  margin-bottom: 15px;
}

.dashboard--logs--details--meta {
  padding: 8px 0 24px;
  border-bottom: 1px solid #edeff5;
  margin: 0 0 24px;
}

.dashboard--logs--details--response-data {
  font-size: 13px;
  line-height: 30px;
  width: 100%;
  padding: 1em;
  background: #fbfbfb;
  margin-right: 25px;
}

.dashboard--logs--details--tabs-data {
  width: 100%;
  opacity: 0;
  position: absolute;
  right: 1000px;
  z-index: -1;
  top: 0;
}

.dashboard--logs--details--tabs-data.show {
  opacity: 1;
  position: initial;
  z-index: initial;
}

.dashboard--logs--details--tabs-data h3 {
  font-size: 0.8rem;
  background: #fbfbfb;
  padding: 10px 23px;
  border-bottom: 2px solid var(--primary-color-inverse);
}

.dashboard--logs--details--tabs-data h3:not(:first-of-type) {
  margin-top: 20px;
}

.dashboard--logs--details .data-hidden {
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.dashboard--logs--details--req-res {
  overflow-y: auto;
}

.dashboard--logs--details--req-res > div {
  margin: 10px 0 20px;
}

.dashboard--logs--details--endpoints {
  margin: 20px 0;
  border-bottom: none;
  width: 100%;
}

.dashboard--logs--details--endpoints.inline li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard--logs--details--endpoints.inline li .url {
  width: 330px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
}

.dashboard--logs--details--endpoints li {
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #edeff5;
}

.dashboard--logs--details--endpoints li p {
  font-size: 14px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard--logs--details--endpoints li p img {
  width: 15px;
  margin-right: 10px;
}

.dashboard--logs--details--endpoints li .events {
  margin-top: 10px;
}

.dashboard--logs--details--endpoints li .events .tag {
  display: inline-block;
  margin: 5px 10px 5px 0;
}

.dashboard--logs--details .tabs {
  border: none;
  padding-bottom: 10px;
}

.dashboard--logs--details .tabs .tab {
  padding: 0;
}

.dashboard--logs--details .tabs .tab:not(:last-of-type) .active button {
  margin-right: 25px;
}

.dashboard--logs--details .tabs .tab.active::after {
  content: none;
}

.dashboard--logs--details .tabs .tab.active button {
  border-color: rgba(var(--primary-color-rgb), 0.2);
  -webkit-box-shadow: 0px 10px 25px rgba(151, 143, 175, 0.08);
          box-shadow: 0px 10px 25px rgba(151, 143, 175, 0.08);
  border-radius: 8px;
  color: var(--primary-color);
}

.dashboard--logs--details .tabs .tab button {
  padding: 9px 20px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--color-black);
}

.table--actions {
  border-bottom: 1px solid #edeff5;
}

.table--actions button {
  padding: 10px;
  color: var(--color-black);
  margin-right: 10px;
  font-size: 14px;
}

.table--actions img {
  width: 15px;
}

.dropdown--list button {
  padding: 1px 0;
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
}

.dropdown.large .dropdown--list {
  width: 249px !important;
}

.dropdown.large p {
  text-align: center;
  font-style: italic;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border: 1px solid #edeff5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.search img {
  margin-right: 10px;
}

.search input {
  font-size: 14px;
  border: none;
  padding: 0;
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=convoy-dashboard.component.css.map */