<div class="text-12 font-medium flex items-center uppercase">
	<a routerLink="/projects" class="font-medium cursor-pointer">Projects</a>
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="text-primary-100 font-medium">Endpoints</span>
</div>

<div class="flex justify-between items-end mt-24px border-b border-b-grey-10 pb-20px mb-24px">
	<div class="flex items-center">
		<h1 class="text-24 font-bold text-grey-80 mr-10px">Endpoints</h1>
		<convoy-tooltip tooltipContent="Endpoints are receivers, they recieve the webhook events from sources it is subscribed to" position="right"></convoy-tooltip>
	</div>
</div>

<div class="flex items-center justify-between mb-24px mt-18px">
	<div class="flex items-center">
		<form class="border border-primary-400 h-36px px-14px py-0 max-w-[350px] w-full rounded-[10px] flex items-center bg-white-100">
			<img src="/assets/img/search-icon.svg" alt="search icon" class="mr-10px" />
			<input type="search" placeholder="Search endpoints" class="w-full text-grey-40 text-14 outline-none" [(ngModel)]="endpointSearchString" (keyup)="searchEndpoint({ searchInput: $event })" [ngModelOptions]="{ standalone: true }" />
			<button convoy-button *ngIf="endpointSearchString && endpointSearchString.length > 0" class="transition-all duration-200" fill="text" size="sm">
				<img src="/assets/img/enter-icon.png" alt="enter icon" class="w-16px" />
			</button>
		</form>
	</div>

	<button *ngIf="displayedEndpoints?.length" convoy-button size="sm" class="h-36px" id="create-endpoint-modal-button" routerLink="./new">Create Endpoint</button>
</div>

<!-- empty state  -->
<div class="py-100px mt-24px" convoy-card *ngIf="!isLoadingEndpoints && displayedEndpoints?.length === 0">
	<convoy-empty-state
		imgSrc="/assets/img/events-log-empty-state.png"
		[buttonText]="!endpointSearchString ? 'Create Endpoint' : ''"
		[heading]="endpointSearchString ? endpointSearchString + ' endpoint does not exist' : 'You currently do not have any endpoints'"
		id="endpoints-empty-state"
		(onAction)="router.navigate(['./new'], { relativeTo: this.route })"
	></convoy-empty-state>
</div>

<div convoy-card *ngIf="isLoadingEndpoints">
	<convoy-table-loader id="endpoints_loader_loader" [tableHead]="endpointsTableHead"></convoy-table-loader>
</div>

<div convoy-card *ngIf="!isLoadingEndpoints && displayedEndpoints?.length">
	<div class="min-h-[70vh] overflow-y-auto overflow-x-auto w-full min-w-[485px]" id="event-deliveries-table-container">
		<table convoy-table>
			<thead convoy-table-head>
				<th convoy-table-head-cell [class]="i === 0 ? 'pl-20px' : ''" *ngFor="let head of endpointsTableHead; let i = index">{{ head }}</th>
			</thead>
			<tbody>
				<ng-container *ngFor="let endpointGroup of displayedEndpoints; let i = index">
					<tr convoy-table-row [forDate]="true">
						<td convoy-table-cell [forDate]="true">{{ endpointGroup.date }}</td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
					</tr>
					<tr convoy-table-row *ngFor="let endpoint of endpointGroup.content; let index = index" [id]="'endpoint' + i">
						<td convoy-table-cell [routerLink]="['./' + endpoint.uid]" class="pl-16px">
							<convoy-tag *ngIf="endpoint.status" [type]="endpoint.status | statuscolor" className="ml-4px">{{ endpoint.status }}</convoy-tag>
						</td>
						<td convoy-table-cell [routerLink]="['./' + endpoint.uid]">
							{{ endpoint.title }}
						</td>
						<td convoy-table-cell [routerLink]="['./' + endpoint.uid]">
							{{ endpoint.created_at | date: 'hh:mm:ss a' }}
						</td>
						<td convoy-table-cell [routerLink]="['./' + endpoint.uid]">
							{{ endpoint.updated_at | date: 'mediumTime' }}
						</td>
						<td convoy-table-cell [routerLink]="['./' + endpoint.uid]">{{ endpoint.events || 0 }}</td>
						<td convoy-table-cell>
							<button convoy-button size="sm" [routerLink]="['../events']" [relativeTo]="route" [queryParams]="{ linksEndpoint: endpoint.uid }" texture="light">
								<img src="/assets/img/view-events-icon.svg" class="w-14px mr-10px" alt="view events icon" />
								View Events
							</button>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
	</div>
</div>

<div class="flex items-center mt-16px" *ngIf="!isLoadingEndpoints && displayedEndpoints?.length">
	<button
		convoy-button
		fill="outline"
		size="sm"
		class="pl-4px pr-16px py-4px border-primary-300"
		routerLink="./"
		[queryParams]="{ page: endpoints?.pagination?.prev || 0 }"
		[disabled]="endpoints?.pagination?.prev === 0"
		(click)="getEndpoints({ page: endpoints?.pagination?.prev })"
	>
		<svg width="24" height="24" class="mr-8px fill-primary-100">
			<use xlink:href="#arrow-left-icon"></use>
		</svg>
		Previous
	</button>

	<button
		convoy-button
		fill="outline"
		size="sm"
		class="pr-4px pl-16px py-4px border-primary-300 ml-16px"
		routerLink="./"
		[queryParams]="{ page: endpoints?.pagination?.next }"
		[disabled]="endpoints?.pagination?.next === 0"
		(click)="getEndpoints({ page: endpoints?.pagination?.next })"
	>
		Next
		<svg width="24" height="24" class="ml-8px fill-primary-100">
			<use xlink:href="#arrow-right-icon"></use>
		</svg>
	</button>
</div>

<div convoy-modal *ngIf="showCreateEndpointModal || showEditEndpointModal" position="full" (closeModal)="cancel()">
	<div convoy-modal-header>
		<div class="flex items-center">
			<button convoy-button size="sm" texture="light" class="px-10px !py-10px" (click)="cancel()">
				<img src="/assets/img/modal-close-icon.svg" class="w-12px" alt="close icon" />
			</button>

			<h2 class="font-semibold capitalize ml-2">{{ showEditEndpointModal ? 'Edit Endpoint' : 'Create Endpoint' }}</h2>
		</div>

		<a convoy-button fill="text" target="_blank" href="https://getconvoy.io/docs" rel="noreferrer">
			<img src="/assets/img/doc-icon-primary.svg" alt="doc icon" />
			<span class="font-medium text-14 text-primary-100 ml-2">Go to docs</span>
		</a>
	</div>
	<div class="max-w-[834px] m-auto">
		<convoy-create-endpoint showAction="true" (onAction)="$event.action === 'close' ? cancel() : getEndpoints(); cancel()" [editMode]="showEditEndpointModal"></convoy-create-endpoint>
	</div>
</div>
