<div class="text-12 font-medium flex items-center uppercase">
	<a routerLink="/projects" class="font-medium cursor-pointer">Projects</a>
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="text-primary-100 font-medium">Endpoints</span>
</div>

<div class="flex items-center justify-between mb-24px mt-18px">
	<div class="flex items-center">
		<form class="border border-primary-400 h-36px px-14px py-0 max-w-[350px] w-full rounded-[10px] flex items-center bg-white-100">
			<img src="/assets/img/search-icon.svg" alt="search icon" class="mr-10px" />
			<input type="search" placeholder="Search endpoints" class="w-full text-grey-40 text-14 outline-none" />
			<convoy-button className="transition-all duration-200" type="icon">
				<img src="/assets/img/enter-icon.png" alt="enter icon" class="w-16px" />
			</convoy-button>
		</form>
	</div>
	<convoy-button size="sm" className="h-36px" id="create-app-modal-button" routerLink="./new">Create Endpoint</convoy-button>
</div>

<convoy-card *ngIf="isLoadingEndpoints">
	<convoy-table-loader id="endpoints_loader_loader" [tableHead]="endpointsTableHead"></convoy-table-loader>
</convoy-card>

<convoy-card *ngIf="!isLoadingEndpoints">
	<div class="min-h-[70vh] overflow-y-auto overflow-x-auto w-full min-w-[485px]" id="event-deliveries-table-container">
		<convoy-table>
			<convoy-table-head class="contents">
				<convoy-table-head-cell class="contents" [className]="i === 0 ? 'pl-20px' : ''" *ngFor="let head of endpointsTableHead; let i = index">{{ head }}</convoy-table-head-cell>
			</convoy-table-head>
			<tbody>
				<ng-container>
					<convoy-table-row [forDate]="true" class="contents">
						<convoy-table-cell class="contents" [forDate]="true">May 12, 2022</convoy-table-cell>
						<convoy-table-cell class="contents" [forDate]="true"></convoy-table-cell>
						<convoy-table-cell class="contents" [forDate]="true"></convoy-table-cell>
						<convoy-table-cell class="contents" [forDate]="true"></convoy-table-cell>
						<convoy-table-cell class="contents" [forDate]="true"></convoy-table-cell>
						<convoy-table-cell class="contents" [forDate]="true"></convoy-table-cell>
						<convoy-table-cell class="contents" [forDate]="true"></convoy-table-cell>
					</convoy-table-row>
					<convoy-table-row class="contents">
						<convoy-table-cell class="contents" className="pl-18px">qwerty</convoy-table-cell>
						<convoy-table-cell class="contents">qwerty</convoy-table-cell>
						<convoy-table-cell class="contents">qwerty</convoy-table-cell>
						<convoy-table-cell class="contents">qwerty</convoy-table-cell>
						<convoy-table-cell class="contents">qwerty</convoy-table-cell>
						<convoy-table-cell class="contents">
							<convoy-button title="view events" size="xs" texture="light">
								<img src="/assets/img/view-events-icon.svg" class="w-14px mr-10px" alt="view events icon" />
								View Events
							</convoy-button>
						</convoy-table-cell>
						<convoy-table-cell class="contents">
							<convoy-dropdown size="sm" buttonSize="sm" buttonType="clear">
								<ng-container dropdownToggle>
									<img src="/assets/img/more-icon-vertical.svg" alt="more icon" />
								</ng-container>
								<ul>
									<convoy-list-item class="w-full" className="px-14px">
										<a class="w-full text-12">Update</a>
									</convoy-list-item>
									<convoy-list-item className="px-14px">
										<convoy-button class="w-full" className="w-full !justify-start" type="text" color="danger">Delete</convoy-button>
									</convoy-list-item>
								</ul>
							</convoy-dropdown>
						</convoy-table-cell>
					</convoy-table-row>
				</ng-container>
			</tbody>
		</convoy-table>
	</div>
</convoy-card>

<!-- <convoy-card className="mt-16px" *ngIf="!isLoadingEndpoints && displayedEndpoints?.length === 0">
	<convoy-empty-state
		imgSrc="/assets/img/new-empty-state.png"
		buttonText="Create Endpoint"
		description="You have not created an endpoint"
		className="min-h-[65vh]"
		id="endpoints-empty-state"
	></convoy-empty-state>
</convoy-card> -->

<!-- <div class="flex items-center mt-16px" [ngClass]="{ invisible: displayedEndpoints.length === 0 }">
	<convoy-button type="outline" size="sm" className="pl-4px pr-16px py-4px border-primary-300" routerLink="./" [queryParams]="{ page: displayedEndpoints?.pagination?.prev || 0 }" [disable]="displayedEndpoints?.pagination?.prev === 0" (click)="getEndpoints({ page: displayedEndpoints?.pagination?.prev })">
		<svg width="24" height="24" class="mr-8px fill-primary-100">
			<use xlink:href="#arrow-left-icon"></use>
		</svg>
		Previous
	</convoy-button>
	<convoy-button type="outline" size="sm" className="pr-4px pl-16px py-4px border-primary-300 ml-16px" routerLink="./" [queryParams]="{ page: displayedEndpoints?.pagination?.next }" [disable]="displayedEndpoints?.pagination?.next === 0" (click)="getEndpoints({ page: displayedEndpoints?.pagination?.next })">
		Next
		<svg width="24" height="24" class="ml-8px fill-primary-100">
			<use xlink:href="#arrow-right-icon"></use>
		</svg>
	</convoy-button>
</div> -->

<convoy-modal *ngIf="showCreateEndpointModal || showEditEndpointModal" position="full" [title]="showEditEndpointModal ? 'Edit Endpoint' : 'Create Endpoint'">
	<ng-container modalBody>
		<convoy-create-endpoint></convoy-create-endpoint>
	</ng-container>
</convoy-modal>
