@import './scss/reset';
@import './scss/button';
@import './scss/card';
@import './scss/form';
@import './scss/table';
@import './scss/tabs';
@import './scss/list';

:root {
	--color-black: #1e1147;
	--color-black-rgb: 30, 17, 71;
	--primary-color: #477db3;
	--primary-color-rgb: 71, 125, 179;
	--primary-color-inverse: #ffffff;
	--success-color: #1f9c6a;
	--danger-color: #ee0005;
	--danger-color-rgb: 238, 0, 5;
	--grey-color: #1e1147;
	--grey-color-rgb: 30, 17, 71;
}
