@import './scss/prism';
@import '../node_modules/convoy-ui/scss/page';
@import '../node_modules/convoy-ui/scss/alerts';
@import '../node_modules/convoy-ui/scss/buttons';
@import '../node_modules/convoy-ui/scss/cards';
@import '../node_modules/convoy-ui/scss/dropdown';
@import '../node_modules/convoy-ui/scss/flex';
@import '../node_modules/convoy-ui/scss/fonts';
@import '../node_modules/convoy-ui/scss/forms';
@import '../node_modules/convoy-ui/scss/grid';
@import '../node_modules/convoy-ui/scss/lists';
@import '../node_modules/convoy-ui/scss/margin';
@import '../node_modules/convoy-ui/scss/modal';
@import '../node_modules/convoy-ui/scss/reset';
@import '../node_modules/convoy-ui/scss/tables';
@import '../node_modules/convoy-ui/scss/tabs';

:root {
	--color-light: #f8f8fa;
	--color-light-2: #f3f5f9;
	--color-background: #fafafe;
	--color-black: #000624;
	--color-black-rgb: 30, 17, 71;
	--color-dark: 0, 0, 0;
	--color-white: #fff;
	--color-white-100: #fcfcfc;
	--color-white-200: #fbfbfb;
	--color-white-rgb: 255, 255, 255;
	--color-off-white: #f6f7f9;
	--color-deactivate: #ff554a;
	--color-failure: #f7e5e5;
	--color-retry: #f8e5b9;
	--color-primary-500: #edf2f7;
	--secondary-color: #32587d;
	--primary-color: #477db3;
	--primary-color-2: #376da4;
	--primary-color-rgb: 71, 125, 179;
	--primary-color-rgb-2: 151, 143, 175;
	--primary-color-inverse: #ffffff;
	--success-color: #1f9c6a;
	--danger-color: #f25a68;
	--danger-color-rgb: 238, 0, 5;
	--grey-color-100: #b4baca;
	--grey-color: #737a91;
	--grey-alt: #a5abc1;
	--grey-color-rgb: 30, 17, 71;
	--line-border: #edeff5;
	--line-border-2: #c8d8e8;
	--box-shadow: 22, 29, 37;
	--active-box-shadow: #978faf14;
	--drop-shadow: 12, 26, 75;
	--drop-shadow-2: 50, 50, 71;
	--tag-shadow: 115, 122, 145;
	--thumb-scroll: 217, 216, 216;
	--alert-danger: #ffa39e;
	--alert-danger-line: #fff1f0;
	--color-warning: #f0ad4e;
	--color-warning-500: #fef7ed;
	--color-danger: #ff554a;
	--color-danger-500: #ffeeed;
	--color-success-500: #e3fcf3;
	--color-success: #29cc92;
	--active-border-color: #477db333;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
a {
	&:hover {
		cursor: pointer;
	}
}

.dropdown__menu {
	width: initial;
}

.hidden {
	display: none;
}

.app-notification {
	position: fixed;
	bottom: -100px;
	left: 50%;
	transform: translate(-50%, 0);
	background: #4e4d4d;
	padding: 20px 30px;
	max-width: 500px;
	border-radius: 10px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	transition: all 0.5s;
	text-transform: capitalize;

	&#show {
		bottom: 50px;
	}
}

.modal--body.delete img {
	width: 80px;
	height: initial;
	margin-bottom: 8px;
}
