<!-- loader  -->
<ng-container *ngIf="isFetchingKeys && !showCreateNewTokenForm">
	<div class="flex justify-between items-center py-12px" *ngFor="let index of loaderIndex">
		<div>
			<div class="flex items-center mb-8px">
				<convoy-skeleton-loader className="h-20px w-100px"></convoy-skeleton-loader>
				<convoy-skeleton-loader className="h-14px w-60px ml-10px"></convoy-skeleton-loader>
			</div>
			<convoy-skeleton-loader className="h-14px w-120px"></convoy-skeleton-loader>
		</div>
		<convoy-skeleton-loader className="h-14px w-120px"></convoy-skeleton-loader>
	</div>
</ng-container>

<!-- personal access tken header  -->
<div class="flex justify-between items-center mb-28px" *ngIf="!showCreateNewTokenForm && personalAccessKeys?.content?.length > 0">
	<h3 class="font-semibold">Personal Access Tokens</h3>

	<button convoy-button size="sm" (click)="showCreateNewTokenForm = true">
		<svg width="16" height="16" class="mr-8px fill-white-100">
			<use xlink:href="#plus-icon"></use>
		</svg>
		Create New Token
	</button>
</div>

<!-- personal access token  -->
<ng-container *ngIf="!isFetchingKeys && personalAccessKeys && !showCreateNewTokenForm">
	<div class="flex justify-between items-center py-12px border-b border-b-grey-10 last-of-type:border-none" *ngFor="let key of personalAccessKeys?.content">
		<div>
			<div class="flex items-center">
				<p class="font-medium text-12 mr-14px">{{ key.name }}</p>
				<convoy-tag [type]="getKeyStatus(key.expires_at) | statuscolor">{{ getKeyStatus(key.expires_at) }}</convoy-tag>
			</div>
			<p class="text-grey-40 text-10 mt-8px">
				<span *ngIf="key.expires_at">Expires At: ({{ key.expires_at | date: 'mediumDate' }})</span>
			</p>
		</div>
		<button convoy-button size="sm" fill="text" color="danger" (click)="selectedKey = key; showRevokeKeyModal = true" *ngIf="getKeyStatus(key.expires_at) === 'active'">
			<svg width="16" height="16" class="mr-8px fill-danger-100">
				<use xlink:href="#delete-icon"></use>
			</svg>
			Revoke
		</button>
	</div>
</ng-container>

<!-- empty state  -->
<ng-container *ngIf="!isFetchingKeys && personalAccessKeys?.content?.length === 0 && !showCreateNewTokenForm">
	<convoy-empty-state imgSrc="/assets/img/new-empty-state.png" description="You currently do not have any personal access tokens." type="table" buttonText="Generate New Token" className="min-h-[50vh]" (onAction)="showCreateNewTokenForm = true"></convoy-empty-state>
</ng-container>

<!-- generate personal access token form  -->
<ng-container *ngIf="showCreateNewTokenForm">
	<h3 class="font-semibold mb-28px">Generate Token</h3>
	<form [formGroup]="generateKeyForm" (ngSubmit)="generateNewKey()">
		<convoy-input-field>
			<label for="name" required="true" convoy-label>Token Name</label>
			<input type="text" id="name" convoy-input autocomplete="name" formControlName="name" placeholder="Token name" />
			<convoy-input-error *ngIf="generateKeyForm.get('name')?.touched && generateKeyForm.get('name')?.invalid">Please enter a name for your token</convoy-input-error>
		</convoy-input-field>
		<convoy-select label="Expiry Duration" name="expiration" formControlName="expiration" [options]="expirationDates" (selectedOption)="generateKeyForm.patchValue({ expiration: $event })"></convoy-select>
		<div class="flex justify-end mt-60px">
			<button convoy-button type="button" (click)="showCreateNewTokenForm = false" fill="outline" class="mr-3 transition-all duration-300 hover:text-danger-100 hover:border-danger-100">Discard</button>
			<button convoy-button>Generate Key</button>
		</div>
	</form>
</ng-container>

<!-- pagination button  -->
<div class="flex items-center mt-16px" [ngClass]="{ invisible: personalAccessKeys?.content?.length === 0 || personalAccessKeys?.content?.length < 10 || showCreateNewTokenForm }">
	<button
		convoy-button
		fill="outline"
		size="sm"
		class="pl-4px pr-16px py-4px border-primary-300"
		routerLink="./"
		disabled
		[queryParams]="{ page: personalAccessKeys?.pagination?.prev }"
		[disabled]="personalAccessKeys?.pagination?.prev === 0"
		(click)="fetchPersonalKeys({ page: personalAccessKeys?.pagination?.prev })"
	>
		<svg width="24" height="24" class="mr-8px fill-primary-100">
			<use xlink:href="#arrow-left-icon"></use>
		</svg>
		Previous
	</button>
	<button
		convoy-button
		fill="outline"
		size="sm"
		class="pr-4px pl-16px py-4px border-primary-300 ml-16px"
		routerLink="./"
		[queryParams]="{ page: personalAccessKeys?.pagination?.next }"
		[disabled]="personalAccessKeys?.pagination?.next === 0"
		(click)="fetchPersonalKeys({ page: personalAccessKeys?.pagination?.next })"
	>
		Next
		<svg width="24" height="24" class="ml-8px fill-primary-100">
			<use xlink:href="#arrow-right-icon"></use>
		</svg>
	</button>
</div>

<!-- token generated  -->
<convoy-token-modal *ngIf="showAccessKey" title="Generate Token" description="Your personal API key has been generated successfully" notificationText="Personal API key has been copied to your clipboard." [token]="accessKey" (closeModal)="showAccessKey = false; fetchPersonalKeys()"></convoy-token-modal>

<!-- revoke token modal  -->
<app-delete-modal *ngIf="showRevokeKeyModal" [isLoading]="isRevokingKey" [deleteText]="'revoke “' + selectedKey?.name + 'api key”'" deleteButtonText="revoke" (closeModal)="showRevokeKeyModal = false" (deleteData)="revokeKey()"></app-delete-modal>
