<div class="billing-usage">
  <h2 class="billing-section-title">Usage</h2>

  <ng-container *ngIf="isFetchingUsage">
    <div convoy-card>
      <convoy-table-loader [withDate]="false" [tableHead]="tableHead"></convoy-table-loader>
    </div>
  </ng-container>

  <ng-container *ngIf="!isFetchingUsage">
    <div convoy-card>
      <table convoy-table>
          <thead convoy-table-head>
          <th convoy-table-head-cell [ngClass]="{ 'pl-20px': i === 0 }" *ngFor="let head of tableHead; let i = index">{{ head }}</th>
          </thead>
<!--        <thead convoy-table-head>-->
<!--          <tr>-->
<!--            <th convoy-table-head-cell *ngFor="let head of tableHead">{{ head }}</th>-->
<!--          </tr>-->
<!--        </thead>-->

          <tbody>
          <tr convoy-table-row class="border border-primary-500" *ngFor="let row of usageRows">
              <td convoy-table-cell class="pl-20px">{{ row.name }}</td>
              <td convoy-table-cell>{{ row.sent }}</td>
              <td convoy-table-cell>{{ row.received }}</td>
              <td convoy-table-cell>{{ row.total }}</td>
          </tr>
          </tbody>
<!--        <tbody>-->
<!--          <tr convoy-table-row *ngFor="let row of usageRows">-->
<!--            <td convoy-table-cell>{{ row.name }}</td>-->
<!--            <td convoy-table-cell>{{ row.sent }}</td>-->
<!--            <td convoy-table-cell>{{ row.received }}</td>-->
<!--            <td convoy-table-cell>{{ row.total }}</td>-->
<!--          </tr>-->
<!--        </tbody>-->
      </table>
    </div>
  </ng-container>
</div>
