<div convoy-card class="mb-20px min-h-[30vh] rounded-tl-[0] rounded-tr-[0]">
	<!-- empty state for both devices -->
	<ng-container *ngIf="showError || (!isFetchingDevices && devices?.length === 0)">
		<div convoy-empty-state imgSrc="/assets/img/events-log-empty-state.png" heading="You have no devices" class="py-54px" id="empty-state"></div>
	</ng-container>

	<!-- loader for both devices  -->
	<ng-container *ngIf="isFetchingDevices">
		<div class="flex justify-between items-center p-22px" *ngFor="let index of loaderIndex">
			<div>
				<div class="flex items-center mb-8px">
					<convoy-skeleton-loader className="h-20px w-100px"></convoy-skeleton-loader>
					<convoy-skeleton-loader className="h-14px w-60px ml-10px"></convoy-skeleton-loader>
				</div>
				<convoy-skeleton-loader className="h-14px w-120px"></convoy-skeleton-loader>
			</div>
			<convoy-skeleton-loader className="h-14px w-120px"></convoy-skeleton-loader>
		</div>
	</ng-container>

	<!-- fetched devices  -->
	<ng-container *ngIf="!isFetchingDevices && devices">
		<div class="flex justify-between items-center pb-10px px-22px mt-24px bg-[#fcfcfc] border-b border-b-grey-10 last-of-type:border-none" *ngFor="let device of devices">
			<div>
				<div class="flex items-center">
					<p class="text-12 font-medium mr-36px">{{ device.host_name }}</p>
					<convoy-tag [type]="device.status | statuscolor">{{ device.status }}</convoy-tag>
				</div>
			</div>

			<div>
				<p class="text-grey-40 text-12 mt-8px">Last Seen: {{ device.last_seen_at | date: 'medium' }}</p>
			</div>
		</div>
	</ng-container>
</div>
