.loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 100%;
    border-radius: 8px;
    z-index: 1;
}

.loader img {
    width: 20%;
}

.loader.transparent {
    opacity: 0.5;
}