<convoy-loader *ngIf="loading"></convoy-loader>
<div class="min-h-screen flex flex-col items-center justify-center w-full" *ngIf="!loading">
	<img src="/assets/img/logo.svg" alt="convoy logo" class="mb-28px w-130px" />
	<ng-container *ngIf="!showError">
		<h1 class="font-bold text-20 mb-30px text-center">Your email has been verified! 💻</h1>
		<section class="max-w-[445px] mx-auto my-0 px-34px py-64px w-full bg-white-100 shadow-default rounded-8px flex items-center justify-center flex-col">
			<p class="text-center text-16 text-grey-40 mb-48px">You can now go ahead to easily send/receive webhook events.</p>
			<img src="/assets/img/new-success.gif" loop="1" alt="Succes gif" class="h-150px mb-70px" />
			<button convoy-button class="w-320px" routerLink="/">Done</button>
		</section>
	</ng-container>
	<ng-container *ngIf="showError">
		<h1 class="font-bold text-20 mb-30px text-center">Your email verification failed! 💻</h1>
		<section class="max-w-[445px] mx-auto my-0 px-34px py-64px w-full bg-white-100 shadow-default rounded-8px flex items-center justify-center flex-col">
			<p class="text-center text-16 text-grey-40 mb-48px">An error occured while trying to verify your email, please try again!</p>
			<img src="/assets/img/warning.gif" loop="1" alt="warning gif" class="h-150px mb-70px" />
			<button convoy-button class="w-320px" routerLink="/">Resend Email</button>
		</section>
	</ng-container>
</div>
