<div class="text-12 font-medium flex items-center uppercase">
	<a routerLink="/projects" class="font-medium cursor-pointer">Projects</a>
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="text-primary-100 font-medium">Portal Link</span>
</div>

<div class="flex justify-between">
	<div></div>
	<convoy-button size="sm" class="mb-26px" routerLink="./new">Create Portal Link</convoy-button>
</div>

<!-- loader  -->
<convoy-card *ngIf="isLoadingPortalLinks">
	<convoy-table-loader id="events_loader_loader" [withDate]="false" [tableHead]="linksTableHead"></convoy-table-loader>
</convoy-card>

<!-- table data  -->
<div class="min-h-[70vh] overflow-y-auto overflow-x-auto w-full min-w-[485px] flex" *ngIf="!isLoadingPortalLinks">
	<div class="bg-white-100 border border-grey-10 rounded-8px" [class]="showPortalLinkDetails ? ' w-[calc(100% - 382px)] desktop:w-0 desktop:hidden transition-all duration-200' : 'w-full transition-all duration-200'">
		<table convoy-table>
            <thead convoy-table-head>
                <th convoy-table-head-cell [class]="i === 0 ? 'pl-20px' : ''" *ngFor="let head of linksTableHead; let i = index">{{ head }}</th>
            </thead>
            <tbody>
                <tr convoy-table-row >
                    <td convoy-table-cell class="pl-16px">
                        qwerty
                    </td>
                    <td convoy-table-cell>
                        qwerty
                    </td>
                    <td convoy-table-cell class="w-150px overflow-ellipsis">
                        qwerty
                    </td>
                    <td convoy-table-cell>qwerty</td>
                    <td convoy-table-cell>
                        <button convoy-button fill="clear" class="!p-0" size="sm">
                            Deliveries
                            <img src="assets/img/angle-arrow-right-primary.svg" class="ml-16px h-16px" alt="arrow right" />
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
	</div>
	<convoy-card className="h-full min-h-[70vh] w-full max-w-[382px] min-w-[310px] pl-16px border-l border-l-grey-10 transition-all duration-200 desktop:max-w-none desktop:border-none" *ngIf="showPortalLinkDetails">
		<div class="flex items-center justify-between pr-24px">
			<h2 class="pt-24px pb-16px text-16 font-bold">Portal Name</h2>
			<a class="w-32px h-32px flex items-center justify-center rounded-[6px] bg-primary-500" tabindex="0">
				<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
			</a>
		</div>

		<ul>
			<li convoy-list-item>
				<div class="w-1/2 text-14 font-medium">Endpoint Name</div>
				<div class="w-1/2 text-14 font-medium text-grey-40 text-right">qwerty</div>
            </li>
			<li convoy-list-item>
				<div class="w-1/2 text-14 font-medium">Endpoint Name</div>
				<div class="w-1/2 text-14 font-medium text-grey-40 text-right">qwerty</div>
            </li>
			<li convoy-list-item>
				<div class="w-1/2 text-14 font-medium">Endpoint Name</div>
				<div class="w-1/2 text-14 font-medium text-grey-40 text-right">qwerty</div>
            </li>
			<li convoy-list-item>
				<div class="w-1/2 text-14 font-medium">Endpoint Name</div>
				<div class="w-1/2 text-14 font-medium text-grey-40 text-right">qwerty</div>
            </li>
			<li convoy-list-item>
				<div class="w-1/2 text-14 font-medium">Endpoint Name</div>
				<div class="w-1/2 text-14 font-medium text-grey-40 text-right">qwerty</div>
            </li>
		</ul>

		<div class="flex justify-end mt-40px mr-24px">
			<button convoy-button type="outline" color="danger" size="sm">
				Delete
				<svg width="18" height="18" class="ml-8px fill-danger-100">
					<use xlink:href="#delete-icon"></use>
				</svg>
			</button>
			<button convoy-button size="sm" className="ml-24px">
				Edit
				<svg width="18" height="18" class="ml-8px fill-white-100">
					<use xlink:href="#edit-icon"></use>
				</svg>
			</button>
		</div>
	</convoy-card>
</div>

<!-- empty state  -->
<!-- <convoy-card className="mt-16px" *ngIf="!isLoadingPortalLinks && portalLinks?.length === 0">
	<convoy-empty-state imgSrc="/assets/img/new-empty-state.png" description="You have not generated any portal Links" buttonText="Generate Portal Link" className="min-h-[65vh]" id="events-empty-state"></convoy-empty-state>
</convoy-card> -->

<!-- pagination links  -->
<!-- <div class="flex items-center mt-16px" [ngClass]="{ invisible: portalLinks.length === 0 }">
	<convoy-button
		type="outline"
		size="sm"
		className="pl-4px pr-16px py-4px border-primary-300"
		routerLink="./"
		[queryParams]="{ page: portalLinks?.pagination?.prev || 0 }"
		[disable]="portalLinks?.pagination?.prev === 0"
		(click)="getPortalLinks({ page: portalLinks?.pagination?.prev })"
	>
		<svg width="24" height="24" class="mr-8px fill-primary-100">
			<use xlink:href="#arrow-left-icon"></use>
		</svg>
		Previous
	</convoy-button>
	<convoy-button
		type="outline"
		size="sm"
		className="pr-4px pl-16px py-4px border-primary-300 ml-16px"
		routerLink="./"
		[queryParams]="{ page: portalLinks?.pagination?.next }"
		[disable]="portalLinks?.pagination?.next === 0"
		(click)="getPortalLinks({ page: portalLinks?.pagination?.next })"
	>
		Next
		<svg width="24" height="24" class="ml-8px fill-primary-100">
			<use xlink:href="#arrow-right-icon"></use>
		</svg>
	</convoy-button>
</div> -->

<convoy-create-portal-link *ngIf="showCreatePortalLinkModal"></convoy-create-portal-link>
