<div class="p-32px">
	<h1 class="font-heading font-medium text-[18px] leading-[26px] text-new.text-primary mb-4px">{{ heading || 'Source URL' }}</h1>
	<p class="font-body font-normal text-[14px] leading-normal text-new.text-secondary mb-20px">Copy the source URL below into your source platform to start receiving webhook events.</p>
	<div class="flex items-center justify-between gap-8px w-full h-48px bg-white-100 border border-new.border rounded-8px px-16px mb-12px">
		<span class="font-body font-normal text-[14px] text-new.text-secondary truncate">{{ url }}</span>
		<div class="ml-8px" convoy-copy-button [text]="url || ''" notificationText="Source URL copied to clipboard."></div>
	</div>

	<div class="flex justify-end mt-24px">
		<button type="button" class="min-w-[100px] px-16px py-10px rounded-full bg-new.primary-400 font-body font-medium text-[14px] leading-[16px] text-white-100 transition-all hover:opacity-90" (click)="close.emit()">Close</button>
	</div>
</div>
