<div class="auth-page">
	<ng-container *ngIf="activePage === 'reset-password'">
		<img src="/assets/img/logo.svg" class="logo" alt="convoy logo" />
		<h3>Set a new password, 🔐</h3>
		<p class="center">Kindly enter and set up a new password for your account.</p>
		<section class="auth-page--container">
			<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
				<div class="input">
					<label for="email">Email</label>
					<input id="email" type="email" formControlName="email" />
					<div class="input__error input__error__danger" *ngIf="resetPasswordForm.controls.email.touched && resetPasswordForm.controls.email.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Please enter a valid email.</span>
					</div>
				</div>
				<div class="input">
					<label for="password">New Password</label>
					<div class="input--password">
						<input [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password" required />
						<button class="input--password__view-toggle" (click)="showPassword = !showPassword" type="button">
							<img [src]="!showPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'" alt="showPassword ? 'hide password icon' : 'view password icon'" />
						</button>
					</div>
				</div>

				<div class="input">
					<label for="confirm_password">Confirm Password</label>
					<div class="input--password">
						<input [type]="showCofirmPassword ? 'text' : 'password'" formControlName="password_confirmation" id="confirm_password" required />
						<button class="input--password__view-toggle" (click)="showCofirmPassword = !showCofirmPassword" type="button">
							<img
								[src]="!showCofirmPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
								alt="showPassword ? 'hide password icon' : 'view password icon'"
							/>
						</button>
					</div>
				</div>

				<button class="button button__primary button--full-100" [disabled]="resetingPassword">Change your password</button>
			</form>
		</section>
	</ng-container>
	<ng-container *ngIf="activePage === 'success'">
		<img src="/assets/img/password-reset-success-img.svg" class="success-img" alt="password reset success image" />
		<h3>Password reset successful! 🔐</h3>
		<p class="center">The password for your account has been reset successfully, login to continue using your account.</p>

		<button class="button button__white full-100" [routerLink]="['/login']">Continue to your workspace</button>
	</ng-container>
</div>
