<div class="min-h-screen flex flex-col items-center justify-center w-full">
	<ng-container *ngIf="activePage === 'resetPassword'">
		<img src="/assets/img/logo.svg" alt="convoy logo" class="mb-28px w-130px" />
		<h2 class="font-semibold text-20 mb-10px">Set a new password, 🔐</h2>
		<p class="text-grey-40 text-center text-16px max-w-[445px] mb-32px">Kindly enter and set up a new password for your account.</p>
		<section class="max-w-[445px] mx-auto my-0 px-24px py-24px w-full bg-white-100 shadow-default rounded-8px">
			<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
				<convoy-input-field>
					<label for="new-password" convoy-label required="true">New Password</label>
					<input type="password" id="new-password" convoy-input autocomplete="new-password" formControlName="password" />
					<convoy-input-error *ngIf="resetPasswordForm.get('password')?.touched && resetPasswordForm.get('password')?.invalid">New password is required</convoy-input-error>
				</convoy-input-field>
				<convoy-input-field>
					<label for="password_confirmation" convoy-label required="true">Confirm Password</label>
					<input type="password" id="password_confirmation" convoy-input autocomplete="password_confirmation" formControlName="password_confirmation" />
					<convoy-input-error *ngIf="resetPasswordForm.get('password_confirmation')?.touched && resetPasswordForm.get('password_confirmation')?.invalid">Confirm password is required</convoy-input-error>
				</convoy-input-field>

				<button convoy-button [disabled]="resetingPassword" size="sm" width="full">Change your password</button>
			</form>
		</section>
	</ng-container>
	<ng-container *ngIf="activePage === 'success'">
		<img src="/assets/img/logo.svg" alt="convoy logo" class="mb-40px w-130px" />
		<img src="/assets/img/password-reset-success-img.svg" alt="password reset success image" class="mb-40px" />
		<h2 class="font-semibold text-20 mb-10px">Password reset successful! 🔐</h2>
		<p class="text-grey-40 text-center text-16px max-w-[445px] mb-32px">The password for your account has been reset successfully, login to continue using your account.</p>
		<button convoy-button [routerLink]="['/login']" class="w-[450px] mb-20px">Continue to your workspace</button>
	</ng-container>
</div>
