@import './scss/reset';
@import './scss/button';
@import './scss/card';
@import './scss/form';

:root {
	--color-black: #1e1147;
	--primary-color: #477db3;
	--primary-color-rgb: 71, 125, 179;
	--primary-color-inverse: #ffffff;
	--color-black-rgb: 30, 17, 71;
	--success-color: #32cc0e;
	--danger-color: #ee0005;
	--secondary-success-color: #7a9c10;
	--secondary-success-button-color: #a2c438;
}
