@import './scss/font';
@import './scss/forms';
@import './scss/prism';
@import './scss/material-design-reset';
@import '~prismjs/plugins/toolbar/prism-toolbar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-white: 252, 252, 252;
	}

    h2{
        @apply text-h2;
    }
}
