@import './scss/font';
@import './scss/forms';
@import './scss/prism';
@import './scss/material-design-reset';
@import '~prismjs/plugins/toolbar/prism-toolbar.css';

@tailwind base;

/* Firefox */
* {
	scrollbar-width: 5px;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

*::-webkit-scrollbar-track {
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 14px;
	@apply bg-grey-20;
}

@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-white: 252, 252, 252;
	}

	h1 {
		@apply text-h1;
	}
	h2 {
		@apply text-h2;
	}
	h3 {
		@apply text-h3;
	}
	h4 {
		@apply text-h4;
	}

	.docs {
		article {
			h3 {
				@apply text-h3 font-semibold mb-8px;
			}
			p {
				@apply mb-24px text-14 text-grey-60;
			}

			code {
				@apply bg-grey-10 rounded-4px py-2px px-8px my-0 mx-[1px] text-12 font-menlo text-black border border-none;
			}

			pre {
				@apply rounded-8px font-normal px-16px py-20px bg-[#F3F3F8] mb-22px font-menlo text-14 whitespace-pre overflow-auto text-grey-40;
			}
		}
	}

	.disabled {
		@apply opacity-50 pointer-events-none;
	}
}
