// Material design themeing
@use '@angular/material' as mat;
@include mat.core();

$convoy-primary-palette: (
	50: #e6f2f9,
	100: #c2e0f1,
	200: #9fcde8,
	300: #80b9de,
	400: #6baad8,
	500: #5b9cd2,
	600: #528fc5,
	700: #477db3,
	800: #3f6da1,
	900: #315081,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: rgba(black, 0.87),
		500: rgba(black, 0.87),
		600: rgba(black, 0.87),
		700: rgba(black, 0.87),
		800: rgba(black, 0.87),
		900: rgba(black, 0.87)
	)
);

$convoy-ng-primary: mat.define-palette($convoy-primary-palette);
$convoy-ng-accent: mat.define-palette($convoy-primary-palette);
$convoy-ng-warn: mat.define-palette(mat.$red-palette);
$convoy-ng-theme: mat.define-light-theme(
	(
		color: (
			primary: $convoy-ng-primary,
			accent: $convoy-ng-accent,
			warn: $convoy-ng-warn
		)
	)
);

@include mat.all-component-themes($convoy-ng-theme);

@import './scss/forms';
@import './scss/prism';
@import './scss/material-design-reset';
@import '~prismjs/plugins/toolbar/prism-toolbar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-white: 252, 252, 252;
	}
}

