// Material design themeing
@use '@angular/material' as mat;
@include mat.core();

$convoy-primary-palette: (
	50: #e6f2f9,
	100: #c2e0f1,
	200: #9fcde8,
	300: #80b9de,
	400: #6baad8,
	500: #5b9cd2,
	600: #528fc5,
	700: #477db3,
	800: #3f6da1,
	900: #315081,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: rgba(black, 0.87),
		500: rgba(black, 0.87),
		600: rgba(black, 0.87),
		700: rgba(black, 0.87),
		800: rgba(black, 0.87),
		900: rgba(black, 0.87)
	)
);

$convoy-ng-primary: mat.define-palette($convoy-primary-palette);
$convoy-ng-accent: mat.define-palette($convoy-primary-palette);
$convoy-ng-warn: mat.define-palette(mat.$red-palette);
$convoy-ng-theme: mat.define-light-theme(
	(
		color: (
			primary: $convoy-ng-primary,
			accent: $convoy-ng-accent,
			warn: $convoy-ng-warn
		)
	)
);

@include mat.all-component-themes($convoy-ng-theme);

@import './scss/prism';
@import '~prismjs/plugins/toolbar/prism-toolbar.css';

:root {
	--color-light: #f8f8fa;
	--color-light-2: #f3f5f9;
	--color-background: #fafafe;
	--color-black: #000624;
	--color-black-rgb: 30, 17, 71;
	--color-dark: 0, 0, 0;
	--color-white: #fff;
	--color-white-100: #fcfcfc;
	--color-white-200: #fbfbfb;
	--color-white-rgb: 255, 255, 255;
	--color-off-white: #f6f7f9;
	--color-deactivate: #ff554a;
	--color-failure: #f7e5e5;
	--color-retry: #f8e5b9;
	--color-primary-500: #edf2f7;
	--secondary-color: #32587d;
	--primary-color: #477db3;
	--primary-color-2: #376da4;
	--primary-color-rgb: 71, 125, 179;
	--primary-color-rgb-2: 151, 143, 175;
	--primary-color-inverse: #ffffff;
	--success-color: #1f9c6a;
	--danger-color: #f25a68;
	--danger-color-rgb: 238, 0, 5;
	--grey-color-100: #b4baca;
	--grey-color: #737a91;
	--grey-alt: #a5abc1;
	--grey-color-rgb: 30, 17, 71;
	--line-border: #edeff5;
	--line-border-2: #c8d8e8;
	--box-shadow: 22, 29, 37;
	--active-box-shadow: #978faf14;
	--drop-shadow: 12, 26, 75;
	--drop-shadow-2: 50, 50, 71;
	--tag-shadow: 115, 122, 145;
	--thumb-scroll: 217, 216, 216;
	--alert-danger: #ffa39e;
	--alert-danger-line: #fff1f0;
	--color-warning: #f0ad4e;
	--color-warning-500: #fef7ed;
	--color-danger: #ff554a;
	--color-danger-500: #ffeeed;
	--color-success-500: #e3fcf3;
	--color-success: #29cc92;
	--active-border-color: #477db333;
}
