<convoy-card className="mb-20px min-h-[30vh] rounded-tl-[0] rounded-tr-[0]">
	<!-- empty state for api keys  -->
	<ng-container *ngIf="showError || (!isFetchingApiKeys && apiKeys?.length === 0)">
		<convoy-empty-state imgSrc="/assets/img/empty-state.svg" description="No CLI keys yet" type="table" className="h-[30vh] py-200px" id="empty-state"></convoy-empty-state>
	</ng-container>

	<!-- loader for api keys  -->
	<ng-container *ngIf="isFetchingApiKeys">
		<div class="flex justify-between items-center p-22px" *ngFor="let index of loaderIndex">
			<div>
				<div class="flex items-center mb-8px">
					<convoy-skeleton-loader className="h-20px w-100px"></convoy-skeleton-loader>
					<convoy-skeleton-loader className="h-14px w-60px ml-10px"></convoy-skeleton-loader>
				</div>
				<convoy-skeleton-loader className="h-14px w-120px"></convoy-skeleton-loader>
			</div>
			<convoy-skeleton-loader className="h-14px w-120px"></convoy-skeleton-loader>
		</div>
	</ng-container>

	<!-- fetched api keys  -->
	<ng-container *ngIf="!isFetchingApiKeys && apiKeys">
		<div class="flex justify-between items-center p-22px border-b border-b-grey-10 last-of-type:border-none" *ngFor="let key of apiKeys">
			<div>
				<div class="flex items-center">
					<h3 class="font-semibold mr-14px">{{ key.name }}</h3>
					<convoy-tag type="grey" className="mr-10px">{{ key.role.type }}</convoy-tag>
					<convoy-tag [type]="getKeyStatus(key.expires_at) | statuscolor">{{ getKeyStatus(key.expires_at) }}</convoy-tag>
				</div>
				<p class="text-grey-40 text-10 mt-8px">Expires At: {{ key.expires_at | date: 'medium' }}</p>
			</div>
			<convoy-button size="xs" type="outline" color="danger" (click)="selectedApiKey = key; showRevokeApiModal = true">Revoke</convoy-button>
		</div>
	</ng-container>
</convoy-card>

<convoy-modal *ngIf="showApiKey">
	<div class="flex flex-col items-center justify-center min-h-[80vh] px-30px" modalBody>
		<img src="/assets/img/success.gif" class="h-150px w-150px" alt="success" />
		<h2 class="font-semibold mt-16px">Cli Key Generated Successfully</h2>
		<p class="text-14 text-grey-60 font-normal text-center mb-16px mt-8px">Your Cli Key has been created. Please copy this key and save it somewhere safe.</p>
		<p class="text-14 text-danger-100 mb-40px text-center">For security reasons, we cannot show it to you again</p>
		<div class="flex items-center justify-between w-full h-50px border border-grey-10 rounded-[6px] px-16px mb-32px">
			<span class="text-16 text-grey-60 font-normal whitespace-nowrap w-250px overflow-hidden text-ellipsis">{{ apiKey }}</span>
			<convoy-copy-button [text]="apiKey"></convoy-copy-button>
		</div>
		<convoy-button (click)="showApiKey = false; getApiKeys()" buttonType="button">Done</convoy-button>
	</div>
</convoy-modal>

<convoy-modal title="Generate CLI key" (closeModal)="generateKeyModal = false; generateKeyForm.reset()" *ngIf="generateKeyModal">
	<form [formGroup]="generateKeyForm" (ngSubmit)="generateNewKey()" modalBody>
		<convoy-input autocomplete="name" name="name" formControlName="name" label="Name" placeholder="CLI key name"></convoy-input>
		<convoy-select label="Expiration" name="expiration" formControlName="expiration" [options]="expirationDates" (selectedOption)="generateKeyForm.patchValue({ expiration: $event })"></convoy-select>
		<div class="flex justify-end mt-24px">
			<convoy-button>Generate Key</convoy-button>
		</div>
	</form>
</convoy-modal>

<app-delete-modal *ngIf="showRevokeApiModal" [isLoading]="isRevokingApiKey" [deleteText]="'revoke “' + selectedApiKey?.name + 'api key”'" deleteButtonText="revoke" (closeModal)="showRevokeApiModal = false" (deleteData)="revokeApiKey()"></app-delete-modal>
