thead tr th:last-of-type {
	width: 50px;
}

tbody {
	tr td div {
		border-left: 5px solid transparent;
	}

	td:nth-of-type(4) div {
		width: 237px;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 14px;

		button {
			top: 50%;
			transform: translate(0, -50%);
			right: -10px;

			img {
				width: 16px;
			}
		}
	}
}

.table--container.smaller table {
	tbody td:nth-of-type(4) div {
		width: 197px;
	}
}

@media only screen and (max-device-width: 1340px) and (-webkit-min-device-pixel-ratio: 1) {
	.table--container.smaller table {
		tbody td:nth-of-type(4) div {
			width: 100px;
		}
	}
}

@media only screen and (max-device-width: 824px) and (-webkit-min-device-pixel-ratio: 1) {
	table {
		tbody td:nth-of-type(4) div {
			width: 100px;
		}
	}
}
