thead tr th:last-of-type {
	width: 50px;
}

tbody tr td div {
	border-left: 5px solid transparent;
}

@media only screen and (max-device-width: 1340px) and (-webkit-min-device-pixel-ratio: 1) {
	.table--container.smaller table {
		tbody td:nth-of-type(3) div {
			width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

@media only screen and (max-device-width: 824px) and (-webkit-min-device-pixel-ratio: 1) {
	table {
		tbody td:nth-of-type(3) div {
			width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
