{
  "auth": {
    "file": {
      "basic": {
        "username": "<insert-username>",
        "password": "<insert-password>"
      },
      "api_key": {
        "api_key": "<insert-api-key>"
      }
    },
    "native": {
      "enabled": true
    },
    "jwt": {
      "enabled": true,
      "secret": "<insert-jwt-secret>",
      "expiry": 3600,
      "refresh_secret": "<insert-jwt-refresh-secret>",
      "refresh_expiry": 86400
    },
    "is_signup_enabled": true
  },
  "database": {
    "type": "postgres",
    "scheme": "postgres",
    "host": "<insert-db-host>",
    "username": "<insert-db-username>",
    "password": "<insert-db-password>",
    "database": "<insert-db-name>",
    "options": "sslmode=disable",
    "port": 5432,
    "max_open_conn": 100,
    "max_idle_conn": 10,
    "conn_max_lifetime": 3600
  },
  "redis": {
    "scheme": "redis",
    "host": "<insert-redis-host>",
    "username": "<insert-redis-username>",
    "password": "<insert-redis-password>",
    "database": "0",
    "port": 6379,
    "addresses": "<insert-redis-addresses>"
  },
  "prometheus": {
    "dsn": "<insert-prometheus-dsn>"
  },
  "server": {
    "http": {
      "ssl": true,
      "ssl_cert_file": "<insert-ssl-cert-file>",
      "ssl_key_file": "<insert-ssl-key-file>",
      "port": 443,
      "ingest_port": 8080,
      "worker_port": 8081,
      "socket_port": 8082,
      "domain_port": 80,
      "proxy": "<insert-proxy-url>"
    }
  },
  "max_response_size": 102400,
  "smtp": {
    "ssl": true,
    "provider": "<insert-smtp-provider>",
    "url": "<insert-smtp-url>",
    "port": 587,
    "username": "<insert-smtp-username>",
    "password": "<insert-smtp-password>",
    "from": "<insert-smtp-from>",
    "reply-to": "<insert-smtp-reply-to>"
  },
  "env": "production",
  "logger": {
    "level": "info"
  },
  "tracer": {
    "type": "new_relic",
    "new_relic": {
      "app_name": "<insert-new-relic-app-name>",
      "license_key": "<insert-new-relic-license-key>",
      "config_enabled": true,
      "distributed_tracer_enabled": true
    }
  },
  "host": "<insert-host>",
  "custom_domain_suffix": "<insert-custom-domain-suffix>",
  "search": {
    "type": "typesense",
    "typesense": {
      "host": "<insert-typesense-host>",
      "api_key": "<insert-typesense-api-key>"
    }
  },
  "feature_flag": "experimental",
  "analytics": {
    "enabled": true
  },
  "storage_policy": {
    "type": "s3",
    "s3": {
      "prefix": "<insert-s3-prefix>",
      "bucket": "<insert-s3-bucket>",
      "access_key": "<insert-s3-access-key>",
      "secret_key": "<insert-s3-secret-key>",
      "region": "<insert-s3-region>",
      "session_token": "<insert-s3-session-token>",
      "endpoint": "<insert-s3-endpoint>"
    },
    "on_prem": {
      "path": "<insert-on-prem-path>"
    }
  },
  "consumer_pool_size": 200
}
