{
  "environment": "dev",
  "database": {
    "type": "<insert-database-type>",
    "dsn": "<insert-database-dsn>"
  },
  "sentry": {
    "dsn": "<insert-sentry-dsn>"
  },
  "queue": {
    "type": "redis",
    "redis": {
      "dsn": "<insert-redis-dsn>"
    }
  },
  "logger": {
    "type": "console",
    "server_log": {
      "level": "info"
    }
  },
  "tracer": {
    "type": "new_relic",
    "new_relic": {
      "license_key": "<insert-new-relic-license-key>",
      "app_name": "convoy",
      "config_enabled": true,
      "distributed_tracer_enabled": true
    }
  },
  "server": {
    "http": {
      "ssl": false,
      "ssl_cert_file": "",
      "ssl_key_file": "",
      "port": 5005
    }
  },
  "auth": {
    "require_auth": false,
    "file": {
      "basic": [
        {
          "username": "default",
          "password": "default",
          "role": {
            "type": "super_user",
            "groups": [
              "sendcash-pay",
              "buycoins-api"
            ]
          }
        }
      ],
      "api_key": [
        {
          "api_key": "<insert-api-key>",
          "role": {
            "type": "super_user",
            "groups": [
              "sendcash-pay"
            ]
          }
        }
      ]
    }
  },
  "group": {
    "signature": {
      "header": "X-Company-Event-WebHook-Signature",
      "hash": "SHA256"
    },
    "strategy": {
      "type": "default",
      "default": {
        "intervalSeconds": 20,
        "retryLimit": 3
      }
    }
  }
}
