CONVOY_ENV=development
CONVOY_HOST=http://localhost:5005

CONVOY_DB_TYPE=postgres
CONVOY_DB_DSN=mongodb://localhost:27017/convoy

CONVOY_SENTRY_DSN=

CONVOY_MUTIPLE_TENANTS=false

CONVOY_LIMITER_PROVIDER=redis
CONVOY_CACHE_PROVIDER=redis
CONVOY_QUEUE_PROVIDER=redis
CONVOY_REDIS_DSN=redis://localhost:6379

CONVOY_LOGGER_LEVEL=info
CONVOY_LOGGER_PROVIDER=console

SSL=false
PORT=5005
WORKER_PORT=5006
CONVOY_SSL_KEY_FILE=
CONVOY_SSL_CERT_FILE=

CONVOY_STRATEGY_TYPE=default
CONVOY_SIGNATURE_HASH=SHA512
CONVOY_DISABLE_ENDPOINT=false
CONVOY_SIGNATURE_HEADER=X-Convoy-Signature
CONVOY_INTERVAL_SECONDS=10
CONVOY_RETRY_LIMIT=10

CONVOY_SMTP_PROVIDER=sendgrid
CONVOY_SMTP_URL=smtp.sendgrid.net
CONVOY_SMTP_USERNAME=sendgrid-username
CONVOY_SMTP_PASSWORD=sendgrid-password
CONVOY_SMTP_FROM=support@frain.dev
CONVOY_SMTP_PORT=2525
CONVOY_SMTP_REPLY_TO=support@frain.dev

CONVOY_NEWRELIC_APP_NAME=
CONVOY_NEWRELIC_LICENSE_KEY=
CONVOY_NEWRELIC_CONFIG_ENABLED=false
CONVOY_NEWRELIC_DISTRIBUTED_TRACER_ENABLED=false

CONVOY_REQUIRE_AUTH=false
CONVOY_BASIC_AUTH_CONFIG="[{\"username\": \"some-admin\",\"password\": \"some-password\",\"role\": {\"type\": \"super_user\",\"groups\": []}}]"
CONVOY_API_KEY_CONFIG="[{\"api_key\":\"ABC1234\",\"role\":{\"type\":\"admin\",\"groups\":[\"group-uid-1\",\"group-uid-2\"],\"apps\":[\"apps-uid-1\",\"apps-uid-2\"]}}]"

CONVOY_NATIVE_REALM_ENABLED=true

CONVOY_JWT_REALM_ENABLED=true
CONVOY_JWT_SECRET=
CONVOY_JWT_EXPIRY=
CONVOY_JWT_REFRESH_SECRET=
CONVOY_JWT_REFRESH_EXPIRY=