<div class="w-full">
	<div class="flex justify-between h-100px" *ngIf="isLoading">
		<div class="loader mr-2px last-of-type:mr-0 flex items-end relative w-full h-full" *ngFor="let size of loaderSizes">
			<div class="min-h-[4px] w-full bg-neutral-a3 rounded-4px animate-pulse hover:cursor-pointer transition-all duration-300" [ngStyle]="{ height: size + 'px' }"></div>
		</div>
	</div>

	<ng-container *ngIf="!isLoading">
		<div class="flex gap-x-1 justify-end">
			<div class="mr-2px last-of-type:mr-0 w-full group" *ngFor="let data of paginatedData; let i = index">
				<div class="flex items-end h-100px hover:cursor-pointer">
					<div [class]="data.data > 0 ? 'bg-primary-100 bg-opacity-70 rounded-tl-8px rounded-tr-8px' : 'bg-neutral-a3 rounded-4px group-hover:bg-neutral-10'" class="min-h-[4px] w-full transition-all duration-300 relative" [ngStyle]="{ height: data.size }">
						<div
							class="
								absolute
								opacity-0
								group-hover:opacity-100 group-focus-within:opacity-100 group-focus:opacity-100 group-hover:pointer-events-auto group-focus-within:pointer-events-auto group-focus:pointer-events-auto
								pointer-events-none
								transition-all
								duration-300
								bg-white-100
								shadow-[0px_8px_8px_rgba(50,50,71,0.08),0px_8px_16px_rgba(50,50,71,0.06)]
								rounded-12px
								w-120px
								px-14px
								py-8px
								bottom-[calc(100%+8px)]
								left-1/2
								-translate-x-1/2
								z-10
								before:content-['']
								before:left-1/2
								before:-translate-x-1/2
								before:border-[3px] before:border-white-100
								before:absolute
								before:-bottom-[20px]
								before:rounded-12px
								before:shadow-[0px_2.66667px_2.66667px_rgba(50,50,71,0.06),0px_2.66667px_5.33333px_rgba(50,50,71,0.06)]
								before:h-12px
								before:w-12px
								before:bg-primary-100
								after:content-['']
								after:absolute
								after:-bottom-[20px]
								after:left-1/2
								after:-translate-x-1/2
								after:border-[12px] after:border-t-white-100 after:border-b-transparent after:border-x-transparent
								after:outline-1 after:outline-neutral-4
							"
							[ngClass]="{ 'before:hidden': data.data === 0 }"
						>
							<h3 class="font-semibold text-12">{{ data.label }}</h3>
							<p class="text-12">Events: {{ data.data | number }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="line flex items-center justify-between mt-14px border-t border-neutral-a3 pt-4px">
			<div class="text-neutral-11 text-10">{{ paginatedData[0].label }}</div>
			<div class="text-neutral-11 text-10">{{ paginatedData[15].label }}</div>
			<div class="text-neutral-11 text-10">{{ paginatedData[paginatedData.length - 1].label }}</div>
		</div>

		<div class="flex items-center justify-end mt-16px" [class]="pages === 1 ? 'hidden' : 'flex'">
			<button convoy-button fill="outline" size="sm" class="px-4px py-4px border-primary-300" [disabled]="pageNumber === 1" (click)="prevPage()">
				<svg width="24" height="24" class="fill-primary-100">
					<use xlink:href="#arrow-left-icon"></use>
				</svg>
			</button>
			<button convoy-button fill="outline" size="sm" class="px-4px py-4px border-primary-300 ml-16px" [disabled]="pageNumber === pages" (click)="nextPage()">
				<svg width="24" height="24" class="fill-primary-100">
					<use xlink:href="#arrow-right-icon"></use>
				</svg>
			</button>
		</div>
	</ng-container>
</div>
