<div convoy-modal position="center" (closeModal)="closeSecretModal.emit()">
	<div class="p-40px">
		<h1 class="mb-30px text-16 font-semibold">Endpoint Secret</h1>
		<p class="text-12 text-new.gray-400 mb-8px">Secret</p>
		<div class="flex items-center justify-between w-full h-50px bg-white-100 border border-new.primary-25 rounded-[6px] px-16px mb-12px">
			<span class="text-16 text-new.gray-600 font-normal whitespace-nowrap w-250px overflow-hidden text-ellipsis">{{ endpointSecret?.value || '' }}</span>
			<convoy-copy-button [text]="endpointSecret?.value || ''" notificationText="Endpoint secret copied to clipboard."></convoy-copy-button>
		</div>

		<ng-container *ngIf="showExpireSecret">
			<form [formGroup]="expireSecretForm" class="mt-24px">
				<convoy-select
					label="Expiry duration"
					name="expiration"
					formControlName="expiration"
					[options]="expirationDates"
					errorMessage="Please select an expiry duration"
					[required]="true"
					(selectedOption)="expireSecretForm.patchValue({ expiration: $event })"
				></convoy-select>
			</form>
		</ng-container>

		<div class="flex justify-end mt-30px">
			<button convoy-button size="sm" class="mr-16px px-40px" fill="outline" (click)="closeSecretModal.emit(); showExpireSecret = false">Close</button>
			<button convoy-button color="danger" size="sm" (click)="showExpireSecret ? expireSecret() : (showExpireSecret = true)">Expire Secret</button>
		</div>
	</div>
</div>
