<div>
	<form [formGroup]="addNewEndpointForm">
		<convoy-input type="text" autocomplete="description" name="description" formControlName="description" errorMessage="Please provide a description" label="Description" placeholder="Description" className="mb-24px" [required]="true"></convoy-input>
		<convoy-input type="url" autocomplete="url" name="url" formControlName="url" errorMessage="Endpoint URL is required" label="Enter Url" placeholder="Enter url" className="mb-24px" [required]="true"></convoy-input>
		<convoy-input type="text" autocomplete="secret" name="secret" formControlName="secret" label="Secret" placeholder="********"></convoy-input>
		<convoy-input
			type="text"
			autocomplete="http_timeout"
			name="http_timeout"
			formControlName="http_timeout"
			label="Http Timeout"
			placeholder="e.g 10s"
			tooltipContent="This specifies how long the socket stays open in the absense of a response."
			tooltipSize="sm"
			tooltipPosition="right"
		></convoy-input>

		<h3 class="mt-34px mb-14px font-medium text-16 flex items-center">
			Endpoint Authentication
			<convoy-tooltip size="sm" position="right" class="ml-4px">You can set your provided endpoint authentication is any is required</convoy-tooltip>
		</h3>
		<ng-container formGroupName="authentication">
			<ng-container formGroupName="api_key">
				<convoy-input type="text" autocomplete="header-name" formControlName="header_name" label="API Key Name" placeholder="Name"></convoy-input>
				<convoy-input type="text" autocomplete="header-value" formControlName="header_value" label="API Key Value" placeholder="Value"></convoy-input>
			</ng-container>
		</ng-container>

		<h3 class="mt-34px mb-8px font-medium text-16 flex items-center">
			Signature Format
			<convoy-tooltip size="sm" position="right" class="ml-4px">This specifies your header and hash function for your project</convoy-tooltip>
		</h3>
		<div class="grid grid-cols-2 gap-6 mb-50px">
			<convoy-radio formControlName="advanced_signatures" label="Simple" _name="signature" [value]="false" _id="simple"></convoy-radio>
			<convoy-radio formControlName="advanced_signatures" label="Advanced" _name="signature" [value]="true" _id="advanced"></convoy-radio>
		</div>
	</form>

	<div class="flex justify-end mt-40px">
		<button convoy-button fill="outline" className="mr-24px" (click)="cancel()">Discard</button>
		<button convoy-button *ngIf="!selectedEndpoint" [disabled]="savingEndpoint" (click)="saveEndpoint()">
			{{ savingEndpoint ? 'Adding Endpoint..' : 'Add Endpoint' }}
		</button>
		<button convoy-button *ngIf="selectedEndpoint" [disabled]="savingEndpoint" (click)="saveEndpoint()">
			{{ savingEndpoint ? 'Updating Endpoint..' : 'Update Endpoint' }}
		</button>
	</div>
</div>
