<div class="max-w-[1100px] w-full mx-auto pb-160px pt-40px">
	<button convoy-button fill="text" class="!p-0 font-medium capitalize text-12 mb-30px" (click)="goBack()">
		<div class="block p-2px rounded-100px border border-new.primary-50 mr-8px">
			<svg width="24" height="24" class="fill-neutral-10 scale-75">
				<use xlink:href="#arrow-left-icon"></use>
			</svg>
		</div>
		Back
	</button>

	<h2 class="font-medium text-14 text-neutral-10 mb-24px">Subscriptions</h2>
	<div class="flex justify-between items-center mb-12px">
		<form class="border border-primary-400 h-36px px-14px py-0 max-w-[350px] w-full rounded-[10px] flex items-center bg-white-100" (ngSubmit)="getSubscriptions({ name: subscriptionSearchString })">
			<img src="/assets/img/search-icon.svg" alt="search icon" class="mr-10px" />
			<input type="search" placeholder="Search subscriptions" class="w-full text-neutral-11 text-12 outline-none" [(ngModel)]="subscriptionSearchString" [ngModelOptions]="{ standalone: true }" />
			<button convoy-button *ngIf="subscriptionSearchString && subscriptionSearchString.length > 0" class="transition-all duration-200" fill="text" (click)="getSubscriptions({ name: subscriptionSearchString })" size="sm">
				<img src="/assets/img/enter-icon.png" alt="enter icon" class="w-16px" />
			</button>
		</form>
		<button convoy-button fill="soft" class="py-4px px-10px rounded-8px text-12" (click)="openSubsriptionForm('create')" *ngIf="portalDetails?.can_manage_endpoint && portalDetails?.owner_id">
			<img src="/assets/img/add-icon.svg" alt="add icon" class="mr-8px w-12px" />
			Add Subscription
		</button>
	</div>

	<ul convoy-card class="mb-40px">
		<ng-container *ngIf="isLoadingSubscriptions && !subscriptions?.content?.length">
			<li class="flex justify-between p-16px">
				<div class="flex max-w-[790px] justify-between w-full">
					<div class="bg-neutral-a3 rounded-8px animate-pulse w-150px h-20px"></div>
					<div class="bg-neutral-a3 rounded-8px animate-pulse w-320px h-20px"></div>
					<div class="flex">
						<div class="bg-neutral-a3 mr-8px rounded-8px animate-pulse w-52px h-20px"></div>
						<div class="bg-neutral-a3 mr-8px rounded-8px animate-pulse w-88px h-20px"></div>
						<div class="bg-neutral-a3 rounded-8px animate-pulse w-94px h-20px"></div>
					</div>
				</div>
				<div class="bg-neutral-a3 rounded-8px animate-pulse w-12px h-20px"></div>
			</li>
			<li class="flex justify-between p-16px">
				<div class="flex max-w-[790px] justify-between w-full">
					<div class="bg-neutral-a3 rounded-8px animate-pulse w-150px h-20px"></div>
					<div class="bg-neutral-a3 rounded-8px animate-pulse w-320px h-20px"></div>
					<div class="flex">
						<div class="bg-neutral-a3 mr-8px rounded-8px animate-pulse w-52px h-20px"></div>
						<div class="bg-neutral-a3 mr-8px rounded-8px animate-pulse w-88px h-20px"></div>
						<div class="bg-neutral-a3 rounded-8px animate-pulse w-94px h-20px"></div>
					</div>
				</div>
				<div class="bg-neutral-a3 rounded-8px animate-pulse w-12px h-20px"></div>
			</li>
		</ng-container>
		<ng-container *ngFor="let subscriptionGroup of displayedSubscriptions; let i = index">
			<li class="py-10px px-12px">
				<div class="text-neutral-10 text-12 pl-10px">{{ subscriptionGroup.date }}</div>
			</li>

			<li class="flex justify-between py-10px px-22px hover:bg-new.primary-25 transition-all duration-300 mb-12px last-of-type:mb-0 relative border-b border-neutral-4" *ngFor="let subscription of subscriptionGroup.content; let i = index">
				<div class="flex text-14 text-neutral-10 gap-36px items-center min-h-[28px]">
					<div class="flex items-center min-w-200px gap-10px">
						<div class="max-w-150px w-full truncate">{{ subscription?.name }}</div>
						<div convoy-tag size="sm" color="neutral">{{ subscription?.type }}</div>
					</div>
					<div class="whitespace-nowrap">{{ subscription?.endpoint_metadata?.name }}</div>
					<div>
						<div convoy-tag class="!gap-10px flex items-center">
							<span class="max-w-250px w-full truncate">{{ subscription?.endpoint_metadata?.url || subscription?.endpoint_metadata?.target_url }}</span>

							<convoy-copy-button *ngIf="subscription.endpoint_metadata" size="sm" [notificationText]="'Endpoint Url has been copied to clipboard'" [text]="subscription.endpoint_metadata.url || subscription.endpoint_metadata.target_url"></convoy-copy-button>
						</div>
					</div>
				</div>

				<div convoy-dropdown #subscriptionDropdown position="right" size="md" class="ml-4px">
					<button dropdownTrigger convoy-button size="sm" fill="text" class="!p-0">
						<img src="assets/img/more-icon-vertical.svg" class="h-5" alt="more icon" />
					</button>

					<ul dropdownOptions class="p-10px">
						<li class="hover:bg-new.primary-25 transition-all duration-300 rounded-8px mb-4px" *ngIf="portalDetails?.can_manage_endpoint">
							<button convoy-dropdown-option convoy-button size="sm" fill="text" class="w-full !justify-start px-8px py-4px text-neutral-12" color="neutral" (click)="activeSubscription = subscription; openSubsriptionForm('update')">
								<svg width="16" height="16" class="mr-8px">
									<use xlink:href="#edit-icon"></use>
								</svg>
								Edit
							</button>
						</li>
						<li class="rounded-8px hover:bg-new.primary-25 duration-300 transition-all">
							<button convoy-dropdown-option convoy-button size="sm" color="error" class="w-full !justify-start px-8px py-4px" fill="text" (click)="activeSubscription = subscription; deleteDialog.showModal()">
								<svg width="14" height="14" class="fill-transparent stroke-error-9 mr-8px">
									<use xlink:href="#delete-icon2"></use>
								</svg>
								Delete
							</button>
						</li>
					</ul>
				</div>
			</li>
		</ng-container>

		<div class="flex justify-center items-center p-40px flex-col" *ngIf="!isLoadingSubscriptions && subscriptions?.content?.length === 0">
			<img src="/assets/img/empty-state.svg" alt="empty state image" />
			<p class="mt-16px text-12 text-neutral-11">You don't have any endpoints yet</p>
		</div>
	</ul>

	<!-- Pagination -->
	<convoy-pagination *ngIf="subscriptions?.pagination?.has_next_page || subscriptions?.pagination?.has_prev_page" [pagination]="subscriptions?.pagination" (paginate)="getSubscriptions($event)"></convoy-pagination>
</div>

<dialog #deleteDialog convoy-dialog position="center" size="sm">
	<app-delete-modal [isLoading]="isDeletingSubscription" [deleteText]="'delete “' + activeSubscription?.name + '”'" (closeModal)="deleteDialog.close()" (deleteData)="deleteSubscripton()"></app-delete-modal>
</dialog>

<div class="fixed top-0 left-0 right-0 bottom-0 bg-[#fff] z-20 pb-100px overflow-auto" *ngIf="showSubscriptionForm || (currentRoute !== 'subscriptions' && currentRoute !== 'new')">
	<div class="max-w-[770px] w-full mx-auto pt-40px">
		<button convoy-button fill="text" class="!p-0 font-medium capitalize text-12" (click)="goBack(true)">
			<div class="block p-2px rounded-100px border border-new.primary-50 mr-8px">
				<svg width="24" height="24" class="fill-neutral-10 scale-75">
					<use xlink:href="#arrow-left-icon"></use>
				</svg>
			</div>
			Back
		</button>
		<convoy-create-subscription [action]="action" isPortal="true" showAction="true" [endpointId]="endpointId" [subscriptionId]="activeSubscription?.uid" (onAction)="getSubscriptions(); goBack(true)"></convoy-create-subscription>
	</div>
</div>
