<convoy-card className="mb-20px min-h-[50vh]">
	<!-- tab  -->
	<div class="flex items-center justify-center border-b border-grey-10 mb-18px">
		<ul class="w-full flex items-center">
			<li *ngFor="let tab of tabs" (click)="toggleActiveTab(tab)">
				<convoy-button
					type="clear"
					color="grey"
					[className]="
						activeTab === tab
							? 'rounded-[0] py-16px px-18px border-b-[3px] border-transparent [border-bottom-style:solid] transition-all ease-in-out border-b-primary-100'
							: 'rounded-[0] py-16px px-18px border-b-[3px] border-transparent [border-bottom-style:solid] transition-all ease-in-out'
					"
				>
					<span [class]="activeTab === tab ? 'text-primary-100 capitalize text-14 font-semibold' : 'capitalize text-14'">{{ tab }}</span>
				</convoy-button>
			</li>

			<div class="text-grey-40 text-14 font-medium whitespace-nowrap ml-auto pr-14px">
				<convoy-button size="sm" type="outline" (click)="generateNewKey()">Generate New Key</convoy-button>
			</div>
		</ul>
	</div>

	<!-- empty state for both devices and api keys  -->
	<ng-container *ngIf="(activeTab === 'api keys' && apiKeys?.length === 0) || (activeTab === 'devices' && devices?.length === 0)">
		<convoy-empty-state imgSrc="/assets/img/empty-state.svg" [heading]="activeTab === 'api keys' ? 'No API keys yet' : 'No CLI devices yet'" type="table" className="h-[50vh]" id="empty-state"></convoy-empty-state>
	</ng-container>

	<!-- loader for both devices and api keys  -->
	<ng-container *ngIf="(activeTab === 'api keys' && isFetchingApiKeys) || (activeTab === 'devices' && isFetchingDevices)">
		<div class="flex justify-between items-center p-22px" *ngFor="let index of loaderIndex">
			<div>
				<div class="flex items-center mb-8px">
					<convoy-skeleton-loader className="h-20px w-100px"></convoy-skeleton-loader>
					<convoy-skeleton-loader className="h-14px w-60px ml-10px"></convoy-skeleton-loader>
				</div>
				<convoy-skeleton-loader className="h-14px w-120px"></convoy-skeleton-loader>
			</div>
			<convoy-skeleton-loader className="h-14px w-120px"></convoy-skeleton-loader>
		</div>
	</ng-container>

	<!-- fetched api keys  -->
	<ng-container *ngIf="activeTab === 'api keys' && !isFetchingApiKeys && apiKeys">
		<div class="flex justify-between items-center p-22px border-b border-b-grey-10 last-of-type:border-none" *ngFor="let key of apiKeys">
			<div>
				<div class="flex items-center">
					<h3 class="font-semibold mr-14px">{{ key.name }}</h3>
					<convoy-tag [type]="getKeyStatus(key.expires_at) | statuscolor">{{ getKeyStatus(key.expires_at) }}</convoy-tag>
				</div>
				<p class="text-grey-40 text-10 mt-8px">Created: {{ key.created_at | date: 'medium' }}</p>
			</div>
		</div>
	</ng-container>

	<!-- fetched devices  -->
	<ng-container *ngIf="activeTab === 'devices' && !isFetchingDevices && devices">
		<div class="flex justify-between items-center p-22px border-b border-b-grey-10 last-of-type:border-none" *ngFor="let device of devices">
			<div>
				<div class="flex items-center">
					<h3 class="font-semibold mr-14px">{{ device.host_name }}</h3>
					<convoy-tag [type]="device.status | statuscolor">{{ device.status }}</convoy-tag>
				</div>
			</div>

			<div>
				<p class="text-grey-40 text-10 mt-8px">Last Seen: {{ device.last_seen_at | date: 'medium' }}</p>
			</div>
		</div>
	</ng-container>
</convoy-card>

<convoy-modal *ngIf="showApiKey">
	<div class="flex flex-col items-center justify-center min-h-[80vh] px-30px" modalBody>
		<img src="/assets/img/success.gif" class="h-150px w-150px" alt="success" />
		<h2 class="font-semibold mt-16px">Api Key Generated Successfully</h2>
		<p class="text-14 text-grey-60 font-normal text-center mb-16px mt-8px">Your API Key has also been created. Please copy this key and save it somewhere safe.</p>
		<p class="text-14 text-danger-100 mb-40px text-center">For security reasons, we cannot show it to you again</p>
		<div class="flex items-center justify-between w-full h-50px border border-grey-10 rounded-[6px] px-16px mb-32px">
			<span class="text-16 text-grey-60 font-normal whitespace-nowrap w-250px overflow-hidden text-ellipsis">{{ apiKey }}</span>
			<convoy-button type="text" size="sm" (click)="copyKey(apiKey)">
				<img src="/assets/img/copy.svg" alt="copy" />
				<small *ngIf="showSecretCopyText">Copied!</small>
			</convoy-button>
		</div>
		<convoy-button (click)="showApiKey = false; getApiKeys()" buttonType="button">Done</convoy-button>
	</div>
</convoy-modal>
