<p class="text-14 text-grey-60 mb-24px">A project represents the top level namespace for grouping event sources, applications, endpoints and events.</p>

<form [formGroup]="projectForm" (submit)="action === 'update' ? updateProject() : createProject()">
	<div class="px-24px py-24px w-full bg-white-100 border-[#EDEFF5] shadow-default rounded-8px mt-24px">
		<convoy-input label="Project name" name="project-name" formControlName="name" placeholder="Enter project name here" [required]="true" errorMessage="Enter new project name"></convoy-input>
		<ng-container *ngIf="action === 'update'">
			<label class="w-full font-medium text-12 text-grey-40 mb-8px flex items-center justify-between">Project Id</label>
			<div class="flex items-center justify-between w-full h-50px bg-[#F7F9FC] border border-grey-10 rounded-[6px] px-16px">
				<span class="text-16 text-grey-60 font-normal">{{ projectDetails.uid }}</span>
				<convoy-copy-button [text]="projectDetails.uid"></convoy-copy-button>
			</div>
		</ng-container>
		<h3 class="mt-24px mb-16px font-semibold">Project type</h3>
		<div class="project-types grid grid-cols-2 gap-24px">
			<convoy-radio formControlName="type" description="Create an incoming webhooks project to proxy events from third-party providers to your endpoints" label="Incoming webhooks" _name="type" value="incoming" _id="incoming"></convoy-radio>
			<convoy-radio formControlName="type" description="Create an outgoing webhooks project to publish events to your customer-provided endpoints" label="Outgoing webhooks" _name="type" value="outgoing" _id="outgoing"></convoy-radio>
		</div>
		<div class="flex items-center text-12 text-danger-100 mt-8px" *ngIf="projectForm.controls['type'].touched && projectForm.controls['type'].invalid">
			<img src="assets/img/input-error-icon.svg" class="mr-8px w-16px" alt="input error icon" />
			<span>Please select a project type</span>
		</div>

		<div [hidden]="!enableMoreConfig">
			<div formGroupName="config">
				<h3 class="mt-24px mb-16px font-semibold flex items-center">
					Signature Details
					<convoy-tooltip size="sm" position="right" class="ml-4px">This specifies your header and hash function for your project</convoy-tooltip>
				</h3>
				<div class="grid grid-cols-2 gap-24px" formGroupName="signature">
					<convoy-input label="Header" name="header" formControlName="header" placeholder="X-Convoy-Signature" errorMessage="Enter header for project requests"></convoy-input>
					<convoy-select label="Hash" name="hash" formControlName="hash" [options]="hashAlgorithms" errorMessage="Please select a hash" (selectedOption)="projectForm.get('config.signature')?.patchValue({ hash: $event })"></convoy-select>
				</div>

				<h3 class="mt-24px mb-16px flex items-center font-semibold">
					Retry Logic
					<convoy-tooltip size="sm" position="right" class="ml-4px">
						These are the specifications for the retry mechanism for your endpoints. In Linear time retry, event retries are done in linear time, while in Exponential back off retry, events are retried progressively increasing the time before the next retry attempt.
					</convoy-tooltip>
				</h3>
				<div class="grid grid-cols-2 gap-x-24px" formGroupName="strategy">
					<convoy-select label="Mechanism" name="type" formControlName="type" [options]="retryLogicTypes" errorMessage="Please select a retry logic mechanism" (selectedOption)="projectForm.get('config.strategy')?.patchValue({ type: $event })"></convoy-select>
					<convoy-input label="Duration" name="retry-logic-duration" formControlName="duration" placeholder="e.g 3s" errorMessage="Please enter your retry logic duration"></convoy-input>
					<convoy-input type="number" label="Limit" name="retry-logic-count" formControlName="retry_count" placeholder="e.g 5" errorMessage="Please enter a retry limit"></convoy-input>
				</div>

				<h3 class="mt-24px mb-16px flex items-center font-semibold">
					Rate Limit Parameters
					<convoy-tooltip size="sm" position="right" class="ml-4px">These are the specifications for how many events are to be sent to an endpoint per time</convoy-tooltip>
				</h3>
				<div class="grid grid-cols-2 gap-24px" formGroupName="ratelimit">
					<convoy-input label="Duration" name="rate-limit-duration" formControlName="duration" placeholder="e.g 5m" errorMessage="Please enter a rate limit duration"></convoy-input>
					<convoy-input type="number" label="Limit" name="rate-limit-count" formControlName="count" placeholder="e.g 5000" errorMessage="Please enter a rate limit"></convoy-input>
				</div>

				<h3 class="mt-24px mb-16px font-semibold">Disable Failing Endpoints</h3>
				<div class="grid grid-cols-2 gap-24px">
					<convoy-radio formControlName="disable_endpoint" description="Endpoints would be disabled automatically when they are failing." label="True" _name="disable_endpoint" [value]="true" _id="true"></convoy-radio>
					<convoy-radio formControlName="disable_endpoint" description="Endpoints are not automatically disabled when they are failing." label="False" _name="disable_endpoint" [value]="false" _id="false"></convoy-radio>
				</div>

				<h3 class="mt-48px mb-16px font-semibold">Enable Rentention Policy</h3>
				<div class="grid grid-cols-2 gap-24px mb-24px">
					<convoy-radio formControlName="is_retention_policy_enabled" label="Enable" _name="is_retention_policy_enabled" [value]="true" _id="enable_retention_policy"></convoy-radio>
					<convoy-radio formControlName="is_retention_policy_enabled" label="Disable" _name="is_retention_policy_enabled" [value]="false" _id="disable_retention_policy"></convoy-radio>
				</div>

				<ng-container *ngIf="enableMoreConfig && projectForm.value.config.is_retention_policy_enabled">
					<div formGroupName="retention_policy">
						<convoy-input
							label="Retention Period"
							name="policy"
							formControlName="policy"
							placeholder="e.g. 72h"
							errorMessage="Enter retention policy value"
							tooltipContent="This is the interval at which events would be reviewed and retained for this project."
							tooltipSize="sm"
						></convoy-input>
					</div>
				</ng-container>
			</div>
		</div>

		<convoy-toggle className="flex justify-end mt-20px" label="Add more configurations" (onChange)="enableMoreConfig = !enableMoreConfig" [isChecked]="enableMoreConfig"></convoy-toggle>
	</div>

	<div class="button-container flex justify-end mt-32px mab-40px">
		<convoy-button type="outline" *ngIf="action !== 'update'" className="mr-16px transition-all duration-300 hover:text-danger-100 hover:border-danger-100" buttonType="button" (click)="confirmModal = true">Cancel</convoy-button>
		<convoy-button [disable]="isCreatingProject" *ngIf="action === 'create'">
			Create Project
			<svg width="24" height="24" class="ml-8px fill-white-100">
				<use xlink:href="#arrow-right-icon"></use>
			</svg>
		</convoy-button>
		<convoy-button [disable]="isCreatingProject" *ngIf="action === 'update'">Update Project</convoy-button>
	</div>
</form>

<convoy-modal *ngIf="showApiKey">
	<div class="flex flex-col items-center justify-center min-h-[80vh] px-30px" modalBody>
		<img src="/assets/img/success.gif" class="h-150px w-150px" alt="success" />
		<h2 class="font-semibold mt-16px">Project Created Successfully</h2>
		<p class="text-14 text-grey-60 font-normal text-center mb-16px mt-8px">Your API Key has also been created. Please copy this key and save it somewhere safe.</p>
		<p class="text-14 text-danger-100 mb-40px text-center">For security reasons, we cannot show it to you again</p>
		<div class="flex items-center justify-between w-full h-50px border border-grey-10 rounded-[6px] px-16px mb-32px">
			<span class="text-16 text-grey-60 font-normal whitespace-nowrap w-250px overflow-hidden text-ellipsis">{{ apiKey }}</span>
			<convoy-copy-button [text]="apiKey"></convoy-copy-button>
		</div>
		<convoy-button (click)="onAction.emit({ action: 'createProject', data: projectDetails })" buttonType="button">Done</convoy-button>
	</div>
</convoy-modal>

<convoy-confirmation-modal *ngIf="confirmModal" (confirmAction)="router.navigateByUrl('/')" (closeModal)="confirmModal = false"></convoy-confirmation-modal>
