<p class="text-14 text-grey-60 mb-24px">A project represents the top level namespace for grouping event sources, applications, endpoints and events.</p>

<form [formGroup]="projectForm" (submit)="action === 'update' ? updateProject() : createProject()">
	<div class="px-24px py-24px w-full bg-white-100 border-[#EDEFF5] shadow-default rounded-8px mt-24px">
		<convoy-input label="Project name" name="project-name" formControlName="name" placeholder="Enter project name here" [required]="true" errorMessage="Enter new project name"></convoy-input>

		<h3 class="mt-24px mb-16px font-semibold">Project type</h3>
		<div class="project-types grid grid-cols-2 gap-24px">
			<convoy-radio
				formControlName="type"
				description="Create an incoming webhooks project to proxy events from third-party providers to your endpoints"
				label="Incoming webhooks"
				_name="type"
				value="incoming"
				_id="incoming"
			></convoy-radio>

			<convoy-radio
				formControlName="type"
				description="Create an outgoing webhooks project to publish events to your customer-provided endpoints"
				label="Outgoing webhooks"
				_name="type"
				value="outgoing"
				_id="outgoing"
			></convoy-radio>
		</div>
		<div class="flex items-center text-12 text-danger-100 mt-8px" *ngIf="projectForm.controls['type'].touched && projectForm.controls['type'].invalid">
			<img src="assets/img/input-error-icon.svg" class="mr-8px w-16px" alt="input error icon" />
			<span>Please select a project type</span>
		</div>

		<convoy-toggle class="flex justify-end mt-20px" label="Add more configurations" (onChange)="enableMoreConfig = !enableMoreConfig" [isChecked]="enableMoreConfig"></convoy-toggle>

		<div [hidden]="!enableMoreConfig">
			<div formGroupName="config">
				<h3 class="mt-24px mb-16px font-semibold flex items-center">
					Signature Details
					<convoy-tooltip size="sm" position="right" class="ml-4px">This specifies your header and hash function for your project</convoy-tooltip>
				</h3>
				<div class="grid grid-cols-2 gap-24px" formGroupName="signature">
					<convoy-input label="Header" name="header" formControlName="header" placeholder="X-Convoy-Signature" errorMessage="Enter header for project requests"></convoy-input>
					<convoy-select label="Hash" name="hash" formControlName="hash" [options]="hashAlgorithms" errorMessage="Please select a hash"></convoy-select>
				</div>

				<h3 class="mt-24px mb-16px flex items-center font-semibold">
					Retry Logic
					<convoy-tooltip size="sm" position="right" class="ml-4px">
						These are the specifications for the retry mechanism for your endpoints. In Linear time retry, event retries are done in linear time, while in Exponential back off retry, events are
						retried progressively increasing the time before the next retry attempt.
					</convoy-tooltip>
				</h3>
				<div class="grid grid-cols-2 gap-24px" formGroupName="strategy">
					<convoy-select label="Mechanism" name="type" formControlName="type" [options]="retryLogicTypes" errorMessage="Please select a retry logic mechanism"></convoy-select>
					<convoy-input
						[type]="action === 'update' ? 'number' : 'text'"
						label="Duration"
						name="retry-logic-duration"
						formControlName="duration"
						placeholder="e.g 3s"
						errorMessage="Please enter your retry logic duration"
					></convoy-input>
					<convoy-input type="number" label="Limit" name="retry-logic-count" formControlName="retry_count" placeholder="e.g 5" errorMessage="Please enter a retry limit"></convoy-input>
				</div>

				<h3 class="mt-24px mb-16px flex items-center font-semibold">
					Rate Limit Parameters
					<convoy-tooltip size="sm" position="right" class="ml-4px">These are the specifications for how many events are to be sent to an endpoint per time</convoy-tooltip>
				</h3>
				<div class="grid grid-cols-2 gap-24px" formGroupName="ratelimit">
					<convoy-input label="Duration" name="rate-limit-duration" formControlName="duration" placeholder="e.g 5m" errorMessage="Please enter a rate limit duration"></convoy-input>
					<convoy-input type="number" label="Limit" name="rate-limit-count" formControlName="count" placeholder="e.g 5000" errorMessage="Please enter a rate limit"></convoy-input>
				</div>

				<h3 class="mt-24px mb-16px font-semibold">Disable Failing Endpoints</h3>
				<div class="project-types grid grid-cols-2 gap-24px">
					<convoy-radio
						formControlName="disable_endpoint"
						description="Endpoints would be disabled automatically when they are failing."
						label="True"
						_name="disable_endpoint"
						[value]="true"
						_id="true"
					></convoy-radio>
					<convoy-radio
						formControlName="disable_endpoint"
						description="Endpoints are not automatically disabled when they are failing."
						label="False"
						_name="disable_endpoint"
						[value]="false"
						_id="false"
					></convoy-radio>
				</div>
			</div>
		</div>
	</div>

	<div class="button-container flex justify-end mt-32px mab-40px">
		<convoy-button type="outline" *ngIf="action !== 'update'" className="mr-16px" buttonType="button" (click)="router.navigateByUrl('/')">Cancel</convoy-button>
		<convoy-button [disable]="isCreatingProject" *ngIf="action === 'create'">
			Create Project
			<svg width="24" height="24" class="ml-8px" fill="#FCFCFC">
				<use xlink:href="#arrow-right-icon"></use>
			</svg>
		</convoy-button>
		<convoy-button [disable]="isCreatingProject" *ngIf="action === 'update'">Update Project</convoy-button>
	</div>
</form>

<div class="_overlay" *ngIf="showApiKey"></div>
<div class="modal modal__right" *ngIf="showApiKey">
	<div class="modal--body delete no-padding flex flex__column flex__align-items-center">
		<img src="/assets/img/success.gif" class="img" alt="success" />
		<h2 class="font-semibold mt-16px">Project Created Successfully</h2>
		<p class="text-14 text-grey-60 font-normal text-center mb-16px mt-8px">Your API Key has also been created. Please copy this key and save it somewhere safe.</p>
		<p class="text-14 text-danger-100 mb-40px text-center">For security reasons, we cannot show it to you again</p>
		<div class="key mb-32px">
			<span>{{ apiKey }}</span>
			<button (click)="copyKey(apiKey)">
				<img src="/assets/img/copy.svg" alt="copy" />
				<small *ngIf="showSecretCopyText">Copied!</small>
			</button>
		</div>
		<convoy-button (click)="onAction.emit({ action: 'createProject', data: projectDetails })" buttonType="button">Done</convoy-button>
	</div>
</div>
