<div class="flex justify-between items-center mb-28px">
	<h3 class="font-semibold">Change Password</h3>
	<button convoy-button size="sm" [disabled]="isUpdatingPassword" (click)="changePassword()">{{ isUpdatingPassword ? 'Saving changes...' : 'Save Changes' }}</button>
</div>

<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
	<convoy-input className="mb-0" type="password" autocomplete="current_password" name="current_password" formControlName="current_password" errorMessage="Enter current password" label="Current Password" placeholder="********" [required]="true"></convoy-input>
	<div class="text-12 mt-8px mb-24px">
		<span>Forgot password?</span>
		<a class="text-primary-100 text-12 ml-8px" routerLink="/forgot-password">Reset it here</a>
	</div>
	<convoy-input type="password" autocomplete="password" name="password" formControlName="password" errorMessage="Enter new password" label="New Password" placeholder="********" [required]="true"></convoy-input>
	<convoy-input className="mb-0" type="password" autocomplete="password_confirmation" name="password_confirmation" formControlName="password_confirmation" errorMessage="Please confirm password" label="Confirm Password" placeholder="********" [required]="true"></convoy-input>
	<div class="flex items-center text-12 text-danger-100 mt-8px mb-24px" *ngIf="changePasswordForm.controls.password.valid && changePasswordForm.controls.password_confirmation.valid && changePasswordForm.controls.password_confirmation.touched && !checkPassword()">
		<img src="assets/img/input-error-icon.svg" class="mr-8px w-16px" alt="input error icon" />
		<span>Password should have at least one special character</span>
	</div>
</form>

<div class="flex items-start bg-primary-500 border border-dashed border-primary-100 rounded-8px py-10px px-16px mt-24px w-full">
	<img src="/assets/img/ideas.svg" alt="idea" class="mr-20px" />
	<p class="text-14">Use a strong password with at least 8 characters long, and having a mixed of letters, numbers, and symbols.</p>
</div>
