<convoy-modal title="Add an organisation" (closeModal)="close()">
	<form modalBody [formGroup]="addOrganisationForm" (ngSubmit)="addNewOrganisation()">
		<convoy-input-field>
			<label for="organisation" required="true" convoy-label>Organisation name</label>
			<input type="text" id="organisation" convoy-input autocomplete="organisation" formControlName="name" placeholder="e.g Kuda" />
			<convoy-input-error *ngIf="addOrganisationForm.controls.name.touched && addOrganisationForm.controls.name.invalid">Organisation name is required</convoy-input-error>
		</convoy-input-field>
		<div class="flex justify-end mt-32px">
			<button convoy-button class="mr-16px transition-all duration-300 hover:text-danger-100 hover:border-danger-100" type="button" fill="outline" (click)="close()">Discard</button>
			<button convoy-button [disabled]="loading">{{ loading ? 'Adding Organisation' : 'Create Organisation' }}</button>
		</div>
	</form>
</convoy-modal>
