<div class="px-20px pt-20px pb-16px border-b border-b-grey-10 flex items-center justify-between">
	<h2 class="font-semibold">Add an Organization</h2>
	<convoy-button type="text" class="px-0" (click)="close()">
		<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
	</convoy-button>
</div>

<div class="p-20px">
	<form [formGroup]="addOrganisationForm" (ngSubmit)="addNewOrganisation()">
		<convoy-input type="text" name="organisation" formControlName="name" errorMessage="Organisation name is required" label="Organisation name" placeholder="e.g Kuda"></convoy-input>
		<div class="flex justify-end mt-32px">
			<convoy-button class="mr-16px" type="outline" (click)="close()">Discard</convoy-button>
			<convoy-button [disable]="loading">{{ loading ? 'Adding Organisation' : 'Create Organisation' }}</convoy-button>
		</div>
	</form>
</div>
