<div [class]="showAction === 'true' ? 'pt-40px' : 'pt-20px'">
	<div convoy-card class="p-24px relative">
		<form [formGroup]="addNewEndpointForm">
			<div class="grid gap-24px" style="grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))">
				<convoy-input-field>
					<label for="name" convoy-label required="true">Endpoint Name</label>
					<input id="name" convoy-input autocomplete="name" formControlName="name" placeholder="Enter endpoint name here" />
					<convoy-input-error *ngIf="addNewEndpointForm.get('name')?.touched && addNewEndpointForm.get('name')?.invalid">Please provide a name</convoy-input-error>
				</convoy-input-field>

				<convoy-input-field>
					<label for="url" convoy-label required="true">Enter URL</label>
					<input type="url" id="url" convoy-input autocomplete="url" formControlName="url" placeholder="Enter endpoint URL here" />
					<convoy-input-error *ngIf="addNewEndpointForm.get('url')?.touched && addNewEndpointForm.get('url')?.invalid">Invalid endpoint URL</convoy-input-error>
				</convoy-input-field>
			</div>

			<convoy-input-field className="mb-24px">
				<label for="secret" convoy-label>Endpoint Secret</label>
				<div class="flex items-center justify-between w-full h-46px border border-new.gray-200 bg-[#F7F9FC] rounded-[6px] px-16px mb-12px" *ngIf="editMode && type !== 'portal'">
					<span class="text-12 text-new.gray-600 font-normal truncate">{{ endpointSecret?.value || '' }}</span>
					<div class="ml-8px" convoy-copy-button [text]="endpointSecret?.value || ''" notificationText="Endpoint secret copied to clipboard."></div>
				</div>
				<input *ngIf="!editMode || type === 'portal'" type="secret" id="secret" convoy-input formControlName="secret" placeholder="Enter endpoint secret here" />
			</convoy-input-field>

			<ng-container *ngIf="showConfig('owner_id')">
				<div class="border-l-2 border-new.primary-25 pl-16px mb-40px">
					<div class="flex justify-between items-center mb-16px">
						<label for="owner_id" convoy-label>
							Owner ID
							<convoy-tooltip
								class="ml-4px"
								size="sm"
								tooltipContent="A unique id for identifying a group of endpoints, like a user id. Useful for fanning out an event to multiple endpoints and creating portal link for multiple endpoints."
								position="top-right"
							></convoy-tooltip>
						</label>
						<button convoy-permission="Endpoints|MANAGE" convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="toggleConfigForm('owner_id')">
							<svg width="14" height="14" class="fill-transparent stroke-new.gray-400">
								<use xlink:href="#delete-icon2"></use>
							</svg>
						</button>
					</div>

					<convoy-input-field>
						<input type="text" id="owner_id" convoy-input autocomplete="owner_id" formControlName="owner_id" placeholder="Enter owner id here" />
					</convoy-input-field>
				</div>
			</ng-container>

			<ng-container *ngIf="showConfig('rate_limit')">
				<div class="border-l-2 border-new.primary-25 pl-16px mb-40px">
					<div class="flex justify-between items-center mb-16px">
						<p class="text-12 text-neutral-11 font-medium flex items-center">Rate Limit</p>
						<button convoy-permission="Endpoints|MANAGE" convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="toggleConfigForm('rate_limit')">
							<svg width="14" height="14" class="fill-transparent stroke-neutral-10">
								<use xlink:href="#delete-icon2"></use>
							</svg>
						</button>
					</div>

					<div class="grid grid-cols-2 gap-24px">
						<convoy-input-field className="mb-0">
							<label for="rate-limit-duration" convoy-label>Duration</label>
							<div class="relative">
								<input type="number" id="rate-limit-duration" convoy-input autocomplete="rate-limit-duration" formControlName="rate_limit_duration" placeholder="e.g 50" />
								<div class="absolute top-[50%] right-14px text-16 text-neutral-a30 opacity-40 translate-y-[-50%]">sec</div>
							</div>
							<convoy-input-error *ngIf="addNewEndpointForm.get('rate_limit_duration')?.touched && addNewEndpointForm.get('rate_limit_duration')?.invalid">Please enter a rate limit duration</convoy-input-error>
						</convoy-input-field>
						<convoy-input-field className="mb-0">
							<label for="rate-limit-count" convoy-label>Limit</label>
							<input type="number" id="rate-limit-count" convoy-input autocomplete="rate-limit-count" formControlName="rate_limit" placeholder="e.g 10" />
							<convoy-input-error *ngIf="addNewEndpointForm.get('rate_limit')?.touched && addNewEndpointForm.get('rate_limit')?.invalid">Please enter a rate limit</convoy-input-error>
						</convoy-input-field>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="showConfig('alert_config')">
				<div class="border-l-2 border-new.primary-25 pl-16px mb-40px">
					<div class="flex justify-between items-center mb-16px">
						<p class="text-12 text-neutral-11 font-medium flex items-center">Alert Configuration</p>
						<button convoy-permission="Endpoints|MANAGE" convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="toggleConfigForm('alert_config')">
							<svg width="14" height="14" class="fill-transparent stroke-neutral-10">
								<use xlink:href="#delete-icon2"></use>
							</svg>
						</button>
					</div>

					<div class="grid grid-cols-2 gap-24px">
						<convoy-input-field className="mb-0">
							<label for="support-email" convoy-label tooltip="We use this to send an email notifcation for when a failure happens">Support Email</label>
							<input id="support-email" convoy-input autocomplete="suport-email" formControlName="support_email" placeholder="Enter support email" />
							<convoy-input-error *ngIf="addNewEndpointForm.get('support_email')?.touched && addNewEndpointForm.get('support_email')?.invalid">Email is invalid</convoy-input-error>
						</convoy-input-field>

						<convoy-input-field className="mb-0">
							<label for="slack-url" convoy-label tooltip="We use this to send notifications to your slack channel when a failure happens">Slack webhook url</label>
							<input id="slack-url" convoy-input autocomplete="slack-url" formControlName="slack_webhook_url" placeholder="Enter slack webhook URL" />
							<convoy-input-error *ngIf="addNewEndpointForm.get('slack_webhook_url')?.touched && addNewEndpointForm.get('slack_webhook_url')?.invalid">URL is invalid</convoy-input-error>
						</convoy-input-field>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="showConfig('auth')">
				<div class="border-l-2 border-new.primary-25 pl-16px mb-40px">
					<div class="flex justify-between items-center mb-16px">
						<p class="flex items-center text-12 font-medium text-neutral-11">
							Endpoint Authentication
							<convoy-tooltip size="sm" position="top-right" class="ml-4px">You can set your provided endpoint authentication is any is required</convoy-tooltip>
						</p>
						<button convoy-permission="Endpoints|MANAGE" convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="toggleConfigForm('auth')">
							<svg width="14" height="14" class="fill-transparent stroke-neutral-10">
								<use xlink:href="#delete-icon2"></use>
							</svg>
						</button>
					</div>

					<ng-container formGroupName="authentication">
						<div class="grid grid-cols-2 gap-24px" formGroupName="api_key">
							<convoy-input-field className="mb-0">
								<label for="header_name" convoy-label>API Key Name</label>
								<input id="header_name" convoy-input autocomplete="header_name" formControlName="header_name" placeholder="Name" />
								<convoy-input-error *ngIf="addNewEndpointForm.get('authentication.api_key.header_name')?.touched && addNewEndpointForm.get('authentication.api_key.header_name')?.invalid">Endpoint auth API key is required</convoy-input-error>
							</convoy-input-field>

							<convoy-input-field className="mb-0">
								<label for="header_value" convoy-label>API Key Value</label>
								<input id="header_value" convoy-input autocomplete="header_value" formControlName="header_value" placeholder="Value" />
								<convoy-input-error *ngIf="addNewEndpointForm.get('authentication.api_key.header_value')?.touched && addNewEndpointForm.get('authentication.api_key.header_value')?.invalid">Endpoint auth API key value is required</convoy-input-error>
							</convoy-input-field>
						</div>
					</ng-container>
				</div>
			</ng-container>

			<ng-container *ngIf="showConfig('signature')">
				<div class="border-l-2 border-new.primary-25 pl-16px mb-40px">
					<div class="flex justify-between items-center mb-16px">
						<p class="text-12 font-medium text-neutral-11 flex items-center">
							Signature Format
							<convoy-tooltip size="sm" position="top-right" class="ml-4px">This specifies your signature format for your project.</convoy-tooltip>
						</p>
						<button convoy-permission="Endpoints|MANAGE" convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="toggleConfigForm('signature')">
							<svg width="14" height="14" class="fill-transparent stroke-neutral-10">
								<use xlink:href="#delete-icon2"></use>
							</svg>
						</button>
					</div>
					<div class="grid grid-cols-2 gap-6 mb-50px">
						<convoy-radio formControlName="advanced_signatures" label="Simple" _name="signature" [value]="false" _id="simple"></convoy-radio>
						<convoy-radio formControlName="advanced_signatures" label="Advanced" _name="signature" [value]="true" _id="advanced"></convoy-radio>
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="showConfig('http_timeout')">
				<div class="border-l-2 border-new.primary-25 pl-16px mb-40px">
					<div class="flex justify-between items-center mb-16px">
						<p class="flex items-center text-12 font-medium text-neutral-11">
							Endpoint Timeout
							<convoy-tooltip size="sm" position="top-right" class="ml-4px">How many seconds should Convoy wait for a response from this endpoint before timing out?</convoy-tooltip>
						</p>
						<button convoy-permission="Endpoints|MANAGE" convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="toggleConfigForm('http_timeout')">
							<svg width="14" height="14" class="fill-transparent stroke-neutral-10">
								<use xlink:href="#delete-icon2"></use>
							</svg>
						</button>
					</div>
					<convoy-input-field>
						<label for="http_timeout" convoy-label>Timeout Value</label>
						<div class="relative">
							<input id="http_timeout" type="number" convoy-input autocomplete="http_timeout" formControlName="http_timeout" placeholder="e.g 60" />
							<div class="absolute top-[50%] right-14px text-16 text-neutral-a30 opacity-40 translate-y-[-50%]">sec</div>
						</div>
						<convoy-input-error *ngIf="addNewEndpointForm.get('http_timeout')?.touched && addNewEndpointForm.get('http_timeout')?.invalid">Timeout value must be a whole number</convoy-input-error>
					</convoy-input-field>
				</div>
			</ng-container>

			<div class="flex items-center gap-24px overflow-x-auto no-scrollbar" *ngIf="shouldShowBorder < configurations.length">
				<ng-container *ngFor="let config of configurations; let i = index">
					<ng-container *ngIf="!config.show">
						<convoy-config-button convoy-permission="Endpoints|MANAGE" *ngIf="i < 3 || privateService.getProjectDetails?.type === 'outgoing'" (onClick)="toggleConfigForm(config.uid)">{{ config.name }}</convoy-config-button>
					</ng-container>
				</ng-container>
			</div>
		</form>

		<div class="empty:hidden">
			<ng-content></ng-content>
		</div>

		<div *ngIf="savingEndpoint" convoy-form-loader [loading]="!endpointCreated"></div>
	</div>

	<div class="flex justify-end mt-40px mb-60px" [ngClass]="{ hidden: showAction === 'false' }">
		<button convoy-button *ngIf="!editMode" [disabled]="savingEndpoint || addNewEndpointForm.disabled" (click)="saveEndpoint()">
			{{ savingEndpoint ? 'Creating Endpoint..' : 'Create Endpoint' }}
		</button>
		<button convoy-button *ngIf="editMode" [disabled]="savingEndpoint || addNewEndpointForm.disabled" (click)="saveEndpoint()">
			{{ savingEndpoint ? 'Updating Endpoint..' : 'Update Endpoint' }}
		</button>
	</div>
</div>

<convoy-notification></convoy-notification>
