<div [class]="showAction === 'true' ? 'pt-40px' : 'pt-20px'">
	<convoy-card className="p-24px relative">
		<form [formGroup]="addNewEndpointForm">
			<convoy-input-field>
				<label for="name" convoy-label required="true">Endpoint Name</label>
				<input id="name" convoy-input autocomplete="name" formControlName="name" placeholder="e.g paystack-prod" />
				<convoy-input-error *ngIf="addNewEndpointForm.get('name')?.touched && addNewEndpointForm.get('name')?.invalid">Please provide a name</convoy-input-error>
			</convoy-input-field>

			<convoy-input-field>
				<label for="url" convoy-label required="true">Enter URL</label>
				<input type="url" id="url" convoy-input autocomplete="url" formControlName="url" placeholder="Enter URL" />
				<convoy-input-error *ngIf="addNewEndpointForm.get('url')?.touched && addNewEndpointForm.get('url')?.invalid">Endpoint URL is required</convoy-input-error>
			</convoy-input-field>

			<ng-container *ngIf="showConfig('alert-config')">
				<div class="flex justify-between items-center mb-16px">
					<p class="text-14 font-medium text-grey-60 flex items-center">Alert Configuration</p>
					<button convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="toggleConfigForm('alert-config')">
						<img src="assets/img/svg/delete-icon.svg" alt="plus icon" />
					</button>
				</div>
				<div class="grid grid-cols-2 gap-24px">
					<convoy-input-field>
						<label for="support-email" convoy-label tooltip="We use this to send an email notifcation for when a failure happens">Support Email</label>
						<input id="support-email" convoy-input autocomplete="suport-email" formControlName="support_email" placeholder="Enter support email" />
					</convoy-input-field>

					<convoy-input-field>
						<label for="slack-url" convoy-label tooltip="We use this to send notifications to your slack channel when a failure happens">Slack webhook url</label>
						<input id="slack-url" convoy-input autocomplete="slack-url" formControlName="slack_webhook_url" placeholder="Enter slack webhook URL" />
					</convoy-input-field>
				</div>
			</ng-container>

			<ng-container *ngIf="showConfig('auth')">
				<div class="flex justify-between items-center mb-16px">
					<p class="flex items-center text-14 font-medium text-grey-60">
						Endpoint Authentication
						<convoy-tooltip size="sm" position="right" class="ml-4px">You can set your provided endpoint authentication is any is required</convoy-tooltip>
					</p>
					<button convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="toggleConfigForm('auth')">
						<img src="assets/img/svg/delete-icon.svg" alt="plus icon" />
					</button>
				</div>
				<ng-container formGroupName="authentication">
					<div class="grid grid-cols-2 gap-24px" formGroupName="api_key">
						<convoy-input-field>
							<label for="header_name" convoy-label>API Key Name</label>
							<input id="header_name" convoy-input autocomplete="header_name" formControlName="header_name" placeholder="Name" />
						</convoy-input-field>
						<convoy-input-field>
							<label for="header_value" convoy-label>API Key Value</label>
							<input id="header_value" convoy-input autocomplete="header_value" formControlName="header_value" placeholder="Value" />
						</convoy-input-field>
					</div>
				</ng-container>
			</ng-container>

			<ng-container *ngIf="showConfig('signature')">
				<div class="flex justify-between items-center mb-16px">
					<p class="text-14 font-medium text-grey-60 flex items-center">
						Signature Details
						<convoy-tooltip size="sm" position="right" class="ml-4px">This specifies your signature format for your project.</convoy-tooltip>
					</p>
					<button convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="toggleConfigForm('signature')">
						<img src="assets/img/svg/delete-icon.svg" alt="plus icon" />
					</button>
				</div>
				<div class="grid grid-cols-2 gap-6 mb-50px">
					<convoy-radio formControlName="advanced_signatures" label="Simple" _name="signature" [value]="false" _id="simple"></convoy-radio>
					<convoy-radio formControlName="advanced_signatures" label="Advanced" _name="signature" [value]="true" _id="advanced"></convoy-radio>
				</div>
			</ng-container>

			<div class="flex items-center">
				<ng-container *ngFor="let config of configurations">
					<button *ngIf="!config.show" convoy-button size="sm" fill="outline" color="grey" texture="light" type="button" class="mr-24px" (click)="toggleConfigForm(config.uid)">
						<img [src]="'assets/img/svg/' + config.uid + '-icon.svg'" class="mr-10px" [alt]="config.uid" />
						{{ config.name }}
						<img src="assets/img/svg/plus-icon.svg" class="ml-24px" alt="plus icon" />
					</button>
				</ng-container>
			</div>
		</form>

		<div class="empty:hidden">
			<ng-content></ng-content>
		</div>
		<div *ngIf="savingEndpoint" convoy-form-loader></div>
	</convoy-card>

	<div class="flex justify-end mt-40px mb-60px" [ngClass]="{ hidden: showAction === 'false' }">
		<button convoy-button fill="outline" class="mr-24px" (click)="cancel()">Discard</button>
		<button convoy-button *ngIf="!editMode" [disabled]="savingEndpoint" (click)="saveEndpoint()">
			{{ savingEndpoint ? 'Creating Endpoint..' : 'Create Endpoint' }}
		</button>
		<button convoy-button *ngIf="editMode" [disabled]="savingEndpoint" (click)="saveEndpoint()">
			{{ savingEndpoint ? 'Updating Endpoint..' : 'Update Endpoint' }}
		</button>
	</div>
</div>
