<div class="text-12 font-light text-grey-100 flex items-center uppercase">
	<a routerLink="/projects" class="cursor-pointer text-primary-100">Projects</a>
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<button convoy-button fill="clear" class="!p-0 uppercase text-12" (click)="goBack()">Event Deliveries</button>
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="">Event Delivery</span>
</div>

<app-event-delivery-details></app-event-delivery-details>
