<div>
	<div class="flex justify-between items-center mb-24px">
		<h3 class="text-16 font-bold text-new.gray-600">Team</h3>
		<button convoy-permission="Team|MANAGE" convoy-button size="sm" class="" (click)="action = 'create'; teamsDialog.showModal()">
			<svg width="18" height="18" class="mr-2 fill-white-100">
				<use xlink:href="#plus-icon"></use>
			</svg>
			Member
		</button>
	</div>

	<div class="flex flex-row items-center mb-24px">
		<form class="border border-primary-400 h-36px px-14px py-0 max-w-[200px] w-full rounded-[10px] flex items-center bg-white-100">
			<img src="/assets/img/search-icon.svg" alt="search icon" class="mr-10px" />
			<input type="search" placeholder="Search team member" [(ngModel)]="searchString" (change)="searchTeam({ searchInput: $event })" [ngModelOptions]="{ standalone: true }" class="w-full text-grey-40 text-14 outline-none" />
			<button convoy-button fill="clear" *ngIf="searchString && searchString.length > 0" class="transition-all duration-200 !p-0" (click)="searchTeam({ searchInput: $event })">
				<img src="/assets/img/enter-icon.png" alt="enter icon" class="w-16px" />
			</button>
		</form>

		<div convoy-dropdown size="sm">
			<button dropdownTrigger convoy-button size="sm" fill="outline" color="grey" class="px-10px border border-primary-400 mx-16px min-w-[180px] whitespace-nowrap justify-between h-36px">
				<span class="text-grey-40 text-12 mr-4px">Filter By:</span>
				<span class="text-primary-100 text-12 capitalize">{{ selectedFilterOption }} Invites</span>
				<img src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" class="w-[16px] ml-8px" />
			</button>

			<ul dropdownOptions>
				<li class="px-20px" convoy-list-item convoy-dropdown-option *ngFor="let filterOption of filterOptions" [active]="selectedFilterOption == filterOption ? 'true' : 'false'">
					<button convoy-button fill="text" class="w-full text-12 text-black !justify-start capitalize" (click)="toggleFilter(filterOption); dropdownComponent.show = false">{{ filterOption }} Invites</button>
				</li>
			</ul>
		</div>
	</div>

	<ng-container *ngIf="(selectedFilterOption === 'active' && isFetchingTeamMembers) || (selectedFilterOption === 'pending' && isFetchingPendingInvites)">
		<div convoy-card>
			<convoy-table-loader [withDate]="false" [tableHead]="tableHead"></convoy-table-loader>
		</div>
	</ng-container>

	<ng-container *ngIf="selectedFilterOption === 'active' && !isFetchingTeamMembers && !noData">
		<div convoy-card>
			<div class="min-h-[70vh]">
				<table convoy-table>
					<thead convoy-table-head>
						<th convoy-table-head-cell [ngClass]="{ 'pl-20px': i === 0 }" *ngFor="let head of tableHead; let i = index">{{ head }}</th>
					</thead>
					<tbody>
						<tr convoy-table-row class="border border-primary-500" *ngFor="let team of teams?.content; let i = index" [id]="'team' + i">
							<td convoy-table-cell class="pl-20px">
								<convoy-badge texture="dark" [text]="team?.user_metadata?.first_name + ' ' + team?.user_metadata?.last_name"></convoy-badge>
							</td>
							<td convoy-table-cell>
								{{ team.role.type | role }}
							</td>
							<td convoy-table-cell>All projects</td>
							<td convoy-table-cell>
								<div convoy-dropdown size="md" position="left" *ngIf="team.user_id !== userDetails?.uid">
									<button dropdownTrigger convoy-button size="sm" fill="clear">
										<img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" />
									</button>

									<ul dropdownOptions>
										<li>
											<button convoy-permission="Team|MANAGE" convoy-dropdown-option convoy-button fill="clear" class="w-full !justify-start" (click)="showUpdateMemberModal(team)">Update</button>
										</li>
										<li>
											<button convoy-permission="Team|MANAGE" convoy-dropdown-option convoy-button fill="clear" color="danger" class="w-full !justify-start" (click)="deleteDialog.showModal(); selectedMember = team; showOverlay = false">Deactivate</button>
										</li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="flex items-center mt-16px">
			<!-- <button convoy-button fill="outline" size="sm" class="pl-4px pr-16px py-4px border-primary-300" routerLink="./" [queryParams]="{ page: teams.pagination.prev }" [disabled]="teams.pagination.prev === 0" (click)="fetchTeamMembers({ page: teams.pagination.prev })">
				<svg width="24" height="24" class="mr-8px fill-primary-100">
					<use xlink:href="#arrow-left-icon"></use>
				</svg>
				Previous
			</button>
			<button
				convoy-button
				fill="outline"
				size="sm"
				class="pr-4px pl-16px py-4px border-primary-300 ml-16px"
				routerLink="./"
				[queryParams]="{ page: teams.pagination.next }"
				[disabled]="teams.pagination.next === 0"
				(click)="fetchTeamMembers({ page: teams.pagination.next })"
			>
				Next
				<svg width="24" height="24" class="ml-8px fill-primary-100">
					<use xlink:href="#arrow-right-icon"></use>
				</svg>
			</button> -->
		</div>
	</ng-container>

	<!-- Invites -->
	<ng-container *ngIf="selectedFilterOption === 'pending' && !isFetchingPendingInvites && !noInvitesData">
		<div convoy-card class="min-h-[70vh]">
			<table convoy-table>
				<thead convoy-table-head>
					<th convoy-table-head-cell [ngClass]="{ 'pl-20px': i === 0 }" *ngFor="let head of tableHead; let i = index">{{ selectedFilterOption === 'pending' && head === 'Name' ? 'Email' : head }}</th>
				</thead>
				<tbody>
					<tr convoy-table-row *ngFor="let team of pendingInvites?.content; let i = index" [id]="'pendingInvite' + i">
						<td convoy-table-cell class="pl-20px">
							{{ team.invitee_email }}
						</td>
						<td convoy-table-cell>{{ team.role.type | role }}</td>
						<td convoy-table-cell>All projects</td>
						<td convoy-table-cell>
							<div convoy-dropdown>
								<button dropdownTrigger convoy-button size="sm" fill="clear">
									<img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" />
								</button>

								<ul dropdownOptions>
									<li class="border-b border-b-grey-10">
										<button convoy-dropdown-option convoy-button fill="clear" color="grey" class="w-full" (click)="resendInvite(team.uid)">Resend Invite</button>
									</li>
									<li>
										<button convoy-dropdown-option convoy-button fill="clear" color="danger" class="w-full" (click)="deleteDialog.showModal(); showCancelInviteModal = true; selectedMember = team; showPendingInvitesDropdown = false">Cancel Invite</button>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</ng-container>

	<div convoy-card class="py-100px" *ngIf="((selectedFilterOption === 'active' && noData) || (selectedFilterOption === 'pending' && noInvitesData)) && (!isFetchingTeamMembers || !isFetchingPendingInvites)">
		<div
			convoy-empty-state
			(onAction)="action = 'create'; teamsDialog.showModal()"
			imgSrc="/assets/img/teams-empty-state.png"
			[buttonText]="!searchString ? 'Add team member' : ''"
			[heading]="searchString ? 'You have no one with the name ' + searchString + ' on your team' : selectedFilterOption === 'active' ? 'You have no one on your team yet' : 'You have no pending invites'"
			[description]="!searchString ? 'You can invite team members to join your organization and assign them roles to projects' : ''"
		></div>
	</div>
</div>

<dialog #teamsDialog convoy-dialog>
	<div convoy-dialog-header (closeDialog)="closeInviteModal()">
		<h2 class="font-semibold text-14 capitalize">{{ action === 'update' ? 'Update' : 'Add' }} Team Member</h2>
	</div>

	<div class="h-full w-full">
		<form class="p-20px" [formGroup]="inviteUserForm" (ngSubmit)="inviteUser()" *ngIf="action === 'create'; else updateMemberForm">
			<convoy-input-field>
				<label for="email" convoy-label required="true">Email</label>
				<input type="email" id="email" convoy-input autocomplete="email" formControlName="invitee_email" placeholder="Enter member email" />
				<convoy-input-error *ngIf="inviteUserForm.get('invitee_email')?.touched && inviteUserForm.get('invitee_email')?.invalid">Please enter a valid email</convoy-input-error>
			</convoy-input-field>

			<ng-container formGroupName="role">
				<convoy-select *convoy-enterprise className="mb-24px" label="Role" name="role" formControlName="type" [options]="roles" errorMessage="Select user role" [required]="true" (selectedOption)="inviteUserForm.get('role')?.patchValue({ type: $event })"></convoy-select>
			</ng-container>

			<ng-container *ngIf="inviteLink">
				<p class="text-grey-40 text-12 mt-20px">Invite Link</p>
				<div class="flex items-center justify-between w-full h-50px bg-[#F7F9FC] border border-grey-10 rounded-[6px] px-16px mb-12px last-of-type:mb-8px">
					<span class="text-14 font-normal whitespace-nowrap w-380px overflow-hidden text-ellipsis">{{ inviteLink || '' }}</span>
					<convoy-copy-button [text]="inviteLink || ''" notificationText="Invite link has been copied to clipboard!"></convoy-copy-button>
				</div>
			</ng-container>

			<div class="flex justify-end pt-24px pb-40px">
				<button convoy-button class="ml-16px" [disabled]="invitingUser || inviteUserForm.disabled || inviteLink">
					{{ invitingUser ? 'Inviting User...' : 'Send Invite' }}
				</button>
				<button convoy-button class="ml-16px text-14" type="button" fill="outline" *ngIf="inviteLink" (click)="closeInviteModal(); toggleFilter('pending')">Done</button>
			</div>
		</form>

		<ng-template #updateMemberForm>
			<form class="p-20px" [formGroup]="memberForm" (ngSubmit)="updateMember()">
				<convoy-input-field formGroupName="user_metadata">
					<label for="email" convoy-label required="true">Email</label>
					<input type="email" id="email" convoy-input autocomplete="email" formControlName="email" placeholder="Enter member email" />
					<convoy-input-error *ngIf="memberForm.get('email')?.touched && memberForm.get('email')?.invalid">Please enter a valid email</convoy-input-error>
				</convoy-input-field>

				<ng-container formGroupName="role">
					<convoy-select *convoy-enterprise className="mb-24px" label="Role" name="role" formControlName="type" [options]="roles" errorMessage="Select user role" [required]="true" (selectedOption)="memberForm.get('role')?.patchValue({ type: $event })"></convoy-select>
				</ng-container>

				<div class="flex justify-end pt-24px pb-40px">
					<button convoy-button class="ml-16px" [disabled]="updatingMember || memberForm.disabled">
						{{ updatingMember ? 'Updating...' : 'Update' }}
					</button>
				</div>
			</form>
		</ng-template>
	</div>
</dialog>

<dialog #deleteDialog convoy-dialog position="center" size="sm">
	<app-delete-modal
		[isLoading]="deactivatingUser || cancelingInvite"
		[deleteText]="showCancelInviteModal ? 'cancel this invite' : 'deactivate “' + selectedMember?.user_metadata?.first_name + ' ' + selectedMember?.user_metadata?.last_name + '”'"
		[deleteButtonText]="showCancelInviteModal ? 'Cancel Invite' : 'Deactivate'"
		(closeModal)="deleteDialog.close()"
		(deleteData)="showCancelInviteModal ? cancelInvite() : deactivateMember()"
	></app-delete-modal>
</dialog>
