<div class="text-12 font-medium flex items-center uppercase">
	<a routerLink="/projects" class="font-medium cursor-pointer">Projects</a>
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="text-primary-100 font-medium">Events Log</span>
</div>

<!-- filters  -->
<div class="flex py-24px items-center justify-between">
	<div class="flex">
		<form class="border border-primary-400 h-36px px-14px py-0 max-w-[350px] w-full rounded-[10px] flex items-center bg-transparent" [ngClass]="{ 'text-primary-100 !bg-primary-500': eventsSearchString != undefined && eventsSearchString != '' }">
			<img src="/assets/img/search-icon.svg" alt="search icon" class="mr-10px" />
			<input
				type="search"
				placeholder="Search events"
				[(ngModel)]="eventsSearchString"
				(change)="getEvents({ addToURL: true })"
				[ngModelOptions]="{ standalone: true }"
				class="w-full text-grey-40 text-14 outline-none bg-transparent"
				[ngClass]="{ 'bg-primary-500': eventsSearchString != undefined && eventsSearchString != '' }"
			/>
			<button>
				<img src="/assets/img/enter-icon.png" alt="enter icon" class="w-16px" />
			</button>
		</form>

		<convoy-date-picker class="ml-14px" (selectedDateRange)="getSelectedDateRange($event)" [dateRangeValue]="eventsDateFilterFromURL" (clearDates)="clearEventFilters('eventsDate')" #datePicker></convoy-date-picker>

		<div convoy-dropdown size="md" position="left" #sourcesDropdown [hidden]="portalToken">
			<button dropdownTrigger convoy-button size="sm" fill="outline" class="px-10px !border-primary-400 ml-16px min-w-[130px] whitespace-nowrap justify-between h-36px" [ngClass]="{ 'text-primary-100 !bg-primary-500': !!eventSource }">
				<img src="/assets/img/apps-icon-grey.svg" class="w-14px mr-10px" alt="apps filter icon" />
				<span class="text-grey-40 w-full">All Sources</span>
				<img class="ml-10px mr-0px w-14px" src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
			</button>

			<div dropdownOptions class="!max-h-[324px]">
				<ul class="min-h-[100px] py-10px">
					<li class="!py-0 pr-20px relative" *ngFor="let source of filterSources" convoy-list-item>
						<label class="py-10px pl-20px text-12 block w-full" [for]="source.uid">{{ source.name }}</label>
						<input
							type="checkbox"
							class="peer w-20px h-18px border border-new.primary-50 rounded-4px checked:border-new.primary-400 checked:bg-new.primary-25 focus:bottom-2 focus:border-new.primary-400 checked:bg bg-white-100"
							name="source"
							[value]="source.uid"
							[id]="source.uid"
							[checked]="source.uid === eventSource"
							(change)="eventSource = source.uid"
						/>
						<img src="assets/img/check-icon-primary.svg" class="w-12px hidden peer-checked:block absolute top-[50%] translate-y-[-50%] right-[23px]" alt="check icon" />
					</li>
				</ul>

				<div *ngIf="!!eventSource" class="p-10px pb-20px flex items-center justify-end">
					<button convoy-dropdown-option convoy-button size="sm" fill="outline" color="danger" (click)="clearEventFilters('eventsSource')">Clear</button>
					<button convoy-dropdown-option convoy-button size="sm" class="ml-14px" (click)="eventSource ? updateSourceFilter() : false">Apply</button>
				</div>
			</div>
		</div>

		<button
			convoy-button
			size="sm"
			fill="outline"
			class="ml-14px px-10px border-primary-400 h-36px whitespace-nowrap"
			[disabled]="
				(eventsDateFilterFromURL.startDate == '' || eventsDateFilterFromURL.endDate == '') &&
				(eventEndpoint?.length == 0 || eventEndpoint == undefined) &&
				eventsTimeFilterData.startTime == 'T00:00:00' &&
				eventsTimeFilterData.endTime == 'T23:59:59' &&
				(eventSource?.length == 0 || eventSource == undefined)
			"
			(click)="fetchRetryCount(); showBatchRetryModal = true"
		>
			Batch Replay
		</button>
	</div>

	<button
		convoy-button
		fill="outline"
		size="sm"
		(click)="clearEventFilters(); selectedEventsDateOption = ''"
		*ngIf="
			!(
				(eventsDateFilterFromURL.startDate == '' || eventsDateFilterFromURL.endDate == '') &&
				(eventEndpoint?.length == 0 || eventEndpoint == undefined) &&
				(eventsSearchString?.length == 0 || eventsSearchString == undefined) &&
				eventsTimeFilterData.startTime == 'T00:00:00' &&
				eventsTimeFilterData.endTime == 'T23:59:59' &&
				(eventSource?.length == 0 || eventSource == undefined)
			)
		"
	>
		Clear Filters
	</button>
</div>

<!-- empty state  -->
<div class="py-200px" convoy-card *ngIf="!isloadingEvents && (!displayedEvents || displayedEvents?.length === 0); else eventsList">
	<convoy-empty-state imgSrc="/assets/img/events-empty-state-image.svg" class="min-h-[70vh]" description="You currently do not have any event logs"></convoy-empty-state>
</div>

<!-- list of events  -->
<ng-template #eventsList>
	<div convoy-card class="flex">
		<div class="min-w-[605px] w-full h-full overflow-hidden relative">
			<convoy-table-loader id="events_loader_loader" [tableHead]="eventLogsTableHead" *ngIf="isloadingEvents"></convoy-table-loader>

			<div class="min-h-[70vh] overflow-y-auto overflow-x-auto w-full min-w-[485px]" id="events-table-container" *ngIf="!isloadingEvents && displayedEvents && displayedEvents.length > 0">
				<table convoy-table>
					<thead convoy-table-head>
						<th convoy-table-head-cell [class]="i === 0 ? 'pl-20px' : ''" *ngFor="let head of eventLogsTableHead; let i = index">{{ head }}</th>
					</thead>
					<tbody>
						<ng-container *ngFor="let eventGroup of displayedEvents; let i = index">
							<tr convoy-table-row [forDate]="true">
								<td convoy-table-cell [forDate]="true">{{ eventGroup.date }}</td>
								<td convoy-table-cell [forDate]="true"></td>
								<td convoy-table-cell [forDate]="true"></td>
							</tr>
							<tr convoy-table-row class="group" *ngFor="let event of eventGroup.content; let index = index" (click)="eventsDetailsItem = event; getEventDeliveriesForSidebar(event.uid)" [active]="event.uid === eventsDetailsItem?.uid">
								<td convoy-table-cell class="w-130px pl-16px pr-30px relative">
									<convoy-tag color="gray" className="max-w-[140px] overflow-hidden overflow-ellipsis mr-8px">{{ event.uid }}</convoy-tag>
									<convoy-copy-button notificationText="Event ID has been copied to clipboard" className="absolute translate-x-0 translate-y-[-50%] top-[50] hidden group-hover:block" [text]="event.uid"></convoy-copy-button>
								</td>

								<td convoy-table-cell>
									<span class="max-w-[200px]">
										<span (click)="viewSource(event?.source_metadata?.uid)" [ngClass]="{ 'underline text-primary-100': !portalToken && event.source_metadata.name }" class="overflow-hidden overflow-ellipsis">
											{{ event.source_metadata.name || 'Rest API' }}
										</span>
									</span>
								</td>

								<td convoy-table-cell class="">{{ event.created_at | date: 'mediumTime' }}</td>

								<td convoy-table-cell>
									<button convoy-button fill="clear" size="sm" class="pr-0" (click)="viewEventDeliveries(event.uid)">
										Deliveries
										<img src="assets/img/angle-arrow-right-primary.svg" class="ml-16px h-16px" alt="arrow right" />
									</button>
								</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div>

			<convoy-empty-state type="table" imgSrc="/assets/img/empty-state.svg" className="min-h-[70vh]" description="No event to show here" *ngIf="!isloadingEvents && (!displayedEvents || displayedEvents?.length === 0)"></convoy-empty-state>
		</div>

		<div class="max-w-[450px] w-full max-h-[calc(100vh - 950px)] min-h-[707px] overflow-auto relative border-l border-grey-10">
			<div class="p-16px">
				<ng-container *ngIf="isloadingEvents">
					<div class="bg-grey-10 rounded-8px animate-pulse h-150px w-full mr-40px mb-20px"></div>
					<div class="bg-grey-10 rounded-8px animate-pulse h-150px w-full mr-40px"></div>
				</ng-container>

				<ng-container *ngIf="displayedEvents && displayedEvents.length > 0">
					<div class="flex items-center justify-between mb-16px">
						<h3 class="text-16 font-bold">Details</h3>
						<button convoy-button size="xs" texture="light" (click)="retryEvent({ eventId: eventsDetailsItem.uid })">
							<img src="assets/img/refresh-icon-primary.svg" alt="refresh icon" class="mr-10px" />
							Replay
						</button>
					</div>
					<prism language="json" [code]="generalService.getCodeSnippetString('event_data', eventsDetailsItem?.data || eventsDetailsItem?.metadata?.data)" title="Event"></prism>
					<div class="mb-20px"></div>
					<prism language="json" [code]="generalService.getCodeSnippetString('req_header', eventsDetailsItem?.headers)" title="Header"></prism>
				</ng-container>

				<h3 class="text-16 font-bold mb-16px mt-26px" *ngIf="!(!isloadingEvents && (!displayedEvents || displayedEvents?.length === 0))">Deliveries Overview</h3>

				<div *ngIf="isLoadingSidebarDeliveries">
					<div class="flex mb-20px">
						<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[60px] mr-40px"></div>
						<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[200px]"></div>
					</div>
					<div class="flex mb-20px">
						<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[60px] mr-40px"></div>
						<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[200px]"></div>
					</div>
					<div class="flex mb-20px">
						<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[60px] mr-40px"></div>
						<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[200px]"></div>
					</div>
				</div>

				<div class="mt-30px italic w-full text-grey-20" *ngIf="!isLoadingSidebarDeliveries && sidebarEventDeliveries.length == 0 && displayedEvents && displayedEvents?.length">...no event deliveries for this event</div>

				<ul *ngIf="sidebarEventDeliveries.length > 0" class="-ml-10px">
					<li
						convoy-list-item
						*ngFor="let delivery of sidebarEventDeliveries"
						[title]="delivery?.endpoint_metadata?.target_url || ''"
						[routerLink]="['../events/event-deliveries/' + delivery.uid]"
						[relativeTo]="route"
						class="cursor-pointer flex !justify-start mb-10px hover:bg-primary-500 p-10px rounded-4px transition-colors"
					>
						<div class="flex items-center">
							<div convoy-tag [color]="delivery.status | statuscolor" className="mr-20px">{{ delivery.status }}</div>
							<svg width="16" height="14" class="mr-4px" *ngIf="delivery.device_id">
								<use xlink:href="#cli-icon"></use>
							</svg>
						</div>
						<div class="text-14 whitespace-nowrap overflow-ellipsis max-w-[300px] overflow-hidden text-grey-40 ml-10px">
							{{ delivery?.device_id ? delivery?.device_metadata?.host_name : delivery?.endpoint_metadata?.target_url }}
						</div>
					</li>
				</ul>

				<convoy-empty-state type="table" imgSrc="/assets/img/empty-state.svg" className="min-h-[70vh]" description="No event details to show here" *ngIf="!isloadingEvents && (!displayedEvents || displayedEvents?.length === 0)"></convoy-empty-state>
			</div>
		</div>
	</div>
</ng-template>

<convoy-pagination *ngIf="events?.pagination?.has_next_page || events?.pagination?.has_prev_page" [pagination]="events?.pagination" (paginate)="paginateEvents($event)"></convoy-pagination>

<!-- bacth retry modal -->
<div convoy-modal position="center" size="sm" *ngIf="showBatchRetryModal">
	<div class="text-center py-30px">
		<img src="/assets/img/filter.gif" alt="filter icon" class="w-50px m-auto mb-16px" />
		<div class="text-center text-16 font-medium text-grey-60 mb-8px">The filters applied will affect</div>
		<div class="text-center text-16 font-semibold mb-32px">{{ batchRetryCount || 0 }} event{{ batchRetryCount > 1 ? 's' : '' }}</div>
		<button convoy-button [disabled]="isRetrying || batchRetryCount == 0" class="m-auto" (click)="batchRetryEvent()">{{ isRetrying ? 'Retrying Events...' : 'Yes, Apply' }}</button>
		<button convoy-button fill="clear" class="font-semibold m-auto" (click)="showBatchRetryModal = false">No, Cancel</button>
	</div>
</div>
