<div class="text-12 font-medium flex items-center uppercase">
	<a routerLink="/projects" class="font-medium cursor-pointer">Projects</a>
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="text-primary-100 font-medium">Events Log</span>
</div>

<div class="flex py-24px items-center justify-between">
	<div class="flex">
		<form class="border border-primary-400 h-36px px-14px py-0 max-w-[350px] w-full rounded-[10px] flex items-center bg-transparent" [ngClass]="{ 'text-primary-100 !bg-primary-500': eventsSearchString != undefined && eventsSearchString != '' }">
			<img src="/assets/img/search-icon.svg" alt="search icon" class="mr-10px" />
			<input
				type="search"
				placeholder="Search events"
				[(ngModel)]="eventsSearchString"
				(change)="getEvents({ addToURL: true, page: 1 })"
				[ngModelOptions]="{ standalone: true }"
				class="w-full text-grey-40 text-14 outline-none bg-transparent"
				[ngClass]="{ 'bg-primary-500': eventsSearchString != undefined && eventsSearchString != '' }"
			/>
			<button>
				<img src="/assets/img/enter-icon.png" alt="enter icon" class="w-16px" />
			</button>
		</form>

		<convoy-date-picker class="ml-14px" (selectedDateRange)="getSelectedDateRange($event)" [dateRangeValue]="eventsDateFilterFromURL" (clearDates)="clearEventFilters('eventsDate')" #datePicker></convoy-date-picker>

		<convoy-time-picker class="ml-14px" (applyFilter)="eventsTimeFilterData = $event; getEvents({ addToURL: true })" #timeFilter></convoy-time-picker>

		<div convoy-dropdown size="lg" position="left" [hidden]="portalToken || this.privateService.activeProjectDetails?.type === 'incoming'">
			<button dropdownTrigger convoy-button size="sm" fill="outline" class="px-10px !border-primary-400 ml-16px min-w-[140px] whitespace-nowrap justify-between h-36px" [ngClass]="{ 'text-primary-100 !bg-primary-500': !!eventEndpoint }">
				<img src="/assets/img/apps-icon-grey.svg" class="w-14px mr-10px" alt="apps filter icon" />
				<span class="text-grey-40 w-full">All Endpoints</span>
				<img class="ml-10px mr-0px w-14px" src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
			</button>

			<ng-container dropdownOptions>
				<div class="m-10px border border-primary-400 h-36px px-14px rounded-[10px] flex items-center bg-white-100">
					<img src="/assets/img/search-icon.svg" alt="search icon" class="mr-10px w-14px" />
					<input type="search" placeholder="Search endpoints here" #eventsEndpointFilter class="w-full outline-none text-12" />
				</div>

				<ul class="min-h-[100px] px-10px pb-10px">
					<li class="py-8px flex items-center justify-between border-b border-grey-10" *ngFor="let endpoint of eventsEndpointFilter$ | async" convoy-dropdown-option>
						<label class="text-12 block w-full" [for]="endpoint.uid">{{ endpoint.title }}</label>
						<input type="checkbox" name="endpoint" [value]="endpoint.uid" [id]="endpoint.uid" [checked]="endpoint.uid === eventEndpoint" (change)="updateEndpointFilter(endpoint.uid, $event)" />
					</li>
				</ul>

				<div *ngIf="!!eventEndpoint" class="p-10px pb-20px flex justify-end">
					<button convoy-dropdown-option convoy-button size="sm" fill="outline" color="danger" (click)="clearEventFilters('eventsEndpoint')">Clear</button>
				</div>
			</ng-container>
		</div>

		<div convoy-dropdown size="lg" position="left" #sourcesDropdown [hidden]="portalToken || this.privateService.activeProjectDetails?.type === 'outgoing'">
			<button dropdownTrigger convoy-button size="sm" fill="outline" class="px-10px !border-primary-400 ml-16px min-w-[130px] whitespace-nowrap justify-between h-36px" [ngClass]="{ 'text-primary-100 !bg-primary-500': !!eventSource }">
				<img src="/assets/img/apps-icon-grey.svg" class="w-14px mr-10px" alt="apps filter icon" />
				<span class="text-grey-40 w-full">All Sources</span>
				<img class="ml-10px mr-0px w-14px" src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
			</button>

			<ng-container dropdownOptions>
				<ul class="min-h-[100px] px-10px pb-10px">
					<li class="py-8px flex items-center justify-between border-b border-grey-10" *ngFor="let source of filterSources" convoy-dropdown-option>
						<label class="text-12 block w-full" [for]="source.uid">{{ source.name }}</label>
						<input type="checkbox" name="source" [value]="source.uid" [id]="source.uid" [checked]="source.uid === eventSource" (change)="updateSourceFilter(source.uid, $event)" />
					</li>
				</ul>

				<div *ngIf="!!eventSource" class="p-10px pb-20px">
					<button convoy-dropdown-option convoy-button size="sm" (click)="clearEventFilters('eventsSource')">Clear</button>
				</div>
			</ng-container>
		</div>

		<button
			convoy-button
			size="sm"
			fill="outline"
			class="ml-14px px-10px border-primary-400 h-36px whitespace-nowrap"
			[disabled]="
				(eventsDateFilterFromURL.startDate == '' || eventsDateFilterFromURL.endDate == '') &&
				(eventEndpoint?.length == 0 || eventEndpoint == undefined) &&
				eventsTimeFilterData.startTime == 'T00:00:00' &&
				eventsTimeFilterData.endTime == 'T23:59:59' &&
				(eventSource?.length == 0 || eventSource == undefined)
			"
			(click)="fetchRetryCount(); showBatchRetryModal = true"
		>
			Batch Retry
		</button>
	</div>

	<button
		convoy-button
		fill="outline"
		size="sm"
		(click)="clearEventFilters(); selectedEventsDateOption = ''"
		*ngIf="
			!(
				(eventsDateFilterFromURL.startDate == '' || eventsDateFilterFromURL.endDate == '') &&
				(eventEndpoint?.length == 0 || eventEndpoint == undefined) &&
				(eventsSearchString?.length == 0 || eventsSearchString == undefined) &&
				eventsTimeFilterData.startTime == 'T00:00:00' &&
				eventsTimeFilterData.endTime == 'T23:59:59' &&
				(eventSource?.length == 0 || eventSource == undefined)
			)
		"
	>
		Clear Filters
	</button>
</div>

<convoy-card>
	<div class="flex">
		<div class="min-w-[605px] w-full h-full overflow-hidden relative">
			<convoy-table-loader id="events_loader_loader" [tableHead]="eventLogsTableHead" *ngIf="isloadingEvents"></convoy-table-loader>

			<div class="min-h-[70vh] overflow-y-auto overflow-x-auto w-full min-w-[485px]" id="events-table-container" *ngIf="!isloadingEvents && displayedEvents && displayedEvents.length > 0">
				<table convoy-table>
					<thead convoy-table-head>
						<th convoy-table-head-cell [class]="i === 0 ? 'pl-20px' : ''" *ngFor="let head of eventLogsTableHead; let i = index">{{ head }}</th>
					</thead>
					<tbody>
						<ng-container *ngFor="let eventGroup of displayedEvents; let i = index">
							<tr convoy-table-row [forDate]="true">
								<td convoy-table-cell [forDate]="true">{{ eventGroup.date }}</td>
								<td convoy-table-cell [forDate]="true"></td>
								<td convoy-table-cell [forDate]="true"></td>
								<td convoy-table-cell [forDate]="true"></td>
							</tr>
							<tr convoy-table-row *ngFor="let event of eventGroup.content; let index = index" (click)="eventsDetailsItem = event; getEventDeliveriesForSidebar(event.uid)" [active]="event.uid === eventsDetailsItem?.uid">
								<td convoy-table-cell class="pl-16px">
									<convoy-tag type="grey" className="mr-8px">{{ event.event_type }}</convoy-tag>
								</td>
								<td convoy-table-cell *ngIf="event.endpoint_metadata && event.endpoint_metadata[0]?.title">
									<span (click)="viewEndpoint(event.endpoint_metadata[0].uid || '')" [ngClass]="{ underline: !portalToken }" class="max-w-[150px] overflow-hidden overflow-ellipsis text-primary-100">
										{{ event.endpoint_metadata[0].title }}
									</span>
								</td>
								<td convoy-table-cell>
									<span (click)="viewSource(event?.source_metadata?.uid || '')" [ngClass]="{ underline: !portalToken }" class="max-w-[150px] overflow-hidden overflow-ellipsis text-primary-100">{{ event.source_metadata?.name || 'API' }}</span>
								</td>
								<td convoy-table-cell>{{ event.created_at | date: 'mediumTime' }}</td>

								<td convoy-table-cell>
									<button convoy-button fill="clear" size="sm" (click)="viewEventDeliveries(event.uid)">
										Deliveries
										<img src="assets/img/angle-arrow-right-primary.svg" class="ml-16px h-16px" alt="arrow right" />
									</button>
								</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
			</div>

			<convoy-empty-state type="table" imgSrc="/assets/img/empty-state.svg" className="min-h-[70vh]" description="No event to show here" *ngIf="!isloadingEvents && (!displayedEvents || displayedEvents?.length === 0)"></convoy-empty-state>
		</div>

		<div class="max-w-[450px] w-full max-h-[calc(100vh - 950px)] min-h-[707px] overflow-auto relative border-l border-grey-10">
			<div class="p-16px">
				<convoy-loader id="details_section_loader" *ngIf="isloadingEvents"></convoy-loader>

				<ng-container *ngIf="!isloadingEvents && displayedEvents && displayedEvents.length > 0">
					<div class="flex items-center justify-between mb-16px">
						<h3 class="text-16 font-bold">Details</h3>
						<button convoy-button size="xs" texture="light" (click)="retryEvent({ eventId: eventsDetailsItem.uid })">
							<img src="assets/img/refresh-icon-primary.svg" alt="refresh icon" class="mr-10px" />
							Retry
						</button>
					</div>
					<prism language="json" [code]="getCodeSnippetString('res_data')" title="Event"></prism>
					<div class="mb-20px"></div>
					<prism language="json" [code]="getCodeSnippetString('header')" title="Header"></prism>

					<h3 class="text-16 font-bold mb-16px mt-26px">Deliveries Overview</h3>

					<div *ngIf="isLoadingSidebarDeliveries">
						<div class="flex mb-20px">
							<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[60px] mr-40px"></div>
							<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[200px]"></div>
						</div>
						<div class="flex mb-20px">
							<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[60px] mr-40px"></div>
							<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[200px]"></div>
						</div>
						<div class="flex mb-20px">
							<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[60px] mr-40px"></div>
							<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[200px]"></div>
						</div>
					</div>

					<div class="mt-30px italic w-full text-grey-20" *ngIf="!isLoadingSidebarDeliveries && sidebarEventDeliveries.length == 0">...no event deliveries for this event</div>

					<ul *ngIf="sidebarEventDeliveries && sidebarEventDeliveries.length > 0" class="-ml-10px">
						<li
							convoy-list-item
							*ngFor="let delivery of sidebarEventDeliveries"
							[title]="delivery?.endpoint_metadata?.target_url || ''"
							[routerLink]="['../events/event-deliveries/' + delivery.uid]"
							[relativeTo]="route"
							class="cursor-pointer flex !justify-start mb-10px hover:bg-primary-500 p-10px rounded-4px transition-colors"
						>
							<div class="flex items-center">
								<svg width="16" height="14" class="mr-6px" *ngIf="delivery.device_id">
									<use xlink:href="#cli-icon"></use>
								</svg>
								<convoy-tag [type]="delivery.status | statuscolor" className="mr-8px">{{ delivery.status }}</convoy-tag>
							</div>
							<div class="text-14 ml-16px whitespace-nowrap overflow-ellipsis max-w-[300px] overflow-hidden text-grey-40">
								{{ delivery?.device_id ? delivery?.cli_metadata?.host_name : delivery?.endpoint_metadata?.target_url }}
							</div>
						</li>
					</ul>
				</ng-container>

				<convoy-empty-state type="table" imgSrc="/assets/img/empty-state.svg" className="min-h-[70vh]" description="No event details to show here" *ngIf="!isloadingEvents && (!displayedEvents || displayedEvents?.length === 0)"></convoy-empty-state>
			</div>
		</div>
	</div>
</convoy-card>

<div class="flex items-center mt-16px mb-24px">
	<button convoy-button fill="outline" size="sm" class="pl-4px pr-16px py-4px border-primary-300" (click)="getEvents({ page: events?.pagination?.prev })" routerLink="./" [queryParams]="{ page: events?.pagination?.prev }" [disabled]="!events || events.pagination.prev === 0">
		<svg width="24" height="24" class="mr-8px fill-primary-100">
			<use xlink:href="#arrow-left-icon"></use>
		</svg>
		Previous
	</button>

	<button
		convoy-button
		fill="outline"
		size="sm"
		class="pr-4px pl-16px py-4px border-primary-300 ml-16px"
		routerLink="./"
		[queryParams]="{ page: events?.pagination?.next }"
		(click)="getEvents({ page: events?.pagination?.next })"
		[disabled]="!events || events.pagination.next === 0"
	>
		Next
		<svg width="24" height="24" class="ml-8px fill-primary-100">
			<use xlink:href="#arrow-right-icon"></use>
		</svg>
	</button>
</div>

<!-- bacth retry modal -->
<div convoy-modal position="center" size="sm" *ngIf="showBatchRetryModal">
	<div class="text-center py-30px" modalBody>
		<img src="/assets/img/filter.gif" alt="filter icon" class="w-50px m-auto mb-16px" />
		<div class="text-center text-16 font-medium text-grey-60 mb-8px">The filters applied will affect</div>
		<div class="text-center text-16 font-semibold mb-32px">{{ batchRetryCount || 0 }} event{{ batchRetryCount > 1 ? 's' : '' }}</div>
		<button convoy-button [disabled]="isRetrying || batchRetryCount == 0" class="m-auto" (click)="batchRetryEvent()">{{ isRetrying ? 'Retrying Events...' : 'Yes, Apply' }}</button>
		<button convoy-button fill="clear" class="font-semibold m-auto" (click)="showBatchRetryModal = false">No, Cancel</button>
	</div>
</div>
