<div class="">
	<form [formGroup]="inviteUserForm" (ngSubmit)="inviteUser()">
		<div class="card padding-all__24px margin-top__24px">
			<h3>Basic info</h3>
			<div class="color__grey font__14px font__weight-400 margin-bottom__16px">Invite other members of your team to your organization.</div>

			<div class="input">
				<label for="email">Email</label>
				<input type="email" id="email" formControlName="invitee_email" required />
				<div class="input__error input__error__danger" *ngIf="inviteUserForm.controls.invitee_email.touched && inviteUserForm.controls.invitee_email.invalid">
					<img src="assets/img/input-error-icon.svg" alt="input error icon" />
					<span>Please enter a valid email</span>
				</div>
			</div>

		</div>
	</form>
	<div class="flex flex__justify-end padding-top__24px padding-bottom__40px">
		<button class="button button__white margin-right__16px" (click)="goBack()">Discard</button>
		<button class="button button__primary" [disabled]="invitingUser" (click)="inviteUser()">{{ invitingUser ? 'Inviting User..' : 'Send Invite' }}</button>
	</div>
</div>
