@import '../assets/css/fonts.css';
@import '../assets/css/forms.css';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/gray-alpha.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/gray-dark-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/green-alpha.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/green-dark-alpha.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/red-alpha.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/red-dark-alpha.css';
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/amber-alpha.css';
@import '@radix-ui/colors/amber-dark.css';
@import '@radix-ui/colors/amber-dark-alpha.css';

@tailwind base;

/* Firefox */
* {
	scrollbar-width: 5px;
	@apply text-neutral-12;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

*::-webkit-scrollbar-track {
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 14px;
	@apply bg-neutral-4;
}

@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
		--color-white: 255, 255, 255;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	h1 {
		@apply text-h1;
	}

	h2 {
		@apply text-h2;
	}

	h3 {
		@apply text-h3;
	}

	h4 {
		@apply text-h4;
	}

	dialog:modal {
		@apply max-w-full max-h-full;
	}

	.no-scrollbar::-webkit-scrollbar {
		@apply hidden;
	}

	.no-scrollbar {
		scrollbar-width: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
	}

	.docs {
		article {
			h3 {
				@apply text-h3 font-semibold mb-8px;
			}
			p {
				@apply mb-24px text-14 text-neutral-11;
			}

			code {
				@apply bg-neutral-a3 rounded-4px py-2px px-8px my-0 mx-[1px] text-12 font-menlo text-black border border-none;
			}

			pre {
				@apply rounded-8px font-normal px-16px py-20px bg-[#F3F3F8] mb-22px font-menlo text-14 whitespace-pre overflow-auto text-neutral-11;
			}
		}
	}

	.disabled {
		@apply opacity-50 pointer-events-none;
	}

	.placeholder-text-neutral-6::placeholder {
		@apply text-neutral-6;
	}
}



@layer base {
  * {
    @apply border-border outline-ring/50;
	}
  body {
    @apply bg-background text-foreground;
	}
}
