<div class="text-12 font-medium flex items-center mb-24px uppercase">
	<a routerLink="/projects" class="font-medium cursor-pointer">Projects</a>
	<svg width="16" height="16" class="mx-4px fill-dark-grey">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-4px fill-dark-grey">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<a class="cursor-pointer font-medium" (click)="goBack()">Apps</a>
	<svg width="16" height="16" class="mx-4px fill-dark-grey">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="font-medium text-primary-100">{{ appsDetailsItem?.name || 'App' }}</span>
</div>

<convoy-card className="p-32px mb-20px">
	<div class="flex justify-between items-center mb-24px">
		<h3 class="font-medium">Overview</h3>
		<button convoy-button *ngIf="appsDetailsItem" size="sm" fill="outline" [disabled]="appsDetailsItem.events === 0" (click)="loadEventsFromAppsTable(appsDetailsItem.uid)">Events</button>
	</div>

	<!-- app details overview  -->
	<div class="flex items-center flex-wrap justify-between mb-32px" *ngIf="isLoadingAppDetails">
		<div>
			<p class="text-grey-40 text-12 font-light">DATE CREATED</p>
			<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
		</div>
		<div>
			<p class="text-grey-40 text-12 font-light">SUPPORT EMAIL</p>
			<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
		</div>
		<div>
			<p class="text-grey-40 text-12 font-light">UPDATED</p>
			<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
		</div>
		<div>
			<p class="text-grey-40 text-12 font-light">EVENTS</p>
			<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
		</div>
		<div>
			<p class="text-grey-40 text-12 font-light">ENDPOINTS</p>
			<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
		</div>
	</div>
	<div class="flex items-center justify-between flex-wrap mb-32px" *ngIf="!isLoadingAppDetails">
		<div>
			<p class="text-grey-40 text-12 font-light">DATE CREATED</p>
			<p class="text-black text-14 font-normal">{{ appsDetailsItem?.created_at | date: 'mediumDate' }}</p>
		</div>
		<div>
			<p class="text-grey-40 text-12 font-light">SUPPORT EMAIL</p>
			<p class="text-black text-14 font-normal">{{ appsDetailsItem?.support_email || '...no support email provided' }}</p>
		</div>
		<div>
			<p class="text-grey-40 text-12 font-light">UPDATED</p>
			<p class="text-black text-14 font-normal">{{ appsDetailsItem?.updated_at | date: 'mediumDate' }}</p>
		</div>
		<div>
			<p class="text-grey-40 text-12 font-light">EVENTS</p>
			<p class="text-black text-14 font-normal">{{ appsDetailsItem?.events || 0 }}</p>
		</div>
		<div>
			<p class="text-grey-40 text-12 font-light">ENDPOINTS</p>
			<p class="text-black text-14 font-normal">{{ appsDetailsItem?.endpoints?.length || 0 }}</p>
		</div>
	</div>

	<!-- pending when backend is ready  -->
	<!-- <div>
        <p class="flex flex__align-items-center font__14px font__weight-500 margin-bottom__8px">
            Enable Notification
            <img src="/assets/img/primary-info-icon.svg" class="margin-left__10px" alt="info icon" />
        </p>
        <label class="toggle">
            <input class="toggle-checkbox" type="checkbox" (change)="editAppStatus(appsDetailsItem)" [checked]="!appsDetailsItem?.is_disabled" />
            <div class="toggle-switch"></div>
        </label>
    </div> -->

	<div class="flex flex-wrap justify-between border-t border-t-grey-10 mt-22px">
		<!-- app endpoints  -->
		<div
			class="pt-32px"
			[ngClass]="{
				'w-1/2 border-r border-r-grey-10 pr-32px': !shouldRenderSmallSize && privateService.activeProjectDetails?.type === 'outgoing',
				'w-full': shouldRenderSmallSize || privateService.activeProjectDetails?.type === 'incoming'
			}"
		>
			<div class="flex items-center justify-between p-20px" *ngIf="isLoadingAppDetails">
				<h3 class="font-medium">App Event Endpoints</h3>
				<div class="flex items-center">
					<convoy-skeleton-loader className="mt-10px w-100px h-20px"></convoy-skeleton-loader>
					<div class="h-22px w-[1px] mx-16px border-l border-l-grey-10"></div>
					<convoy-skeleton-loader className="mt-10px w-100px h-20px"></convoy-skeleton-loader>
				</div>
			</div>

			<div class="flex items-center justify-between" *ngIf="!isLoadingAppDetails && appsDetailsItem">
				<h3 class="font-medium">App Event Endpoints</h3>
				<div class="flex items-center">
					<button convoy-button size="sm" fill="text" (click)="showAddEndpointModal = !showAddEndpointModal">Add Endpoints</button>
					<div *ngIf="privateService.activeProjectDetails?.type === 'outgoing'" class="w-[1px] h-22px mx-16px border-l border-l-grey-10"></div>
					<button convoy-button *ngIf="privateService.activeProjectDetails?.type === 'outgoing'" size="sm" fill="text" [disabled]="appsDetailsItem && appsDetailsItem.endpoints.length == 0" (click)="showAddEventModal = true">Send Event</button>
				</div>
			</div>

			<ul class="mt-20px" *ngIf="isLoadingAppDetails">
				<li class="bg-[#f9f9fb] p-16px rounded-8px mb-24px" *ngFor="let index of [0, 1, 2]">
					<div>
						<div class="flex items-center mb-16px">
							<convoy-skeleton-loader className="bg-grey-20 w-100px h-20px"></convoy-skeleton-loader>
							<convoy-skeleton-loader className="bg-grey-20 w-80px h-20px ml-14px"></convoy-skeleton-loader>
						</div>

						<div class="flex items-center">
							<img src="/assets/img/link-icon.svg" alt="link icon" class="mr-8px" />
							<convoy-skeleton-loader className="bg-grey-20 w-300px h-20px"></convoy-skeleton-loader>
						</div>

						<div class="flex items-center mt-16px">
							<convoy-skeleton-loader className="bg-grey-20 w-100px h-20px"></convoy-skeleton-loader>
							<div class="w-[1px] h-22px mr-16px border-l border-l-grey-10"></div>
							<convoy-skeleton-loader className="bg-grey-20 w-100px h-20px"></convoy-skeleton-loader>
						</div>
					</div>
				</li>
			</ul>

			<ul class="mt-20px" *ngIf="!isLoadingAppDetails && appsDetailsItem">
				<ng-container *ngIf="appsDetailsItem?.endpoints">
					<li class="relative bg-[#f9f9fb] p-16px rounded-8px mb-24px last-of-type:mb-0" *ngFor="let endpoint of appsDetailsItem?.endpoints">
						<div>
							<div class="flex items-center">
								<h5 class="text-black text-14 font-medium">{{ endpoint.description }}</h5>
								<button convoy-button *ngIf="endpoint.secrets" fill="text" size="sm" class="ml-16px" (click)="selectedEndpoint = endpoint; viewEndpointSecretKey(endpoint.secrets)">
									View Secret
									<img src="/assets/img/arrow-up-right.svg" alt="link out" class="h-14px ml-6px" />
								</button>
							</div>
							<p class="flex items-center text-14 text-black font-light mt-16px">
								<img src="/assets/img/link-icon.svg" alt="link icon" class="mr-8px" />
								{{ endpoint.target_url }}
							</p>

							<div class="flex items-center mt-16px">
								<button convoy-button size="sm" fill="text" (click)="selectedEndpoint = endpoint; showAddEndpointModal = true">
									<svg width="16" height="16" class="mr-8px fill-primary-100">
										<use xlink:href="#edit-icon"></use>
									</svg>
									Edit
								</button>
								<div class="h-22px w-[1px] mx-16px border-l border-l-grey-10"></div>
								<button convoy-button size="sm" fill="text" color="danger" (click)="selectedEndpoint = endpoint; showDeleteModal = true">
									<svg width="16" height="16" class="mr-8px fill-danger-100">
										<use xlink:href="#delete-icon"></use>
									</svg>
									Delete
								</button>
							</div>
						</div>
						<div class="absolute backdrop-blur-sm rounded-8px top-0 w-full h-full -ml-[15px] bg-primary-500 bg-opacity-50 flex items-center flex-col justify-center p-24px" *ngIf="endpoint.status == 'inactive'">
							<div class="bg-white-100 shadow-grey-10 rounded-[4.5px] h-36px w-36px flex items-center justify-center mb-8px p-10px">
								<img src="/assets/img/lock.svg" alt="lock icon" class="w-[13px]" />
							</div>
							<p class="text-black text-16 font-semibold">Endpoint Disabled</p>

							<!-- pending till this is figured out by backend -->
							<!-- <a class="text-primary-500 text-14 font-semibold mb-10px">Click here to learn how to enable this endpoint</a> -->
						</div>
					</li>
				</ng-container>
			</ul>

			<convoy-empty-state
				type="table"
				imgSrc="/assets/img/empty-state-img.svg"
				description="No endpoint has been added for selected app yet"
				className="h-[25vh]"
				*ngIf="!isLoadingAppDetails && (!appsDetailsItem?.endpoints || appsDetailsItem?.endpoints?.length === 0)"
			></convoy-empty-state>
		</div>

		<!-- app portal  -->
		<div class="pt-32px" [hidden]="privateService.activeProjectDetails?.type === 'incoming'" [ngClass]="{ 'w-[50%] pl-32px': !shouldRenderSmallSize, 'border-t border-t-grey-10 w-full': shouldRenderSmallSize }">
			<h3 class="font-medium">App Portal</h3>
			<div *ngIf="loadingAppPotalToken">
				<ul class="mt-10px">
					<li convoy-list-item class="border-none">
						<div class="text-14 text-grey-40 font-light">App Page</div>
						<convoy-skeleton-loader className="w-80px h-20px"></convoy-skeleton-loader>
					</li>
					<li convoy-list-item class="border-none">
						<div class="text-14 text-grey-40 font-light">Embed into your platform</div>
						<convoy-skeleton-loader className="w-80px h-20px"></convoy-skeleton-loader>
					</li>
					<div class="bg-grey-10 animate-pulse rounded-8px w-full h-100px mt-16px"></div>
				</ul>
			</div>

			<div *ngIf="!loadingAppPotalToken">
				<ul class="mt-10px">
					<li convoy-list-item class="border-none !py-8px">
						<div class="text-14 text-grey-40 font-light">App Page</div>
						<a class="text-14 text-primary-100 flex items-center" [href]="appPortalLink" target="_blank">
							Open Link
							<img src="/assets/img/arrow-up-right.svg" class="w-14px" alt="link out" />
						</a>
					</li>
					<li convoy-list-item class="border-none !py-8px">
						<div class="text-14 text-grey-40 font-light">Embed into your platform</div>
						<a class="text-14 text-primary-100 flex items-center" href="https://getconvoy.io/docs/app-portal" target="_blank">
							See Documentation
							<img src="/assets/img/arrow-up-right.svg" class="w-14px" alt="link out" />
						</a>
					</li>

					<div class="bg-white-100 border-2 border-primary-500 rounded-[10px] p-16px mt-16px">
						<div class="text-14 text-grey-40 overflow-x-scroll">{{ appPortalIframe }}</div>
						<div class="flex justify-end">
							<convoy-copy-button [text]="appPortalLink"></convoy-copy-button>
						</div>
					</div>
				</ul>
			</div>
		</div>
	</div>
</convoy-card>

<ng-container *ngIf="isCliAvailable">
	<!-- app api keys and devices list  -->
	<convoy-card className="mt-24px rounded-bl-[0] rounded-br-[0]">
		<div class="flex items-center justify-center">
			<ul class="flex flex-row m-auto w-full mt-12px">
				<li *ngFor="let tab of tabs" class="mr-24px !list-none first-of-type:ml-24px last-of-type:mr-0">
					<button class="pb-16px pt-10px flex items-center" [class]="activeTab === tab ? 'active' : ''" (click)="toggleActiveTab(tab)">
						<span class="text-14 text-left capitalize text-grey-60 tracking-[0.02em] mobile:min-w-[80px]">{{ tab }}</span>
					</button>
				</li>

				<div class="text-grey-40 text-14 font-medium whitespace-nowrap ml-auto pr-14px">
					<button convoy-button size="sm" (click)="cliKeys.generateKeyModal = true" class="mt-6px">
						<svg width="18" height="18" class="fill-white-100">
							<use xlink:href="#plus-icon"></use>
						</svg>
					</button>
				</div>
			</ul>
		</div>
	</convoy-card>

	<ng-container *ngIf="activeTab === 'CLI Keys'">
		<convoy-cli-keys></convoy-cli-keys>
	</ng-container>
	<ng-container *ngIf="activeTab === 'devices'">
		<convoy-devices></convoy-devices>
	</ng-container>
</ng-container>

<!-- send event form  -->
<send-event *ngIf="showAddEventModal && appsDetailsItem" [appId]="appsDetailsItem.uid" (onAction)="$event.action == 'cancel' ? (showAddEventModal = false) : getAppDetails(appsDetailsItem.uid); showAddEventModal = false"></send-event>

<!-- create endpoint form  -->
<convoy-modal *ngIf="showAddEndpointModal && appsDetailsItem" [title]="selectedEndpoint ? 'Update Endpoint' : 'Add Endpoint'" (closeModal)="showAddEndpointModal = false; selectedEndpoint = undefined">
	<ng-container modalBody>
		<app-create-endpoint [selectedEndpoint]="selectedEndpoint" [appId]="appsDetailsItem.uid" (onAction)="$event.action == 'cancel' ? closeEditEndpointModal() : getAppDetails(appsDetailsItem.uid); closeEditEndpointModal()"></app-create-endpoint>
	</ng-container>
</convoy-modal>

<!-- endpoint secret  -->
<convoy-modal *ngIf="showEndpointSecret" title="Endpoint Secret" (closeModal)="showEndpointSecret = false">
	<div modalBody>
		<div class="flex items-center justify-between w-full h-50px bg-[#F7F9FC] border border-grey-10 rounded-[6px] px-16px mb-12px last-of-type:mb-8px">
			<span class="text-16 text-grey-60 font-normal whitespace-nowrap w-250px overflow-hidden text-ellipsis">{{ endpointSecret?.value || '' }}</span>
			<convoy-copy-button [text]="endpointSecret?.value || ''"></convoy-copy-button>
		</div>
		<button convoy-button size="xs" fill="text" color="danger" *ngIf="!showExpireSecret" (click)="showExpireSecret = true">Expire Secret</button>

		<ng-container *ngIf="showExpireSecret">
			<form [formGroup]="expireSecretForm" class="mt-24px">
				<convoy-select
					label="Expiry duration"
					name="expiration"
					formControlName="expiration"
					[options]="expirationDates"
					errorMessage="Please select an expiry duration"
					[required]="true"
					(selectedOption)="expireSecretForm.patchValue({ expiration: $event })"
				></convoy-select>
			</form>
		</ng-container>

		<div class="flex justify-end mt-38px mb-140px" *ngIf="showExpireSecret">
			<button convoy-button fill="outline" class="mr-16px transition-all duration-300 hover:text-danger-100 hover:border-danger-100" (click)="showEndpointSecret = false" *ngIf="showExpireSecret">Cancel</button>
			<button convoy-button color="danger" class="mr-16px" *ngIf="showExpireSecret" (click)="expireSecret()">Expire Secret</button>
			<button convoy-button (click)="showExpireSecret = false" *ngIf="!showExpireSecret">Done</button>
		</div>
	</div>
</convoy-modal>

<!-- delete modal  -->
<app-delete-modal *ngIf="showDeleteModal" [isLoading]="isDeletingEndpoint" [deleteText]="'delete “' + selectedEndpoint?.description + '”'" (closeModal)="showDeleteModal = false" (deleteData)="deleteEndpoint()"></app-delete-modal>
