<convoy-button buttonType="button" type="icon" className="relative flex flex-col items-center group">
	<ng-container *ngIf="img">
		<img [src]="img" [attr.height]="size === 'sm' ? '13px' : '18px'" [attr.width]="size === 'sm' ? '13px' : '18px'" alt="info" />
	</ng-container>
	<ng-container *ngIf="!img">
		<svg width="18" height="18" [attr.height]="size === 'sm' ? '13' : '18'" [attr.width]="size === 'sm' ? '13' : '18'">
			<use xlink:href="#info-icon"></use>
		</svg>
	</ng-container>

	<div
		class="
			absolute
			bottom-[30px]
			opacity-0
			group-hover:opacity-100 group-focus-within:opacity-100 group-focus:opacity-100 group-hover:pointer-events-auto group-focus-within:pointer-events-auto group-focus:pointer-events-auto
			pointer-events-none
			transition-all
			bg-primary-100
			rounded-8px
			w-192px
			p-14px
			text-white-100 text-12 text-left
			after:content-['']
			after:absolute
			after:-bottom-[20px]
			font-light
			after:border-[10px] after:border-t-primary-100 after:border-b-transparent after:border-x-transparent
		"
		[class]="position === 'right' ? '-right-[160px] after:right-[157px]' : '-right-[16px] after:right-[15px]'"
	>
		<ng-content></ng-content>
	</div>
</convoy-button>
