<convoy-loader *ngIf="fetchingDetails"></convoy-loader>
<div class="bg-[url('/assets/img/Pattern.svg')] bg-center min-h-screen flex flex-col items-center justify-center bg-cover" *ngIf="!fetchingDetails">
	<ng-container *ngIf="!isInviteAccepted">
		<img src="/assets/img/logo.svg" alt="convoy logo" class="mb-28px w-130px" />
		<h2 class="font-semibold text-20 mb-10px">
			Join your team
			<span *ngIf="organisationName">({{ organisationName }})</span>
			to start managing webhooks
		</h2>
		<p *ngIf="!userDetailsAvailable" class="text-grey-40 text-center text-16px max-w-[445px] mb-32px">Please fill in your {{ userDetailsAvailable ? 'password details below to' : 'details below to create your account and' }} join your team</p>
		<section class="max-w-[445px] mx-auto px-24px py-24px w-full bg-white-100 shadow-default rounded-8px" [ngClass]="{ 'mt-20px': userDetailsAvailable }">
			<form [formGroup]="acceptInviteForm" (ngSubmit)="acceptInvite()">
				<div class="grid grid-cols-2 gap-6">
					<convoy-input-field>
						<label for="first_name" convoy-label required="true">First name</label>
						<input id="first_name" convoy-input autocomplete="first_name" formControlName="first_name" placeholder="Enter your first name" [readonly]="userDetailsAvailable" />
						<convoy-input-error *ngIf="acceptInviteForm.get('first_name')?.touched && acceptInviteForm.get('first_name')?.invalid">First name is required</convoy-input-error>
					</convoy-input-field>
					<convoy-input-field>
						<label for="last_name" convoy-label required="true">Last name</label>
						<input id="last_name" convoy-input autocomplete="last_name" formControlName="last_name" placeholder="Enter your last name" [readonly]="userDetailsAvailable" />
						<convoy-input-error *ngIf="acceptInviteForm.get('last_name')?.touched && acceptInviteForm.get('last_name')?.invalid">Last name is required</convoy-input-error>
					</convoy-input-field>
				</div>

				<convoy-input-field>
					<label for="email" convoy-label required="true">Email Address</label>
					<input type="email" id="email" convoy-input autocomplete="email" formControlName="email" placeholder="Enter your email" [readonly]="true" />
					<convoy-input-error *ngIf="acceptInviteForm.get('email')?.touched && acceptInviteForm.get('email')?.invalid">Email is required</convoy-input-error>
				</convoy-input-field>

				<ng-container *ngIf="!userDetailsAvailable">
					<convoy-input-field>
						<label for="new-password" convoy-label required="true">Create Password</label>
						<input type="password" id="new-password" convoy-input autocomplete="new-password" formControlName="password" placeholder="Enter your password" />
						<convoy-input-error *ngIf="acceptInviteForm.get('password')?.touched && acceptInviteForm.get('password')?.invalid">Password is required</convoy-input-error>
					</convoy-input-field>
					<div class="flex items-center text-12 text-danger-100 mt-8px" *ngIf="acceptInviteForm.controls.password.touched && !checkForSpecialCharacter(acceptInviteForm.value.password)">
						<img src="assets/img/input-error-icon.svg" class="mr-8px w-16px" alt="input error icon" />
						<span>Password should be at least 8 characters</span>
					</div>
					<div class="flex items-center text-12 text-danger-100 mt-8px" *ngIf="acceptInviteForm.controls.password.touched && !checkForNumber(acceptInviteForm.value.password)">
						<img src="assets/img/input-error-icon.svg" class="mr-8px w-16px" alt="input error icon" />
						<span>Password should have at least one number</span>
					</div>
					<div class="flex items-center text-12 text-danger-100 mt-8px" *ngIf="acceptInviteForm.controls.password.touched && !checkForSpecialCharacter(acceptInviteForm.value.password)">
						<img src="assets/img/input-error-icon.svg" class="mr-8px w-16px" alt="input error icon" />
						<span>Password should have at least one special character</span>
					</div>
				</ng-container>

				<button convoy-button [disabled]="loading" size="sm" width="full" class="mt-40px">
					<span *ngIf="!loading">Join your team</span>
					<img *ngIf="loading" src="assets/img/button-loader.gif" alt="loader" />
				</button>
			</form>
		</section>
	</ng-container>
	<ng-container *ngIf="isInviteAccepted">
		<img src="/assets/img/logo.svg" alt="convoy logo" class="mb-28px w-130px" />
		<img src="/assets/img/success.gif" alt="success" class="mb-40px h-100px rounded-100px" />

		<h2 class="font-semibold text-20 mb-10px">This invitation has been accepted</h2>
		<p class="text-grey-40 text-center text-16px max-w-[445px] mb-32px">Login to continue to your workspace</p>

		<button convoy-button [disabled]="loading" routerLink="/login" class="w-[450px] mb-20px">Go to Login</button>
	</ng-container>
</div>
