<convoy-loader *ngIf="fetchingDetails"></convoy-loader>
<div class="auth-page" *ngIf="!fetchingDetails">
	<ng-container *ngIf="!isInviteAccepted">
		<img src="/assets/img/logo.svg" class="logo" alt="convoy logo" />
		<h3>Join your team to start managing webhooks</h3>
		<p *ngIf="!userDetailsAvailable" class="text--center">Please fill in your {{ userDetailsAvailable ? 'password details below to' : 'details below to create your account and' }} join your team</p>
		<section class="auth-page--container" [ngClass]="{ 'margin-top__20px': userDetailsAvailable }">
			<form [formGroup]="acceptInviteForm" (ngSubmit)="acceptInvite()">
				<div class="grid grid__col-2 grid--gap__20px">
					<div class="input">
						<label for="firstname">Firstname</label>
						<input type="text" id="firstname" formControlName="first_name" [readonly]="userDetailsAvailable" required />
						<div class="input__error input__error__danger" *ngIf="acceptInviteForm.controls.first_name.touched && acceptInviteForm.controls.first_name.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Firstname is required</span>
						</div>
					</div>

					<div class="input">
						<label for="lastname">Lastname</label>
						<input type="text" id="lastname" formControlName="last_name" class="editMode" [readonly]="userDetailsAvailable" required />
						<div class="input__error input__error__danger" *ngIf="acceptInviteForm.controls.last_name.touched && acceptInviteForm.controls.last_name.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Lastname is required</span>
						</div>
					</div>
				</div>

				<div class="input">
					<label for="email">Email Address</label>
					<input type="email" autocomplete="email" formControlName="email" class="editMode" readonly required />
					<div class="input__error input__error__danger" *ngIf="acceptInviteForm.controls.email.touched && acceptInviteForm.controls.email.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Email is required</span>
					</div>
				</div>
				<ng-container *ngIf="!userDetailsAvailable">
					<div class="input">
						<label for="password">Create Password</label>
						<div class="input--password">
							<input
								[type]="showPassword ? 'text' : 'password'"
								autocomplete="new-password"
								formControlName="password"
								id="password"
								[ngClass]="{ danger: acceptInviteForm.controls.password.touched && acceptInviteForm.controls.password.invalid }"
								required
							/>
							<button class="input--password__view-toggle" (click)="showPassword = !showPassword" type="button">
								<img
									[src]="!showPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
									alt="showPassword ? 'hide password icon' : 'view password icon'"
								/>
							</button>
						</div>
						<div class="input__error input__error__danger" *ngIf="acceptInviteForm.controls.password.touched && acceptInviteForm.controls.password.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Password is required</span>
						</div>
						<div
							class="input__error input__error__danger"
							*ngIf="acceptInviteForm.controls.password.touched && acceptInviteForm.controls.password.invalid && acceptInviteForm.controls.password.errors?.['minlength']"
						>
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Password should be at least 8 characters</span>
						</div>
						<div class="input__error input__error__danger" *ngIf="acceptInviteForm.controls.password.touched && !checkForNumber(acceptInviteForm.value.password)">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Password should have at least one number</span>
						</div>
						<div class="input__error input__error__danger" *ngIf="acceptInviteForm.controls.password.touched && !checkForSpecialCharacter(acceptInviteForm.value.password)">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Password should have at least one special character</span>
						</div>
					</div>
				</ng-container>

				<button class="button button__primary--without-gradient button--has-icon icon-center button--full-100" [disabled]="loading" (click)="acceptInvite()">
					<span *ngIf="!loading">Join your team</span>
					<img *ngIf="loading" src="assets/img/button-loader.gif" alt="loader" />
				</button>
			</form>
		</section>
	</ng-container>
	<ng-container *ngIf="isInviteAccepted">
		<img src="/assets/img/logo.svg" class="logo" alt="convoy logo" />
		<div class="logo-2 margin-bottom__40px">
			<img src="/assets/img/success.gif" alt="success" />
		</div>
		<h3>This invitation has been accepted</h3>
		<p class="center">Login to continue to your workspace</p>
		<div class="flex flex__column flex__justify-center width__100">
			<button class="button button__white button--full-100 margin-auto" [routerLink]="['/login']">Go to Login</button>
		</div>
	</ng-container>
</div>
