<button type="button" class="inline-flex items-center rounded-8px border border-new.border bg-white-100 overflow-hidden transition-all hover:bg-new.surface-subtle" (click)="onClick.emit()">
	<div class="px-10px py-8px whitespace-nowrap font-body font-medium text-[13px] text-new.text-primary">
		<ng-content></ng-content>
	</div>
	<div class="flex items-center justify-center bg-new.surface-muted py-8px px-10px min-h-[26px] min-w-[30px]">
		<img src="assets/img/svg/plus-icon.svg" alt="" />
	</div>
</button>
