<convoy-loader *ngIf="isLoadingAppDetails"></convoy-loader>

<form [formGroup]="addNewAppForm" id="create-app-form">
	<convoy-card className="px-24px py-24px mt-40px">
		<div convoy-input-field>
			<label for="app-name" required="true" convoy-label>Enter App Name</label>
			<input type="text" id="app-name" convoy-input autocomplete="app-name" formControlName="name" placeholder="App name" />
			<convoy-input-error *ngIf="addNewAppForm.controls.name.touched && addNewAppForm.controls.name.invalid">App name is required</convoy-input-error>
		</div>

		<div class="grid grid-cols-2 gap-6">
			<div convoy-input-field>
				<label for="app-support-email" convoy-label tooltip="We use this to send an email notifcation for when a failure happens">Support Email</label>
				<input type="email" id="app-support-email" convoy-input autocomplete="app-support-email" formControlName="support_email" placeholder="support@getconvoy.io" />
			</div>
			<div convoy-input-field>
				<label for="slack_webhook_url" convoy-label tooltip="We use this to send notifications to your slack channel when a failure happens">Slack webhook url</label>
				<input type="url" id="slack_webhook_url" convoy-input autocomplete="slack_webhook_url" formControlName="slack_webhook_url" placeholder="https://slack.com" />
			</div>
		</div>
	</convoy-card>

	<convoy-card className="px-24px py-24px mt-40px" *ngIf="!editAppMode">
		<div formArrayName="endpoints">
			<div *ngFor="let endpoint of endpoints.controls; let i = index" class="mb-20px">
				<div class="flex justify-between items-center mb-16px">
					<h2 class="font-semibold">Endpoint {{ i > 0 ? i + 1 : '' }}</h2>

					<button convoy-button (click)="removeEndpoint(i)" type="text" color="danger" class="px-0 font-medium text-12" *ngIf="endpoints.controls.length > 1 && i > 0">
						<img src="/assets/img/trash-icon.svg" alt="close icon" class="mr-2" />
						Remove Endpoint
					</button>
				</div>
				<div [formGroupName]="i">
					<div class="grid grid-cols-2 gap-6">
						<div convoy-input-field>
							<label for="description" convoy-label required="true">Description</label>
							<input id="description" convoy-input autocomplete="description" formControlName="description" placeholder="eg. payment endpoint" />
							<convoy-input-error *ngIf="addNewAppForm.get('endpoints.' + i + '.description')?.touched && addNewAppForm.get('endpoints.' + i + '.description')?.invalid">Please provide an endpoint description</convoy-input-error>
						</div>
						<div convoy-input-field>
							<label for="endpoint-url" convoy-label required="true">Enter Endpoint URL</label>
							<input type="url" id="endpoint-url" convoy-input autocomplete="endpoint-url" formControlName="url" placeholder="https://webhook.getconvoy.io" />
							<convoy-input-error *ngIf="addNewAppForm.get('endpoints.' + i + '.url')?.touched && addNewAppForm.get('endpoints.' + i + '.url')?.invalid">Please enter endpoint url</convoy-input-error>
						</div>
						<div convoy-input-field>
							<label for="secret" convoy-label>Secret</label>
							<input type="text" id="secret" convoy-input autocomplete="secret" formControlName="secret" placeholder="********" />
						</div>
						<div convoy-input-field>
							<label for="http_timeout" convoy-label tooltip="This specifies how long the socket stays open in the absense of a response.">HTTP Timeout</label>
							<input id="http_timeout" convoy-input autocomplete="http_timeout" formControlName="http_timeout" placeholder="e.g. 10s" />
						</div>
					</div>

					<h3 class="mt-24px mb-14px font-medium flex items-center">
						Endpoint Authentication
						<convoy-tooltip size="sm" position="right" class="ml-4px">You can set your provided endpoint authentication if any is required</convoy-tooltip>
					</h3>
					<div class="grid grid-cols-2 gap-6">
						<ng-container formGroupName="authentication">
							<ng-container formGroupName="api_key">
								<div convoy-input-field>
									<label for="header_name" convoy-label>API Key Name</label>
									<input id="header_name" convoy-input autocomplete="header_name" formControlName="header_name" placeholder="Name" />
								</div>
								<div convoy-input-field>
									<label for="header_value" convoy-label>API Key Value</label>
									<input id="header_value" convoy-input autocomplete="header_value" formControlName="header_value" placeholder="Value" />
								</div>
							</ng-container>
						</ng-container>
					</div>

					<h3 class="mt-24px mb-14px font-medium flex items-center">
						Signature Format
						<convoy-tooltip size="sm" position="right" class="ml-4px">This specifies your header and hash function for your project</convoy-tooltip>
					</h3>
					<div class="grid grid-cols-2 gap-6 mb-50px">
						<convoy-radio formControlName="advanced_signatures" label="Simple" [_name]="'signature' + i" [value]="false" [_id]="'signature_simple' + i"></convoy-radio>
						<convoy-radio formControlName="advanced_signatures" label="Advanced" [_name]="'signature' + i" [value]="true" [_id]="'signature_advanced' + i"></convoy-radio>
					</div>
				</div>
			</div>
			<button convoy-button (click)="addEndpoint()" fill="text" class="px-0 font-medium text-14">
				<img src="/assets/img/add-icon.svg" alt="close icon" class="mr-2 h-16px" />
				Add Endpoint
			</button>
		</div>
	</convoy-card>
	<div class="flex justify-end mt-6 mb-16">
		<button convoy-button type="button" (click)="cancel()" fill="outline" class="mr-3 transition-all duration-300 hover:text-danger-100 hover:border-danger-100">Discard</button>
		<button convoy-button [disabled]="isSavingApp" (click)="saveApp()">
			{{ isNewProjectRoute() ? 'Save and Proceed' : editAppMode ? 'Edit App' : 'Create App' }}
			<svg width="24" height="24" class="ml-8px fill-white-100">
				<use xlink:href="#arrow-right-icon"></use>
			</svg>
		</button>
	</div>
</form>

<convoy-confirmation-modal *ngIf="confirmModal" (confirmAction)="discardApp.emit()" (closeModal)="confirmModal = false"></convoy-confirmation-modal>
