<form [formGroup]="addNewAppForm" id="create-app-form" class="card padding-all__24px">
	<div class="grid grid__col-2 grid--gap__20px">
		<div class="input">
			<label class="flex flex__justify-between" for="app-name">
				Enter App Name
				<span class="bg__grey__light rounded__4px padding-x__4px position__absolute position--right__0px font__10px font__weight-400">required</span>
			</label>
			<input id="app-name" type="text" formControlName="name" [ngClass]="{ danger: addNewAppForm.controls.name.touched && addNewAppForm.controls.name.invalid }" />
			<div class="input__error input__error__danger" *ngIf="addNewAppForm.controls.name.touched && addNewAppForm.controls.name.invalid">
				<img src="assets/img/input-error-icon.svg" alt="input error icon" />
				<span>App name is required</span>
			</div>
		</div>

		<div class="input">
			<label for="app-description">Description</label>
			<input type="text" id="app-description" formControlName="description" />
		</div>
	</div>
	<div class="grid grid__col-2 grid--gap__20px">
		<div class="input margin-bottom__0px">
			<label class="flex flex__align-items-center" for="app-email">
				Support Email
				<app-tooltip [position]="'right'" [size]="'small'" class="margin-left__4px">We use this to send an email notifcation for when a failure happens</app-tooltip>
			</label>
			<input type="email" id="app-email" formControlName="support_email" />
		</div>
		<div class="input margin-bottom__0px">
			<label class="flex flex__align-items-center" for="app-slack-url">
				Slack webhook url
				<app-tooltip [size]="'small'" class="margin-left__4px">We use this to send notifications to your slack channel for when a failure happens</app-tooltip>
			</label>
			<input id="app-slack-url" type="url" formControlName="slack_webhook_url" />
		</div>
	</div>

	<div class="margin-top__32px" *ngIf="!editAppMode" formArrayName="endpoints">
		<div class="margin-top__40px" *ngFor="let endpoint of endpoints.controls; let i = index">
			<div class="flex flex__align-items-center flex__justify-between margin-bottom__12px">
				<h3>Endpoint {{ i > 0 ? i + 1 : '' }}</h3>
				<div class="flex flex__justify-end margin-bottom__16px">
					<button (click)="removeEndpoint(i)" class="button__clear color__danger button--has-icon icon-left font__weight-500">
						<img src="/assets/img/trash-icon.svg" alt="close icon" />
						Remove Endpoint
					</button>
				</div>
			</div>
			<div [formGroupName]="i">
				<div class="grid grid__col-2 grid--gap__20px">
					<div class="input">
						<label class="flex__justify-between" [for]="'description' + i">
							Description
							<span class="bg__grey__light rounded__4px padding-x__4px position__absolute position--right__0px font__10px font__weight-400">required</span>
						</label>
						<input [id]="'description' + i" type="text" formControlName="description" required />
						<div class="input__error input__error__danger" *ngIf="getSingleEndpoint(i).description.touched && getSingleEndpoint(i).description.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Please provide a description</span>
						</div>
					</div>

					<div class="input">
						<label class="flex flex__justify-between" [for]="'endpoint-url' + i">
							Enter Endpoint URL
							<span class="bg__grey__light rounded__4px padding-x__4px position__absolute position--right__0px font__10px font__weight-400">required</span>
						</label>
						<input [id]="'endpoint-url' + i" type="text" formControlName="url" required />
						<div class="input__error input__error__danger" *ngIf="getSingleEndpoint(i).url.touched && getSingleEndpoint(i).url.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Please provide an endpoint URL</span>
						</div>
					</div>
					
					<div class="input">
						<label for="rate-limit-count">Rate Limit</label>
						<input type="number" id="rate-limit-count" placeholder="e.g 5000" formControlName="rate_limit" />
					</div>
					
					<div class="input">
						<label for="rate-limit-duration">Rate Limit Duration</label>
						<input type="text" id="rate-limit-duration" placeholder="e.g 1m" formControlName="rate_limit_duration" />
					</div>

				</div>
				<div class="input">
					<label class="flex flex__align-items-center" for="http-timeout">
						HTTP Timeout
						<app-tooltip [size]="'small'" position="right" class="margin-left__4px">This specifies how long the socket stays open in the absense of a response.</app-tooltip>
					</label>
					<input id="http-timeout" type="text" formControlName="http_timeout" placeholder="e.g. 10s" />
				</div>
			</div>
		</div>
		<div>
			<button (click)="addEndpoint()" class="button__clear button--has-icon icon-left font__weight-500">
				<img src="/assets/img/add-icon.svg" alt="close icon" />
				Add Endpoint
			</button>
		</div>
	</div>
</form>
<div class="flex flex__justify-end padding-all__24px">
	<button class="button button__white button--large" (click)="closeAppInstance(); editAppMode = false; addNewAppForm.reset()">Discard</button>
	<button id="create-app-button" class="button button__primary margin-left__24px" [disabled]="isSavingApp" (click)="saveApp()">
		{{ editAppMode ? 'Edit App' : 'Create App' }}
	</button>
</div>
