<convoy-loader *ngIf="isLoadingAppDetails"></convoy-loader>

<form [formGroup]="addNewAppForm" id="create-app-form">
	<convoy-card className="px-24px py-24px mt-40px">
		<convoy-input type="text" autocomplete="app-name" name="app-name" formControlName="name" errorMessage="App name is required" label="Enter App Name" placeholder="App name" [required]="true"></convoy-input>
		<div class="grid grid-cols-2 gap-6">
			<convoy-input
				type="email"
				autocomplete="app-slack-url"
				name="app-slack-url"
				formControlName="support_email"
				label="Support Email"
				placeholder="Support email"
				tooltipPosition="right"
				tooltipSize="sm"
				tooltipContent="We use this to send an email notifcation for when a failure happens"
			></convoy-input>
			<convoy-input
				type="url"
				autocomplete="app-email"
				name="app-email"
				formControlName="slack_webhook_url"
				label="Slack webhook url"
				placeholder="Slack webhook url"
				tooltipSize="sm"
				tooltipContent="We use this to send notifications to your slack channel when a failure happens"
			></convoy-input>
		</div>
	</convoy-card>

	<convoy-card className="px-24px py-24px mt-40px" *ngIf="!editAppMode">
		<div formArrayName="endpoints">
			<div *ngFor="let endpoint of endpoints.controls; let i = index" class="mb-20px">
				<div class="flex justify-between items-center mb-16px">
					<h2 class="font-semibold">Endpoint {{ i > 0 ? i + 1 : '' }}</h2>

					<convoy-button (click)="removeEndpoint(i)" type="text" color="danger" className="px-0 font-medium text-12" *ngIf="endpoints.controls.length > 1 && i > 0">
						<img src="/assets/img/trash-icon.svg" alt="close icon" class="mr-2" />
						Remove Endpoint
					</convoy-button>
				</div>
				<div [formGroupName]="i">
					<div class="grid grid-cols-2 gap-6">
						<convoy-input type="text" autocomplete="description" [name]="'description' + i" formControlName="description" errorMessage="Please provide a description" label="Description" placeholder="Description" [required]="true"></convoy-input>
						<convoy-input type="url" autocomplete="endpoint-url" [name]="'endpoint-url' + i" formControlName="url" label="Enter Endpoint URL" placeholder="Endpoint url" errorMessage="Please enter endpoint url" [required]="true"></convoy-input>
						<convoy-input type="text" autocomplete="secret" [name]="'secret' + i" formControlName="secret" label="Secret" placeholder="********"></convoy-input>
						<convoy-input
							type="text"
							autocomplete="http-timeout"
							[name]="'http-timeout' + i"
							formControlName="http_timeout"
							label="HTTP Timeout"
							placeholder="e.g. 10s"
							tooltipSize="sm"
							tooltipPosition="right"
							tooltipContent="This specifies how long the socket stays open in the absense of a response."
						></convoy-input>
					</div>

					<h3 class="mt-24px mb-14px font-medium flex items-center">
						Endpoint Authentication
						<convoy-tooltip size="sm" position="right" class="ml-4px">You can set your provided endpoint authentication if any is required</convoy-tooltip>
					</h3>
					<div class="grid grid-cols-2 gap-6">
						<ng-container formGroupName="authentication">
							<ng-container formGroupName="api_key">
								<convoy-input type="text" autocomplete="header-name" [name]="'header-name' + i" formControlName="header_name" label="API Key Name" placeholder="Name"></convoy-input>
								<convoy-input type="text" autocomplete="header-value" [name]="'header-value' + i" formControlName="header_value" label="API Key Value" placeholder="Value"></convoy-input>
							</ng-container>
						</ng-container>
					</div>

					<h3 class="mt-24px mb-14px font-medium flex items-center">
						Signature Format
						<convoy-tooltip size="sm" position="right" class="ml-4px">This specifies your header and hash function for your project</convoy-tooltip>
					</h3>
					<div class="grid grid-cols-2 gap-6 mb-50px">
						<convoy-radio formControlName="advanced_signatures" label="Simple" [_name]="'signature' + i" [value]="false" [_id]="'signature_simple' + i"></convoy-radio>
						<convoy-radio formControlName="advanced_signatures" label="Advanced" [_name]="'signature' + i" [value]="true" [_id]="'signature_advanced' + i"></convoy-radio>
					</div>
				</div>
			</div>
			<convoy-button (click)="addEndpoint()" type="text" className="px-0 font-medium text-14">
				<img src="/assets/img/add-icon.svg" alt="close icon" class="mr-2 h-16px" />
				Add Endpoint
			</convoy-button>
		</div>
	</convoy-card>
	<div class="flex justify-end mt-6 mb-16">
		<convoy-button buttonType="button" (click)="cancel()" type="outline" className="mr-3 transition-all duration-300 hover:text-danger-100 hover:border-danger-100">Discard</convoy-button>
		<convoy-button [disable]="isSavingApp" (click)="saveApp()">
			{{ isNewProjectRoute() ? 'Save and Proceed' : editAppMode ? 'Edit App' : 'Create App' }}
			<svg width="24" height="24" class="ml-8px fill-white-100">
				<use xlink:href="#arrow-right-icon"></use>
			</svg>
		</convoy-button>
	</div>
</form>

<convoy-confirmation-modal *ngIf="confirmModal" (confirmAction)="discardApp.emit()" (closeModal)="confirmModal = false"></convoy-confirmation-modal>
