<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>
<div style="background: rgba(115, 122, 145, 0.03); border-radius: 0px 0px 4px 4px; padding: 2em;">
    <div style="max-width: 640px; margin: auto">
        <div style="background: white; width: 100%">
            <div style="padding: 30px 40px 60px 40px">
                <img src="https://res.cloudinary.com/frain/image/upload/v1639505046/logos/Convoy/Logo-Name-Inline-Transparent_cep9uj.png"
                     alt="convoy-logo" style="height: 36px; display: inline; float: left;">
            </div>

            <div style="background: #edf2f7; padding: 40px 48px">
                <h1 style="color: #121a26; font-size: 24px; line-height: 34px; font-weight: 700; margin-bottom: 24px; font-family: Inter;">
                    Endpoint Status Update
                </h1>
                <p style="color: #384860; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 0.2px;">
                    Hi there,
                </p>

                {{if eq .endpoint_status "active" }}
                <p style="color: #384860; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 0.2px;">
                    Your endpoint ({{ .name }}) has been enabled or the failure rate has changed.
                </p>
                <ul style="color: #384860; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 0.2px;">
                    <li><strong>URL:</strong> {{.target_url}}</li>
                    <li><strong>Failure Rate:</strong> {{.failure_rate}} </li>
                </ul>
                <p style="color: #384860; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 0.2px;">
                    <strong>Important:</strong> Your endpoint has been restored successfully. Please head over to your dashboard to retry all failed and discarded events.
                </p>
                {{else if eq .endpoint_status "inactive" }}
                <p style="color: #384860; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 0.2px;">
                    Your endpoint ({{ .name }}) has been disabled.
                </p>
                <ul style="color: #384860; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 0.2px;">
                    <li><strong>URL:</strong> {{.target_url}}</li>
                    {{if eq .response_body ""}}
                    <li><strong>Most recent failure message:</strong> {{ .failure_msg }}</li>
                    {{else}}
                    <li><strong>Endpoint Response Body:</strong> {{ .response_body }}</li>
                    <li><strong>Status code:</strong> {{ .status_code }}</li>
                    {{end}}
                    <li><strong>Failure Rate:</strong> {{.failure_rate}} </li>
                </ul>
                <p style="color: #384860; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 0.2px;">
                    <strong>Important:</strong> You are receiving this email because your endpoint has consecutively failed to receive events.
                    To re-activate your endpoint please head over to your dashboard and reactivate it.
                </p>
                {{end}}
            </div>

            <div style="padding: 40px 48px">
                <p style="color: #9ca3af; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 0.2px; word-wrap: break-word;">
                    2261 Market Street, San Francisco, CA 94114
                </p>
                <p style="color: #9ca3af; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; letter-spacing: 0.2px; word-wrap: break-word;">
                    © 2024 Frain Technologies
                </p>
            </div>

            <div style="background: #edf2f7; height: 24px; width: 100%"></div>
        </div>
    </div>
</div>
</body>
</html>