.dashboard--header {
	background: #ffffff;
	padding: 12px 20px;

	&--container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1310px;
		width: 100%;
		margin: auto;
	}

	.logo {
		img {
			width: 100px;
		}
	}

	.user {
		background: #f8f8fa;
		border-radius: 4px;
		padding: 11px 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 256px;
		width: 100%;
		position: relative;

		& > div {
			display: flex;
			align-items: center;
		}

		.icon {
			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #32587d;
			color: #ffffff;
			border-radius: 50%;
			margin-right: 8px;
		}

		.name {
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
		}

		.dropdown {
			position: absolute;
			top: 50px;
			width: 100%;
			background: #ffffff;
			border: 1px solid #edeff5;
			left: 0;
			right: 0;
			z-index: 10;

			ul {
				width: 100%;

				li {
					text-align: left;
					padding: 10px 20px;
					width: 100%;
					font-size: 14px;
					cursor: pointer;
				}
			}
		}
	}
}

.dashboard--page {
	max-width: 1374px;
	width: 100%;
	margin: 32px auto;
	padding: 0 2rem;

	&--details {
		display: flex;
		justify-content: space-between;

		&--chart {
			padding: 0;
			max-width: 850px;
			width: 100%;

			ul {
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
				min-height: 76px;
				align-items: center;
				border-bottom: 1px solid #eaedf3;

				li {
					padding: 16px 30px;
					display: flex;
					align-items: center;

					&.messages {
						background: url(../../assets/img/message-icon-transparent.svg) no-repeat;
						background-position: 210px 35px;
					}

					&.apps {
						background: url(../../assets/img/apps-icon-transparent.svg) no-repeat;
						background-position: 210px 35px;
					}

					&:not(:last-of-type) {
						border-right: 1px solid #eaedf3;
					}

					img {
						margin-right: 30px;
					}

					div {
						&:first-of-type {
							font-weight: 500;
							font-size: 16px;
							line-height: 24px;
						}

						&:last-of-type {
							font-weight: 400;
							font-size: 14px;
							line-height: 22px;
						}
					}
				}
			}

			h3 {
				font-weight: bold;
				font-size: 16px;
				line-height: 28px;
				margin-bottom: 30px;
			}

			& > div {
				padding: 24px;
			}
		}

		&--credentials {
			max-width: 428px;
			width: 100%;

			.card--container {
				padding: 16px 24px;

				.list-item {
					border-radius: 8px;
					padding: 8px 0;
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid #edeff5;

					&--label {
						font-weight: 500;
						font-size: 14px;
						line-height: 28px;
						color: #737a91b2;
					}

					&--item {
						line-height: 24px;
						font-size: 14px;
						word-wrap: break-word;
						color: #000000;
						font-weight: 500;
					}

					button {
						padding: 0;
						background: transparent;
						outline: var(--primary-color);

						img {
							width: 15px;
						}
					}
				}
			}

			.card--footer {
				padding: 12px 24px 24px;

				p {
					font-weight: 500;
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 24px;
					color: #737a91;
				}

				button {
					padding: 3.5px 11px;
					font-weight: 500;
					font-size: 14px;
					line-height: 28px;
				}
			}
		}
	}

	& > .filter .rdrCalendarWrapper {
		width: 27.667em;
		background: transparent;
		margin-left: 8px;
		display: none;
		position: absolute;
		top: 46px;
		background: #fff;
		border: 1px solid #f3f5f9;
	}
}

.filter {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	position: relative;
	align-items: stretch;
	max-height: 50px;

	& > div {
		display: flex;
		align-items: center;
	}

	.filter--button {
		min-width: 145px;
	}

	.filter--button,
	select {
		background: #ffffff;
		border: 1px solid #f3f5f9;
		border-radius: 8px;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;
		line-height: 14px;
		margin: 0 0 0 8px;

		div {
			margin: 0 8px;
		}

		img:last-of-type {
			width: 20px;
		}

		&.active {
			border-color: rgba(71, 125, 179, 0.2);
			box-shadow: 0px 10px 25px rgba(151, 143, 175, 0.08);
			color: var(--primary-color);
			font-weight: 500;
		}
	}

	.select {
		width: fit-content;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			background: url('../../assets/img/angle-arrow-down.svg');
			width: 20px;
			height: 20px;
			background-size: contain;
			right: 5px;
		}

		select {
			height: 46px;
			min-width: 145px;
		}
	}

	&.show-calendar {
		.rdrCalendarWrapper {
			display: flex;
		}
	}
}

.dashboard--logs {
	margin-top: 32px;
	padding: 0 0 20px;
	display: flex;

	.table > div {
		max-height: calc(100vh - 950px);
		min-height: 500px;
		overflow: auto;
	}

	&--tabs {
		width: 100%;
		border-right: 1px solid #edeff5;
		height: 100%;
		overflow: auto;
	}

	&--details {
		padding: 24px 0 0 32px;
		width: 582px;

		hr {
			border: none;
			height: 1px;
			background: #eee;
			margin-bottom: 20px;
		}

		&--meta {
			padding: 8px 0 24px;
			border-bottom: 1px solid #edeff5;
			margin: 10px 0 24px;

			li {
				display: flex;
				max-width: 350px;
				justify-content: space-between;
				margin-bottom: 5px;

				.label {
					font-weight: 500;
					font-size: 14px;
					line-height: 28px;
					color: #737a91;
				}

				.value {
					font-weight: 500;
					font-size: 14px;
					line-height: 28px;

					&.color {
						color: #477db3;
					}
				}
			}
		}

		&--response-data {
			font-size: 13px;
			line-height: 30px;
			width: 100%;
			padding: 1em;
			background: #fbfbfb;
			margin-right: 25px;
		}

		&--tabs-data {
			width: 100%;
			padding-right: 25px;
			opacity: 0;
			position: absolute;
			right: 1000px;
			z-index: -1;
			top: 0;

			&.show {
				opacity: 1;
				position: initial;
				z-index: initial;
			}

			h3 {
				font-size: 0.8rem;
				background: #fbfbfb;
				padding: 10px 23px;
				border-bottom: 2px solid var(--primary-color-inverse);

				&:not(:first-of-type) {
					margin-top: 20px;
				}
			}
		}

		.data-hidden {
			height: 100px;
			overflow-x: hidden;
			overflow-y: hidden;
		}

		&--req-res {
			max-height: calc(100vh - (950px + 198px));
			min-height: 300px;
			overflow-y: auto;

			& > div {
				margin: 20px 0;
			}
		}

		&--endpoints {
			margin: 20px 0;
			border-bottom: none;
			width: 100%;

			li {
				display: block;
				width: 100%;
				padding: 10px 0;
				margin-bottom: 10px;
				border-bottom: 1px solid #edeff5;

				p {
					font-size: 14px;
					margin-top: 10px;
					display: flex;
					align-items: center;

					img {
						width: 15px;
						margin-right: 10px;
					}
				}
			}
		}

		.tabs {
			border: none;
			padding-bottom: 10px;

			.tab {
				padding: 0;

				&:not(:last-of-type) {
					.active button {
						margin-right: 25px;
					}
				}

				&.active {
					&::after {
						content: none;
					}

					button {
						border-color: rgba(71, 125, 179, 0.2);
						box-shadow: 0px 10px 25px rgba(151, 143, 175, 0.08);
						border-radius: 8px;
						color: var(--primary-color);
					}
				}

				button {
					padding: 9px 23px;
					border: 1px solid transparent;
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					letter-spacing: 0.01em;
					transition: border 0.2s;
					color: var(--color-black);
				}
			}
		}
	}
}

.tabs {
	display: flex;
	border-bottom: 1px solid #edeff5;
	width: 100%;
	align-items: center;

	.tabs {
		border: none;
	}

	.tab {
		padding: 18px 16px;
		text-transform: capitalize;

		&.active {
			position: relative;

			&::after {
				content: '';
				bottom: 0px;
				height: 3px;
				width: 100%;
				left: 0;
				right: 0;
				background: var(--primary-color);
				border-radius: 16px 16px 0px 0px;
				position: absolute;
			}
		}
	}

	.filter {
		margin-bottom: 0;
		margin-right: 16px;

		.select select,
		.filter--button {
			height: 40px;
			padding: 10px 8px;
			outline: none;
		}

		.date-filter--container {
			background: #fff;
			display: block;
			position: absolute;
			border: 1px solid #f3f5f9;
			top: 46px;
			right: 150px;
			z-index: 1;

			.button-container {
				padding: 0 0 10px 10px;
				justify-content: flex-start;

				button {
					padding: 8px 25px;

					&:first-of-type {
						margin-right: 10px;
					}
				}
			}
		}

		.rdrCalendarWrapper {
			width: 27.667em;
			background: transparent;
		}
	}
}

.table {
	margin: 24px;

	&--load-more {
		border-top: 1px solid #eee;

		button {
			font-weight: bold;
			font-size: 18px;
		}
	}

	&--date-row {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
}

table {
	width: 100%;
	border-collapse: collapse;

	th {
		text-align: left;
		color: var(--primary-color);
		font-weight: 500;
		font-size: 14px;
		line-height: 28px;
		padding: 9px 10px;
	}

	tbody tr {
		font-weight: 500;
		font-size: 14px;
		line-height: 28px;
		border-radius: 8px;
		transition: all 0.5s;
		cursor: pointer;

		&:not(.table--date-row) {
			&:hover,
			&.active {
				background: rgba(71, 125, 179, 0.05);
			}
		}

		.tag {
			padding: 1px 8px;
			background: rgba(115, 122, 145, 0.1);
			border-radius: 8px;
			max-width: 75px;
			font-weight: 500;
			font-size: 12px;
			line-height: 28px;
			text-align: center;

			&--Failure {
				background: #f7e5e5;
				color: #ff0505;
			}

			&--Retry {
				background: #f8e5b9;
			}

			&--Success {
				background: #e5f7e7;
				color: #1f9c6a;
			}
		}

		.has-retry {
			display: flex;
			align-items: center;
			position: relative;

			img {
				margin-right: 10px;
				width: 16px;
				position: absolute;
				top: 50%;
				transform: translate(-10px, -50%);
				opacity: 0.5;
			}

			.tag {
				margin-left: 13px;
			}
		}

		td {
			padding: 0;

			& > div {
				padding: 9px 10px;
			}
		}

		button img {
			width: 16px;
		}
	}

	button {
		padding: 1px 8px;
		font-weight: 500;
		font-size: 14px;
		line-height: 28px;

		&.spin {
			@keyframes spin {
				100% {
					transform: rotate(360deg);
				}
			}

			img {
				animation: spin 5s linear infinite;
			}
		}
	}
}

.card--empty-state {
	text-align: center;
	font-style: italic;
	font-size: 14px;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 50px;

	button {
		padding: 5px;
	}
}

.rdrDateDisplayWrapper {
	width: 100%;
}

/*----- scrollbar styles ------*/

::-webkit-scrollbar {
	width: 7px;
}

/* track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* handle */
::-webkit-scrollbar-thumb {
	background: rgb(217, 216, 216);
	border-radius: 10px;
}

.empty-state {
	text-align: center;
	max-width: 200px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	p {
		margin-top: 20px;
		font-size: 14px;
	}
}

.react-json-view {
	background: #fbfbfb !important;
	padding: 1rem;
}
