<div class="w-full relative mb-24px" *ngIf="control">
	<label class="w-full font-medium text-12 text-grey-40 mb-8px flex items-center justify-between" [for]="name">
		<div class="flex items-center">
			{{ label }}
			<convoy-tooltip *ngIf="tooltipContent" [position]="tooltipPosition" [size]="tooltipSize" class="ml-4px">{{ tooltipContent }}</convoy-tooltip>
		</div>
		<span *ngIf="required" class="text-10 bg-grey-10 rounded-4px px-1 font-normal">required</span>
	</label>

	<div class="w-full relative" *ngIf="type === 'password'">
		<input
			[type]="showLoginPassword ? 'text' : 'password'"
			[id]="name"
			[name]="name"
			autocomplete="current-password"
			[formControl]="control"
			required
			class="
				transition-all
				duration-[.3s]
				w-full
				font-medium
				text-14
				placeholder:text-grey-40
				text-grey-100
				border
				valid:border-primary-500
				disabled:border-primary-500
				disabled:bg-[#F7F9FC]
				hover:bg-primary-500
				hover:border-grey-20
				focus:border-primary-100
				focus:bg-white-100
				outline-none
				rounded-4px
				placeholder:opacity-[.48]
				bg-[#F7F9FC]
				py-12px
				px-16px
			"
		/>
		<button class="bg-transparent w-18px h-18px absolute top-[55%] right-16px border-none translate-x-0 translate-y-[-50%]" type="button" (click)="showLoginPassword = !showLoginPassword">
			<img
				class="w-full"
				[src]="!showLoginPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
				alt="showLoginPassword ? 'hide password icon' : 'view password icon'"
			/>
		</button>
	</div>

	<input
		*ngIf="type !== 'password'"
		[type]="type || 'text'"
		[id]="name"
		[name]="name"
		[autocomplete]="autocomplete"
		[formControl]="control"
		[required]="required"
		[readonly]="readonly"
		[placeholder]="placeholder"
		class="
			transition-all
			duration-[.3s]
			w-full
			font-medium
			text-14
			placeholder:text-grey-40
			text-grey-100
			border
			valid:border-primary-500
			disabled:border-primary-500
			disabled:bg-[#F7F9FC]
			hover:bg-primary-500
			hover:border-grey-20
			focus:border-primary-100
			focus:bg-white-100
			outline-none
			rounded-4px
			placeholder:opacity-[.48]
			bg-[#F7F9FC]
			py-12px
			px-16px
		"
	/>

	<div class="flex items-center text-12 text-danger-100 mt-8px" *ngIf="control.touched && control.invalid">
		<img src="assets/img/input-error-icon.svg" class="mr-8px w-16px" alt="input error icon" />
		<span>{{ errorMessage }}</span>
	</div>
</div>
