<div convoy-card>
	<div class="flex items-center mt-20px px-20px">
		<h4 class="font-semibold mr-6px">Event Deliveries</h4>
		<convoy-tooltip size="sm" position="right" type="white">
			<h4 class="mb-10px font-semibold text-12">Deliveries missing?</h4>
			<p>
				Your receiving endpoint possibly isn't subscribed for events,
				<ng-container *ngIf="portalToken">reach out to provider</ng-container>
				<ng-container *ngIf="!portalToken">
					check
					<span convoy-button fill="link" class="!inline-block text-12 !p-0" routerLink="../event-logs" [relativeTo]="route">Events Log</span>
					or subscribe your endpoint to events
					<span convoy-button fill="link" class="!inline-block text-12 !p-0" routerLink="../subscriptions/new" [relativeTo]="route">here</span>
					.
				</ng-container>
			</p>
		</convoy-tooltip>
	</div>

	<div class="flex px-16px py-24px border-b border-grey-10 items-center justify-between">
		<div class="flex">
			<convoy-date-picker (selectedDateRange)="getSelectedDateRange($event)" [dateRangeValue]="{ startDate: queryParams?.startDate || '', endDate: queryParams?.endDate || '' }" (clearDates)="clearFilters('startDate')" #datePicker></convoy-date-picker>

			<div convoy-dropdown size="md" position="left" #statusDropdown>
				<button dropdownTrigger convoy-button size="sm" fill="outline" class="px-10px !border-primary-400 ml-16px min-w-[117px] whitespace-nowrap justify-between h-36px" [ngClass]="{ 'text-primary-100 !bg-primary-500': queryParams?.status }">
					<img src="/assets/img/status-filter-icon.svg" class="w-14px mr-10px" alt="status filter icon" />
					<span class="text-grey-40 w-full">Status</span>
					<img class="ml-10px mr-0px w-14px" src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
				</button>

				<ng-container dropdownOptions>
					<ul class="pt-10px">
						<li class="!py-0 pr-20px relative" *ngFor="let status of eventDeliveryStatuses" convoy-list-item>
							<label class="py-10px pl-20px text-12 block w-full" [for]="status">{{ status || 'None' }}</label>
							<input
								type="checkbox"
								name="status"
								class="peer w-20px h-18px border border-new.primary-50 rounded-4px checked:border-new.primary-400 checked:bg-new.primary-25 focus:bottom-2 focus:border-new.primary-400 checked:bg bg-white-100"
								[value]="status"
								[id]="status"
								[checked]="checkIfEventDeliveryStatusFilterOptionIsSelected(status)"
								(change)="updateEventDevliveryStatusFilter(status, $event)"
							/>
							<img src="assets/img/check-icon-primary.svg" class="w-12px hidden peer-checked:block absolute top-[50%] translate-y-[-50%] right-[23px]" alt="check icon" />
						</li>
					</ul>

					<div class="flex items-center justify-end mt-10px p-10px">
						<button convoy-dropdown-option convoy-button size="sm" fill="outline" color="danger" *ngIf="queryParams?.status" (click)="eventDeliveryFilteredByStatus = []; clearFilters('status')">Clear</button>
						<button convoy-dropdown-option convoy-button size="sm" class="ml-14px" *ngIf="eventDeliveryFilteredByStatus.length" (click)="getSelectedStatusFilter()">Apply</button>
					</div>
				</ng-container>
			</div>

			<div convoy-dropdown size="md" position="left" #endpointsFilterDropdown [hidden]="portalToken || this.projectService.activeProjectDetails?.type === 'incoming'">
				<button dropdownTrigger convoy-button size="sm" fill="outline" class="px-10px !border-primary-400 ml-16px min-w-[117px] whitespace-nowrap justify-between h-36px" [ngClass]="{ 'text-primary-100 !bg-primary-500': queryParams?.endpointId }">
					<img src="/assets/img/apps-icon-grey.svg" class="w-14px mr-10px" alt="apps filter icon" />
					<span class="text-grey-40 w-full">All Endpoints</span>
					<img class="ml-10px mr-0px w-14px" src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
				</button>

				<div dropdownOptions class="!max-h-[300px]">
					<div class="m-10px border border-primary-400 h-36px px-14px rounded-[10px] flex items-center bg-white-100">
						<img src="/assets/img/search-icon.svg" alt="search icon" class="mr-10px w-14px" />
						<input type="search" placeholder="Search endpoints here" #eventDelsEndpointFilter class="w-full outline-none text-12" />
					</div>

					<ul class="min-h-[100px] py-10px">
						<li class="!py-0 pr-20px relative" *ngFor="let endpoint of eventsDelEndpointFilter$ | async" convoy-list-item>
							<label [for]="endpoint.uid + 'eventDel'" class="py-10px pl-20px text-12 block w-full capitalize">{{ endpoint.title }}</label>
							<input
								type="checkbox"
								class="peer w-20px h-18px border border-new.primary-50 rounded-4px checked:border-new.primary-400 checked:bg-new.primary-25 focus:bottom-2 focus:border-new.primary-400 checked:bg bg-white-100"
								name="endpoint"
								[value]="endpoint.uid"
								[id]="endpoint.uid + 'eventDel'"
								[checked]="endpoint.uid === eventDeliveriesEndpoint"
								(change)="eventDeliveriesEndpoint = endpoint.uid"
							/>
							<img src="assets/img/check-icon-primary.svg" class="w-12px hidden peer-checked:block absolute top-[50%] translate-y-[-50%] right-[23px]" alt="check icon" />
						</li>
					</ul>

					<div class="p-10px pb-10px flex justify-end">
						<button convoy-button size="sm" fill="outline" color="danger" class="mr-14px" convoy-dropdown-option *ngIf="queryParams?.endpointId" (click)="clearFilters('endpointId')">Clear</button>
						<button convoy-button size="sm" convoy-dropdown-option *ngIf="eventDeliveriesEndpoint" (click)="updateEndpointFilter()">Apply</button>
					</div>
				</div>
			</div>

			<div convoy-dropdown size="md" position="left" #sourcesFilterDropdown [hidden]="portalToken || this.projectService.activeProjectDetails?.type === 'outgoing'">
				<button dropdownTrigger convoy-button size="sm" fill="outline" class="px-10px !border-primary-400 ml-16px min-w-[117px] whitespace-nowrap justify-between h-36px" [ngClass]="{ 'text-primary-100 !bg-primary-500': queryParams?.sourceId }">
					<img src="/assets/img/apps-icon-grey.svg" class="w-14px mr-10px" alt="apps filter icon" />
					<span class="text-grey-40 w-full">All Sources</span>
					<img class="ml-10px mr-0px w-14px" src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
				</button>

				<div dropdownOptions class="!max-h-[324px]">
					<ul class="min-h-[100px] pt-10px">
						<li class="!py-0 pr-20px relative" *ngFor="let source of filterSources" convoy-list-item>
							<label class="py-10px pl-20px text-12 block w-full capitalize" [for]="source.uid + 'eventDel'">{{ source.name }}</label>
							<input
								type="checkbox"
								class="peer w-20px h-18px border border-new.primary-50 rounded-4px checked:border-new.primary-400 checked:bg-new.primary-25 focus:bottom-2 focus:border-new.primary-400 checked:bg bg-white-100"
								name="source"
								[value]="source.uid"
								[id]="source.uid + 'eventDel'"
								[checked]="source.uid === eventDeliveriesSource"
								(change)="eventDeliveriesSource = source.uid"
							/>
							<img src="assets/img/check-icon-primary.svg" class="w-12px hidden peer-checked:block absolute top-[50%] translate-y-[-50%] right-[23px]" alt="check icon" />
						</li>
					</ul>

					<div class="flex items-center justify-end mt-10px p-10px">
						<button convoy-button convoy-dropdown-option size="sm" fill="outline" color="danger" class="mr-14px" *ngIf="queryParams?.sourceId" (click)="clearFilters('sourceId')">Clear</button>
						<button convoy-dropdown-option convoy-button size="sm" (click)="eventDeliveriesSource ? updateSourceFilter() : false">Apply</button>
					</div>
				</div>
			</div>

			<div class="text-primary-100 bg-primary-500 border border-primary-100 ml-14px flex items-center justify-between text-12 rounded-[10px] h-36px py-4px px-10px min-w-[100px] font-medium" *ngIf="queryParams?.eventId">
				Event Filtered
				<button class="ml-4px">
					<img class="w-14px" src="assets/img/close-icon.svg" alt="close icon" (click)="clearFilters('eventId')" />
				</button>
			</div>

			<button convoy-button size="sm" fill="outline" class="ml-14px px-10px border-primary-400 h-36px" [disabled]="(!queryParams?.startDate || !queryParams?.endDate) && !queryParams?.endpointId && !queryParams?.eventId && !queryParams?.status" (click)="fetchRetryCount()">
				Batch Retry
			</button>
		</div>

		<button
			convoy-button
			fill="outline"
			size="sm"
			(click)="eventDeliveriesSource = ''; eventDeliveryFilteredByStatus = []; clearFilters()"
			*ngIf="queryParams?.startDate || queryParams?.endDate || queryParams?.endpointId || queryParams?.eventId || queryParams?.status || queryParams?.sourceId"
		>
			Clear Filters
		</button>
	</div>

	<convoy-table-loader id="event_deliveries_loader" [tableHead]="eventDelTableHead" *ngIf="isloadingEventDeliveries"></convoy-table-loader>

	<div class="min-h-[70vh] overflow-y-auto overflow-x-auto w-full min-w-[485px]" id="event-deliveries-table-container" *ngIf="!isloadingEventDeliveries && displayedEventDeliveries && displayedEventDeliveries.length > 0">
		<table convoy-table>
			<thead convoy-table-head>
				<th convoy-table-head-cell [class]="i === 0 ? 'pl-20px' : ''" *ngFor="let head of eventDelTableHead; let i = index">{{ head }}</th>
			</thead>
			<tbody>
				<ng-container *ngFor="let eventDeliveriesGroup of displayedEventDeliveries; let i = index">
					<tr convoy-table-row [forDate]="true">
						<td convoy-table-cell [forDate]="true">{{ eventDeliveriesGroup.date }}</td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
						<td convoy-table-cell [forDate]="true"></td>
					</tr>
					<ng-container *ngFor="let eventDelivery of eventDeliveriesGroup.content; let index = index">
						<tr convoy-table-row *ngFor="let event of eventDelivery.eventDeliveries; let index = index" [id]="'eventDel' + i" [routerLink]="['./event-deliveries/' + event.uid]" [queryParams]="{ token: portalToken }">
							<td convoy-table-cell class="pl-16px relative">
								<img *ngIf="event.metadata.num_trials > event.metadata.retry_limit" src="assets/img/retry-icon.svg" alt="retry icon" title="manually retried" class="w-12px absolute top-[50%] -translate[3px] -translate-y-[50%] opacity-50" />
								<convoy-tag className="ml-20px" [color]="event.status | statuscolor">{{ event?.status }}</convoy-tag>
							</td>

							<td convoy-table-cell>
								<div class="flex items-center">
									<ng-container *ngIf="projectService.activeProjectDetails?.type === 'incoming'">
										<span class="max-w-[146px] overflow-hidden overflow-ellipsis">
											{{ event?.source_metadata?.name || 'Rest API' }}
										</span>

										<span class="px-20px font-light">→</span>
									</ng-container>

									<span [class]="projectService.activeProjectDetails?.type === 'incoming' ? 'max-w-[146px] overflow-hidden overflow-ellipsis' : 'w-166px' + ' overflow-hidden overflow-ellipsis'">
										{{ event.endpoint_metadata.title }}
									</span>
									<!-- show this if CLI is the receiver -->
									<convoy-tag *ngIf="event.device_id" className="flex items-center">
										<svg width="16" height="14" class="mr-10px">
											<use xlink:href="#cli-icon"></use>
										</svg>
										CLI Device
									</convoy-tag>
								</div>
							</td>
							<td convoy-table-cell>{{ event.device_id ? '-' : event.metadata.num_trials }}</td>
							<td convoy-table-cell>{{ event?.status == 'Success' || event.metadata.num_trials >= event.metadata.retry_limit || event?.status == 'Discarded' ? '-' : (event.metadata.next_send_time | date: 'mediumTime') }}</td>
							<td convoy-table-cell>{{ event.created_at | date: 'mediumTime' }}</td>
							<td convoy-table-cell>
								<button
									convoy-button
									size="xs"
									texture="light"
									[disabled]="event.status !== 'Success' && event.status !== 'Failure' && event.status !== 'Discarded'"
									(click)="event.status === 'Success' ? forceRetryEvent({ e: $event, index: this.index, eventDeliveryId: event.uid }) : retryEvent({ e: $event, index: this.index, eventDeliveryId: event.uid })"
								>
									<img src="assets/img/refresh-icon-primary.svg" alt="refresh icon" class="mr-10px" />
									{{ event.status === 'Success' ? 'Force Retry' : 'Retry' }}
								</button>
							</td>
							<td convoy-table-cell>
								<button size="xs" [routerLink]="'./event-deliveries/' + event.uid">
									<img src="assets/img/angle-arrow-right-primary.svg" alt="arrow right" class="h-16px" />
								</button>
							</td>
						</tr>
						<tr convoy-table-row [forDate]="true"></tr>
					</ng-container>
				</ng-container>
			</tbody>
		</table>

		<!-- pagination -->
		<div class="pt-8px flex items-center justify-between px-10px" *ngIf="eventDeliveries?.pagination?.has_next_page || eventDeliveries?.pagination?.has_prev_page">
			<convoy-pagination [pagination]="eventDeliveries?.pagination" (paginate)="paginateEvents($event)"></convoy-pagination>
			<div class="text-grey-40 text-14">{{ eventDeliveries?.content?.length }} events</div>
		</div>
	</div>
</div>

<!-- empty state  -->
<div convoy-card class="py-60px rounded-tr-[0] rounded-tl-[0]" *ngIf="!isloadingEventDeliveries && (!displayedEventDeliveries || displayedEventDeliveries?.length === 0)">
	<div convoy-empty-state imgSrc="/assets/img/empty-state.svg" heading="No event to show here"></div>
</div>

<div convoy-modal position="center" size="sm" *ngIf="showBatchRetryModal">
	<div class="text-center py-30px">
		<img src="/assets/img/filter.gif" alt="filter icon" class="w-50px m-auto mb-16px" />
		<div class="text-center text-16 font-medium text-grey-60 mb-8px">The filters applied will affect</div>
		<div class="text-center text-16 font-semibold mb-32px">{{ batchRetryCount || 0 }} event deliver{{ batchRetryCount > 1 ? 'ies' : 'y' }}</div>
		<button convoy-button [disabled]="isRetrying || batchRetryCount == 0" class="m-auto" (click)="batchRetryEvent()">{{ isRetrying ? 'Retrying Events...' : 'Yes, Apply' }}</button>
		<button convoy-button fill="clear" class="font-semibold m-auto" (click)="showBatchRetryModal = false">No, Cancel</button>
	</div>
</div>
