<convoy-card className="rounded-tl-[0] rounded-tr-[0]">
	<div class="flex px-16px py-24px border-b border-grey-10 items-center justify-between">
		<div class="flex">
			<date-filter (selectedDateRange)="getSelectedDateRange($event)" [dateRangeValue]="dateFiltersFromURL" (clearDates)="clearFilters('eventsDelDate')"></date-filter>
			<app-time-filter class="margin-left__14px" (applyFilter)="eventDelsTimeFilterData = $event; getEventDeliveries({ addToURL: true, fromFilter: true })" #eventDeliveryTimerFilter></app-time-filter>

			<div class="dropdown margin-left__14px">
				<button
					class="button button__filter button--has-icon icon-left"
					[ngClass]="{ active: eventDeliveryFilteredByStatus.length > 0 }"
					(click)="showOverlay = true; showEventDeliveriesStatusDropdown = !showEventDeliveriesStatusDropdown"
				>
					<img class="margin-left__0px" src="/assets/img/status-filter-icon.svg" alt="status filter icon" />
					<span class="font__weight-500">Status</span>
					<img class="margin-left__16px margin-right__0px" src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
				</button>

				<div class="dropdown__menu with-padding small" [ngClass]="{ show: showEventDeliveriesStatusDropdown }">
					<div class="dropdown__menu__item with-border" *ngFor="let status of eventDeliveryStatuses">
						<label [for]="status">{{ status || 'None' }}</label>
						<input
							type="checkbox"
							name="status"
							[value]="status"
							[id]="status"
							[checked]="checkIfEventDeliveryStatusFilterOptionIsSelected(status)"
							(change)="updateEventDevliveryStatusFilter(status, $event)"
						/>
					</div>

					<div class="flex flex__align-items-center margin-top__10px">
						<button
							class="button button__small button__primary font__12px margin-right__10px"
							(click)="showOverlay = false; showEventDeliveriesStatusDropdown = false; this.getEventDeliveries({ addToURL: true, fromFilter: true })"
						>
							Apply
						</button>
						<button class="button__clear" (click)="clearFilters('eventsDelsStatus'); showEventDeliveriesStatusDropdown = false; showOverlay = false">Clear</button>
					</div>
				</div>
			</div>

			<div class="dropdown margin-left__14px" [hidden]="appPortalToken">
				<button
					class="button button__filter button--has-icon icon-left"
					[ngClass]="{ active: !!eventDeliveriesApp }"
					(click)="showOverlay = true; showEventDeliveriesAppsDropdown = !showEventDeliveriesAppsDropdown"
				>
					<img class="margin-left__0px" src="/assets/img/apps-icon-grey.svg" alt="apps filter icon" />
					<span class="font__weight-500">All Apps</span>
					<img class="margin-left__16px margin-right__0px" src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
				</button>

				<div class="dropdown__menu large with-padding" [ngClass]="{ show: showEventDeliveriesAppsDropdown }">
					<div class="input__search">
						<img src="/assets/img/search-icon.svg" alt="search icon" />
						<input type="search" placeholder="Search apps here" #eventDelsAppsFilter />
					</div>

					<div class="dropdown__menu__item with-border" *ngFor="let app of eventsDelAppsFilter$ | async">
						<label [for]="app.uid + 'eventDel'">{{ app.name }}</label>
						<input type="checkbox" name="app" [value]="app.uid" [id]="app.uid + 'eventDel'" [checked]="app.uid === eventDeliveriesApp" (change)="updateAppFilter(app.uid, $event)" />
					</div>
					<div *ngIf="filteredApps?.length !== 0 && !!eventDeliveriesApp" class="margin-top__10px">
						<button class="button button__clear button__small" (click)="clearFilters('eventsDelApp'); showEventDeliveriesAppsDropdown = false; showOverlay = false">Clear</button>
					</div>
					<p *ngIf="filteredApps?.length === 0">No app to display</p>
				</div>
			</div>

			<div class="button__filter active margin-left__14px" *ngIf="eventDeliveryFilteredByEventId">
				Event Filtered
				<button class="button__clear button--has-icon margin-left__4px" (click)="eventDeliveryFilteredByEventId = ''; getEventDeliveries()">
					<img src="assets/img/close-icon.svg" alt="close icon" />
				</button>
			</div>

			<button
				class="button button__filter margin-left__14px flex__justify-center"
				(click)="fetchRetryCount(); showBatchRetryModal = true"
				[ngClass]="{
					disabled:
						(dateFiltersFromURL.startDate == '' || dateFiltersFromURL.endDate == '') &&
						(eventDeliveriesApp?.length == 0 || eventDeliveriesApp == undefined) &&
						(eventDeliveryFilteredByEventId?.length == 0 || eventDeliveryFilteredByEventId == undefined) &&
						!eventDeliveriesStatusFilterActive &&
						eventDelsTimeFilterData.startTime == 'T00:00:00' &&
						eventDelsTimeFilterData.endTime == 'T23:59:59'
				}"
			>
				Batch Retry
			</button>
		</div>

		<button
			class="button button__white button__small font__12px"
			(click)="clearFilters()"
			[ngClass]="{
				disabled:
					(dateFiltersFromURL.startDate == '' || dateFiltersFromURL.endDate == '') &&
					(eventDeliveriesApp?.length == 0 || eventDeliveriesApp == undefined) &&
					(eventDeliveryFilteredByEventId?.length == 0 || eventDeliveryFilteredByEventId == undefined) &&
					!eventDeliveriesStatusFilterActive &&
					eventDelsTimeFilterData.startTime == 'T00:00:00' &&
					eventDelsTimeFilterData.endTime == 'T23:59:59'
			}"
		>
			Clear Filters
		</button>
	</div>

	<div class="event__table width-100">
		<convoy-table-loader id="event_deliveries_loader" [tableHead]="eventDelTableHead" *ngIf="isloadingEventDeliveries"></convoy-table-loader>

		<div class="table table--container has-loader" id="event-deliveries-table-container" *ngIf="displayedEventDeliveries && displayedEventDeliveries.length > 0">
			<table id="table">
				<thead>
					<tr class="table--head">
						<th *ngFor="let head of eventDelTableHead" scope="col">{{ head }}</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let eventDeliveriesGroup of displayedEventDeliveries; let i = index">
						<tr class="table--date-row">
							<td>
								<div>{{ eventDeliveriesGroup.date }}</div>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr
							*ngFor="let event of eventDeliveriesGroup.content; let index = index"
							[ngClass]="{ 'last-item': index === eventDeliveriesGroup.content.length - 1, active: event.uid === eventDelsDetailsItem?.uid }"
							[id]="'eventDel' + i"
							[routerLink]="['./event-deliveries/' + event.uid]"
						>
							<td>
								<div class="has-retry">
									<img *ngIf="event.metadata.num_trials > event.metadata.retry_limit" src="assets/img/retry-icon.svg" alt="retry icon" title="manually retried" />
									<div [class]="'tag tag--' + event.status">{{ event.status }}</div>
								</div>
							</td>
							<td>
								<div>
									<div class="tag tag--Neutral">{{ event?.event_metadata?.event_type }}</div>
								</div>
							</td>
							<td>
								<div>{{ event.metadata?.num_trials }}</div>
							</td>
							<td>
								<div>{{ event.metadata?.retry_limit }}</div>
							</td>
							<td>
								<div>{{ event.created_at | date: 'mediumTime' }}</div>
							</td>
							<td>
								<div>
									<button
										[disabled]="event.status !== 'Failure' && event.status !== 'Success'"
										class="button__retry button--has-icon icon-left font__12px"
										(click)="
											event.status === 'Success'
												? forceRetryEvent({ e: $event, index: this.index, eventDeliveryId: event.uid })
												: retryEvent({ e: $event, index: this.index, eventDeliveryId: event.uid })
										"
									>
										<img src="assets/img/refresh-icon-primary.svg" alt="refresh icon" />

										{{ event.status === 'Success' ? 'Force Retry' : 'Retry' }}
									</button>
								</div>
							</td>
							<td class="width__5">
								<div>
									<button class="button__clear button--has-icon icon-right" [routerLink]="'./delivery/' + event.uid">
										<img src="assets/img/angle-arrow-right-primary.svg" alt="arrow right" />
									</button>
								</div>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</div>

		<div class="flex flex__column flex__justify-center flex__align-items-center table--container" id="events-empty-state" *ngIf="displayedEventDeliveries?.length === 0">
			<img src="/assets/img/empty-state.svg" alt="empty state" class="empty-state-img" />
			<p class="font__14px font__weight-600 margin-top__0px color__black width__20 text--center">No event to show here</p>
		</div>
	</div>
</convoy-card>

<div class="button-container flex flex__align-items-center margin-top__16px">
	<button
		class="button button__white button__primary button__outline button--has-icon icon-left padding-y__4px padding-right__16px padding-left__4px"
		routerLink="./"
		[queryParams]="{ page: eventDeliveries?.pagination?.prev }"
		[disabled]="eventDeliveries?.pagination?.prev === 0"
		(click)="getEventDeliveries({ page: eventDeliveries?.pagination?.prev })"
	>
		<svg width="24" height="24" class="margin-right__8px">
			<use xlink:href="#arrow-left-icon"></use>
		</svg>
		Previous
	</button>

	<button
		class="button button__white button__primary button__outline button--has-icon icon-left padding-y__4px padding-left__16px padding-right__4px margin-left__16px"
		routerLink="./"
		[queryParams]="{ page: eventDeliveries?.pagination?.next }"
		[disabled]="eventDeliveries?.pagination?.next === 0"
		(click)="getEventDeliveries({ page: eventDeliveries?.pagination?.next })"
	>
		Next
		<svg width="24" height="24" class="margin-left__8px" fill="var(--primary-color)">
			<use xlink:href="#arrow-right-icon"></use>
		</svg>
	</button>
</div>

<div class="overlay" *ngIf="showOverlay" (click)="showOverlay = false; showEventDeliveriesAppsDropdown = false; showEventDeliveriesStatusDropdown = false"></div>
<div class="_overlay" *ngIf="showBatchRetryModal" (click)="showBatchRetryModal = false"></div>
<!-- batch retry modal  -->
<div class="modal modal__center" *ngIf="showBatchRetryModal">
	<div class="modal--body flex flex__column flex__justify-center flex__align-items-center delete">
		<img src="/assets/img/filter.gif" alt="filter icon" class="filter-img" />
		<div class="text-center font__20px font__weight-500 color__grey margin-bottom__8px">The filters applied will affect</div>
		<div class="text-center font__20px font__weight-600 color__black margin-bottom__32px">{{ batchRetryCount || 0 }} event{{ batchRetryCount > 1 ? 's' : '' }}</div>
		<button class="button button__primary" [disabled]="isRetrying || batchRetryCount == 0" (click)="batchRetryEvent()">{{ isRetrying ? 'Retrying Events...' : 'Yes, Apply' }}</button>
		<button class="button__primary button__clear margin-top__28px font__weight-600" (click)="showBatchRetryModal = false">No, Cancel</button>
	</div>
</div>
