button {
	cursor: pointer;
	padding: 16px 40px;
	border: none;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	border-radius: 4px;
	white-space: nowrap;

	&.primary {
		--btn-color: var(--primary-color);
		--btn-color-hover: rgba(var(--primary-color-rgb), 0.03);
		--btn-text-color: var(--primary-color-inverse);
		background-color: var(--btn-color);
		color: var(--btn-text-color);

		&.transparent {
			background-color: rgba(var(--primary-color-rgb), 0.2);
			color: var(--btn-color);
		}
	}

	&.primary-inverse {
		--btn-color: var(--primary-color-inverse);
		--btn-text-color: var(--primary-color);
		background-color: var(--btn-color);
		color: var(--btn-text-color);
	}

	&.danger {
		--btn-color: var(--danger-color);
		--btn-color-hover: rgba(var(--danger-color-rgb), 0.03);
		--btn-text-color: var(--primary-color-inverse);
		background-color: var(--btn-color);
		color: var(--btn-text-color);
	}

	&.danger-btn {
		--btn-color: var(--danger-color);
		background-color: var(--danger-color);
		color: var(--color-white);
	}

	&.grey {
		--btn-color: rgba(var(--grey-color-rgb), 0.16);
		--btn-text-color: var(--color-black);
		background-color: var(--btn-color);
		color: var(--btn-text-color);
	}

	&.outline {
		letter-spacing: 0.2px;
		font-size: 14px;
		line-height: 24px;
		color: var(--btn-color);
		background-color: transparent;
		border: 1px solid var(--btn-color);
		border-radius: 8px;
	}

	&.clear {
		letter-spacing: 0.2px;
		font-size: 14px;
		line-height: 25px;
		color: var(--btn-color);
		background: transparent;
		padding: 0;
	}

	&.hover {
		&:hover {
			background-color: var(--btn-color-hover);
			color: var(--btn-text-color);
			transition: all 0.3s ease;
		}
	}

	&.full {
		width: 90%;
	}

	&.full-100 {
		width: 100%;
	}

	&.has-icon {
		display: flex;
		align-items: center;
		justify-content: center;

		&.icon-right {
			img {
				margin-left: 10px;
			}
		}

		&.icon-left {
			img {
				margin-right: 10px;
			}
		}
	}

	&.round {
		border-radius: 50%;
	}
}

.button-container {
	display: flex;
	justify-content: flex-end;

	button.primary,
	button.grey {
		padding: 16px 71.5px;
	}

	&.margin-top {
		margin-top: 40px;
	}

	&.margin-bottom {
		margin-bottom: 40px;
	}

	&.center {
		justify-content: center;
	}

	&.left {
		justify-content: flex-start;
	}
}

.link {
	color: var(--primary-color);
	text-decoration: underline;
}

.disabled,
button:disabled {
	cursor: not-allowed;
	opacity: 0.4;
	text-decoration: none;
	pointer-events: none;
	cursor: not-allowed;
}
