<div class="min-h-screen flex flex-col items-center justify-center w-full">
	<ng-container *ngIf="activeState == 'resetPassword'">
		<img src="/assets/img/logo.svg" alt="convoy logo" class="mb-28px w-130px" />
		<h2 class="font-semibold text-20 mb-10px text-grey-100">Forgot your password? 🔐</h2>
		<p class="text-grey-40 text-center text-16px max-w-[445px] mb-32px">Enter your email address and we’ll email you a link to reset your password.</p>
		<section class="max-w-[445px] mx-auto my-0 px-24px py-24px w-full bg-white-100 shadow-default rounded-8px">
			<form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
				<convoy-input-field>
					<label for="email" convoy-label required="true">Email Address</label>
					<input type="email" id="email" convoy-input autocomplete="email" formControlName="email" placeholder="super@default.com" />
					<convoy-input-error *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid">Please enter a valid email</convoy-input-error>
				</convoy-input-field>
				<button convoy-button [disabled]="loading" size="lg">
					{{ loading ? 'Sending...' : 'Send Link' }}
				</button>
			</form>
		</section>
	</ng-container>
	<ng-container *ngIf="activeState == 'instructionSent'">
		<img src="/assets/img/logo.svg" alt="convoy logo" class="mb-40px w-130px" />
		<img src="/assets/img/forgot-password.svg" alt="forgot password" class="mb-40px" />
		<h2 class="font-semibold text-20 mb-10px">We sent you a password reset link, 📬 🔐</h2>
		<p class="text-grey-40 text-center text-16px max-w-[445px] mb-32px">A password reset link has been sent to your email, follow the link in your email to change your password</p>
		<button convoy-button [disabled]="loading" fill="outline" class="w-[450px] mb-20px" (click)="resetPassword()">
			{{ loading ? 'Sending...' : 'Resend Reset Link' }}
		</button>
		<button convoy-button fill="link" (click)="router.navigateByUrl('/login')" size="sm">Go to login</button>
	</ng-container>
</div>
