<div class="flex w-full">
	<aside class="bg-secondary min-w-[574px] desktop:w-0 h-screen transition-all duration-300 px-56px pt-44px">
		<a href="https://getconvoy.io" target="_blank">
			<img src="/assets/img/svg/white-logo.svg" alt="Convoy Logo" />
		</a>
		<h1 class="text-[40px] leading-[52px] text-white-100 font-bold mt-200px mb-24px">Welcome Back</h1>
		<p class="text-grey-20 text-16 max-w-[300px]">Get back to monitoring your web-hooks with Convoy</p>
	</aside>
	<div class="min-h-screen flex flex-col items-center justify-center w-full">
		<ng-container *ngIf="activeState == 'resetPassword'">
			<img src="/assets/img/logo.svg" alt="convoy logo" class="mb-28px w-130px" />
			<h1 class="font-bold mb-10px">Forgot your password? 🔐</h1>
			<p class="text-grey-40 text-center text-16px max-w-[510px] mb-24px">Enter your email address and we’ll email you a link to reset your password.</p>
			<section convoy-card class="max-w-[494px] mx-auto my-0 shadow-sm p-24px w-full">
				<form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
					<convoy-input-field>
						<label for="email" convoy-label required="true">Email Address</label>
						<input type="email" id="email" convoy-input autocomplete="email" formControlName="email" placeholder="super@default.com" />
						<convoy-input-error *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid">Please enter a valid email</convoy-input-error>
					</convoy-input-field>
					<button convoy-button [disabled]="loading" size="lg">
						{{ loading ? 'Sending...' : 'Send Link' }}
					</button>
				</form>
			</section>
		</ng-container>
		<ng-container *ngIf="activeState == 'instructionSent'">
			<h1 class="font-bold mb-10px">We just sent you a password reset link, 📬</h1>
			<p class="text-grey-40 text-center text-16px max-w-[492px] mb-24px">A password reset link has been sent to your email, follow the link in your email to change your password</p>
			<section convoy-card class="max-w-[494px] mx-auto my-0 shadow-sm p-24px w-full flex flex-col justify-center items-center">
				<img src="/assets/img/new-success.gif" alt="success gif" class="h-58px w-58px rounded-100px mb-24px" />
				<p class="text-16 text-grey-100 font-semibold mb-10px" *ngIf="timeLeft !== 0">(0:{{ timeLeft < 10 ? '0' + timeLeft : timeLeft }})</p>
				<div class="flex items-center text-16 text-grey-40 font-semibold">
					Didn’t receive a link?
					<button convoy-button [disabled]="loading || timeLeft !== 0" fill="link" color="grey" class="!text-grey-40 text-16 font-semibold ml-6px" (click)="resetPassword()">
						{{ loading ? 'Sending...' : 'Resend Link' }}
					</button>
				</div>
			</section>
		</ng-container>
	</div>
</div>
