<div class="auth-page">
	<ng-container *ngIf="activeState == 'resetPassword'">
		<img src="/assets/img/logo.svg" class="logo" alt="convoy logo" />
		<h3>Forgot your password? 🔐</h3>
		<p class="center">Enter your email address and we’ll email you a link to reset your password.</p>
		<section class="auth-page--container">
			<form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
				<div class="input">
                    <label for="email">Email Address</label>
					<div class="input--password">
						<input
							type="text"
							aria-label="email"
							name="email"
							autocomplete="email"
							formControlName="email"
							id="email"
							[ngClass]="{ danger: forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid }"
							required
						/>
						<button class="input--password__view-toggle" *ngIf="forgotPasswordForm.controls.email.valid">
							<img src="/assets/img/input-valid-icon.svg" class="input--valid-icon" alt="input valid icon" />
						</button>
					</div>
					<div class="input__error input__error__danger" *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Please enter a valid email.</span>
					</div>
				</div>
				<div class="button-container margin-top" (click)="resetPassword()">
					<button class="button button__primary button--full-100" [disabled]="loading">{{ loading ? 'Sending...' : 'Send Link' }}</button>
				</div>
			</form>
		</section>
	</ng-container>
	<ng-container *ngIf="activeState == 'instructionSent'">
		<img src="/assets/img/logo.svg" class="logo" alt="convoy logo" />
		<div class="logo-2 margin-bottom__40px">
			<img src="/assets/img/forgot-password.svg" alt="forgot password" />
		</div>
		<h3>We sent you a password reset link, 📬 🔐</h3>
		<p class="center">A password reset link has been sent to your email, follow the link in your email to change your password</p>
		<div class="flex flex__column flex__justify-center width__100" (click)="resetPassword()">
			<button class="button button__white button--full-100 margin-auto" [disabled]="loading">{{ loading ? 'Sending...' : 'Resend Reset Link' }}</button>
			<button class="button__clear color__primary margin-top__40px" [routerLink]="['/login']">Go to Login</button>
		</div>
	</ng-container>
</div>
