<div class="py-26px mb-20px">
	<h3 class="text-14 text-neutral-12 font-semibold mb-16px">Event Delivery Details</h3>

	<!-- event delivery details loader  -->
	<div class="flex items-center mb-50px py-16px border-y border-y-new.primary-25" *ngIf="isLoadingDeliveryDetails">
		<div class="flex items-center">
			<div class="pr-30px py-24px">
				<p class="text-neutral-10 text-12 font-light">STATUS</p>
				<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
			</div>
			<div class="w-[1px] h-40px bg-new.primary-25"></div>
		</div>
		<div class="flex items-center">
			<div class="px-30px py-24px">
				<p class="text-neutral-10 text-12 font-light">EVENT TYPE</p>
				<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
			</div>
			<div class="w-[1px] h-40px bg-new.primary-25"></div>
		</div>

		<div class="flex items-center">
			<div class="px-30px py-24px">
				<p class="text-neutral-10 text-12 font-light">TIME</p>
				<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
			</div>
			<div class="w-[1px] h-40px bg-new.primary-25"></div>
		</div>

		<div class="flex items-center">
			<div class="px-30px py-24px">
				<p class="text-neutral-10 text-12 font-light">IP ADDRESS</p>
				<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
			</div>
			<div class="w-[1px] h-40px bg-new.primary-25"></div>
		</div>

		<div class="flex items-center">
			<div class="px-30px py-24px">
				<p class="text-neutral-10 text-12 font-light">API VERSION</p>
				<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
			</div>
			<div class="w-[1px] h-40px bg-new.primary-25"></div>
		</div>

		<div class="pl-30px">
			<p class="text-neutral-10 text-12 font-light">IDEMPOTENCY KEY</p>
			<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
		</div>
	</div>

	<!-- event delivery details  -->
	<div class="flex items-center mb-50px py-16px border-y border-y-new.primary-25" *ngIf="!isLoadingDeliveryDetails">
		<div class="flex items-center">
			<div class="pr-30px">
				<p class="text-neutral-10 text-12 font-light mb-6px">STATUS</p>
				<convoy-tag [color]="eventDelsDetails?.status || '' | statuscolor">{{ eventDelsDetails?.status }}</convoy-tag>
			</div>
			<div class="w-[1px] h-40px bg-new.primary-25"></div>
		</div>
		<div class="flex items-center">
			<div class="px-30px">
				<p class="text-neutral-10 text-12 font-light mb-6px">EVENT TYPE</p>
				<convoy-tag color="primary" fill="soft">{{ eventDelsDetails?.event_metadata?.event_type }}</convoy-tag>
			</div>
			<div class="w-[1px] h-40px bg-new.primary-25"></div>
		</div>

		<div class="flex items-center">
			<div class="px-30px">
				<p class="text-neutral-10 text-12 font-light mb-6px">TIME</p>
				<p class="text-12 font-medium">{{ eventDelsDetails?.updated_at | date: 'medium' }}</p>
			</div>
			<div class="w-[1px] h-40px bg-new.primary-25"></div>
		</div>

		<div class="flex items-center">
			<div class="px-30px" *ngIf="!eventDelsDetails?.device_id">
				<p class="text-neutral-10 text-12 font-light mb-6px">IP ADDRESS</p>
				<p class="text-12 font-medium">{{ eventDeliveryAtempt?.ip_address || '-' }}</p>
			</div>
			<div class="px-30px" *ngIf="eventDelsDetails?.device_id">
				<p class="text-neutral-10 text-12 font-light mb-6px">DEVICE</p>

				<div class="flex items-center text-12 font-medium">
					<div>
						<svg width="16" height="14" class="mr-8px">
							<use xlink:href="#cli-icon"></use>
						</svg>
					</div>
					<span class="w-100px whitespace-nowrap overflow-hidden overflow-ellipsis">{{ eventDelsDetails?.device_metadata?.host_name || '-' }}</span>
				</div>
			</div>
			<div class="w-[1px] h-40px bg-new.primary-25"></div>
		</div>

		<div class="flex items-center">
			<div class="px-30px" *ngIf="!eventDelsDetails?.device_id">
				<p class="text-neutral-10 text-12 font-light mb-6px">API VERSION</p>
				<p class="text-12 font-medium">{{ eventDeliveryAtempt?.api_version || '-' }}</p>
			</div>
			<div class="w-[1px] h-40px bg-new.primary-25"></div>
		</div>

		<div class="pl-30px">
			<p class="text-neutral-10 text-12 font-light mb-6px">IDEMPOTENCY KEY</p>
			<p class="text-12 font-medium w-150px whitespace-nowrap overflow-hidden overflow-ellipsis">{{ eventDelsDetails?.idempotency_key || '-' }}</p>
		</div>
	</div>

	<h3 class="text-14 text-neutral-12 font-semibold mb-16px">Endpoint Details</h3>

	<!-- event delivery details loader  -->
	<div class="flex items-center mb-50px py-16px border-y border-y-new.primary-25 justify-between" *ngIf="isloadingEndpoint">
		<div class="flex items-center gap-24px">
			<convoy-skeleton-loader className="w-120px h-28px"></convoy-skeleton-loader>
			<convoy-skeleton-loader className="w-60px h-28px"></convoy-skeleton-loader>
		</div>

		<convoy-skeleton-loader className="w-300px h-28px"></convoy-skeleton-loader>

		<div class="flex items-center gap-24px">
			<convoy-skeleton-loader className="w-290px h-28px"></convoy-skeleton-loader>
			<convoy-skeleton-loader className="w-34px h-28px"></convoy-skeleton-loader>
		</div>
	</div>

	<div class="mb-50px py-16px border-y border-y-new.primary-25 flex justify-between items-center">
		<div class="flex items-center gap-24px">
			<div class="text-12 text-neutral-12">{{ eventDelsDetails?.endpoint_metadata?.title }}</div>
			<convoy-tag *ngIf="eventDelsDetails?.endpoint_metadata?.status" [color]="eventDelsDetails?.endpoint_metadata?.status || '' | statuscolor">{{ eventDelsDetails?.endpoint_metadata?.status }}</convoy-tag>
		</div>

		<div class="text-12 text-neutral-12 truncate max-w-[370px]">{{ eventDelsDetails?.endpoint_metadata?.target_url }}</div>

		<div class="flex items-center gap-24px">
			<convoy-copy-button [text]="eventDelsDetails?.endpoint_metadata?.target_url || ''" color="primary" show-icon="false" [notificationText]="eventDelsDetails?.endpoint_metadata?.title + ' URL has been copied to clipboard'">
				<div convoy-tag color="primary" class="flex items-center !gap-12px">
					<span class="max-w-[230px] truncate">{{ eventDelsDetails?.endpoint_metadata?.target_url }}</span>
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="scale-[.6]" xmlns="http://www.w3.org/2000/svg">
						<path d="M8 12.2002H15" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M8 16.2002H12.38" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
						<path d="M10 6H14C16 6 16 5 16 4C16 2 15 2 14 2H10C9 2 8 2 8 4C8 6 9 6 10 6Z" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
						<path
							d="M16 4.01953C19.33 4.19953 21 5.42953 21 9.99953V15.9995C21 19.9995 20 21.9995 15 21.9995H9C4 21.9995 3 19.9995 3 15.9995V9.99953C3 5.43953 4.67 4.19953 8 4.01953"
							stroke="#292D32"
							stroke-width="1.5"
							stroke-miterlimit="10"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</div>
			</convoy-copy-button>

			<button convoy-button fill="soft" color="grey" size="sm" class="bg-neutral-4 px-10px" [routerLink]="'../../../endpoints/' + eventDelsDetails?.endpoint_metadata?.uid">
				<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M7.73463 2.10021L2.94546 7.16937C2.76463 7.36187 2.58963 7.74104 2.55463 8.00354L2.3388 9.89354C2.26296 10.576 2.75296 11.0427 3.42963 10.926L5.30796 10.6052C5.57046 10.5585 5.93796 10.366 6.11879 10.1677L10.908 5.09854C11.7363 4.22354 12.1096 3.22604 10.8205 2.00687C9.53713 0.799375 8.56296 1.22521 7.73463 2.10021Z"
						stroke="#475467"
						stroke-miterlimit="10"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
					<path d="M6.93555 2.94629C7.18638 4.55629 8.49305 5.78712 10.1147 5.95046" stroke="#475467" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
					<path d="M1.75 12.833H12.25" stroke="#475467" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
				</svg>
			</button>
		</div>
	</div>

	<div class="flex justify-between items-center mb-16px">
		<h3 class="text-14 text-neutral-12 font-semibold">Delivery Attempts</h3>
		<button
			convoy-button
			*ngIf="eventDelsDetails"
			[disabled]="eventDelsDetails.status !== 'Failure' && eventDelsDetails.status !== 'Success'"
			[title]="eventDelsDetails.status !== 'Failure' && eventDelsDetails.status !== 'Success' ? 'You can not retry an event when it is scheduled or still processing.' : ''"
			size="xs"
			class="text-neutral-11 bg-neutral-4"
			(click)="eventDelsDetails.status === 'Success' ? forceRetryEvent({ e: $event, eventDeliveryId: eventDelsDetails.uid }) : retryEvent({ e: $event, eventDeliveryId: eventDelsDetails.uid })"
		>
			<svg width="16" height="16" class="mr-10px">
				<use xlink:href="#refresh-icon-2"></use>
			</svg>
			{{ eventDelsDetails.status === 'Success' ? 'Force Retry' : 'Retry' }}
		</button>
	</div>

	<ng-container *ngIf="!isloadingDeliveryAttempts">
		<!-- empty state  -->
		<div *ngIf="eventDeliveryAtempts?.length === 0" class="flex items-center justify-center p-24px border-b border-new.primary-25">
			<p class="text-14 text-neutral-10">No event delivery attempt for this event yet.</p>
		</div>

		<!-- event delivery attempts  -->
		<div class="flex justify-between gap-16px border-t border-new.primary-25" *ngIf="eventDeliveryAtempts">
			<div class="w-[730px]">
				<button *ngFor="let deliveryAttempt of eventDeliveryAtempts; let i = index" class="flex justify-between items-center py-12px w-full border-b border-new.primary-25" (click)="selectedDeliveryAttempt = deliveryAttempt">
					<div>
						<p class="text-12 text-neutral-12 flex items-center">
							<convoy-tag *ngIf="deliveryAttempt?.http_status" [color]="deliveryAttempt?.status ? 'success' : 'error'" className="ml-18px">{{ deliveryAttempt?.http_status }}</convoy-tag>
							<span class="ml-8px">{{ deliveryAttempt.updated_at | date: 'medium' }}</span>
						</p>
					</div>

					<img src="/assets/img/angle-arrow-right.svg" class="ml-6px h-16px transition-all duration-300" alt="link out" />
				</button>
			</div>

			<div class="w-[1px] bg-new.primary-25"></div>

			<div class="w-[620px]">
				<div class="py-12px w-full">
					<div class="skeleton-loader code mt-16px" *ngIf="isloadingDeliveryAttempts"></div>
					<prism *ngIf="!isloadingDeliveryAttempts" title="Event" language="json" [code]="generalService.getCodeSnippetString('event_data', eventDelsDetails?.metadata?.data)"></prism>
				</div>
				<div class="py-12px w-full">
					<div class="skeleton-loader code mt-16px" *ngIf="isloadingDeliveryAttempts"></div>
					<prism *ngIf="!isloadingDeliveryAttempts" language="json" title="Request Headers" type="headers" [code]="selectedDeliveryAttempt?.request_http_header"></prism>
				</div>

				<div class="py-12px w-full">
					<div class="skeleton-loader code mt-16px" *ngIf="isloadingDeliveryAttempts"></div>
					<prism *ngIf="selectedDeliveryAttempt?.error && !isloadingDeliveryAttempts" language="json" title="Error" [code]="generalService.getCodeSnippetString('error', selectedDeliveryAttempt?.error)"></prism>
					<prism *ngIf="!selectedDeliveryAttempt?.error && !isloadingDeliveryAttempts" language="json" title="Response Body" [code]="generalService.getCodeSnippetString('res_body', selectedDeliveryAttempt?.response_data)"></prism>
				</div>
				<div class="py-12px w-full">
					<div class="skeleton-loader code mt-16px" *ngIf="isloadingDeliveryAttempts"></div>
					<prism *ngIf="!isloadingDeliveryAttempts" language="json" title="Response Headers" type="headers" [code]="selectedDeliveryAttempt?.response_http_header"></prism>
				</div>
			</div>
		</div>
	</ng-container>

	<div *ngIf="isloadingDeliveryAttempts">
		<div class="flex justify-between">
			<convoy-skeleton-loader className="mt-10px w-160px h-20px"></convoy-skeleton-loader>
			<convoy-skeleton-loader className="mt-10px w-50px h-20px"></convoy-skeleton-loader>
		</div>
		<div class="grid grid-cols-2 gap-32px pt-16px">
			<convoy-skeleton-loader className="mt-10px w-full h-200px"></convoy-skeleton-loader>
			<convoy-skeleton-loader className="mt-10px w-full h-200px"></convoy-skeleton-loader>
			<convoy-skeleton-loader className="mt-10px w-full h-200px"></convoy-skeleton-loader>
			<convoy-skeleton-loader className="mt-10px w-full h-200px"></convoy-skeleton-loader>
		</div>

		<div class="flex justify-between my-40px">
			<convoy-skeleton-loader className="mt-10px w-160px h-20px"></convoy-skeleton-loader>
			<convoy-skeleton-loader className="mt-10px w-50px h-20px"></convoy-skeleton-loader>
		</div>
		<div class="flex justify-between">
			<convoy-skeleton-loader className="mt-10px w-160px h-20px"></convoy-skeleton-loader>
			<convoy-skeleton-loader className="mt-10px w-50px h-20px"></convoy-skeleton-loader>
		</div>
	</div>
</div>
