<convoy-page size="small">
	<convoy-card className="flex p-0">
		<div class="border-r border-r-grey-10 w-full max-w-[260px]">
			<div class="border-b border-b-grey-10 px-24px pt-16px pb-10px">
				<h3 class="font-semibold">User Settings</h3>
			</div>
			<ul class="sidemenu--items">
				<li class="my-30px mx-0 pl-22px">
					<convoy-button type="text" [color]="activePage === 'profile' ? 'primary' : 'grey'" [className]="activePage === 'profile' ? 'font-medium' : ''" (click)="activePage = 'profile'">Profile</convoy-button>
				</li>
				<li class="my-30px mx-0 pl-22px">
					<convoy-button type="text" [color]="activePage === 'security' ? 'primary' : 'grey'" [className]="activePage === 'security' ? 'font-medium' : ''" (click)="activePage = 'security'">Security</convoy-button>
				</li>
			</ul>
		</div>

		<div class="p-32px w-full">
			<ng-container *ngIf="activePage === 'profile'">
				<div class="flex justify-between items-center mb-18px">
					<h3 class="font-semibold">Basic Info</h3>

					<convoy-button size="sm" [disable]="isSavingUserDetails" (clickItem)="editBasicUserInfo()">{{ isSavingUserDetails ? 'Saving changes...' : 'Save Changes' }}</convoy-button>
				</div>
				<hr class="mb-22px border-t border-t-grey-10" />

				<form [formGroup]="editBasicInfoForm">
					<div class="grid grid-cols-2 gap-4">
						<convoy-input type="text" autocomplete="first_name" name="first_name" formControlName="first_name" errorMessage="Please enter your first name" label="Firstname" placeholder="Firstname" [required]="true"></convoy-input>
						<convoy-input type="text" autocomplete="last_name" name="last_name" formControlName="last_name" errorMessage="Please enter your last name" label="Lastname" placeholder="Lastname" [required]="true"></convoy-input>
					</div>
					<convoy-input type="email" autocomplete="email" name="email" formControlName="email" errorMessage="Please enter a valid email" label="Email Description" placeholder="Email" [required]="true"></convoy-input>
				</form>
			</ng-container>

			<ng-container *ngIf="activePage === 'security'">
				<div class="flex justify-between items-center mb-28px">
					<h2 class="font-semibold">Change Password</h2>

					<convoy-button size="sm" [disable]="isUpdatingPassword" (click)="changePassword()">{{ isUpdatingPassword ? 'Saving changes...' : 'Save Changes' }}</convoy-button>
				</div>
				<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
					<convoy-input className="mb-0" type="password" autocomplete="current_password" name="current_password" formControlName="current_password" errorMessage="Enter current password" label="Current Password" placeholder="********" [required]="true"></convoy-input>
					<div class="text-12 mt-8px mb-24px">
						<span>Forgot password?</span>
						<a class="text-primary-100 text-12 ml-8px" routerLink="/forgot-password">Reset it here</a>
					</div>
					<convoy-input type="password" autocomplete="password" name="password" formControlName="password" errorMessage="Enter new password" label="New Password" placeholder="********" [required]="true"></convoy-input>
					<convoy-input
						className="mb-0"
						type="password"
						autocomplete="password_confirmation"
						name="password_confirmation"
						formControlName="password_confirmation"
						errorMessage="Please confirm password"
						label="Confirm Password"
						placeholder="********"
						[required]="true"
					></convoy-input>
					<div
						class="flex items-center text-12 text-danger-100 mt-8px mb-24px"
						*ngIf="changePasswordForm.controls.password.valid && changePasswordForm.controls.password_confirmation.valid && changePasswordForm.controls.password_confirmation.touched && !checkPassword()"
					>
						<img src="assets/img/input-error-icon.svg" class="mr-8px w-16px" alt="input error icon" />
						<span>Password should have at least one special character</span>
					</div>
				</form>

				<div class="flex items-start bg-primary-500 border border-dashed border-primary-100 rounded-8px py-10px px-16px mt-24px w-full max-w-[576px]">
					<img src="/assets/img/ideas.svg" alt="idea" class="mr-20px" />
					<p class="text-14">Use a strong password with at least 8 characters long, and having a mixed of letters, numbers, and symbols.</p>
				</div>
			</ng-container>
		</div>
	</convoy-card>
</convoy-page>
