<div class="page">
	<div class="card flex padding-all__0px">
		<div class="sidemenu">
			<div class="border__bottom padding-x__24px padding-top__16px padding-bottom__10px">
				<h3>User Settings</h3>
			</div>
			<ul class="sidemenu--items">
				<li class="sidemenu--item" [ngClass]="{ active: activePage === 'profile' }">
					<button class="button__clear" (click)="activePage = 'profile'">Profile</button>
				</li>
				<li class="sidemenu--item" [ngClass]="{ active: activePage === 'security' }">
					<button class="button__clear" (click)="activePage = 'security'">Security</button>
				</li>
				<hr class="border__top" />
				<li class="sidemenu--item font__14px color__danger font-weight__600" (click)="logout()">
					<a href="">Logout</a>
				</li>
			</ul>
		</div>

		<div class="page__small--view">
			<ng-container *ngIf="activePage === 'profile'">
				<div class="flex flex__justify-between flex__align-items-center margin-bottom__28px">
					<h3>Basic Info</h3>

					<button class="button button__primary button__small" [disabled]="savingDetails" (click)="editBasicUserInfo()">{{ savingDetails ? 'Saving changes...' : 'Save Changes' }}</button>
				</div>
				<hr class="margin-bottom__22px" />

				<form [formGroup]="editBasicInfoForm">
					<div class="input smaller">
						<label for="firstname">Firstname</label>
						<input type="text" formControlName="first_name" id="firstname" required />
						<div class="input__error input__error__danger" *ngIf="editBasicInfoForm.controls.first_name.touched && editBasicInfoForm.controls.first_name.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Please enter your first name</span>
						</div>
					</div>
					<div class="input smaller">
						<label for="lastname">Lastname</label>
						<input type="text" formControlName="last_name" id="lastname" required />
						<div class="input__error input__error__danger" *ngIf="editBasicInfoForm.controls.last_name.touched && editBasicInfoForm.controls.last_name.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Please enter your last name</span>
						</div>
					</div>

					<div class="input">
						<label for="email">Email Address</label>
						<input type="email" formControlName="email" id="email" required />
						<div class="input__error input__error__danger" *ngIf="editBasicInfoForm.controls.email.touched && editBasicInfoForm.controls.email.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Please enter a valid email</span>
						</div>
					</div>
				</form>
			</ng-container>

			<ng-container *ngIf="activePage === 'security'">
				<div class="flex flex__justify-between margin-bottom__32px">
					<div>
						<h2 class="margin-bottom__8px color__black">Change Password</h2>
						<p class="color__grey font__14px">Here you can change your password incase you’ve been compromised</p>
					</div>

					<button class="button button__primary button__small" [disabled]="changingPassword" (click)="changePassword()">{{ changingPassword ? 'Saving changes...' : 'Save Changes' }}</button>
				</div>
				<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
					<div class="input margin-bottom__0px">
						<label for="current_password">Current Password</label>
						<div class="input--password">
							<input [type]="passwordToggle.oldPassword ? 'text' : 'password'" id="current_password" name="current_password" formControlName="current_password" />
							<button class="input--password__view-toggle" (click)="passwordToggle.oldPassword = !passwordToggle.oldPassword" type="button">
								<img
									[src]="!passwordToggle.oldPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
									[alt]="passwordToggle.oldPassword ? 'hide password icon' : 'view password icon'"
								/>
							</button>
						</div>
						<div class="input__error input__error__danger" *ngIf="changePasswordForm.controls.current_password.touched && changePasswordForm.controls.current_password.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Enter current password</span>
						</div>
					</div>
					<p class="color__black font__14px margin-top__8px">
						Forgot password?
						<button class="button__clear color__primary" type="button" [routerLink]="['/forgot-password']">Reset it here</button>
					</p>
					<div class="input margin-top__24px">
						<label for="password">New Password</label>
						<div class="input--password">
							<input [type]="passwordToggle.newPassword ? 'text' : 'password'" id="password" name="password" formControlName="password" />
							<button class="input--password__view-toggle" (click)="passwordToggle.newPassword = !passwordToggle.newPassword" type="button">
								<img
									[src]="!passwordToggle.newPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
									[alt]="passwordToggle.newPassword ? 'hide password icon' : 'view password icon'"
								/>
							</button>
						</div>
						<div class="input__error input__error__danger" *ngIf="changePasswordForm.controls.password.touched && changePasswordForm.controls.password.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Enter new password</span>
						</div>
					</div>
					<div class="input">
						<label for="password_confirmation">Confirm Password</label>
						<div class="input--password">
							<input
								[type]="passwordToggle.confirmPassword ? 'text' : 'password'"
								id="password_confirmation"
								name="password_confirmation"
								autocomplete="password_confirmation"
								formControlName="password_confirmation"
								[ngClass]="{
									danger:
										(changePasswordForm.controls.password_confirmation.touched && changePasswordForm.controls.password_confirmation.invalid) ||
										(changePasswordForm.controls.password.valid &&
											changePasswordForm.controls.password_confirmation.valid &&
											changePasswordForm.controls.password_confirmation.touched &&
											!checkPassword())
								}"
							/>
							<button class="input--password__view-toggle" (click)="passwordToggle.confirmPassword = !passwordToggle.confirmPassword" type="button">
								<img
									[src]="!passwordToggle.confirmPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
									[alt]="passwordToggle.confirmPassword ? 'hide password icon' : 'view password icon'"
								/>
							</button>
						</div>
						<div class="input__error input__error__danger" *ngIf="changePasswordForm.controls.password_confirmation.touched && changePasswordForm.controls.password_confirmation.invalid">
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Confirm new password</span>
						</div>
						<div
							class="input__error input__error__danger"
							*ngIf="
								changePasswordForm.controls.password.valid &&
								changePasswordForm.controls.password_confirmation.valid &&
								changePasswordForm.controls.password_confirmation.touched &&
								!checkPassword()
							"
						>
							<img src="assets/img/input-error-icon.svg" alt="input error icon" />
							<span>Passwords do not match</span>
						</div>
					</div>
				</form>

				<div class="alert alert__info width__100 width-unset-max">
					<img src="/assets/img/ideas.svg" alt="idea" />
					<div>
						<p>Use a strong password with at least 8 characters long, and having a mixed of letters, numbers, and symbols.</p>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>
