<form class="padding-bottom__40px" [formGroup]="sourceForm" (ngSubmit)="saveSource()">
	<section class="card padding-all__24px">
		<h3 class="margin-bottom__12px font__weight-600 font__18px">Source name</h3>

		<div class="input">
			<label for="source-name">Source name</label>
			<input type="text" id="source-name" placeholder="Enter source name" formControlName="name" />
			<div class="input__error input__error__danger" *ngIf="sourceForm.controls['name'].touched && sourceForm.controls['name'].invalid">
				<img src="assets/img/input-error-icon.svg" alt="input error icon" />
				<span>Enter new source name</span>
			</div>
		</div>

		<h2 class="margin-bottom__16px">Select source type</h2>

		<div class="source-types grid grid__col-2 grid--gap__24px">
			<div class="source-type checkbox-option" *ngFor="let sourceType of sourceTypes">
				<input type="radio" [id]="sourceType.value" formControlName="type" [value]="sourceType.value" [checked]="sourceForm.value.type === sourceType.value" />
				<label [for]="sourceType.value" class="border__all padding-all__16px rounded__4px position__relative display__block animate">
					<div class="flex flex__align-items-center flex__justify-between position__relative">
						<div class="flex flex__align-items-center">
							<div class="checkbox rounded__50px margin-bottom__0px border__all width__16px height__16px animate"></div>
							<p class="font__14px font__weight-600 margin-left__8px">{{ sourceType.viewValue }}</p>
						</div>

						<app-tooltip>{{ sourceType.description }}</app-tooltip>
					</div>
					<p class="color__grey font__12px font__weight-400 margin-top__8px">Etiam diam mi, egestas tortor nulla quis</p>
				</label>
			</div>
		</div>
	</section>

	<div formGroupName="verifier">
		<section class="card padding-all__24px margin-top__24px" *ngIf="sourceForm.value.type === 'http'">
			<h2>Select Ingester HTTP type</h2>
			<div class="ingester-types grid grid__col-2 grid--gap__24px margin-top__16px">
				<div class="ingester-type checkbox-option" *ngFor="let httpType of httpTypes">
					<input type="radio" [id]="httpType.value" [value]="httpType.value" formControlName="type" />
					<label [for]="httpType.value" class="border__all padding-all__16px rounded__4px position__relative display__block animate">
						<div class="flex flex__align-items-center flex__justify-between position__relative">
							<div class="flex flex__align-items-center">
								<div class="checkbox rounded__50px margin-bottom__0px border__all width__16px height__16px animate"></div>
								<p class="font__14px font__weight-600 margin-left__8px">{{ httpType.viewValue }}</p>
							</div>

							<app-tooltip>This is a tip to help you accomplish a task.</app-tooltip>
						</div>
					</label>
				</div>
			</div>
		</section>

		<section class="card padding-all__24px margin-top__24px" *ngIf="sourceForm.value.verifier.type === 'api_key'" formGroupName="api_key">
			<h2 class="margin-bottom__12px">Configure API Key</h2>

			<div class="grid grid__col-2 grid--gap__24px">
				<div class="input margin-bottom__0px">
					<label for="key-header" class="position__relative flex flex__justify-between flex__align-items-center">
						<div class="flex flex__justify-between flex__align-items-center">
							API Key Header
							<app-tooltip size="small" position="right" class="margin-left__4px">This is a tip to help you accomplish a task.</app-tooltip>
						</div>
						<span class="bg__grey__light rounded__4px padding-x__4px font__10px font__weight-400">required</span>
					</label>
					<input type="text" id="key-header" placeholder="Header goes here" formControlName="header" />
					<div class="input__error input__error__danger" *ngIf="sourceForm.get('verifier.api_key.header')?.touched && sourceForm.get('verifier.api_key.header')?.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Enter api key header</span>
					</div>
				</div>

				<div class="input margin-bottom__0px">
					<label for="key-header" class="position__relative">
						API Key
						<span class="bg__grey__light rounded__4px padding-x__4px position__absolute position--right__0px font__10px">required</span>
					</label>
					<input type="text" id="key-header" placeholder="Key goes here" formControlName="key" />
					<div class="input__error input__error__danger" *ngIf="sourceForm.get('verifier.api_key.key')?.touched && sourceForm.get('verifier.api_key.key')?.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Enter api key</span>
					</div>
				</div>
			</div>
		</section>

		<section class="card padding-all__24px margin-top__24px" *ngIf="sourceForm.value.verifier.type === 'hmac'" formGroupName="hmac">
			<h2 class="margin-bottom__12px">Configure HMAC</h2>

			<div class="grid grid__col-2 grid--gap__24px">
				<div class="input margin-bottom__0px">
					<label for="encoding" class="position__relative">
						Encoding
						<span class="bg__grey__light rounded__4px padding-x__4px position__absolute position--right__0px font__10px font__weight-400">required</span>
					</label>
					<select id="encoding" formControlName="encoding">
						<option [value]="encoding" *ngFor="let encoding of encodings">{{ encoding }}</option>
					</select>
					<div class="input__error input__error__danger" *ngIf="sourceForm.get('verifier.hmac.encoding')?.touched && sourceForm.get('verifier.hmac.encoding')?.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Select encoding type</span>
					</div>
				</div>

				<div class="input margin-bottom__0px">
					<label for="algorithm" class="position__relative">
						Hash Algorithm
						<span class="bg__grey__light rounded__4px padding-x__4px position__absolute position--right__0px font__10px font__weight-400">required</span>
					</label>
					<select id="algorithm" formControlName="hash">
						<option [value]="hash" *ngFor="let hash of hashAlgorithms">{{ hash }}</option>
					</select>
					<div class="input__error input__error__danger" *ngIf="sourceForm.get('verifier.hmac.hash')?.touched && sourceForm.get('verifier.hmac.hash')?.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Select algorithm type</span>
					</div>
				</div>

				<div class="input margin-bottom__0px">
					<label for="header-key" class="position__relative">
						Signature header key
						<span class="bg__grey__light rounded__4px padding-x__4px position__absolute position--right__0px font__10px font__weight-400">required</span>
					</label>
					<input type="text" id="header-key" placeholder="X-Convoy-Signature" formControlName="header" />
					<div class="input__error input__error__danger" *ngIf="sourceForm.get('verifier.hmac.header')?.touched && sourceForm.get('verifier.hmac.header')?.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Enter header key</span>
					</div>
				</div>

				<div class="input margin-bottom__0px">
					<label for="signing-secret">
						Webhook signing secret
						<span class="bg__grey__light rounded__4px padding-x__4px position__absolute position--right__0px font__10px">required</span>
					</label>
					<input type="text" id="signing-secret" placeholder="Secret goes here" formControlName="secret" />
					<div class="input__error input__error__danger" *ngIf="sourceForm.get('verifier.hmac.secret')?.touched && sourceForm.get('verifier.hmac.secret')?.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Enter webhook signing secret</span>
					</div>
				</div>
			</div>
		</section>

		<section class="card padding-all__24px margin-top__24px" *ngIf="sourceForm.value.verifier.type === 'basic_auth'" formGroupName="basic_auth">
			<h2 class="margin-bottom__12px">Configure Basic Auth</h2>

			<div class="grid grid__col-2 grid--gap__24px">
				<div class="input margin-bottom__0px">
					<label for="header-key" class="position__relative">
						Username
						<span class="bg__grey__light rounded__4px padding-x__4px position__absolute position--right__0px font__10px font__weight-400">required</span>
					</label>
					<input type="text" id="header-key" placeholder="Name goes here" formControlName="username" />
					<div class="input__error input__error__danger" *ngIf="sourceForm.get('verifier.basic_auth.username')?.touched && sourceForm.get('verifier.basic_auth.username')?.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Enter basic auth username</span>
					</div>
				</div>

				<div class="input margin-bottom__0px">
					<label for="signing-secret">
						Password
						<span class="bg__grey__light rounded__4px padding-x__4px position__absolute position--right__0px font__10px">required</span>
					</label>
					<input type="text" id="signing-secret" placeholder="*******" formControlName="password" />
					<div class="input__error input__error__danger" *ngIf="sourceForm.get('verifier.basic_auth.password')?.touched && sourceForm.get('verifier.basic_auth.password')?.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Enter basic auth password</span>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="button-container flex flex__justify-end margin-top__32px">
		<button class="button button__white padding-y__12px padding-x__28px rounded__8px margin-right__16px" type="button" (click)="onAction.emit({ action: 'close' })">Cancel</button>

		<button class="button button__primary button--has-icon padding-y__12px rounded__8px" [disabled]="isloading">
			{{ action === 'update' ? 'Update' : 'Create' }} Source
			<svg width="24" height="24" class="margin-left__8px" fill="#FCFCFC">
				<use xlink:href="#arrow-right-icon"></use>
			</svg>
		</button>
	</div>
</form>
