<form class="pb-40px" [class]="showAction === 'true' ? 'pt-40px' : 'pt-20px'" [formGroup]="sourceForm" (ngSubmit)="saveSource()">
	<div convoy-card class="p-24px relative">
		<ng-container *ngIf="privateService.activeProjectDetails?.type === 'incoming'">
			<h4 class="font-medium mb-20px">Pre-configured Sources</h4>
			<ul class="flex flex-row w-full mb-20px">
				<li *ngFor="let source of preConfiguredSources" class="list-none mr-40px last-of-type:mr-0">
					<button
						convoy-button
						texture="light"
						size="sm"
						color="grey"
						fill="outline"
						type="button"
						class="w-60px h-60px"
						[ngClass]="{ '!border-solid !border !border-primary-100': sourceForm.value.verifier.type === source }"
						(click)="sourceForm.get('verifier.type')?.patchValue(source); sourceForm.value.name ? false : sourceForm.get('name')?.patchValue(source + ' Source')"
					>
						<img [src]="'/assets/img/' + source + '.png'" [alt]="source + '-icon'" />
					</button>
				</li>
			</ul>
			<hr class="border-grey-20 border-t mb-26px" />
		</ng-container>

		<convoy-input-field>
			<label for="source-name" required="true" convoy-label required="true">Source name</label>
			<input type="text" id="source-name" convoy-input autocomplete="source-name" formControlName="name" placeholder="Enter source name" />
			<convoy-input-error *ngIf="sourceForm.get('name')?.touched && sourceForm.get('name')?.invalid">Enter new source name</convoy-input-error>
		</convoy-input-field>

		<ng-container *ngIf="privateService.activeProjectDetails?.type === 'incoming'">
			<div formGroupName="verifier">
				<convoy-select label="Source Verification" name="type" formControlName="type" [options]="sourceVerifications" errorMessage="Select source verification" [required]="true" (selectedOption)="sourceForm.get('verifier.type')?.patchValue($event)"></convoy-select>

				<div formGroupName="hmac" *ngIf="sourceForm.value.verifier.type === 'hmac' || isCustomSource(sourceForm.value.verifier.type)" class="mt-40px">
					<h3 class="font-semibold mb-20px capitalize">
						<span *ngIf="isCustomSource(sourceForm.value.verifier.type)">{{ sourceForm.value.verifier.type }} Credentials</span>
						<span *ngIf="sourceForm.value.verifier.type === 'hmac'">Configure HMAC</span>
					</h3>
					<div class="grid gap-6" style="grid-template-columns: repeat(auto-fit, minmax(360px, 1fr))">
						<convoy-select
							*ngIf="sourceForm.value.verifier.type === 'hmac'"
							label="Encoding"
							name="encoding"
							formControlName="encoding"
							[options]="encodings"
							errorMessage="Select encoding type"
							[required]="true"
							className="mb-0"
							(selectedOption)="sourceForm.get('verifier.hmac')?.patchValue({ encoding: $event })"
						></convoy-select>

						<convoy-select
							*ngIf="sourceForm.value.verifier.type === 'hmac'"
							label="Hash Algorithm"
							name="hash"
							formControlName="hash"
							[options]="hashAlgorithms"
							errorMessage="Select algorithm type"
							[required]="true"
							className="mb-0"
							(selectedOption)="sourceForm.get('verifier.hmac')?.patchValue({ hash: $event })"
						></convoy-select>

						<convoy-input-field *ngIf="sourceForm.value.verifier.type === 'hmac'" class="mb-0">
							<label for="header" required="true" convoy-label required="true">Header Value</label>
							<input type="text" id="header" convoy-input autocomplete="header" formControlName="header" placeholder="Key goes here" />
							<convoy-input-error *ngIf="sourceForm.get('hmac.header')?.touched && sourceForm.get('hmac.header')?.invalid">Enter header key</convoy-input-error>
						</convoy-input-field>

						<convoy-input-field class="mb-0">
							<label for="secret" required="true" convoy-label required="true">Webhook signing secret</label>
							<input type="text" id="secret" convoy-input autocomplete="secret" formControlName="secret" placeholder="Secret goes here" />
							<convoy-input-error *ngIf="sourceForm.get('hmac.secret')?.touched && sourceForm.get('hmac.secret')?.invalid">Enter webhook signing secret</convoy-input-error>
						</convoy-input-field>
					</div>
				</div>

				<div formGroupName="basic_auth" *ngIf="sourceForm.value.verifier.type === 'basic_auth'" class="mt-40px">
					<h3 class="font-semibold mb-20px">Configure Basic Auth</h3>

					<div class="grid grid-cols-2 gap-6">
						<convoy-input-field>
							<label for="username" required="true" convoy-label required="true">Username</label>
							<input type="text" id="username" convoy-input autocomplete="username" formControlName="username" placeholder="Name goes here" />
							<convoy-input-error *ngIf="sourceForm.get('basic_auth.username')?.touched && sourceForm.get('basic_auth.username')?.invalid">Enter basic auth username</convoy-input-error>
						</convoy-input-field>
						<convoy-input-field>
							<label for="password" required="true" convoy-label required="true">Password</label>
							<input type="text" id="password" convoy-input autocomplete="password" formControlName="password" placeholder="*******" />
							<convoy-input-error *ngIf="sourceForm.get('basic_auth.password')?.touched && sourceForm.get('basic_auth.password')?.invalid">Enter basic auth password</convoy-input-error>
						</convoy-input-field>
					</div>
				</div>

				<div formGroupName="api_key" *ngIf="sourceForm.value.verifier.type === 'api_key'" class="mt-40px">
					<h3 class="font-semibold mb-20px">Configure API Key</h3>

					<div class="grid grid-cols-2 gap-6">
						<convoy-input-field>
							<label for="header_name" required="true" convoy-label required="true">Header Name</label>
							<input type="text" id="header_name" convoy-input autocomplete="header_name" formControlName="header_name" placeholder="Header Name" />
							<convoy-input-error *ngIf="sourceForm.get('verifier.header_name')?.touched && sourceForm.get('verifier.header_name')?.invalid">Enter api key header</convoy-input-error>
						</convoy-input-field>
						<convoy-input-field>
							<label for="header_value" required="true" convoy-label required="true">Header Value</label>
							<input type="text" id="header_value" convoy-input autocomplete="header_value" formControlName="header_value" placeholder="Key goes here" />
							<convoy-input-error *ngIf="sourceForm.get('verifier.header_value')?.touched && sourceForm.get('verifier.header_value')?.invalid">Enter api key header value</convoy-input-error>
						</convoy-input-field>
					</div>
				</div>
			</div>

			<hr class="border-t border-grey-20 mt-24px mb-40px" />

			<h3 class="font-medium text-new.gray-800 text-14 mb-24px">Set Configurations</h3>

			<div class="border-l-2 border-new.primary-25 pl-16px mb-40px" *ngIf="showConfig('custom_response')">
				<div class="flex justify-between items-center mb-16px">
					<h4 class="text-12 text-new.gray-500 font-medium">Custom response</h4>
					<button convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="sourceForm.patchValue({ custom_response: { content_type: '', body: '' } }); toggleConfigForm('custom_response')">
						<svg width="14" height="14" class="fill-transparent">
							<use xlink:href="#delete-icon2"></use>
						</svg>
					</button>
				</div>

				<div formGroupName="custom_response">
					<convoy-input-field>
						<label for="content_type" required="true" convoy-label>Response Content Type</label>
						<input type="text" id="content_type" convoy-input autocomplete="content_type" formControlName="content_type" placeholder="application/json, text/plain" />
						<convoy-input-error *ngIf="sourceForm.get('custom_response.content_type')?.touched && sourceForm.get('custom_response.content_type')?.invalid">Enter content type</convoy-input-error>
					</convoy-input-field>

					<label convoy-label>Response Content</label>
					<textarea formControlName="body" class="min-h-[20vh]" convoy-input name="body" id="body"></textarea>
				</div>
			</div>

			<div class="border-l-2 border-new.primary-25 pl-16px mb-40px" *ngIf="showConfig('idempotency')">
				<div class="flex justify-between items-end mb-24px">
					<p class="text-14 font-medium text-new.gray-600 flex items-center">Idempotency Config</p>
					<button convoy-button type="button" size="xs" fill="outline" color="grey" texture="light" (click)="toggleConfigForm('idempotency')">
						<svg width="14" height="14" class="fill-transparent">
							<use xlink:href="#delete-icon2"></use>
						</svg>
					</button>
				</div>
				<convoy-select label="TTL (Time to live)" name="ttl" formControlName="ttl" [options]="ttlTimes" [required]="true" errorMessage="Please select a time" [required]="true" (selectedOption)="sourceForm.patchValue({ ttl: $event })"></convoy-select>

				<p class="text-12 text-new.gray-400 mt-24px flex items-center">
					Key locations
					<convoy-tooltip size="sm" position="right" class="ml-4px">
						These are the specifications for the retry mechanism for your endpoints under this subscription. In Linear time retry, event retries are done in linear time, while in Exponential back off retry, events are retried progressively increasing the time before
						the next retry attempt.
					</convoy-tooltip>
				</p>
				<div (click)="focusInput()" class="w-full font-medium text-14 text-new.gray-800 border border-new.primary-25 outline-none rounded-4px bg-white-100 pt-12px pb-8px px-12px mt-8px relative flex flex-row flex-wrap items-center">
					<div *ngFor="let key of idempotencyKeys" class="border border-new.gray-200 py-4px px-8px font-medium text-12 text-new.gray-400 mr-1 mb-1 rounded-22px flex items-center">
						{{ key }}
						<button convoy-button (click)="removeIdempotencyKey(key)" fill="text" type="button" class="py-0 px-0 ml-4px">
							<svg width="14" height="14">
								<use xlink:href="#close-icon-2"></use>
							</svg>
						</button>
					</div>
					<input type="text" id="keyInput" (input)="addKey()" required class="text-12 bg-transparent focus:outline-none focus:border-none" autocomplete="off" />
				</div>
				<span class="text-new.gray-400 font-normal italic text-10 mb-24px">The order matters. Set the value of each input with a coma (,)</span>
			</div>

			<div class="flex flex-wrap items-center">
				<ng-container *ngFor="let config of configurations">
					<button *ngIf="!config.show" convoy-button size="sm" fill="outline" color="grey" texture="light" type="button" class="mr-24px mb-10px" (click)="toggleConfigForm(config.uid)">
						{{ config.name }}
						<img src="assets/img/svg/plus-icon.svg" class="ml-24px" alt="plus icon" />
					</button>
				</ng-container>
			</div>
		</ng-container>

		<div formGroupName="pub_sub" *ngIf="privateService.activeProjectDetails?.type === 'outgoing'">
			<h2 class="mb-6px font-semibold">Pub/Sub Type</h2>
			<p class="text-14 text-grey-60 mb-24px">Connect your Google Pub/Sub service to automatically trigger a webhook event to an endpoint as soon as a message drops into your Pub/Sub queue.</p>
			<div class="grid grid-cols-2 gap-6">
				<convoy-radio *ngFor="let pubSubType of pubSubTypes" formControlName="type" [label]="pubSubType.viewValue" [_name]="pubSubType.value" [value]="pubSubType.value" [_id]="pubSubType.value" [checked]="sourceForm.value.pub_sub.type === pubSubType.value"></convoy-radio>
			</div>
			<convoy-input-field class="mt-24px">
				<label for="workers" required="true" convoy-label required="true" tooltip="This specifies the number of consumers you want polling messages from your queue.">Workers</label>
				<input type="number" id="workers" convoy-input autocomplete="workers" formControlName="workers" placeholder="Workers" />
				<convoy-input-error *ngIf="sourceForm.get('pub_sub.workers')?.touched && sourceForm.get('pub_sub.workers')?.invalid">Enter number of workers</convoy-input-error>
			</convoy-input-field>

			<ng-container *ngIf="sourceForm.value.pub_sub.type === 'google'">
				<h2 class="font-semibold mb-20px">Configure Google Pub/Sub</h2>

				<div formGroupName="google">
					<div class="grid grid-cols-2 gap-6">
						<convoy-input-field>
							<label for="project_id" required="true" convoy-label required="true">Project ID</label>
							<input type="text" id="project_id" convoy-input autocomplete="project_id" formControlName="project_id" placeholder="Project ID goes here" />
							<convoy-input-error *ngIf="sourceForm.get('pub_sub.google.project_id')?.touched && sourceForm.get('pub_sub.google.project_id')?.invalid">Enter your project ID</convoy-input-error>
						</convoy-input-field>
						<convoy-input-field>
							<label for="subscription_id" required="true" convoy-label required="true">Subscription ID</label>
							<input type="text" id="subscription_id" convoy-input autocomplete="subscription_id" formControlName="subscription_id" placeholder="Subscription ID goes here" />
							<convoy-input-error *ngIf="sourceForm.get('pub_sub.google.subscription_id')?.touched && sourceForm.get('pub_sub.google.subscription_id')?.invalid">Enter your subscription ID</convoy-input-error>
						</convoy-input-field>
					</div>
					<convoy-input-field>
						<label for="service_account" required="true" convoy-label required="true" tooltip="Service accounts provide a way to manage authentication into your Google Pub/Sub.">Service Account</label>
						<convoy-file-input (selectedFile)="parseJsonFile($event)" (deleteFile)="deleteJsonFile()">
							<p class="text-center text-12 text-grey-60 max-w-[186px] mx-auto">
								<span class="text-primary-100 font-bold">Click to {{ action === 'update' ? 'update' : 'upload' }}</span>
								or drag and drop JSON (max 5kb)
							</p>
						</convoy-file-input>
						<convoy-input-error *ngIf="sourceForm.get('pub_sub.google.service_account')?.touched && sourceForm.get('pub_sub.google.service_account')?.invalid">Enter service account</convoy-input-error>
					</convoy-input-field>
				</div>
			</ng-container>

			<ng-container *ngIf="sourceForm.value.pub_sub.type === 'sqs'">
				<h2 class="font-semibold mb-20px">Configure SQS</h2>

				<div class="grid grid-cols-2 gap-6" formGroupName="sqs">
					<convoy-input-field>
						<label for="access_key_id" required="true" convoy-label required="true">AWS Access Key ID</label>
						<input type="text" id="access_key_id" convoy-input autocomplete="access_key_id" formControlName="access_key_id" placeholder="Access Key ID" />
						<convoy-input-error *ngIf="sourceForm.get('pub_sub.sqs.access_key_id')?.touched && sourceForm.get('pub_sub.sqs.access_key_id')?.invalid">Enter access key ID</convoy-input-error>
					</convoy-input-field>
					<convoy-input-field>
						<label for="secret_key" required="true" convoy-label required="true">AWS Secret Access Key</label>
						<input type="text" id="secret_key" convoy-input autocomplete="secret_key" formControlName="secret_key" placeholder="Secret Access Key" />
						<convoy-input-error *ngIf="sourceForm.get('pub_sub.sqs.secret_key')?.touched && sourceForm.get('pub_sub.sqs.secret_key')?.invalid">Enter secret access key</convoy-input-error>
					</convoy-input-field>
					<convoy-input-field>
						<convoy-select
							label="AWS Region"
							name="default_region"
							formControlName="default_region"
							[options]="AWSregions"
							errorMessage="Please select a default AWS region"
							[required]="true"
							placeholder="Region"
							(selectedOption)="setRegionValue($event)"
						></convoy-select>
					</convoy-input-field>
					<convoy-input-field>
						<label for="queue_name" required="true" convoy-label required="true">Queue Name</label>
						<input type="text" id="queue_name" convoy-input autocomplete="queue_name" formControlName="queue_name" placeholder="Queue name" />
						<convoy-input-error *ngIf="sourceForm.get('pub_sub.sqs.queue_name')?.touched && sourceForm.get('pub_sub.sqs.queue_name')?.invalid">Enter queue name</convoy-input-error>
					</convoy-input-field>
				</div>
			</ng-container>
		</div>

		<div class="empty:hidden">
			<ng-content></ng-content>
		</div>

		<div *ngIf="isloading" convoy-form-loader [loading]="!sourceCreated"></div>
	</div>

	<div class="flex justify-end mt-32px" [ngClass]="{ hidden: showAction === 'false' }">
		<button convoy-button [disabled]="sourceForm.disabled" fill="outline" type="button" class="mr-16px transition-all duration-300 hover:text-danger-100 hover:border-danger-100" (click)="cancel()">Cancel</button>
		<button convoy-button [disabled]="isloading || sourceForm.disabled">
			{{ action === 'update' ? 'Update Source' : 'Create Source' }}
			<svg width="24" height="24" class="ml-8px fill-white-100">
				<use xlink:href="#arrow-right-icon"></use>
			</svg>
		</button>
	</div>
</form>

<convoy-token-modal
	title="Source URL Generated"
	description="Use this URL in your source platform to receive your webhook events."
	notificationText="Source URL has been copied to your clipboard."
	[token]="sourceData.url"
	(closeModal)="showSourceUrl = false; onAction.emit({ action: this.action, data: sourceData })"
	*ngIf="showSourceUrl"
></convoy-token-modal>

<div convoy-modal position="center" size="sm" *ngIf="confirmModal" (closeModal)="confirmModal = false">
	<div class="px-20px py-30px">
		<p class="text-16 font-semibold text-black mb-8px">Confirm Action</p>
		<p class="text-14 font-medium text-grey-40 mb-24px">You are about to discard this process, please confirm this action.</p>
		<div class="flex items-center">
			<button convoy-button color="danger" class="mr-12px px-60px" (click)="onAction.emit({ action: 'close' })">Confirm</button>
			<button convoy-button fill="clear" [color]="confirmModal ? 'primary' : 'danger'" class="font-semibold" (click)="confirmModal = false">Cancel</button>
		</div>
	</div>
</div>
