<div convoy-dialog-header fullscreen="custom" (closeDialog)="close.emit()">
	<div class="flex items-center justify-between w-full">
		<h2 class="font-semibold text-14 capitalize">Subscription Filter</h2>
		<div class="flex items-center justify-end">
			<button convoy-button size="sm" fill="outline" class="mr-16px" (click)="testFilter()">
				Test Filter
				<svg width="16" height="16" class="ml-8px" class="ml-6px">
					<use xlink:href="#test-icon"></use>
				</svg>
			</button>
			<button convoy-button size="sm" type="button" class="" [disabled]="!isFilterTestPassed" (click)="setSubscriptionFilter()">Save</button>
		</div>
	</div>
</div>

<div class="max-w-[1312px] m-auto mt-40px" convoy-card>
	<div class="rounded-8px pt-20px">
		<ul class="flex flex-row justify-center w-full border-b-[.5px] border-neutral-4">
			<li *ngFor="let tab of tabs" class="mr-24px !list-none first-of-type:ml-24px last-of-type:mr-0">
				<button class="pb-16px pt-10px flex items-center" [class]="activeTab === tab ? 'active' : ''" (click)="toggleActiveTab(tab)">
					<span class="text-14 text-left capitalize text-neutral-11 tracking-[0.02em] mobile:min-w-[80px]">{{ tab }}</span>
				</button>
			</li>
		</ul>

		<div [ngClass]="{ 'h-0 overflow-hidden': activeTab !== 'body' }">
			<div class="flex">
				<div class="flex flex-col w-full border-r border-r-neutral-4">
					<div class="text-14 border-b border-b-neutral-4 pl-28px pt-20px pb-20px font-semibold rounded-tl-8px">Event Payload</div>
					<convoy-monaco [editorValue]="payload" #requestEditor></convoy-monaco>
				</div>
				<div class="flex flex-col w-full">
					<div class="text-14 border-b border-b-neutral-4 pl-28px pt-20px pb-20px font-semibold rounded-tr-8px">Filter Schema</div>
					<convoy-monaco [editorValue]="schema.body" #schemaEditor></convoy-monaco>
				</div>
			</div>
		</div>

		<div [ngClass]="{ 'h-0 overflow-hidden': activeTab === 'body' }">
			<div class="flex">
				<div class="flex flex-col w-full">
					<div class="text-14 border-b border-b-neutral-4 pl-28px pt-20px pb-20px font-semibold rounded-tl-8px">Event Headers</div>
					<convoy-monaco [editorValue]="header" #requestHeaderEditor></convoy-monaco>
				</div>
				<div class="flex flex-col w-full">
					<div class="text-14 border-b border-b-neutral-4 pl-28px pt-20px pb-20px font-semibold rounded-tr-8px">Filter Schema</div>
					<convoy-monaco [editorValue]="schema.headers" #headerSchemaEditor></convoy-monaco>
				</div>
			</div>
		</div>
	</div>
</div>
