.input {
	margin-bottom: 32px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	label {
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		color: rgba(30, 17, 71, 0.4);
		width: 100%;
		order: 1;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}

	input[type='date'] {
		min-width: 95%;
	}

	input,
	select,
	textarea,
	datalist {
		margin-top: 8px;
		background: #ffffff;
		border: 1px solid #e4e9f2;
		border-radius: 4px;
		padding: 15px;
		width: 100%;
		order: 2;
		appearance: none;

		&.ng-dirty.ng-invalid {
			border: 1px solid var(--color-red);
		}

		&::placeholder,
		&:disabled {
			color: rgba(30, 17, 71, 0.24);
		}

		&:focus {
			+ label {
				color: var(--color-black);
			}
		}
	}

	.input--password {
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		order: 2;
		width: 100%;

		.input--password__view-toggle {
			position: absolute;
			top: 65%;
			transform: translate(0, -50%);
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			right: 20px;
			border: 0;

			img {
				width: 18px;
			}
		}
	}
}
