.list-item {
	border-radius: 8px;
	padding: 8px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #edeff5;

	&--label {
		font-weight: 500;
		font-size: 14px;
		line-height: 28px;
		color: #737a91b2;
	}

	&--item {
		line-height: 24px;
		font-size: 14px;
		word-wrap: break-word;
		color: #000000;
		font-weight: 500;
	}

	button {
		padding: 0;
		background: transparent;
		outline: var(--primary-color);

		img {
			width: 15px;
		}
	}
}
