.list-item {
	padding: 8px 0;
	border-bottom: 1px solid #edeff5;

	&--label {
		font-weight: 500;
		font-size: 14px;
		line-height: 28px;
		color: #737a91b2;
	}

	&--item {
		line-height: 24px;
		font-size: 14px;
		word-wrap: break-word;
		color: #000000;
		font-weight: 500;
	}

	button {
		padding: 0;
		background: transparent;
		outline: var(--primary-color);

		img {
			width: 15px;
		}
	}
}

.list-item-inline {
	display: flex;
	max-width: 350px;
	justify-content: space-between;
	margin-bottom: 5px;

	&--label {
		font-weight: 500;
		font-size: 14px;
		line-height: 28px;
		color: #737a91b2;
	}

	&--item {
		font-weight: 500;
		font-size: 14px;
		line-height: 28px;
		width: 200px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		text-align: right;
        cursor: pointer;

		&.color {
			color: #477db3;
		}
	}
}
