.mat-date-range-input-container {
	max-width: 230px;
}

.mat-date-range-input-start-wrapper .mat-date-range-input-inner {
	position: initial !important;
}

.mat-date-range-input-start-wrapper {
	overflow: unset;
}

.filter .filter--button div {
	margin: 0;
}
