code[class*='language-'],
pre[class*='language-'] {
	color: #000624;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	overflow: auto;
}

pre[class*='language-'] {
	padding: 1em;
	margin: 3px 0;
	border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: transparent;
}

:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
	color: #8292a2;
}

.token.punctuation {
	color: #000624;
}

.token.namespace {
	opacity: 0.7;
}

.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
	color: #4661ce;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url,
.token.variable {
	color: #16192c;
}

.token.atrule,
.token.attr-value,
.token.class-name,
.token.function {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.important,
.token.regex {
	color: #fd971f;
}

.token.bold,
.token.important {
	font-weight: 700;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

/* Prism Line Plugin Style */
pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.log-display {
	padding: 0;
	margin: 0;
	max-width: 545px;
}

.eventDelivery {
	pre.line-numbers {
		max-width: 474px;
		max-height: 350px;
		min-height: 250px;
	}
}

pre.line-numbers > code, pre.log-display > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: -5px;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	line-height: 22.9px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}
