<div>
	<div class="flex justify-between items-end border-b border-b-grey-10 pb-20px mb-24px">
		<div class="flex items-center">
			<h1 class="text-24 font-bold text-grey-80 mr-10px">Subscriptions</h1>
			<convoy-tooltip tooltipContent="On Convoy, endpoints are subscribed to listen to events from a source along with configurations like retries and event filters. This page list all your existing subscriptions" position="right"></convoy-tooltip>
		</div>
		<button convoy-permission="Subscriptions|MANAGE" convoy-button size="sm" routerLink="./new" *ngIf="!isLoadindingSubscriptions && subscriptions?.content?.length">Create a subscription</button>
	</div>

	<!-- empty state  -->
	<div class="py-100px mt-24px" convoy-card *ngIf="!isLoadindingSubscriptions && subscriptions?.content?.length === 0">
		<div
			convoy-empty-state
			imgSrc="/assets/img/subscriptions-empty-state.png"
			heading="You currently do not have any subscriptions"
			description="Webhook subscriptions lets you define the source of your webhook and the destination where any webhook event should be sent. It is what allows Convoy to identify and proxy your webhooks."
			id="subscriptions-empty-state"
		>
			<button convoy-permission="Subscriptions|MANAGE" convoy-button emptyStateCTA routerLink="./new" class="mt-36px">Create a subscription</button>
		</div>
	</div>

	<div convoy-card class="relative min-h-[500px] flex items-center justify-center" *ngIf="isLoadindingSubscriptions">
		<convoy-loader position="relative"></convoy-loader>
	</div>

	<ul convoy-card class="mb-40px min-h-[70vh] pb-24px" *ngIf="!isLoadindingSubscriptions && subscriptions?.content?.length">
		<div class="flex items-center gap-50px py-10px text-12 uppercase bg-new.primary-25 mb-16px text-new.gray-600">
			<div [class]="(privateService.getProjectDetails?.type === 'incoming' ? 'w-356px' : 'w-270px') + ' ml-16px'">Subscription {{ projectDetails?.type === 'incoming' ? '' : 'Name' }}</div>
			<div class="w-252px">Configs</div>
		</div>

		<ng-container *ngFor="let subscriptionGroup of displayedSubscriptions; let i = index">
			<li class="pb-16px">
				<div class="text-new.gray-400 text-12 pl-16px">{{ subscriptionGroup.date }}</div>
			</li>

			<li
				class="border-b border-b-new.primary-25 pb-16px flex justify-between hover:bg-new.primary-25 transition-all duration-300 py-12px"
				[class]="subscriptionGroup.content.length === j + 1 ? '!mb-16px' : ''"
				*ngFor="let subscription of subscriptionGroup?.content; let j = index"
			>
				<div class="flex gap-50px text-12 text-new.gray-600 max-w-[790px] w-full items-center min-h-[28px]">
					<div class="w-270px truncate pl-16px" *ngIf="privateService.getProjectDetails?.type === 'outgoing'">{{ subscription.name }}</div>
					<div class="flex items-center pl-16px min-w-[356px]" *ngIf="privateService.getProjectDetails?.type === 'incoming'">
						<div class="flex items-center">
							<span class="max-w-[150px] truncate">{{ subscription.source_metadata.name }}</span>
							<div convoy-tag *ngIf="subscription.source_metadata.verifier.type !== 'noop'" class="flex items-center ml-8px bg-new.gray-100 !py-2px !px-8px text-10">
								{{ subscription.source_metadata.provider || (subscription.source_metadata.verifier.type | sourceValue: 'verifier') }}
							</div>
						</div>

						<span class="px-16px font-light">→</span>

						<span class="max-w-[150px] truncate">
							{{ subscription.endpoint_metadata?.title }}
						</span>
					</div>

					<div class="whitespace-nowrap flex">
						<div convoy-tag [color]="hasFilter(subscription.filter_config.filter) ? 'primary' : 'gray'" class="mr-8px py-2px">Filter</div>
						<div convoy-tag [color]="subscription.retry_config ? 'primary' : 'gray'" class="mr-8px py-2px">Retry Logic</div>
						<div convoy-tag [color]="subscription.filter_config.event_types.length > 1 || subscription.filter_config.event_types[0] != '*' ? 'primary' : 'gray'" color="primary" class="py-2px">Event Types</div>
					</div>
				</div>

				<div class="flex items-center">
					<div convoy-dropdown #subscriptionDropdown position="right" size="md" class="ml-4px pr-24px">
						<button dropdownTrigger convoy-button size="sm" fill="clear" class="!p-0 items-center">
							<img src="assets/img/more-icon-vertical.svg" class="h-5" alt="more icon" />
						</button>

						<ul dropdownOptions class="p-10px">
							<li class="mb-4px rounded-8px py-4px px-6px hover:bg-new.primary-25 duration-300 transition-all">
								<button convoy-dropdown-option convoy-button size="sm" color="grey" class="w-full !justify-start" fill="text" routerLink="./" [queryParams]="{ id: subscription.uid }">
									<svg width="16" height="16" class="mr-8px">
										<use xlink:href="#shield-icon"></use>
									</svg>
									View Details
								</button>
							</li>
							<li class="mb-4px rounded-8px py-4px px-6px hover:bg-new.primary-25 duration-300 transition-all">
								<button convoy-dropdown-option convoy-button size="sm" color="grey" fill="text" class="w-full !justify-start" [routerLink]="'./' + subscription?.uid">
									<svg width="17" height="16" class="fill-new.gray-600 mr-8px">
										<use xlink:href="#edit-icon"></use>
									</svg>
									Edit
								</button>
							</li>

							<li class="mb-4px rounded-8px py-4px px-6px hover:bg-new.primary-25 duration-300 transition-all">
								<button convoy-dropdown-option convoy-button size="sm" color="danger" class="w-full !justify-start" fill="text" (click)="activeSubscription = subscription; deleteDialog.showModal()">
									<svg width="14" height="14" class="fill-transparent stroke-new.error-400 mr-8px">
										<use xlink:href="#delete-icon2"></use>
									</svg>
									Delete
								</button>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ng-container>
	</ul>

	<!-- Pagination -->
	<convoy-pagination *ngIf="subscriptions?.pagination?.has_next_page || subscriptions?.pagination?.has_prev_page" [pagination]="subscriptions?.pagination" (paginate)="getSubscriptions($event)"></convoy-pagination>
</div>

<!-- subscription form  -->
<dialog #subscriptionDialog convoy-dialog id="subscriptionForm" position="full">
	<div convoy-modal-header fullscreen="true">
		<div class="flex items-center">
			<button convoy-button size="sm" texture="light" class="px-10px !py-10px" (click)="createSubscription('cancel')">
				<img src="/assets/img/modal-close-icon.svg" class="w-12px h-12px" alt="close icon" />
			</button>

			<h2 class="font-semibold text-16 capitalize ml-16px">{{ action === 'update' ? 'Update Subscription' : 'Create Subscription' }}</h2>
		</div>
	</div>

	<div class="max-w-[770px] m-auto">
		<convoy-create-subscription showAction="true" (onAction)="createSubscription($event.action)" [action]="action === 'update' ? 'update' : 'create'"></convoy-create-subscription>
	</div>
</dialog>

<!-- subscription details dialog  -->
<dialog #detailsDialog convoy-dialog id="subscription-details" position="right">
	<div convoy-modal-header>
		<h2 class="font-semibold capitalize max-w-[356px] overflow-ellipsis overflow-hidden whitespace-nowrap">{{ activeSubscription?.name || 'Subscription Details' }}</h2>

		<button convoy-button texture="light" size="sm" class="px-8px !py-10px" (click)="closeModal()">
			<img src="/assets/img/modal-close-icon.svg" class="w-12px h-12px" alt="close icon" />
		</button>
	</div>

	<div class="p-20px">
		<ng-container *ngIf="projectDetails?.type === 'incoming'">
			<h2 class="font-medium mb-10px text-14 text-grey-40">Source</h2>
			<div convoy-card hover="true" class="w-full cursor-pointer py-20px mb-24px">
				<div class="px-24px pb-12px border-b border-b-grey-10" [routerLink]="['/projects/' + projectDetails?.uid + '/sources']" [queryParams]="{ id: activeSubscription?.source_metadata?.uid }">
					<div class="text-grey-40 text-10 mb-4px">{{ activeSubscription?.source_metadata?.provider || (activeSubscription?.source_metadata?.verifier?.type || '' | sourceValue: 'verifier') }}</div>
					<div class="flex justify-between items-center">
						<div class="text-14 font-medium">{{ activeSubscription?.source_metadata?.name }}</div>
						<svg width="18" height="18" class="fill-grey-60">
							<use xlink:href="#arrow-right-icon"></use>
						</svg>
					</div>
				</div>
				<div class="mt-12px mx-24px">
					<convoy-copy-button [text]="activeSubscription?.source_metadata?.url || ''" color="primary" className="ml-2px" [notificationText]="activeSubscription?.source_metadata?.name + ' URL has been copied to clipboard'">
						<span class="text-14 ml-8px font-medium">Copy URL</span>
					</convoy-copy-button>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="activeSubscription?.endpoint_metadata?.uid">
			<h2 class="font-medium mb-10px text-14 text-grey-40">Endpoint</h2>
			<div convoy-card hover="true" class="w-full cursor-pointer py-20px">
				<div class="px-24px pb-12px border-b border-b-grey-10" [routerLink]="['/projects/' + projectDetails?.uid + '/endpoints/' + activeSubscription?.endpoint_metadata?.uid]">
					<div class="flex justify-between items-center">
						<div class="text-14 font-medium">{{ activeSubscription?.endpoint_metadata?.title }}</div>
						<svg width="18" height="18" class="fill-grey-60">
							<use xlink:href="#arrow-right-icon"></use>
						</svg>
					</div>
				</div>
				<div class="mt-12px mx-24px">
					<convoy-copy-button [text]="activeSubscription?.endpoint_metadata?.target_url || ''" color="primary" className="ml-2px" [notificationText]="activeSubscription?.endpoint_metadata?.title + ' URL has been copied to clipboard'">
						<span class="text-14 ml-8px font-medium">Copy URL</span>
					</convoy-copy-button>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="activeSubscription?.device_metadata?.uid">
			<h2 class="font-medium mb-10px text-14 text-grey-40">CLI Device</h2>
			<div convoy-card hover="true" class="w-full py-20px">
				<div class="px-24px">
					<div class="text-14 font-medium flex items-center">
						<span class="max-w-[200px] overflow-ellipsis overflow-hidden whitespace-nowrap block">{{ activeSubscription?.device_metadata?.host_name }}</span>
						<span convoy-tag [color]="activeSubscription?.device_metadata?.status == 'online' ? 'success' : 'gray'" class="ml-8px">{{ activeSubscription?.device_metadata?.status }}</span>
					</div>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="!activeSubscription?.device_metadata?.uid">
			<hr class="border-t border-grey-20 mt-24px mb-4px" />

			<convoy-create-subscription action="view"></convoy-create-subscription>

			<hr class="border-t border-grey-20 my-24px" />

			<div class="flex items-center justify-end mt-40px mr-24px">
				<button convoy-permission="Subscriptions|MANAGE" convoy-button size="sm" color="danger" fill="outline" class="py-8px px-12px text-12" (click)="showDeleteSubscriptionModal = true">
					Delete
					<svg width="18" height="18" class="ml-2 fill-danger-100">
						<use xlink:href="#delete-icon"></use>
					</svg>
				</button>
				<button convoy-permission="Subscriptions|MANAGE" convoy-button size="sm" class="py-8px px-12px text-12 ml-24px" [routerLink]="'./' + activeSubscription?.uid">
					Edit
					<svg width="18" height="18" class="ml-8px" fill="currentColor">
						<use xlink:href="#edit-icon"></use>
					</svg>
				</button>
			</div>
		</ng-container>
	</div>
</dialog>

<dialog #deleteDialog convoy-dialog position="center" size="sm">
	<app-delete-modal [isLoading]="isDeletingSubscription" [deleteText]="'delete “' + activeSubscription?.name + '”'" (closeModal)="deleteDialog.close()" (deleteData)="deleteSubscripton()"></app-delete-modal>
</dialog>
