<div class="text-12 font-medium uppercase flex items-center">
	<a routerLink="/projects" class="cursor-pointer">Projects</a>
	<svg width="16" height="16" class="mx-1">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-1">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="text-primary-100">SUBSCRIPTIONS</span>
</div>

<!-- subscriptions loader  -->
<div class="min-h-[70vh]" *ngIf="isLoadindingSubscriptions">
	<convoy-card className="pt-16px mb-16px" *ngFor="let subscription of subscriptionsLoaders">
		<div class="flex items-center justify-between pb-16px border-b-4 border-b-grey-10 px-16px">
			<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[200px]"></div>
			<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[250px]"></div>
		</div>
		<div class="flex items-end justify-between pb-8px px-16px mt-8px" [ngClass]="{ 'border-b border-b-grey-10': privateService.activeProjectDetails?.type === 'incoming' }">
			<div>
				<div class="text-grey-40 text-10 mb-3">App</div>

				<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[120px]"></div>
			</div>
			<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[150px]"></div>
			<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[120px]"></div>
			<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[80px]"></div>
		</div>

		<div class="flex items-end justify-between pb-8px px-16px mt-8px" *ngIf="privateService.activeProjectDetails?.type === 'incoming'">
			<div>
				<div class="text-grey-40 text-10 mb-3">Source</div>

				<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[120px]"></div>
			</div>
			<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[150px]"></div>
			<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[120px]"></div>
			<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-[80px]"></div>
		</div>
	</convoy-card>
</div>

<div *ngIf="!isLoadindingSubscriptions && subscriptions?.content?.length">
	<div class="flex justify-end items-center my-6">
		<convoy-button buttonType="button" size="sm" routerLink="./new">Create a Subscription</convoy-button>
	</div>

	<div class="min-h-[70vh] w-full min-w-[485px] flex items-start">
		<div class="w-full transition-all duration-200" [ngClass]="{ 'w-[calc(100%_-_370px)] desktop:w-0 desktop:hidden': activeSubscription?.uid }">
			<convoy-card className="pt-16px mb-16px" *ngFor="let subscription of subscriptions?.content">
				<div class="flex items-center justify-between pb-16px border-b-4 border-b-grey-10 cursor-pointer" routerLink="./" [queryParams]="{ id: subscription.uid }">
					<div class="flex items-center">
						<h4 class="pl-16px font-medium text-14">
							{{ subscription.name }}
						</h4>
						<convoy-tag [type]="subscription.status | statuscolor" className="ml-4px">{{ subscription.status }}</convoy-tag>
					</div>
					<div class="flex items-center">
						<a class="pr-4 text-primary-100 text-12 flex items-center" routerLink="./" [queryParams]="{ id: subscription.uid }">
							View details
							<svg width="18" height="18" class="ml-2 fill-primary-100">
								<use xlink:href="#arrow-right-icon"></use>
							</svg>
						</a>
					</div>
				</div>

				<div class="flex items-end justify-between pb-8px pl-16px mt-8px" *ngIf="subscription?.app_metadata" [ngClass]="{ 'border-b border-b-grey-10': privateService.activeProjectDetails?.type === 'incoming' }">
					<div class="w-full">
						<div class="text-grey-40 text-10 mb-3">App</div>
						<div class="text-12">{{ subscription?.app_metadata?.name }}</div>
					</div>
					<div class="w-full">
						<div class="text-12 max-w-[220px] desktop:max-w-[158px] overflow-hidden whitespace-nowrap text-ellipsis" [ngClass]="{ 'max-w-[158px]': activeSubscription?.uid }">
							{{ subscription?.endpoint_metadata?.target_url }}
						</div>
					</div>
					<div class="w-full" *ngIf="subscription?.endpoint_metadata">
						<div class="text-12 flex items-center whitespace-nowrap">
							Endpoint Secret
							<convoy-copy-button [text]="subscription.endpoint_metadata.secret" size="md" (copyText)="copyText()" className="ml-8px"></convoy-copy-button>
						</div>
					</div>

					<div class="flex items-center justify-end w-[50%]">
						<a class="mx-16px flex items-center text-12 text-primary-100 font-medium" [routerLink]="'/projects/' + projectId + '/apps/' + subscription.app_metadata?.uid">
							<div class="whitespace-nowrap">Go to app</div>
							<svg width="18" height="18" class="ml-2" fill="#477db3">
								<use xlink:href="#arrow-right-icon"></use>
							</svg>
						</a>
					</div>
				</div>

				<div class="flex items-end justify-between pb-8px ml-16px mt-8px" *ngIf="privateService.activeProjectDetails?.type === 'incoming' && subscription.source_metadata">
					<div class="w-full">
						<div class="text-grey-40 text-10 mb-10px">Source</div>
						<div class="text-12">{{ subscription.source_metadata.name }}</div>
					</div>
					<div class="w-full">
						<div class="text-12 uppercase">{{ subscription.source_metadata.verifier.type }}</div>
					</div>
					<div class="w-full">
						<div class="text-12 uppercase">{{ subscription.source_metadata.type }}</div>
					</div>

					<div class="flex items-center justify-end w-[50%]">
						<a class="mx-16px flex items-center text-12 text-primary-100 font-medium" [routerLink]="'/projects/' + projectId + '/sources/'" [queryParams]="{ id: subscription.source_metadata.uid }">
							<div class="whitespace-nowrap">Go to Source</div>
							<svg width="18" height="18" class="ml-2" fill="#477db3">
								<use xlink:href="#arrow-right-icon"></use>
							</svg>
						</a>
					</div>
				</div>
			</convoy-card>
		</div>

		<convoy-card className="pb-20px ml-8px w-full max-w-[370px] min-w-[366px] border-l border-l-grey-10 desktop:max-w-none desktop:ml-0 transition-all duration-200 min-h-[70vh]" *ngIf="!isLoadindingSubscriptions && activeSubscription?.uid">
			<div class="flex items-center justify-between border-b border-b-grey-10 px-24px pt-24px pb-16px">
				<h2 class="font-semibold">{{ activeSubscription?.name }}</h2>
				<a [routerLink]="['./']" [queryParams]="{}" class="w-32px h-32px bg-primary-500 flex items-center justify-center rounded-[6px]" tabindex="0">
					<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
				</a>
			</div>

			<ul>
				<convoy-list-item className="text-14 font-normal py-16px px-24px">
					<div class="w-[50%] text-grey-40">Subscription type</div>
					<div class="w-[50%] text-right capitalize">{{ activeSubscription?.type }}</div>
				</convoy-list-item>
				<convoy-list-item className="text-14 font-normal py-16px px-24px">
					<div class="w-[50%] text-grey-40 font-medium">Status</div>
					<div class="w-[50%] text-right">
						<span [class]="'ml-4px tag' + ' tag--' + activeSubscription?.status">{{ activeSubscription?.status }}</span>
					</div>
				</convoy-list-item>
				<convoy-list-item className="text-14 font-normal py-16px px-24px" *ngIf="activeSubscription?.endpoint_metadata">
					<div class="w-[50%] text-grey-40">Endpoint</div>
					<div class="w-[50%] text-right text-ellipsis whitespace-nowrap overflow-hidden">{{ activeSubscription?.endpoint_metadata?.target_url }}</div>
				</convoy-list-item>
				<convoy-list-item className="text-14 font-normal py-16px px-24px" *ngIf="activeSubscription?.app_metadata">
					<div class="w-[50%] text-grey-40">App Name</div>
					<a [routerLink]="'/projects/' + projectId + '/apps/' + activeSubscription?.app_metadata?.uid" class="w-[50%] font-medium text-primary-100 text-right underline">
						{{ activeSubscription?.app_metadata?.name }}
					</a>
				</convoy-list-item>
				<convoy-list-item className="text-14 font-normal py-16px px-24px" *ngIf="activeSubscription?.type === 'incoming'">
					<div class="w-[50%] text-grey-40">Source</div>
					<a [routerLink]="'/projects/' + projectId + '/sources'" [queryParams]="{ id: activeSubscription?.uid }" class="w-[50%] font-medium text-primary-100 text-right underline">
						{{ activeSubscription?.source_metadata?.name }}
					</a>
				</convoy-list-item>
				<convoy-list-item className="text-14 font-normal py-16px px-24px">
					<div class="w-[50%] text-grey-40">Created At</div>
					<div class="w-[50%] text-right">{{ activeSubscription?.created_at | date }}</div>
				</convoy-list-item>
				<convoy-list-item className="text-14 font-normal py-16px px-24px items-start">
					<div class="w-[40%] flex items-center text-primary-100 text-12 whitespace-nowrap">
						<a rou></a>
						Events Watched
						<svg width="18" height="18" class="ml-2 fill-primary-100">
							<use xlink:href="#arrow-right-icon"></use>
						</svg>
					</div>
					<div class="w-[60%] text-right">
						<div class="flex items-center justify-end flex-wrap">
							<convoy-tag type="grey" className="ml-4px mb-1 first-of-type:mr-0" *ngFor="let event of activeSubscription?.filter_config?.event_types">{{ event === '*' ? 'all events' : event }}</convoy-tag>
						</div>
					</div>
				</convoy-list-item>
			</ul>

			<div class="flex items-center justify-end mt-40px mr-24px">
				<convoy-button size="sm" color="danger" type="outline" className="py-8px px-12px text-12" (click)="showDeleteSubscriptionModal = true">
					Delete
					<svg width="18" height="18" class="ml-2 fill-danger-100">
						<use xlink:href="#delete-icon"></use>
					</svg>
				</convoy-button>
				<convoy-button size="sm" className="py-8px px-12px text-12 ml-24px" [routerLink]="'/projects/' + projectId + '/subscriptions/' + activeSubscription?.uid">
					Edit
					<svg width="18" height="18" class="ml-8px" fill="currentColor">
						<use xlink:href="#edit-icon"></use>
					</svg>
				</convoy-button>
			</div>
		</convoy-card>
	</div>

	<div class="flex items-center mt-16px" *ngIf="(subscriptions?.pagination?.total || 0) > 20">
		<convoy-button
			type="outline"
			size="sm"
			className="pl-4px pr-16px py-4px border-primary-300"
			routerLink="./"
			[queryParams]="activeSubscription?.uid ? { id: activeSubscription?.uid, page: subscriptions?.pagination?.prev } : { page: subscriptions?.pagination?.prev }"
			[disable]="subscriptions?.pagination?.prev === 0"
			(click)="getSubscriptions({ page: subscriptions?.pagination?.prev })"
		>
			<svg width="24" height="24" class="mr-8px fill-primary-100">
				<use xlink:href="#arrow-left-icon"></use>
			</svg>
			Previous
		</convoy-button>
		<convoy-button
			type="outline"
			size="sm"
			className="pr-4px pl-16px py-4px border-primary-300 ml-16px"
			routerLink="./"
			[queryParams]="activeSubscription?.uid ? { id: activeSubscription?.uid, page: subscriptions?.pagination?.next } : { page: subscriptions?.pagination?.next }"
			[disable]="subscriptions?.pagination?.next === 0"
			(click)="getSubscriptions({ page: subscriptions?.pagination?.next })"
		>
			Next
			<svg width="24" height="24" class="ml-8px fill-primary-100">
				<use xlink:href="#arrow-right-icon"></use>
			</svg>
		</convoy-button>
	</div>
</div>

<convoy-empty-state
	imgSrc="/assets/img/new-empty-state.png"
	heading="Create your first webhook subscription"
	description="Webhook subscriptions lets you define the source of your webhook and the destination where any webhook event should be sent. It is what allows Convoy to identify and proxy your webhooks."
	buttonText="Create Subscription"
	(onAction)="router.navigateByUrl('/projects/' + privateService.activeProjectDetails?.uid + '/subscriptions/new')"
	className="min-h-[65vh] mt-16px"
	id="subscriptions-empty-state"
	*ngIf="!isLoadindingSubscriptions && subscriptions?.content?.length === 0"
></convoy-empty-state>

<convoy-modal *ngIf="shouldShowCreateSubscriptionModal || showUpdateSubscriptionModal" position="full" [title]="showUpdateSubscriptionModal ? 'Update Subscription' : 'Create Subscription'" [id]="'subscriptionForm'" (closeModal)="createSubscription('cancel')">
	<ng-container modalBody>
		<app-create-subscription (onAction)="createSubscription($event.action)" [action]="showUpdateSubscriptionModal ? 'update' : 'create'"></app-create-subscription>
	</ng-container>
</convoy-modal>
<app-delete-modal *ngIf="showDeleteSubscriptionModal" [isLoading]="isDeletingSubscription" [deleteText]="'delete “' + activeSubscription?.name + '”'" (closeModal)="showDeleteSubscriptionModal = false" (deleteData)="deleteSubscripton()"></app-delete-modal>
