@if (notification.show && notification.type === 'alert') {
  <div
    class="flex items-center justify-between font-body font-medium text-[14px] capitalize p-8px rounded-12px fixed bottom-50px left-1/2 -translate-x-1/2 -translate-y-0 w-full max-w-[500px] z-[100]"
    [class]="statusTypes[notification.style]"
    >
    <div class="flex items-center">
      <img [src]="'assets/img/' + notification.style + '-icon.svg'" class="mr-10px" alt="toast icon" />
      {{ notification.message }}
    </div>
    <button type="button" class="mr-6px w-24px h-24px flex items-center justify-center rounded-full hover:opacity-80" (click)="dismissNotification()" aria-label="Dismiss">
      <img src="assets/img/close icon.svg" alt="" />
    </button>
  </div>
}
