<div class="min-h-screen flex flex-col items-center justify-center w-full">
	<img src="/assets/img/logo.svg" alt="convoy logo" class="mb-28px w-130px" />
	<section class="max-w-[445px] mx-auto my-0 p-24px w-full bg-white-100 shadow-default rounded-8px">
		<form [formGroup]="loginForm" (ngSubmit)="login()">
			<convoy-input type="text" autocomplete="username" name="username" formControlName="username" errorMessage="Please enter your username" label="Username" placeholder="super@default.com"></convoy-input>

			<convoy-input type="password" formControlName="password" name="password" errorMessage="Please enter your password" label="Password"></convoy-input>

			<div class="flex items-center text-12 mb-20px -mt-18px">
				Forgot password?
				<button convoy-button fill="link" type="button" class="px-0 ml-6px" (click)="router.navigateByUrl('/forgot-password')" size="sm">Reset it here</button>
			</div>

			<button convoy-button [disabled]="disableLoginBtn" size="lg">
				<span class="text-14" *ngIf="!disableLoginBtn">Login</span>
				<img *ngIf="disableLoginBtn" src="assets/img/button-loader.gif" alt="loader" class="h-18px" />
			</button>
		</form>

		<button convoy-button fill="link" class="mt-12px w-full" (click)="router.navigateByUrl('/signup')" size="sm">Signup</button>
	</section>
</div>
