version: "3"

services:
    web:
        image: docker.cloudsmith.io/convoy/convoy/frain-dev/convoy:v23.05.3
        command: ["/start.sh"]
        volumes:
            - ./convoy.json:/convoy.json
        restart: on-failure
        ports:
          - "5005:5005"
        depends_on:
            - postgres
            - redis_server
            - typesense

    scheduler:
        image: docker.cloudsmith.io/convoy/convoy/frain-dev/convoy:v23.05.3
        command: ["./cmd", "scheduler", "--config", "convoy.json"]
        volumes:
            - ./convoy.json:/convoy.json
        restart: on-failure
        depends_on:
            - postgres
            - redis_server
            - typesense

    worker:
        image: docker.cloudsmith.io/convoy/convoy/frain-dev/convoy:v23.05.3
        command: ["./cmd", "worker", "--config", "convoy.json"]
        volumes:
            - ./convoy.json:/convoy.json
        restart: on-failure
        depends_on:
            - postgres
            - redis_server
            - typesense

    stream:
        image: docker.cloudsmith.io/convoy/convoy/frain-dev/convoy:v23.05.3
        command: ["./cmd", "stream", "--config", "convoy.json"]
        volumes:
            - ./convoy.json:/convoy.json
        restart: on-failure
        depends_on:
            - postgres
            - redis_server

    ingest:
      image: docker.cloudsmith.io/convoy/convoy/frain-dev/convoy:v23.05.3
      command: ["./cmd", "ingest", "--config", "convoy.json"]
      volumes:
        - ./convoy.json:/convoy.json
      restart: on-failure
      depends_on:
        - postgres
        - redis_server
        - typesense

    postgres:
      image: postgres:15.2-alpine
      restart: unless-stopped
      environment:
        POSTGRES_DB: convoy
        POSTGRES_USER: convoy
        POSTGRES_PASSWORD: convoy
        PGDATA: /data/postgres
      volumes:
        - ./postgres_data:/data/postgres

    redis_server:
        image: redis:alpine
        restart: always
        volumes:
          - ./redis_data:/data

    typesense:
        image: typesense/typesense:0.24.0
        restart: always
        environment:
            TYPESENSE_DATA_DIR: /data/typesense
            TYPESENSE_ENABLE_CORS: "true"
            TYPESENSE_API_KEY: "convoy"
        volumes:
            - ./typesense_data:/data/typesense

