services:
    web:
        image: rtukpe/convoy-main:v9
        command: ["/start.sh"]
        volumes:
            - ./convoy.json:/convoy.json
            - ./conf/redis/ca-cert.pem:/etc/ssl/certs/redis-ca.pem:ro
        restart: unless-stopped
        ports:
            - "5005:5005"
        healthcheck:
            test: ["CMD-SHELL", "wget -q --spider localhost:5005/health"]
            interval: 5s
            timeout: 15s
            retries: 3
            start_period: 5s
        depends_on:
            - postgres
            - redis_server
            - pgbouncer
    agent:
        image: rtukpe/convoy-main:v9
        command: ["./cmd", "agent", "--config", "convoy.json"]
        ports:
            - "5008:5008"
        volumes:
            - ./convoy.json:/convoy.json
            - ./conf/redis/ca-cert.pem:/etc/ssl/certs/redis-ca.pem:ro
        restart: unless-stopped
        depends_on:
            web:
                condition: service_healthy
    pgbouncer:
        image: bitnamilegacy/pgbouncer
        hostname: pgbouncer
        restart: unless-stopped
        depends_on:
          postgres:
            condition: service_healthy
        env_file:
            - ./conf/.env
        volumes:
            - ./conf/:/bitnami/pgbouncer/conf/
            - ./conf/userlists.txt:/bitnami/userlists.txt
        ports:
            - "6432:6432"
    postgres:
        image: postgres:15.2-alpine
        restart: on-failure
        ports:
            - "5432:5432"
        environment:
            POSTGRES_DB: convoy
            POSTGRES_USER: convoy
            POSTGRES_PASSWORD: pg_password
            PGDATA: /data/postgres
        volumes:
            - postgresql_master_data:/data/postgres
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U convoy"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
    redis_server:
        image: redis:7-alpine
        restart: unless-stopped
        ports:
            - "6379:6379"
        command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
        volumes:
          - redis_data:/data
          - ./conf/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
          - ./conf/redis/ca-cert.pem:/usr/local/etc/redis/certs/ca-cert.pem:ro
          - ./conf/redis/redis-server-cert.pem:/usr/local/etc/redis/certs/redis-server-cert.pem:ro
          - ./conf/redis/redis-server-key.pem:/usr/local/etc/redis/certs/redis-server-key.pem:ro
volumes:
    postgresql_master_data:
    redis_data:
