<convoy-dropdown buttonClass="px-10px !border-primary-400 justify-between h-36px min-w-[117px]" buttonType="outline" buttonSize="sm" position="left" className="p-10px !w-fit" [active]="filterIsActive()" #dropdown>
	<ng-container dropdownToggle>
		<img src="assets/img/clock.svg" class="mr-10px w-14px" alt="time filter icon" />
		<span class="text-grey-40 mr-4px">Time</span>
		<img class="ml-16px mr-0px w-14px" src="/assets/img/angle-arrow-down.svg" *ngIf="!filterIsActive()" alt="arrow down icon" />

		<convoy-button type="icon" *ngIf="filterIsActive()" (clickItem)="clearFilter($event)" className="ml-16px">
			<svg width="10" height="10" class="fill-primary-100">
				<use xlink:href="#close-icon"></use>
			</svg>
		</convoy-button>
	</ng-container>

	<ng-container>
        <div class="px-10px">
            <label class="text-12 text-grey-40">Start</label>
            <div class="flex items-center mb-20px">
                <input type="number" [(ngModel)]="filterStartHour" pattern="[0-9]*" maxlength="2" id="startTimeHour" (input)="validateTime('startTimeHour')" class="border-[0.5px] border-primary-100 rounded-4px text-16 text-[#424242] text-center focus:border-primary-100 outline-none w-80px">
                <span class="mx-6px">:</span>
                <input type="number" [(ngModel)]="filterStartMinute" pattern="[0-9]*" maxlength="2" id="startTimeMinute" (input)="validateTime('startTimeMinute')" class="border border-[#EEEEEE] bg-[#EEEEEE] rounded-4px text-16 text-[#424242] text-center focus:border-[#EEEEEE] outline-none w-80px">
                <ul class="flex border border-grey-10 rounded-4px ml-10px">
                    <li class="py-4px px-10px text-10 rounded-bl-4px rounded-tl-4px" (click)="filterStartHour = filterStartHour - 12 < 0 ? filterStartHour : filterStartHour - 12" [ngClass]="{ 'bg-primary-100 transition-all duration-300': filterStartHour < 12 }">AM</li>
                    <li class="py-4px px-10px text-10 rounded-br-4px rounded-tr-4px" (click)="filterStartHour = filterStartHour + 12 > 24 ? filterStartHour : filterStartHour + 12" [ngClass]="{ 'bg-primary-100 transition-all duration-300': filterStartHour >= 12 }">PM</li>
                </ul>
            </div>

            <label class="text-12 text-grey-40">End</label>
            <div class="flex items-center mb-20px">
                <input type="number" [(ngModel)]="filterEndHour" pattern="[0-9]*" maxlength="2" id="endTimeHour" (input)="validateTime('endTimeHour')" class="border-[0.5px] border-primary-100 rounded-4px text-16 text-[#424242] text-center focus:border-primary-100 outline-none w-80px">
                <span class="mx-6px">:</span>
                <input type="number" [(ngModel)]="filterEndMinute" pattern="[0-9]*" maxlength="2" id="endTimeMinute" (input)="validateTime('endTimeMinute')" class="border border-[#EEEEEE] bg-[#EEEEEE] rounded-4px text-16 text-[#424242] text-center focus:border-[#EEEEEE] outline-none w-80px">
                <ul class="flex border border-grey-10 rounded-4px ml-10px">
                    <li class="py-4px px-10px text-10 rounded-bl-4px rounded-tl-4px" (click)="filterEndHour = filterEndHour - 12 < 0 ? filterEndHour : filterEndHour - 12" [ngClass]="{ 'bg-primary-100 transition-all duration-300': filterEndHour < 12 }">AM</li>
                    <li class="py-4px px-10px text-10 rounded-br-4px rounded-tr-4px" (click)="filterEndHour = filterEndHour + 12 > 24 ? filterEndHour : filterEndHour + 12" [ngClass]="{ 'bg-primary-100 transition-all duration-300': filterEndHour >= 12 }">PM</li>
                </ul>
            </div>
            <div class="mb-20px flex items-center justify-end">
                <convoy-button size="sm" type="outline" color="danger" className="mr-10px" (clickItem)="clearFilter()">Clear</convoy-button>
                <convoy-button size="sm" (clickItem)="onApplyFilter()">Apply</convoy-button>
            </div>
        </div>
		<!-- <div class="flex">
			<div class="border-r border-grey-10 mr-16px pr-10px">
				<h5 class="pb-10px border-b border-grey-10 text-14 font-medium">Start Date Time</h5>

				<div class="flex items-center">
					<ul class="h-200px overflow-y-scroll">
						<li
							class="py-10px px-14px text-14 hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							*ngFor="let hour of timeFilterHours"
							(click)="filterStartHour = filterStartHour >= 12 ? hour + 12 : hour"
							[ngClass]="{
								'bg-primary-500 transition-all duration-300': (filterStartHour > 12 ? filterStartHour - 12 : filterStartHour) === hour || (filterStartHour === 0 && hour === 12)
							}"
						>
							{{ hour < 10 ? '0' + hour : hour }}
						</li>
					</ul>

					<ul class="h-200px overflow-y-scroll">
						<li
							class="py-10px px-14px text-14 hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							*ngFor="let minute of timeFilterMinutes; let i = index"
							(click)="filterStartMinute = minute"
							[ngClass]="{ 'bg-primary-500 transition-all duration-300': filterStartMinute === minute }"
						>
							{{ minute < 10 ? '0' + minute : minute }}
						</li>
					</ul>

					<ul class="flex border border-[#bdbdbd] rounded-4px">
						<li class="p-8px text-10" (click)="filterStartHour = filterStartHour - 12 < 0 ? filterStartHour : filterStartHour - 12" [ngClass]="{ 'bg-primary-100 transition-all duration-300': filterStartHour < 12 }">AM</li>
						<li class="p-8px text-10" (click)="filterStartHour = filterStartHour + 12 > 24 ? filterStartHour : filterStartHour + 12" [ngClass]="{ 'bg-primary-100 transition-all duration-300': filterStartHour >= 12 }">PM</li>
					</ul>
				</div>
			</div>

			<div>
				<h5 class="pb-10px border-b border-grey-10 text-14 font-medium">End Date Time</h5>

				<div class="flex items-center">
					<ul class="h-200px overflow-y-scroll">
						<li
							*ngFor="let hour of timeFilterHours"
							class="py-10px px-14px text-14hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							(click)="filterEndHour = filterEndHour >= 12 ? hour + 12 : hour"
							[ngClass]="{ 'bg-primary-500 transition-all duration-300': (filterEndHour > 12 ? filterEndHour - 12 : filterEndHour) === hour }"
						>
							{{ hour < 10 ? '0' + hour : hour }}
						</li>
					</ul>

					<ul class="h-200px overflow-y-scroll">
						<li class="py-10px px-14px text-14hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer" *ngFor="let minute of timeFilterMinutes; let i = index" (click)="filterEndMinute = minute" [ngClass]="{ 'bg-primary-500 transition-all duration-300': filterEndMinute === minute }">
							{{ minute < 10 ? '0' + minute : minute }}
						</li>
					</ul>

					<ul>
						<li
							class="py-10px px-14px text-14hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							(click)="filterEndHour = filterEndHour - 12 < 0 ? filterEndHour : filterEndHour - 12"
							[ngClass]="{ 'bg-primary-500 transition-all duration-300': filterEndHour < 12 }"
						>
							am
						</li>
						<li
							class="py-10px px-14px text-14hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							(click)="filterEndHour = filterEndHour + 12 > 24 ? filterEndHour : filterEndHour + 12"
							[ngClass]="{ 'bg-primary-500 transition-all duration-300': filterEndHour >= 12 }"
						>
							pm
						</li>
					</ul>
				</div>
			</div>
		</div> -->


	</ng-container>
</convoy-dropdown>
