.time-filter {
    width: fit-content;
}

.can-scroll {
    height: 200px;
    overflow-y: scroll;
}

.can-scroll::-webkit-scrollbar {
    width: 2px;
}

.can-scroll::-webkit-scrollbar-track {
    background: #f3f3f3;
}