<convoy-dropdown buttonClass="px-10px !border-primary-400 justify-between h-36px min-w-[117px]" buttonFill="outline" buttonSize="sm" position="left" className="p-10px !w-fit" [active]="filterIsActive()" #dropdown>
	<ng-container dropdownToggle>
		<img src="assets/img/clock.svg" class="mr-10px w-14px" alt="time filter icon" />
		<span class="text-grey-40 mr-4px">Time</span>
		<img class="ml-16px mr-0px w-14px" src="/assets/img/angle-arrow-down.svg" *ngIf="!filterIsActive()" alt="arrow down icon" />

		<button convoy-button *ngIf="filterIsActive()" (click)="clearFilter($event)" className="ml-16px">
			<svg width="10" height="10" class="fill-primary-100">
				<use xlink:href="#close-icon"></use>
			</svg>
		</button>
	</ng-container>

	<ng-container>
		<div class="flex">
			<div class="border-r border-grey-10 mr-16px pr-10px">
				<h5 class="pb-10px border-b border-grey-10 text-14 font-medium">Start Date Time</h5>

				<div class="flex items-center">
					<ul class="h-200px overflow-y-scroll">
						<li
							class="py-10px px-14px text-14 hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							*ngFor="let hour of timeFilterHours"
							(click)="filterStartHour = filterStartHour >= 12 ? hour + 12 : hour"
							[ngClass]="{
								'bg-primary-500 transition-all duration-300': (filterStartHour > 12 ? filterStartHour - 12 : filterStartHour) === hour || (filterStartHour === 0 && hour === 12)
							}"
						>
							{{ hour < 10 ? '0' + hour : hour }}
						</li>
					</ul>

					<ul class="h-200px overflow-y-scroll">
						<li
							class="py-10px px-14px text-14 hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							*ngFor="let minute of timeFilterMinutes; let i = index"
							(click)="filterStartMinute = minute"
							[ngClass]="{ 'bg-primary-500 transition-all duration-300': filterStartMinute === minute }"
						>
							{{ minute < 10 ? '0' + minute : minute }}
						</li>
					</ul>

					<ul>
						<li class="py-10px px-14px text-14" (click)="filterStartHour = filterStartHour - 12 < 0 ? filterStartHour : filterStartHour - 12" [ngClass]="{ 'bg-primary-500 transition-all duration-300': filterStartHour < 12 }">am</li>
						<li class="py-10px px-14px text-14" (click)="filterStartHour = filterStartHour + 12 > 24 ? filterStartHour : filterStartHour + 12" [ngClass]="{ 'bg-primary-500 transition-all duration-300': filterStartHour >= 12 }">pm</li>
					</ul>
				</div>
			</div>

			<div>
				<h5 class="pb-10px border-b border-grey-10 text-14 font-medium">End Date Time</h5>

				<div class="flex items-center">
					<ul class="h-200px overflow-y-scroll">
						<li
							*ngFor="let hour of timeFilterHours"
							class="py-10px px-14px text-14hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							(click)="filterEndHour = filterEndHour >= 12 ? hour + 12 : hour"
							[ngClass]="{ 'bg-primary-500 transition-all duration-300': (filterEndHour > 12 ? filterEndHour - 12 : filterEndHour) === hour }"
						>
							{{ hour < 10 ? '0' + hour : hour }}
						</li>
					</ul>

					<ul class="h-200px overflow-y-scroll">
						<li
							class="py-10px px-14px text-14hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							*ngFor="let minute of timeFilterMinutes; let i = index"
							(click)="filterEndMinute = minute"
							[ngClass]="{ 'bg-primary-500 transition-all duration-300': filterEndMinute === minute }"
						>
							{{ minute < 10 ? '0' + minute : minute }}
						</li>
					</ul>

					<ul>
						<li
							class="py-10px px-14px text-14hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							(click)="filterEndHour = filterEndHour - 12 < 0 ? filterEndHour : filterEndHour - 12"
							[ngClass]="{ 'bg-primary-500 transition-all duration-300': filterEndHour < 12 }"
						>
							am
						</li>
						<li
							class="py-10px px-14px text-14hover:bg-primary-500 hover:transition-all hover:duration-300 cursor-pointer"
							(click)="filterEndHour = filterEndHour + 12 > 24 ? filterEndHour : filterEndHour + 12"
							[ngClass]="{ 'bg-primary-500 transition-all duration-300': filterEndHour >= 12 }"
						>
							pm
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="mt-16px flex items-center">
			<button convoy-button size="sm" (click)="onApplyFilter()">Apply</button>
			<button convoy-button size="sm" fill="clear" (click)="clearFilter()">Clear</button>
		</div>
	</ng-container>
</convoy-dropdown>
