<div class="dropdown">
	<button class="button button__filter button--has-icon" (click)="showDropdown = !showDropdown" [ngClass]="{ active: isFilterUpdated }">
		<img src="assets/img/clock.svg" class="mar" alt="time filter icon" />
		<span>Time</span>
		<img class="margin-left__16px margin-right__0px" src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
	</button>

	<div class="dropdown__menu time-filter with-padding" [ngClass]="{ show: showDropdown }">
		<div class="flex">
			<div class="border__right margin-right__16px padding-right__10px">
				<h5 class="padding-bottom__10px border__bottom">Start Date Time</h5>

				<div class="flex flex__align-items-center">
					<ul class="can-scroll">
						<li
							*ngFor="let hour of timeFilterHours"
							(click)="filterStartHour = filterStartHour >= 12 ? hour + 12 : hour"
							[ngClass]="{ active: (filterStartHour > 12 ? filterStartHour - 12 : filterStartHour) === hour || (filterStartHour === 0 && hour === 12) }"
						>
							{{ hour < 10 ? '0' + hour : hour }}
						</li>
					</ul>

					<ul class="can-scroll">
						<li *ngFor="let minute of timeFilterMinutes; let i = index" (click)="filterStartMinute = minute" [ngClass]="{ active: filterStartMinute === minute }">
							{{ minute < 10 ? '0' + minute : minute }}
						</li>
					</ul>

					<ul>
						<li (click)="filterStartHour = filterStartHour - 12 < 0 ? filterStartHour : filterStartHour - 12" [ngClass]="{ active: filterStartHour < 12 }">am</li>
						<li (click)="filterStartHour = filterStartHour + 12 > 24 ? filterStartHour : filterStartHour + 12" [ngClass]="{ active: filterStartHour >= 12 }">pm</li>
					</ul>
				</div>
			</div>

			<div>
				<h5 class="padding-bottom__10px border__bottom">End Date Time</h5>

				<div class="flex flex__align-items-center">
					<ul class="can-scroll">
						<li
							*ngFor="let hour of timeFilterHours"
							(click)="filterEndHour = filterEndHour >= 12 ? hour + 12 : hour"
							[ngClass]="{ active: (filterEndHour > 12 ? filterEndHour - 12 : filterEndHour) === hour }"
						>
							{{ hour < 10 ? '0' + hour : hour }}
						</li>
					</ul>

					<ul class="can-scroll">
						<li *ngFor="let minute of timeFilterMinutes; let i = index" (click)="filterEndMinute = minute" [ngClass]="{ active: filterEndMinute === minute }">
							{{ minute < 10 ? '0' + minute : minute }}
						</li>
					</ul>

					<ul>
						<li (click)="filterEndHour = filterEndHour - 12 < 0 ? filterEndHour : filterEndHour - 12" [ngClass]="{ active: filterEndHour < 12 }">am</li>
						<li (click)="filterEndHour = filterEndHour + 12 > 24 ? filterEndHour : filterEndHour + 12" [ngClass]="{ active: filterEndHour >= 12 }">pm</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="margin-top__16px flex flex__align-items-center">
			<button class="button button__primary button__small" (click)="onApplyFilter()">Apply</button>
			<button class="button button__clear button__small margin-left__10px" (click)="clearFilter()">Clear</button>
		</div>
	</div>
</div>
<div class="overlay" *ngIf="showDropdown" (click)="showDropdown = false"></div>
