<div convoy-modal size="sm" position="center">
	<div class="px-30px py-40px">
		<h3 class="font-medium">Welcome 🌤</h3>

		<form [formGroup]="addAnalyticsForm" (ngSubmit)="addAnalytics()">
			<h5 class="mt-24px font-medium">Would you like to enable analytics?</h5>
			<p class="text-14 text-grey-40 mb-20px mt-4px">Enabling analytics will provide anonymous metrics to help us understand how you use Convoy, so we can make it even better for you.</p>
			<div class="grid grid-cols-2 gap-6 mb-50px">
				<convoy-radio formControlName="is_analytics_enabled" label="Yes" _name="is_analytics_enabled" [value]="true" _id="true"></convoy-radio>
				<convoy-radio formControlName="is_analytics_enabled" label="No" _name="is_analytics_enabled" [value]="false" _id="false"></convoy-radio>
			</div>

			<button convoy-button class="w-full" [disabled]="loading || addAnalyticsForm.invalid">Save option</button>
		</form>
	</div>
</div>
