<div class="padding-x__30px padding-y__40px">
	<h3>Welcome, {{ authDetails?.first_name }} 🌤</h3>
	
	<form [formGroup]="addAnalyticsForm" (ngSubmit)="addAnalytics()">
		<h3 class="margin-top__24px">
			Would you like to enable analytics?
		</h3>
		<p class="font__14px color__grey margin-bottom__20px width__80">Enabling Analytics would allow anonymous metrics to be taken to see how Convoy is being used.</p>
		<div class="grid grid__col-2 grid--gap__24px">
			<div class="checkbox-option">
				<input type="radio" id="true" name="is_analytics_enabled" [value]="true" formControlName="is_analytics_enabled" />
				<label for="true" class="border__all padding-all__10px rounded__4px display__block animate">
					<div class="flex flex__align-items-center">
						<div class="checkbox rounded__50px margin-bottom__0px border__all width__16px height__16px animate"></div>
						<p class="font__14px font__weight-600 margin-left__8px">Yes</p>
					</div>
				</label>
			</div>

			<div class="checkbox-option">
				<input type="radio" id="false" name="is_analytics_enabled" [value]="false" formControlName="is_analytics_enabled" />
				<label for="false" class="border__all padding-all__10px rounded__4px display__block animate">
					<div class="flex flex__align-items-center">
						<div class="checkbox rounded__50px margin-bottom__0px border__all width__16px height__16px animate"></div>
						<p class="font__14px font__weight-600 margin-left__8px">No</p>
					</div>
				</label>
			</div>
		</div>

		<div class="flex flex__justify-end margin-top__40px">
			<button class="button button__white margin-right__24px" type="button" (click)="closeModal.emit()">Discard</button>
			<button class="button button__primary" [disabled]="loading">Save option</button>
		</div>
	</form>
</div>
