$desktopBreakPoint: 880px;

.post-page--body {
	ul {
		list-style-type: disc;
		margin-left: 20px;
		margin-top: 14px;

		li {
			list-style-type: disc;
			margin-bottom: 15px;
		}
	}

	ol {
		list-style-type: initial;
		margin-left: 20px;
		margin-top: 14px;

		li {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #31323d;
		}
	}

	p,
	.kg-callout-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #31323d;
		margin: 16px 0 32px 0;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-weight: 700;
		font-size: 36px;
		line-height: 48px;
		letter-spacing: 0.2px;
		color: #000624;
	}

	h3 {
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.2px;
		color: #000624;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}

	h6 {
		font-size: 14px;
	}

	h3,
	h1,
	h2,
	h4,
	h5,
	h6 {
		font-weight: bold;
		line-height: 32px;
		margin: 40px 0 0;
		color: #16192c;
	}

	strong {
		font-weight: bold;
		color: inherit;
	}

	img {
		margin: 0;
		border: 1px solid #eee;
		border-radius: 10px;
		height: 100%;
	}

	a {
		color: #477db3;
		text-decoration: underline;
		font-weight: inherit;
	}

	blockquote {
		border-radius: 16px;
		padding: 100px 34px 64px;
		background: url('~assets/images/blockquote-bg.svg') no-repeat #477db3;
		background-position: top right;
		margin: 44px 0 44px;
		position: relative;
		font-size: 18px;
		line-height: 40px;
		text-align: center;
		letter-spacing: 0.09px;
		color: #ffffff;

		@media (min-width: $desktopBreakPoint) {
			padding: 100px 64px 64px;
			font-size: 26px;
			line-height: 60px;
		}

		&::after {
			position: absolute;
			content: url('~assets/images/quote-left.svg');
			top: 67px;
			left: 50%;
			transform: translate(0, -50%);
		}
	}

	figure {
		margin: 40px 0 30px 0;
	}

	figcaption {
		font-weight: 400;
		font-size: 13px;
		line-height: 22px;
		text-align: center;
		color: #979797;
		margin-bottom: 24px;
	}
	code {
		background: #f3f3f8;
		border-radius: 4px;
		padding: 0 3px;
		margin: 0 1px;
		border: 1px solid rgba(0, 0, 0, 0.05);
		font-family: 'Menlo Regular';
		font-size: 12px;
		color: rgba(22, 25, 44, 0.4);
	}
}

.kg-callout-card {
	display: flex;
	padding: 30px;
	background: #eee;
	margin: 50px 0;

	.kg-callout-text {
		margin: 0;
		margin-left: 30px;
	}
}

.kg-gallery-row {
	display: flex;
	flex-direction: row;
	justify-content: center;

	img {
		border-radius: 0;
	}

	.kg-gallery-image {
		&:not(:first-of-type) {
			margin: 0 0 0 1rem;
		}

		&:first-of-type {
			img {
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
			}
		}

		&:last-of-type {
			img {
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
}

hr {
	height: 1px;
	border: 0;
	border-top: 1px solid rgb(219, 219, 219);
	margin: 30px 0 44px;
}
