@font-face {
	font-family: 'Menlo Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Menlo Regular'), url('./fonts/Menlo-Regular.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

h2 {
	font-weight: bold;
	font-size: 27px;
	line-height: 32px;
	letter-spacing: 0.01em;
	margin-bottom: 8px;
	width: 100%;
}

p.subtitle {
	font-size: 16px;
	line-height: 24px;
	color: #737a91;
	max-width: 671px;
	margin-bottom: 36px;
	color: #ffffff;
	text-align: center;
	max-width: 590px;
	margin: auto;
	margin-bottom: 40px;
}
