.posts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 62px 48px;
	max-width: 970px;
	margin-top: 48px;
	&.featured {
		gap: 0 0;
	}
	.post {
		width: 100%;
		background: #ffffff;
		box-shadow: 40px 44px 81px rgba(111, 118, 138, 0.08);
		border-radius: 8px;
		padding: 10px;

		.tag {
			padding: 3px 16px;
			background: rgba(7, 71, 166, 0.1);
			border-radius: 2px;
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			color: #477db3;
			text-transform: uppercase;

			&.clear {
				background: transparent;
				padding: 0;
			}
		}

		&--head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 24px;
		}

		.date {
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
		}

		&--body {
			font-weight: 400;
			font-size: 14px;
			line-height: 22px;
			color: #31323d;
			margin: 0 15px 16px;
			&.single-feature {
				margin: 0 0 16px;
			}
		}

		&--title {
			color: #16192c;
			margin: 0 15px 16px;
			font-weight: 700;
			font-size: 24px;
			line-height: 32px;

			&.single-feature {
				margin: 0 0 16px;
			}
			&.small {
				font-size: 21px;
			}
		}

		&--footer {
			margin: 18px 15px 26px;
			display: flex;
			flex-flow: column;
			flex-wrap: wrap;
			justify-content: space-between;
			@media (min-width: $desktopBreakPoint) {
				align-items: center;
				flex-flow: row;
			}
			&.single-feature {
				margin: 27px 0 26px;
			}
			a {
				display: flex;
				align-items: center;
				color: #477db3;
				font-weight: 500;
				font-size: 14px;
				line-height: 22px;
				font-size: 12px;
				img {
					width: 20px;
				}
			}
		}

		&--author {
			display: flex;
			align-items: flex-start;
			margin-bottom: 40px;
			.img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: #f5f5f5;
				margin-right: 16px;
				overflow: hidden;
				display: flex;
				align-items: center;
			}

			img {
				width: 100% !important;
				border-radius: 50%;
				margin-right: 12px;
			}

			h5 {
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 3px;
			}

			p {
				font-size: 12px;
				line-height: 20px;
				color: #31323d;
			}
		}

		&--img {
			border-radius: 4px;
			margin-bottom: 21px;
			width: 100%;
			overflow: hidden;
			// border: 1px solid #edf2f7;
			box-sizing: border-box;
			backdrop-filter: blur(3.4767px);
			height: 171px;
			@media (min-width: $desktopBreakPoint) {
				margin-bottom: 41px;
			}
			img {
				border-radius: 4px;
				width: 100%;
			}
		}
	}
}
