pre[class*='language-'] {
	padding: 8px 16px;
	font-size: 13px;
	line-height: 20px;
	background: #f3f3f8;
	border-radius: 4px;
	color: #16192c;
	margin-top: 0;

	code {
		font-family: 'Menlo Regular';
		font-size: 13px;
		line-height: 20px;
		font-weight: normal;
		color: rgba(22, 25, 44, 0.5);

		background: transparent;
		border-radius: 0;
		padding: 0;
		margin: 0;
		border: none;
	}
}

.language-yml {
	.token {
		&.string,
		&.number {
			color: rgba(22, 25, 44, 0.5);
		}
	}
}

.token {
	color: #16192c;
	font-family: 'Menlo Regular';
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;

	&.operator {
		background: transparent;
		color: #16192c;
	}

	&.property {
		color: #16192c;
		font-weight: 300;
	}

	&.punctuation {
		color: rgba(22, 25, 44, 0.3);
	}

	&.string {
		color: #067ab8;
	}

	&.number {
		color: #0618b8;
	}
}

.filename,
.code-snippet {
	font-family: 'Menlo Regular';
	padding: 8px 12px;
	background: #ececf4;
	border-radius: 4px 4px 0px 0px;
	font-size: 13px;
	margin-top: 30px;
	display: block;
}

.code-snippet {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&--method {
		margin-right: 10px;
		font-weight: 500;

		&.post {
			color: #09825d;
		}

		&.get {
			color: #067ab8;
		}

		&.delete {
			color: #e56f4a;
		}
	}

	img {
		width: 16px;
		margin-right: 8px;
	}

	&--url {
		font-size: 13px;
		opacity: 0.6;
	}

	&--details {
		display: flex;
		align-items: center;
	}
}
