$desktopBreakPoint: 880px;
.tabs {
	background: rgba(252, 252, 252, 0.16);
	border-radius: 8.91px;
	width: fit-content;
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	margin-bottom: 55px;
	li {
		button {
			border-radius: 6.93px;
			padding: 13px 8px;
			span {
				font-size: 13px;
				line-height: 16px;
				letter-spacing: 0.02em;
				color: #fcfcfc;
				min-width: 86px;
				display: inline-block;
			}

			&.active {
				transition: 0.3s ease-in-out;
				background: #ffffff;
				box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
				span {
					font-weight: 600;
					transition: 0.3s ease-in-out;
					color: #000624;
				}
			}
			@media (min-width: $desktopBreakPoint) {
				span {
					font-size: 14px;
					line-height: 16px;
					min-width: 132px;
				}
				&.active {
					span {
						font-weight: 600;
					}
				}
			}
		}
	}
	&__light {
		background: #ececf4;
		li {
			button {
				span {
					color: #737a91;
				}
			}
		}
	}
	&__line {
		background: none;
		border-radius: 0;
		width: 100%;
		margin: 0;
		margin-bottom: 24px;
		border-bottom: 1px solid #EDEFF5;
		li {
			&:not(:last-of-type) {
				margin-right: 25px;
			}
			button {
				border-radius: 0;
				padding: 0;
				padding-bottom: 10px;

				span {
					font-size: 14px;
					line-height: 24px;
					text-align: left;
					color: #000624;
					@media (min-width: $desktopBreakPoint) {
						min-width: 80px;
					}
				}

				&.has-icon {
					display: flex;
					align-items: center;

					img {
						height: 16px;
						width: 16px;
						margin: unset;
						border-radius: unset;
						border: unset;
						margin-right: 16px;
					}
				}

				&.active {
					transition: 0.3s ease-in-out;
					background: none;
					box-shadow: none;
					position: relative;
					span {
						font-weight: 600;
						transition: 0.3s ease-in-out;
						color: #477db3;
					}
					&::after {
						content: '';
						bottom: 0px;
						height: 3px;
						width: 100%;
						left: 0;
						right: 0;
						background: #477db3;
						border-radius: 16px 16px 0px 0px;
						position: absolute;
					}
				}
			}
		}
	}
}
.margin {
	&-top {
		&__32px {
			margin-top: 32px;
		}
	}
}
