<div convoy-modal position="center" (closeModal)="closeSecretModal.emit()">
	<div class="p-40px">
		<h1 class="mb-30px text-16 font-semibold">Endpoint Secret</h1>
		<div class="flex items-center justify-between w-full h-50px bg-[#F7F9FC] border border-grey-10 rounded-[6px] px-16px mb-12px last-of-type:mb-8px">
			<span class="text-16 text-grey-60 font-normal whitespace-nowrap w-250px overflow-hidden text-ellipsis">{{ endpointSecret?.value || '' }}</span>
			<convoy-copy-button [text]="endpointSecret?.value || ''"></convoy-copy-button>
		</div>
		<button convoy-button size="xs" fill="text" color="danger" *ngIf="!showExpireSecret" (click)="showExpireSecret = true">Expire Secret</button>

		<ng-container *ngIf="showExpireSecret">
			<form [formGroup]="expireSecretForm" class="mt-24px">
				<convoy-select
					label="Expiry duration"
					name="expiration"
					formControlName="expiration"
					[options]="expirationDates"
					errorMessage="Please select an expiry duration"
					[required]="true"
					(selectedOption)="expireSecretForm.patchValue({ expiration: $event })"
				></convoy-select>
			</form>
		</ng-container>

		<div class="flex justify-end mt-30px">
			<button convoy-button fill="outline" size="sm" class="mr-16px transition-all duration-300 hover:text-danger-100 hover:border-danger-100" (click)="closeSecretModal.emit()" *ngIf="showExpireSecret">Cancel</button>
			<button convoy-button color="danger" size="sm" *ngIf="showExpireSecret" (click)="expireSecret()">Expire Secret</button>
			<button convoy-button size="sm" class="ml-16px" fill="outline" (click)="closeSecretModal.emit(); showExpireSecret = false" *ngIf="!showExpireSecret">Close</button>
		</div>
	</div>
</div>
