<form class="pb-40px mt-40px relative" [formGroup]="subscriptionForm" (ngSubmit)="saveSubscription()">
	<convoy-loader *ngIf="isLoadingForm"></convoy-loader>

	<convoy-card className="px-24px py-24px">
		<convoy-input type="text" name="subscription-name" formControlName="name" errorMessage="Enter new subscription name" label="Subscription name" placeholder="e.g paystack-prod"></convoy-input>

		<ng-container *ngIf="projectType === 'incoming' && !token">
			<convoy-select
				className="mb-0"
				[options]="sources"
				name="source"
				formControlName="source_id"
				errorMessage="Select or create a source"
				label="Source"
				placeholder="Select source"
				[required]="true"
				(selectedOption)="subscriptionForm.patchValue({ source_id: $event })"
			></convoy-select>
			<convoy-button type="text" buttonType="button" className="px-0 py-0 mt-1 mb-24px font-medium text-12" (clickItem)="showCreateSourceModal = true">
				<svg width="14" height="14" class="mr-4px" fill="currentColor">
					<use xlink:href="#plus-icon"></use>
				</svg>
				New Source
			</convoy-button>
		</ng-container>

		<ng-container *ngIf="!token">
			<convoy-select
				className="mb-0"
				[options]="apps"
				name="application"
				formControlName="app_id"
				errorMessage="Select or create an application"
				label="Application"
				placeholder="Select application"
				[required]="true"
				(selectedOption)="subscriptionForm.patchValue({ app_id: $event }); onUpdateAppSelection()"
			></convoy-select>
			<convoy-button type="text" buttonType="button" className="px-0 py-0 mt-1 mb-24px font-medium text-12" (click)="showCreateAppModal = true">
				<svg width="14" height="14" class="mr-4px" fill="currentColor">
					<use xlink:href="#plus-icon"></use>
				</svg>
				New App
			</convoy-button>
		</ng-container>

		<div [ngClass]="{ 'opacity-50 pointer-events-none': subscriptionForm.get('app_id')?.invalid }">
			<convoy-select
				className="mb-0 mt-24px"
				[options]="endPoints"
				name="endpoint"
				formControlName="endpoint_id"
				errorMessage="Select or create an endpoint"
				label="Endpoint"
				placeholder="Select an endpoint"
				(selectedOption)="subscriptionForm.patchValue({ endpoint_id: $event })"
				[required]="true"
			></convoy-select>
			<convoy-button type="text" buttonType="button" className="px-0 py-0 mt-1 mb-24px font-medium text-12" (click)="showCreateEndpointModal = true" *ngIf="!token">
				<svg width="14" height="14" class="mr-4px" fill="currentColor">
					<use xlink:href="#plus-icon"></use>
				</svg>
				New Endpoint
			</convoy-button>
		</div>

		<div class="mt-24px" *ngIf="projectType === 'outgoing' || token">
			<label class="w-full text-12 text-grey-40" for="tagInput">Event Types</label>
			<div (click)="focusInput()" class="w-full font-medium text-14 text-grey-100 border border-primary-500 outline-none rounded-4px bg-[#F7F9FC] pt-12px pb-8px px-12px mt-8px relative flex flex-row flex-wrap items-center">
				<div *ngFor="let tag of eventTags" class="border border-grey-10 bg-grey-10 px-4px font-medium text-12 mr-1 mb-1 rounded-4px flex items-center">
					{{ tag }}
					<convoy-button (click)="removeEventTag(tag)" type="text" buttonType="button" className="py-0 px-0"><img src="/assets/img/close-icon-black.svg" width="12px" class="ml-4px" alt="close icon" /></convoy-button>
				</div>
				<input type="text" id="tagInput" (input)="addTag()" required class="text-12 bg-[#F7F9FC] focus:outline-none focus:border-none" autocomplete="off" />
			</div>
			<span class="text-grey-40 italic text-12">Separate event types with comma (,) or space</span>
		</div>

		<div [hidden]="!enableMoreConfig">
			<h2 class="font-semibold flex items-center mb-20px mt-30px">
				Retry Logic
				<convoy-tooltip position="right" size="sm" class="ml-4px">
					These are the specifications for the retry mechanism for your endpoints under this subscription. In Linear time retry, event retries are done in linear time, while in Exponential back off retry, events are retried progressively increasing the time before the
					next retry attempt.
				</convoy-tooltip>
			</h2>

			<div class="grid grid-cols-2 gap-x-6" formGroupName="retry_config">
				<convoy-select [options]="retryLogicTypes" name="type" formControlName="type" label="Mechanism" placeholder="Select mechanism" (selectedOption)="subscriptionForm.get('retry_config')?.patchValue({ type: $event })"></convoy-select>

				<convoy-input type="text" name="retry-logic-duration" formControlName="duration" label="Duration" placeholder="e.g 3s"></convoy-input>
				<convoy-input type="text" name="retry-logic-count" formControlName="retry_count" label="Limit" placeholder="e.g 5"></convoy-input>
			</div>

			<h2 class="font-semibold flex items-center mb-20px mt-30px">
				Alert Rule
				<convoy-tooltip position="right" size="sm" class="ml-4px">This specifies the frequency at which notifications(emails, slack messages) would be sent when something happens to your subscirption.</convoy-tooltip>
			</h2>
			<div class="grid grid-cols-2 gap-6" formGroupName="alert_config">
				<convoy-input type="number" name="alert-config-count" formControlName="count" label="Count" placeholder="e.g 10"></convoy-input>
				<convoy-input type="text" name="alert-config-time" formControlName="threshold" label="Time" placeholder="e.g 1h"></convoy-input>
			</div>
		</div>
		<h3 class="mt-24px mb-16px font-semibold">Disable Failing Endpoints</h3>
		<div class="grid grid-cols-2 gap-24px">
			<convoy-radio formControlName="disable_endpoint" description="Endpoints would be disabled automatically when they are failing." label="True" _name="disable_endpoint" [value]="true" _id="true"></convoy-radio>
			<convoy-radio formControlName="disable_endpoint" description="Endpoints are not automatically disabled when they are failing." label="False" _name="disable_endpoint" [value]="false" _id="false"></convoy-radio>
		</div>
		<div class="flex justify-end mt-20px">
			<convoy-toggle [isChecked]="enableMoreConfig" (onChange)="enableMoreConfig = !enableMoreConfig" label="Add more configurations"></convoy-toggle>
		</div>
	</convoy-card>

	<div class="flex justify-end mt-32px">
		<convoy-button className="mr-16px text-14 transition-all duration-300 hover:text-danger-100 hover:border-danger-100" type="outline" buttonType="button" (click)="cancel()">Cancel</convoy-button>
		<convoy-button className="text-14">
			{{ isNewProjectRoute() ? 'Save and Proceed' : action == 'update' ? 'Update Subscription' : 'Create Subscription' }}
			<svg width="24" height="24" class="ml-8px" class="fill-white-100">
				<use xlink:href="#arrow-right-icon"></use>
			</svg>
		</convoy-button>
	</div>
</form>

<div class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-[rgba(0,0,0,0.5)] text-white-100 flex-col" *ngIf="showError">
	<p>An error occured while fetching app details</p>
	<convoy-button size="sm" className="mt-20px" (click)="onAction.emit({ action: 'cancel' })">Close</convoy-button>
</div>

<convoy-modal
	size="lg"
	[title]="showCreateAppModal ? 'Create New App' : showCreateSourceModal ? 'Create New Source' : 'Create New Endpoint'"
	*ngIf="showCreateAppModal || showCreateSourceModal || showCreateEndpointModal"
	(closeModal)="showCreateAppModal = false; showCreateSourceModal = false; showCreateEndpointModal = false"
>
	<div modalBody>
		<app-create-app (createApp)="onCreateNewApp($event); showCreateAppModal = false" (discardApp)="showCreateAppModal = false" *ngIf="showCreateAppModal"></app-create-app>
		<app-create-source *ngIf="showCreateSourceModal" (onAction)="$event?.action === 'close' ? (showCreateSourceModal = false) : onCreateSource($event.data); showCreateSourceModal = false"></app-create-source>
		<app-create-endpoint *ngIf="showCreateEndpointModal" [appId]="subscriptionForm.value.app_id" (onAction)="$event.action === 'close' ? (showCreateEndpointModal = false) : onCreateEndpoint($event.data); showCreateEndpointModal = false"></app-create-endpoint>
	</div>
</convoy-modal>

<convoy-confirmation-modal *ngIf="confirmModal" (confirmAction)="onAction.emit({ action: 'cancel' })" (closeModal)="confirmModal = false"></convoy-confirmation-modal>
