<form class="pb-40px relative" [formGroup]="subscriptionForm" (ngSubmit)="saveSubscription()">
	<convoy-loader *ngIf="isLoadingForm"></convoy-loader>

	<section class="px-24px py-24px w-full bg-white-100 border-[#EDEFF5] shadow-default rounded-8px">
		<convoy-input type="text" name="subscription-name" formControlName="name" errorMessage="Enter new subscription name" label="Subscription name" placeholder="e.g paystack-prod"></convoy-input>

		<ng-container *ngIf="projectType === 'incoming' && !token">
			<convoy-select
				class="mb-0"
				[options]="sources"
				name="source"
				formControlName="source_id"
				errorMessage="Select or create a source"
				label="Source"
				placeholder="Select source"
				[required]="true"
			></convoy-select>
			<convoy-button type="text" class="px-0 py-0 mt-1 mb-24px font-medium text-12" (click)="showCreateSourceModal = true">
				<svg width="14" height="14" class="mr-4px" fill="currentColor">
					<use xlink:href="#plus-icon"></use>
				</svg>
				New Source
			</convoy-button>
		</ng-container>

		<ng-container *ngIf="!token">
			<convoy-select
				class="mb-0"
				[options]="apps"
				name="application"
				formControlName="app_id"
				errorMessage="Select or create an application"
				label="Application"
				placeholder="Select application"
				[required]="true"
				(onChange)="onUpdateAppSelection()"
			></convoy-select>
			<convoy-button type="text" class="px-0 py-0 mt-1 mb-24px font-medium text-12" (click)="showCreateAppModal = true">
				<svg width="14" height="14" class="mr-4px" fill="currentColor">
					<use xlink:href="#plus-icon"></use>
				</svg>
				New App
			</convoy-button>
		</ng-container>

		<div [ngClass]="{ 'opacity-50': subscriptionForm.get('app_id')?.invalid }">
			<convoy-select
				class="mb-0"
				[options]="endPoints"
				name="endpoint"
				formControlName="endpoint_id"
				errorMessage="Select or create an endpoint"
				label="Endpoint"
				placeholder="Select an endpoint"
				[required]="true"
			></convoy-select>
			<convoy-button type="text" class="px-0 py-0 mt-1 mb-24px font-medium text-12" (click)="showCreateEndpointModal = true">
				<svg width="14" height="14" class="mr-4px" fill="currentColor">
					<use xlink:href="#plus-icon"></use>
				</svg>
				New Endpoint
			</convoy-button>
		</div>

		<div>
			<label class="w-full text-12 text-grey-40 mb-8px" for="tagInput">Event Types</label>
			<div (click)="focusInput()" class="w-full font-medium text-14 text-grey-100 border border-primary-500 outline-none rounded-4px bg-[#F7F9FC] pt-12px pb-8px px-12px relative flex flex-row flex-wrap">
				<div *ngFor="let tag of eventTags" class="border border-primary-400 bg-primary-400 px-4px font-medium text-12 mr-1 mb-1 rounded-4px flex items-center">
					{{ tag }}
					<convoy-button (click)="removeEventTag(tag)" type="text" class="py-0 px-0"><img src="/assets/img/close-icon-black.svg" width="12px" class="ml-4px" alt="close icon" /></convoy-button>
				</div>
				<input type="text" id="tagInput" (input)="addTag()" required class="text-12 bg-[#F7F9FC] focus:outline-none focus:border-none" autocomplete="off" />
			</div>
			<span class="text-grey-40 italic text-12">Separate event types with comma (,) or space</span>
		</div>

		<div [hidden]="!enableMoreConfig">
			<h2 class="font-semibold flex items-center mb-20px mt-30px">
				Retry Logic
				<convoy-tooltip position="right" size="small" class="ml-4px">
					These are the specifications for the retry mechanism for your endpoints under this subscription. In Linear time retry, event retries are done in linear time, while in Exponential back off
					retry, events are retried progressively increasing the time before the next retry attempt.
				</convoy-tooltip>
			</h2>

			<div class="grid grid-cols-2 gap-6" formGroupName="retry_config">
				<convoy-select [options]="retryLogicTypes" name="type" formControlName="type" label="Mechanism" placeholder="Select mechanism"></convoy-select>

				<convoy-input type="text" name="retry-logic-duration" formControlName="duration" label="Duration" placeholder="e.g 3s"></convoy-input>
				<convoy-input type="text" name="retry-logic-count" formControlName="retry_count" label="Limit" placeholder="e.g 5"></convoy-input>
			</div>

			<h2 class="font-semibold flex items-center mb-20px mt-30px">
				Alert Rule
				<convoy-tooltip position="right" size="small" class="ml-4px">
					This specifies the frequency at which notifications(emails, slack messages) would be sent when something happens to your subscirption.
				</convoy-tooltip>
			</h2>
			<div class="grid grid-cols-2 gap-6" formGroupName="alert_config">
				<convoy-input type="number" name="alert-config-count" formControlName="count" label="Count" placeholder="e.g 10"></convoy-input>
				<convoy-input type="text" name="alert-config-time" formControlName="threshold" label="Time" placeholder="e.g 1h"></convoy-input>
			</div>
		</div>

		<div class="flex justify-end mt-20px">
			<convoy-toggle [isChecked]="enableMoreConfig" (onChange)="enableMoreConfig = !enableMoreConfig" label="Add more configurations"></convoy-toggle>
		</div>
	</section>

	<div class="flex justify-end mt-32px">
		<convoy-button class="mr-16px" type="outline" (click)="onAction.emit({ action: 'cancel' })">Cancel</convoy-button>
		<convoy-button>
			{{ action == 'update' ? 'Update Subscription' : 'Create Subscription' }}
			<svg width="24" height="24" class="ml-8px" fill="#FCFCFC">
				<use xlink:href="#arrow-right-icon"></use>
			</svg>
		</convoy-button>
	</div>
</form>

<div
	class="fixed bg-black bg-opacity-50 h-screen w-screen top-0 right-0 bottom-0"
	*ngIf="showCreateAppModal || showCreateSourceModal || showCreateEndpointModal"
	(click)="showCreateAppModal = false; showCreateSourceModal = false; showCreateEndpointModal = false"
></div>
<div class="fixed w-full bg-white-100 max-w-[600px] h-screen top-0 right-0 bottom-0 overflow-y-auto translate-x-0 shadow" *ngIf="showCreateAppModal || showCreateSourceModal || showCreateEndpointModal">
	<div class="px-20px pt-20px pb-16px border-b border-b-grey-10">
		<div class="flex items-center justify-between" *ngIf="showCreateAppModal">
			<h2 class="font-semibold">Create New App</h2>
			<convoy-button type="text" class="px-0" (click)="showCreateAppModal = false">
				<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
			</convoy-button>
		</div>
		<div class="flex items-center justify-between" *ngIf="showCreateSourceModal">
			<h2 class="font-semibold">Create New Source</h2>
			<convoy-button type="text" class="px-0" (click)="showCreateSourceModal = false">
				<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
			</convoy-button>
		</div>
		<div class="flex items-center justify-between" *ngIf="showCreateEndpointModal">
			<h2 class="font-semibold">Create New Endpoint</h2>
			<convoy-button type="text" class="px-0" (click)="showCreateEndpointModal = false">
				<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
			</convoy-button>
		</div>
	</div>

	<div class="p-20px">
		<app-create-app (createApp)="onCreateNewApp($event); showCreateAppModal = false" (discardApp)="showCreateAppModal = false" *ngIf="showCreateAppModal"></app-create-app>
		<app-create-source *ngIf="showCreateSourceModal" (onAction)="$event?.action == 'close' ? false : onCreateSource($event); showCreateSourceModal = false"></app-create-source>
		<app-create-endpoint
			*ngIf="showCreateEndpointModal"
			[appId]="subscriptionForm.value.app_id"
			(onAction)="$event.action == 'cancel' ? false : getApps(); showCreateEndpointModal = false"
		></app-create-endpoint>
	</div>
</div>
