<form class="relative mt-40px" [formGroup]="subscriptionForm" (ngSubmit)="saveSubscription()">
	<convoy-loader *ngIf="isLoadingForm"></convoy-loader>

	<ng-container *ngIf="isPortal === 'false' && showAction === 'true'">
		<ng-container *ngIf="projectType === 'incoming' && !token">
			<h3 class="font-semibold text-14">Source</h3>
			<p class="text-12 text-neutral-10 mt-6px">Incoming event source this subscription is connected to.</p>
			<div convoy-card class="px-24px py-24px mb-70px mt-20px">
				<ng-container *ngIf="!showCreateSourceForm">
					<convoy-select
						[options]="sources"
						name="source"
						formControlName="source_id"
						errorMessage="Select or create a source"
						label="Select from existing sources"
						placeholder="Select source"
						[required]="true"
						[searchable]="true"
						(searchString)="getSources($event)"
						(selectedOption)="subscriptionForm.patchValue({ source_id: $event })"
					></convoy-select>

					<button size="sm" convoy-button convoy-permission="Subscriptions|MANAGE" fill="text" type="button" class="mt-24px font-medium" (click)="showCreateSourceForm = true; subscriptionForm.patchValue({ source_id: null })">Create New Source</button>
				</ng-container>

				<convoy-create-source *ngIf="showCreateSourceForm" (onAction)="$event?.action === 'close' ? (showCreateSourceForm = false) : onCreateSource($event.data)">
					<button size="sm" convoy-permission="Subscriptions|MANAGE" convoy-button fill="text" type="button" class="pt-30px font-medium" (click)="showCreateSourceForm = false; subscriptionForm.patchValue({ source_id: null })">Use Existing Source</button>
				</convoy-create-source>
			</div>
		</ng-container>

		<h3 class="font-semibold text-14 mt-40px">Endpoint</h3>
		<p class="text-12 text-neutral-10 mt-6px">Endpoint this subscription routes events into.</p>
		<div convoy-card class="px-24px py-24px mt-20px mb-70px" *ngIf="!showCreateEndpointForm">
			<convoy-select
				className="mb-0 mt-24px"
				[options]="endPoints"
				name="endpoint"
				formControlName="endpoint_id"
				errorMessage="Select or create an endpoint"
				label="Select from existing endpoints"
				placeholder="Select endpoint"
				[required]="true"
				[searchable]="true"
				(searchString)="getEndpoints($event)"
				(selectedOption)="subscriptionForm.patchValue({ endpoint_id: $event })"
			></convoy-select>

			<button size="sm" convoy-button fill="text" type="button" class="mt-24px font-medium" (click)="showCreateEndpointForm = true; subscriptionForm.patchValue({ endpoint_id: null })" *ngIf="!token">Create New Endpoint</button>
		</div>

		<convoy-create-endpoint *ngIf="showCreateEndpointForm" (onAction)="$event.action === 'close' ? (showCreateEndpointForm = false) : onCreateEndpoint($event.data)" class="block mb-70px">
			<button size="sm" convoy-permission="Subscriptions|MANAGE" convoy-button fill="text" type="button" class="mt-40px font-medium" (click)="showCreateEndpointForm = false; subscriptionForm.patchValue({ endpoint_id: null })" *ngIf="!token">Use Existing Endpoint</button>
		</convoy-create-endpoint>
	</ng-container>

	<ng-container *ngIf="showAction == 'true'">
		<h3 class="font-semibold text-14 mt-20px">Webhook Subscription Configuration</h3>
		<p class="text-12 text-neutral-10 mt-6px">Configure how you want this endpoint to receive webhook events.</p>
	</ng-container>
	<div class="mt-24px relative" [ngClass]="{ 'border border-neutral-4 p-24px rounded-8px pt-24px': showAction == 'true' }">
		<ng-container *ngIf="showAction === 'true'">
			<convoy-input-field className="mb-40px">
				<label for="subscription-name" required="true" convoy-label>Subscription name</label>
				<input type="text" id="subscription-name" convoy-input autocomplete="subscription-name" formControlName="name" placeholder="e.g paystack-live" />
				<convoy-input-error *ngIf="subscriptionForm.get('name')?.touched && subscriptionForm.get('name')?.invalid">Enter new subscription name</convoy-input-error>
			</convoy-input-field>

			<hr class="border-t border-neutral-4 mb-40px" />
		</ng-container>

		<ng-container *ngIf="showConfig('events')">
			<div *ngIf="projectType === 'outgoing' || token" class="border-l-2 border-neutral-3 pl-16px mb-40px">
				<div class="flex justify-between items-end mb-8px">
					<p class="text-12 font-medium text-neutral-9 flex items-center">
						Event Types
						<convoy-tooltip size="sm" position="top-right" class="ml-4px">
							These are the specifications for the retry mechanism for your endpoints under this subscription. In Linear time retry, event retries are done in linear time, while in Exponential back off retry, events are retried progressively increasing the time
							before the next retry attempt.
						</convoy-tooltip>
					</p>
					<button convoy-button type="button" size="xs" fill="soft-outline" color="neutral" *ngIf="action !== 'view'" (click)="toggleConfigForm('events')">
						<svg width="14" height="14" class="fill-transparent stroke-neutral-9">
							<use xlink:href="#delete-icon2"></use>
						</svg>
					</button>
				</div>

				<convoy-multi-input [prefilledKeys]="eventTags" (inputValues)="eventTags = $event; subscriptionForm.patchValue({ filter_config: { event_types: $event } })"></convoy-multi-input>

				<span class="text-neutral-8 font-normal italic text-10 mb-24px">Separate event types with comma (,) or space</span>
			</div>
		</ng-container>

		<div class="border-l-2 border-neutral-3 pl-16px mb-40px" *ngIf="showConfig('retry_config')">
			<div class="flex justify-between items-center mb-16px">
				<p class="text-12 text-neutral-10 font-medium flex items-center">
					Retry Logic
					<convoy-tooltip size="sm" position="top-right" class="ml-4px">
						These are the specifications for the retry mechanism for your endpoints under this subscription. In Linear time retry, event retries are done in linear time, while in Exponential back off retry, events are retried progressively increasing the time before
						the next retry attempt.
					</convoy-tooltip>
				</p>
				<button convoy-button type="button" size="xs" fill="soft-outline" color="neutral" *ngIf="action !== 'view'" (click)="toggleConfigForm('retry_config')">
					<svg width="14" height="14" class="fill-transparent stroke-neutral-10">
						<use xlink:href="#delete-icon2"></use>
					</svg>
				</button>
			</div>

			<div class="grid grid-cols-2 gap-x-6" formGroupName="retry_config">
				<convoy-input-field>
					<convoy-select
						[options]="retryLogicTypes"
						name="type"
						formControlName="type"
						label="Mechanism"
						placeholder="Select mechanism"
						(selectedOption)="subscriptionForm.get('retry_config')?.patchValue({ type: $event })"
						[readonly]="action === 'view'"
						errorMessage="Select retry mechanism"
					></convoy-select>
				</convoy-input-field>

				<convoy-input-field>
					<label for="retry-logic-duration" convoy-label>Duration</label>
					<div class="relative">
						<input type="number" id="retry-logic-duration" convoy-input autocomplete="retry-logic-duration" formControlName="duration" placeholder="e.g 3" [readonly]="action === 'view'" [ngClass]="{ 'pointer-events-none': action === 'view' }" />
						<div class="absolute top-[50%] right-14px text-16 text-neutral-a30 opacity-40 translate-y-[-50%]">sec</div>
					</div>
					<convoy-input-error *ngIf="subscriptionForm.get('retry_config.duration')?.touched && subscriptionForm.get('retry_config.duration')?.invalid">Enter wait duration before retry</convoy-input-error>
				</convoy-input-field>

				<convoy-input-field className="!mb-0">
					<label for="retry-logic-count" convoy-label>Limit</label>
					<input type="number" id="retry-logic-count" convoy-input autocomplete="retry-logic-count" formControlName="retry_count" placeholder="e.g 5" [readonly]="action === 'view'" [ngClass]="{ 'pointer-events-none': action === 'view' }" />
					<convoy-input-error *ngIf="subscriptionForm.get('retry_config.retry_count')?.touched && subscriptionForm.get('retry_config.retry_count')?.invalid">Enter max retry limit</convoy-input-error>
				</convoy-input-field>
			</div>
		</div>

		<ng-container *ngIf="showConfig('filter_config')">
			<div class="border-l-2 border-neutral-3 pl-16px mb-40px flex justify-between items-center">
				<div>
					<h4 class="text-neutral-10 font-medium text-12">Events Filter</h4>
					<p class="text-10 text-neutral-10 mt-4px">Filter events received by request body and header.</p>
				</div>
				<div class="flex items-center">
					<button convoy-button fill="soft-outline" color="neutral" class="py-2px px-6px" size="xs" type="button" (click)="setupFilter()">Open Editor</button>

					<div class="mx-10px h-16px w-[1px] bg-neutral-5"></div>

					<button convoy-button type="button" size="xs" *ngIf="action !== 'view'" fill="soft-outline" color="neutral" (click)="toggleConfigForm('filter_config')">
						<svg width="14" height="14" class="fill-transparent stroke-neutral-10">
							<use xlink:href="#delete-icon2"></use>
						</svg>
					</button>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="showConfig('tranform_config')">
			<div class="border-l-2 border-neutral-3 pl-16px mb-40px flex justify-between items-center">
				<div>
					<h4 class="text-neutral-10 font-medium text-12">Transform</h4>
					<p class="text-10 text-neutral-10 mt-4px">Transform request body of events with a javascript function.</p>
				</div>
				<div class="flex items-center">
					<button convoy-button fill="soft-outline" color="neutral" class="py-2px px-6px" size="xs" type="button" (click)="setupTransformDialog()">Open Editor</button>

					<div class="mx-10px h-16px w-[1px] bg-neutral-5"></div>

					<button convoy-button type="button" size="xs" *ngIf="action !== 'view'" fill="soft-outline" color="neutral" (click)="toggleConfigForm('tranform_config')">
						<svg width="14" height="14" class="fill-transparent stroke-neutral-10">
							<use xlink:href="#delete-icon2"></use>
						</svg>
					</button>
				</div>
			</div>
		</ng-container>

		<div class="flex flex-wrap items-center gap-24px" *ngIf="shouldShowBorder < configurations.length">
			<ng-container *ngFor="let config of configurations">
				<convoy-config-button *ngIf="!config.show" (onClick)="toggleConfigForm(config.uid)">{{ config.name }}</convoy-config-button>
			</ng-container>
		</div>

		<div *ngIf="isCreatingSubscription && action === 'create'" convoy-form-loader></div>
	</div>

	<div class="flex justify-end mt-40px pb-40px" [ngClass]="{ hidden: showAction === 'false' }">
		<button convoy-button size="sm" [disabled]="isCreatingSubscription || subscriptionForm.disabled">
			{{ action == 'update' ? 'Updat' : 'Creat' }}{{ isCreatingSubscription ? 'ing Subscription...' : 'e Subscription' }}
			<svg width="24" height="24" class="ml-8px" class="fill-white-100" *ngIf="action === 'create'">
				<use xlink:href="#arrow-right-icon"></use>
			</svg>
		</button>
	</div>
</form>

<!-- subscription filters form   -->
<dialog open convoy-dialog position="full" *ngIf="showFilterDialog">
	<div class="w-full h-full">
		<convoy-create-subscription-filter (close)="showFilterDialog = false" [schema]="subscriptionForm.get('filter_config.filter')?.value" [action]="action" (filterSchema)="getFilterSchema($event)"></convoy-create-subscription-filter>
	</div>
</dialog>

<!-- subscription tranform form   -->
<dialog open convoy-dialog position="full" *ngIf="showTransformDialog">
	<div class="w-full h-full overflow-y-auto">
		<convoy-create-transform-function (close)="showTransformDialog = false" (updatedTransformFunction)="getFunction($event)" [transformFunction]="subscriptionForm.get('function')?.value"></convoy-create-transform-function>
	</div>
</dialog>

<convoy-notification></convoy-notification>

<!-- source url modal  -->
<dialog #sourceURLDialog convoy-dialog position="center">
	<convoy-source-url [url]="sourceURL" (close)="sourceURLDialog.close(); onAction.emit({ data: subscription, action: this.action == 'update' ? 'update' : 'create' })"></convoy-source-url>
</dialog>
