<!-- send event modal  -->
<div convoy-modal (closeModal)="cancel()">
	<div convoy-modal-header>
		<h2 class="font-semibold capitalize">Send Event</h2>

		<button convoy-button texture="light" size="sm" class="px-8px !py-10px" (click)="cancel()">
			<img src="/assets/img/modal-close-icon.svg" class="w-12px h-12px" alt="close icon" />
		</button>
	</div>
	<div class="p-20px">
		<form [formGroup]="sendEventForm">
			<convoy-select
				label="Endpoint"
				name="endpoint_id"
				formControlName="endpoint_id"
				[options]="endpoints"
				[value]="endpointId"
				[required]="true"
				errorMessage="Endpoint Id is required"
				className="mb-24px"
				(selectedOption)="sendEventForm.patchValue({ endpoint_id: $event })"
			></convoy-select>
			<div class="my-24px">
				<label class="w-full font-medium text-12 text-grey-40 mb-8px flex items-center justify-between" for="data">
					Data
					<span class="text-10 bg-grey-10 rounded-4px px-1 font-normal">required</span>
				</label>
				<textarea
					id="data"
					formControlName="data"
					required
					cols="5"
					class="
						transition-all
						duration-[.3s]
						w-full
						font-medium
						text-14
						placeholder:text-grey-40
						text-grey-100
						border border-primary-500
						valid:border-primary-500
						disabled:border-primary-500
						disabled:bg-[#F7F9FC]
						hover:bg-primary-500
						hover:border-grey-20
						focus:border-primary-100
						focus:bg-white-100
						outline-none
						rounded-4px
						placeholder:opacity-[.48]
						bg-[#F7F9FC]
						py-12px
						px-16px
					"
				></textarea>
				<div class="flex items-center text-12 text-danger-100 mt-8px" *ngIf="sendEventForm.controls.data.touched && sendEventForm.controls.data.invalid">
					<img src="assets/img/input-error-icon.svg" class="mr-8px w-16px" alt="input error icon" />
					<span>Data is required</span>
				</div>
			</div>
			<convoy-input-field>
				<label for="event_type" convoy-label tooltip="This specifies how long the socket stays open in the absense of a response.">Event Type</label>
				<input id="event_type" convoy-input autocomplete="event_type" formControlName="event_type" placeholder="Event type" />
			</convoy-input-field>
		</form>
		<div class="flex justify-end mt-40px">
			<button convoy-button fill="outline" class="mr-24px" (click)="cancel()">Discard</button>
			<button convoy-button [disabled]="isSendingNewEvent" (click)="sendNewEvent()">{{ isSendingNewEvent ? 'Sending Event..' : 'Send Event' }}</button>
		</div>
	</div>
</div>
