<div convoy-modal position="full" [id]="'projectForm'" (closeModal)="cancel()">
	<div modalHeader convoy-modal-header>
		<div class="flex items-center">
			<button convoy-button size="sm" texture="light" class="px-10px !py-10px" (click)="cancel()">
				<img src="/assets/img/modal-close-icon.svg" class="w-12px" alt="close icon" />
			</button>

			<h2 class="font-semibold capitalize ml-2">Create Project</h2>
		</div>

		<a convoy-button fill="text" target="_blank" href="https://getconvoy.io/docs" rel="noreferrer">
			<img src="/assets/img/doc-icon-primary.svg" alt="doc icon" />
			<span class="font-medium text-14 text-primary-100 ml-2">Go to docs</span>
		</a>
	</div>
	<div class="pt-40px pb-60px" modalBody>
		<convoy-loader *ngIf="isLoadingProjects"></convoy-loader>
		<ng-container *ngIf="!isLoadingProjects">
			<app-create-project-component (onAction)="$event?.action == 'cancel' ? cancel() : createProject($event)"></app-create-project-component>
		</ng-container>
	</div>

	<div convoy-modal position="center" *ngIf="showInfo">
		<div class="p-30px" modalBody>
			<img src="/assets/img/svg/project-info.svg" alt="Projects Info" />
			<p class="font-bold text-16 mb-18px mt-12px">What to know about projects</p>
			<p class="text-16 text-grey-40 mb-14px">Projects allow you to scope your webhook events to a specific use case or project in your organization.</p>
			<p class="text-16 text-grey-40 mb-24px">For example, you might have separate projects for your different products; one for sending events for your payment product, another one for receiving events from your providers for your payment product, e.t.c</p>
			<button convoy-button size="sm" class="px-36px" (click)="showInfo = false">Done</button>
		</div>
	</div>
</div>
