<div class="modal modal__full margin-bottom__40px">
	<div class="modal--head">
		<div class="flex flex__align-items-center flex__justify-between width__100">
			<div class="modal--head--left flex flex__align-items-center">
				<a routerLink="/projects" class="margin-right__16px width__32px height__32px flex flex__align-items-center flex__justify-center rounded__6px button__clear" tabindex="0">
					<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
				</a>
				<h2 class="font__16px font__weight-600">Create Project</h2>
			</div>

			<a class="button--has-icon icon-left" target="_blank" href="https://getconvoy.io/docs" rel="noreferrer">
				<img src="/assets/img/doc-icon-primary.svg" alt="doc icon" />
				<span class="font__weight-500 font__14px color__primary">Go to docs</span>
			</a>
		</div>
	</div>

	<div class="modal--body padding-all__0px">
		<app-create-project-component (onAction)="$event?.action == 'cancel' ? cancel() : createProject($event)" *ngIf="projectStage === 'createProject'"></app-create-project-component>

		<div class="card padding-all__24px margin-bottom__24px" *ngIf="projectStage !== 'createProject'">
			<ul class="setup-steps flex flex__align-items-center border__bottom padding-bottom__24px">
				<li [class]="'setup-step--step ' + stage.currentStage" *ngFor="let stage of projectStages">
					<div>
						<div class="line"></div>
						<div class="margin-top__4px flex flex__align-items-center">
							<div class="checkbox margin-all__0px width__16px height__16px border__all rounded__50px"></div>
							<div class="text margin-left__8px font__14px font__weight-500">{{ stage.projectStage }}</div>
						</div>
					</div>
				</li>
			</ul>

			<div *ngIf="projectStage === 'createSource'">
				<h3 class="margin-top__24px font__weight-600 font__18px">Create your first source</h3>
				<p class="font__14px color__grey margin-top__8px width__80">Create a source that'll triger a webhook event in your project</p>
			</div>
			<div *ngIf="projectStage === 'createApplication'">
				<h3 class="margin-top__24px font__weight-600 font__18px">Create your first application</h3>
				<p class="font__14px color__grey margin-top__8px width__80">Create and aplication and endpoint(s) that'll listen to events on this project</p>
			</div>
			<div *ngIf="projectStage === 'createSubscription'">
				<h3 class="margin-top__24px font__weight-600 font__18px">Create your first subscription</h3>
				<p class="font__14px color__grey margin-top__8px width__80">Create a subscription that'll listen to events from your source</p>
			</div>
		</div>

		<app-create-source
			*ngIf="projectStage === 'createSource' && privateService.activeProjectDetails.uid"
			(onAction)="$event?.action == 'close' ? cancel() : toggleActiveStage({ project: 'createSubscription', prevStage: 'createSource' })"
		></app-create-source>

		<app-create-app
			*ngIf="projectStage === 'createApplication' && privateService.activeProjectDetails.uid"
			(discardApp)="cancel()"
			(createApp)="
				projectType == 'incoming' ? toggleActiveStage({ project: 'createSource', prevStage: 'createApplication' }) : toggleActiveStage({ project: 'createSubscription', prevStage: 'createApplication' })
			"
		></app-create-app>

		<app-create-subscription *ngIf="projectStage === 'createSubscription' && privateService.activeProjectDetails.uid" (onAction)="onProjectOnboardingComplete()"></app-create-subscription>
	</div>
</div>
