<convoy-loader *ngIf="isloadingOrganisations" position="fixed"></convoy-loader>

<ng-container *ngIf="!isloadingOrganisations && organisations.length">
	<div convoy-page>
		<ng-container *ngIf="!isLoadingProjects && projects.length">
			<h3 class="mb-2 font-semibold">Projects</h3>
			<p class="text-grey-40 text-14 font-medium mb-24px">All your project's summary at a glance</p>
		</ng-container>

		<ng-container *ngIf="isLoadingProjects">
			<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-20 mb-20px"></div>
			<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-60 mb-24px"></div>
		</ng-container>

		<div class="grid grid-cols-3 desktop:grid-cols-2 gap-6" *ngIf="isLoadingProjects">
			<div *ngFor="let index of projectsLoaderIndex" class="rounded-8px bg-white-100 block border border-grey-10">
				<div class="px-6 py-4 flex items-center justify-between border-b border-b-grey-10">
					<div class="flex items-center">
						<div class="bg-primary-500 w-6 h-6 rounded-[50px] mr-2 flex items-center justify-center">
							<svg width="16" height="16" fill="#477db3" stroke="#477db3">
								<use xlink:href="#top-right-icon"></use>
							</svg>
						</div>
						<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-140px"></div>
					</div>

					<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-16"></div>
				</div>

				<div class="flex items-center p-0">
					<div class="py-2 px-6 w-2/5">
						<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-18"></div>
					</div>
					<div class="py-2 px-6 w-3/5 flex items-center justify-between border-l border-l-grey-10">
						<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-16"></div>
						<div class="bg-grey-10 rounded-[24px] animate-pulse h-4 w-10"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="grid grid-cols-3 desktop:grid-cols-2 gap-6" *ngIf="!isLoadingProjects">
			<a routerLink="./new" class="rounded-8px bg-white-100 border border-dashed border-primary-100 flex items-center justify-center py-8 transition-all duration-300 hover:shadow-[0_4px_20px_-2px_rgba(50,50,71,0.08)]" *ngIf="projects.length">
				<svg width="22" height="22" class="mr-2" fill="#477db3">
					<use xlink:href="#plus-icon"></use>
				</svg>
				<span class="text-primary-100 font-medium text-16">Create new project</span>
			</a>
			<ng-container *ngFor="let project of projects">
				<a [routerLink]="'/projects/' + project.uid" class="rounded-8px bg-white-100 block border border-grey-10 transition-all duration-300 hover:shadow-[0_4px_20px_-2px_rgba(50,50,71,0.08)]">
					<div class="px-6 py-4 flex items-center justify-between border-b border-b-grey-10">
						<div class="flex items-center">
							<div class="bg-primary-500 w-6 h-6 rounded-[50px] mr-2 flex items-center justify-center">
								<svg width="16" height="16" class="fill-primary-100 stroke-primary-100" [ngClass]="{ 'rotate-180': project.type === 'incoming' }">
									<use xlink:href="#top-right-icon"></use>
								</svg>
							</div>
							<h4 class="cursor-pointer text-14 font-medium">{{ project.name }}</h4>
						</div>

						<div class="bg-primary-500 rounded-8px px-2 pt-[1px] text-10 font-medium text-primary-100 uppercase">{{ project.type || '-' }}</div>
					</div>

					<div class="flex items-center p-0">
						<div class="py-2 px-6 text-12 font-medium w-1/2 whitespace-nowrap">
							<span class="text-black mr-2">{{ project.statistics?.messages_sent | number }}</span>
							<span class="text-grey-40">Events {{ project.type === 'incoming' ? 'Received' : 'Sent' }}</span>
						</div>
						<div class="py-2 px-6 w-1/2 whitespace-nowrap flex items-center justify-between border-l border-l-grey-10">
							<div class="text-12 font-medium">
								<span class="text-black mr-2">{{ project.statistics?.total_endpoints | number }}</span>
								<span class="text-grey-40">Endpoints</span>
							</div>
							<svg width="20" height="20" fill="#477db3">
								<use xlink:href="#arrow-right-icon"></use>
							</svg>
						</div>
					</div>
				</a>
			</ng-container>
		</div>
	</div>
</ng-container>
