<div convoyOverlay *ngIf="showPicker" (click)="showPicker = false"></div>
<div class="relative">
	<button
		convoy-button
		fill="outline"
		size="sm"
		[class]="formType === 'filter' ? 'px-10px !border-primary-400 justify-between gap-10px' : '!border-primary-500 !rounded-4px !bg-[#F7F9FC] !py-12px !px-16px w-full !justify-start'"
		[ngClass]="{ 'text-primary-100 !bg-primary-500': !!selectedDates?.startDate && !!selectedDates?.endDate }"
		(click)="showPicker = !showPicker"
	>
		<svg width="18" height="18" class="transition-all fill-none scale-75" [class]="!!selectedDates?.startDate && !!selectedDates?.endDate ? 'stroke-new.primary-300' : 'stroke-new.gray-500'">
			<use xlink:href="#calendar-icon"></use>
		</svg>
		<span class="text-grey-40 mr-4px">Date</span>

		<button type="button" *ngIf="selectedDates?.startDate && selectedDates?.endDate" (click)="clearDate($event); clearDates.emit()">
			<svg width="10" height="10" class="fill-primary-100">
				<use xlink:href="#close-icon"></use>
			</svg>
		</button>
	</button>

	<div convoy-dropdown-container position="left" class="!w-fit !max-h-[none]" [show]="showPicker">
		<div class="w-full">
			<div class="flex gap-40px px-16px pt-16px">
				<div class="calendar w-280px">
					<div class="calendar-nav flex items-center justify-between">
						<div class="flex items-center">
							<button type="button" (click)="setMonth(-2)">
								<svg width="24" height="24" class="fill-grey-40">
									<use xlink:href="#arrow-left-icon"></use>
								</svg>
							</button>
						</div>

						<div class="text-center text-h4 text-new.gray-900 font-semibold">{{ monthMap[month] }} {{ year }}</div>

						<div class="flex items-center"></div>
					</div>

					<div class="grid grid-cols-7 py-10px capitalize items-center text-center mt-20px font-semibold text-new.gray-900">
						<div class="text-14">S</div>
						<div class="text-14">M</div>
						<div class="text-14">T</div>
						<div class="text-14">W</div>
						<div class="text-14">T</div>
						<div class="text-14">F</div>
						<div class="text-14">S</div>
					</div>

					<div class="days flex flex-wrap text-center mt-10px">
						<button type="button" class="text-12 w-40px h-40px text-new.gray-600" [class]="getDayClassNames(date)" *ngFor="let date of datesForLeftCalendar" (click)="onselectDay(date.timestamp)">
							{{ date.date }}
						</button>
					</div>

					<!-- test need -->
					<!-- <convoy-input-field class="mt-24px mb-16px">
						<label for="start_time" convoy-label>Start Day Time</label>
						<input id="start_time" type="time" convoy-input autocomplete="start_time" [(ngModel)]="selectedStartTime" step="1" placeholder="11:00:00" class="py-6px px-16px" />
					</convoy-input-field> -->
				</div>

				<div class="calendar w-280px">
					<div class="calendar-nav flex items-center justify-between">
						<div class="flex items-center"></div>

						<div class="text-center text-h4 text-new.gray-900 font-semibold">{{ monthMap[monthRight] }} {{ yearRight }}</div>

						<div class="flex items-center">
							<button type="button" (click)="setMonth(2)">
								<svg width="24" height="24" class="fill-grey-40">
									<use xlink:href="#arrow-right-icon"></use>
								</svg>
							</button>
						</div>
					</div>

					<div class="grid grid-cols-7 py-10px capitalize items-center text-center mt-20px font-semibold text-new.gray-900">
						<div class="text-14">S</div>
						<div class="text-14">M</div>
						<div class="text-14">T</div>
						<div class="text-14">W</div>
						<div class="text-14">T</div>
						<div class="text-14">F</div>
						<div class="text-14">S</div>
					</div>

					<div class="days flex flex-wrap text-center mt-10px">
						<button type="button" class="text-12 w-40px h-40px text-new.gray-600 empty:hidden" *ngFor="let date of datesForRightCalendar; let i = index" [class]="getDayClassNamesRightCalendar(date)" (click)="onselectDay(date.timestamp)">
							{{ date.date }}
						</button>
					</div>

					<!-- test need -->
					<!-- <convoy-input-field class="mt-24px mb-16px">
						<label for="end_time" convoy-label>End Day Time</label>
						<input id="end_time" type="time" convoy-input [(ngModel)]="selectedEndTime" step="1" placeholder="11:00:00" class="py-6px px-16px" />
					</convoy-input-field> -->
				</div>
			</div>

			<div class="flex items-center justify-end px-16px py-10px border-t border-t-new.primary-25">
				<button convoy-button size="sm" type="button" fill="outline" color="danger" class="mr-14px" *ngIf="selectedDates?.startDate && selectedDates?.endDate" (click)="clearDate(); clearDates.emit()">Clear</button>
				<button convoy-button size="sm" type="button" (click)="applyDate()">Apply</button>
			</div>
		</div>
	</div>
</div>
