<div class="dashboard">
	<header class="dashboard--header">
		<div class="dashboard--header--container">
			<div class="logo">
				<a target="_blank" href="https://getconvoy.io" rel="noreferrer">
					<img src="/assets/img/logo.svg" alt="convoy logo" />
				</a>
			</div>

			<div>
				<a target="_blank" href="https://getconvoy.io/docs" rel="noreferrer">Go to docs</a>
				<button class="user" (click)="showDropdown = !showDropdown" *ngIf="authDetails()">
					<div>
						<div class="icon">O</div>
						<div class="name">{{ authDetails().username }}</div>
					</div>
					<img src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
					<div *ngIf="showDropdown" class="dropdown organisations">
						<ul>
							<li (click)="logout()">Logout</li>
						</ul>
					</div>
				</button>
			</div>
		</div>
	</header>

	<div class="dashboard--page">
		<div class="dashboard--page--head">
			<div class="filter" [ngClass]="{ 'show-calendar': showFilterCalendar }">
				<div>Filter by:</div>
				<button class="filter--button" (click)="statsPicker.open()">
					<img src="/assets/img/calendar-icon.svg" alt="calender icon" />
					<mat-date-range-input [formGroup]="statsDateRange" [rangePicker]="statsPicker">
						<input matStartDate formControlName="startDate" placeholder="Start date" />
						<input matEndDate formControlName="endDate" placeholder="End date" (dateChange)="fetchDashboardData()" />
					</mat-date-range-input>
					<mat-date-range-picker #statsPicker [disabled]="false"></mat-date-range-picker>
					<img src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
				</button>

				<div class="select">
					<select value="daily" [(ngModel)]="dashboardFrequency" (change)="fetchDashboardData()">
						<option value="daily">Daily</option>
						<option value="weekly">Weekly</option>
						<option value="monthly">Monthly</option>
						<option value="yearly">Yearly</option>
					</select>
				</div>
			</div>

			<div class="filter" [ngClass]="{ 'show-calendar': showFilterCalendar }">
				<div>Active Group:</div>
				<div class="select">
					<select [value]="activeGroup" [(ngModel)]="activeGroup" (change)="toggleActiveGroup()">
						<option [value]="group.uid" *ngFor="let group of groups">{{ group.name }}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="dashboard--page--details">
			<div class="card dashboard--page--details--chart">
				<ul class="metrics">
					<li class="messages">
						<img src="/assets/img/message-icon.svg" alt="message icon" />
						<div class="metric">
							<div>{{ dashboardData.events_sent }}</div>
							<div>Event Sent</div>
						</div>
					</li>
					<li class="apps">
						<img src="/assets/img/apps-icon.svg" alt="apps icon" />
						<div class="metric">
							<div>{{ dashboardData.apps }}</div>
							<div>Apps</div>
						</div>
					</li>
				</ul>

				<div>
					<h3>Events Sent</h3>
					<canvas id="chart" width="400" height="200"></canvas>
				</div>
			</div>

			<div class="card has-title dashboard--page--details--credentials">
				<div class="card--title">
					<h2>Configuration</h2>
				</div>

				<ul class="card--container">
					<li class="list-item">
						<div class="list-item--label">
							Request interval (Seconds)
							<div class="list-item--item">{{ organisationDetails?.strategy?.default?.intervalSeconds }}s</div>
						</div>
					</li>

					<li class="list-item">
						<div class="list-item--label">
							Retry limit
							<div class="list-item--item">{{ organisationDetails?.strategy?.default?.retryLimit }}</div>
						</div>
					</li>

					<li class="list-item">
						<div class="list-item--label">
							Signature header
							<div class="list-item--item">{{ organisationDetails?.signature?.header }}</div>
						</div>
					</li>

					<li class="list-item">
						<div class="list-item--label">
							Signature hash
							<div class="list-item--item">{{ organisationDetails?.signature?.hash }}</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<section class="card dashboard--logs">
			<div class="dashboard--logs--tabs">
				<div class="dashboard--logs--tabs--head tabs">
					<div class="tabs">
						<button *ngFor="let tab of tabs" (click)="toggleActiveTab(tab)" class="clear tab" [ngClass]="{ active: activeTab === tab }">
							{{ tab }}
						</button>
					</div>
				</div>

				<div class="table">
					<ng-container *ngIf="activeTab === 'events'">
						<div class="filter">
							<button
								class="filter--button date-filter-button"
								(click)="eventsFilterPicker.open()"
								[ngClass]="{ active: eventsFilterDateRange.value.startDate !== '' && eventsFilterDateRange.value.endDate !== '' }"
								(click)="showEventFilterCalendar = !showEventFilterCalendar"
							>
								<img src="/assets/img/calendar-icon.svg" alt="calender icon" />
								<mat-date-range-input [formGroup]="eventsFilterDateRange" [rangePicker]="eventsFilterPicker">
									<input matStartDate formControlName="startDate" placeholder="Start date" />
									<input matEndDate formControlName="endDate" placeholder="End date" (dateChange)="addFilterToURL({ section: 'events' }); getEvents()" />
								</mat-date-range-input>
								<mat-date-range-picker #eventsFilterPicker [disabled]="false"></mat-date-range-picker>
								<img src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
							</button>

							<div class="select">
								<select [ngClass]="{ active: !!eventApp }" aria-label="frequency" [(ngModel)]="eventApp" (change)="addFilterToURL({ section: 'events' }); getEvents()">
									<option value="">All Apps</option>
									<option [value]="app.uid" *ngFor="let app of apps?.content">
										{{ app.name }}
									</option>
								</select>
							</div>

							<button
								class="filter--button primary events-filter-clear-btn"
								(click)="clearEventFilters(activeTab)"
								[disabled]="(eventsFilterDateRange.value.startDate == '' || eventsFilterDateRange.value.endDate == '') && eventApp == ''"
								[ngClass]="{ disabled: (eventsFilterDateRange.value.startDate == '' || eventsFilterDateRange.value.endDate == '') && eventApp == '' }"
							>
								Clear Filter
							</button>
						</div>

						<hr />

						<div class="table--container smaller-table" *ngIf="displayedEvents.length > 0">
							<table id="events-table">
								<thead>
									<tr class="table--head">
										<th scope="col">Event Type</th>
										<th scope="col">App Name</th>
										<th scope="col">Created At</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngFor="let eventGroup of displayedEvents; let i = index">
										<tr class="table--date-row">
											<td>
												<div>{{ eventGroup.date }}</div>
											</td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr
											*ngFor="let event of eventGroup.events; let index = index"
											[ngClass]="{ active: event.uid === detailsItem?.uid }"
											[id]="'event' + index"
											(click)="detailsItem = event; getEventDeliveriesForSidebar(event.uid)"
										>
											<td>
												<div>
													<div class="tag">{{ event.event_type }}</div>
												</div>
											</td>
											<td>
												<div>{{ event.app_metadata.title }}</div>
											</td>
											<td>
												<div>{{ event.created_at | date: 'mediumTime' }}</div>
											</td>
											<td>
												<div>
													<button class="primary clear has-icon icon-right" (click)="eventDeliveryFilteredByEventId = event.uid; openDeliveriesTab()">
														Deliveries
														<img src="../../../../assets/img/angle-arrow-right-primary.svg" alt="arrow right" />
													</button>
												</div>
											</td>
										</tr>
									</ng-container>
								</tbody>
							</table>

							<div class="table--load-more button-container center" *ngIf="events.pagination.totalPage > 1">
								<button [class]="'primary clear has-icon icon-left '" [disabled]="events.pagination.page === events.pagination.totalPage" (click)="eventsPage = eventsPage + 1; getEvents()">
									<img src="/assets/img/arrow-down-icon.svg" alt="arrow down icon" />
									Load more
								</button>
							</div>
						</div>

						<div class="empty-state table--container" *ngIf="displayedEvents.length === 0">
							<img src="/assets/img/empty-state-img.svg" alt="empty state" />
							<p>No event to show here</p>
						</div>
					</ng-container>

					<ng-container *ngIf="activeTab === 'event deliveries'">
						<div class="filter">
							<button
								class="filter--button date-filter-button"
								(click)="eventDeliveriesFilterPicker.open()"
								[ngClass]="{ active: eventDeliveriesFilterDateRange.value.startDate !== '' && eventDeliveriesFilterDateRange.value.endDate !== '' }"
								(click)="showEventFilterCalendar = !showEventFilterCalendar"
							>
								<img src="/assets/img/calendar-icon.svg" alt="calender icon" />
								<mat-date-range-input [formGroup]="eventDeliveriesFilterDateRange" [rangePicker]="eventDeliveriesFilterPicker">
									<input matStartDate formControlName="startDate" placeholder="Start date" />
									<input matEndDate formControlName="endDate" placeholder="End date" (dateChange)="addFilterToURL({ section: 'eventDels' }); getEventDeliveries()" />
								</mat-date-range-input>
								<mat-date-range-picker #eventDeliveriesFilterPicker [disabled]="false"></mat-date-range-picker>
								<img src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
							</button>

							<div class="select">
								<select
									[ngClass]="{ active: !!eventDeliveriesApp }"
									aria-label="frequency"
									[(ngModel)]="eventDeliveriesApp"
									(change)="addFilterToURL({ section: 'eventDels' }); getEventDeliveries()"
								>
									<option value="">All Apps</option>
									<option [value]="app.uid" *ngFor="let app of apps?.content">
										{{ app.name }}
									</option>
								</select>
							</div>

							<div class="filter--button event-button active" *ngIf="eventDeliveryFilteredByEventId !== ''">
								Event Filtered
								<button class="primary clear has-icon" (click)="eventDeliveryFilteredByEventId = ''; getEventDeliveries()">
									<img src="../../../../assets/img/close-icon.svg" alt="close icon" />
								</button>
							</div>

							<button
								class="filter--button primary events-filter-clear-btn"
								(click)="clearEventFilters(activeTab)"
								[disabled]="
									(eventDeliveriesFilterDateRange.value.startDate == '' || eventDeliveriesFilterDateRange.value.endDate == '') &&
									eventDeliveriesApp == '' &&
									eventDeliveryFilteredByEventId == ''
								"
							>
								Clear Filter
							</button>
						</div>

						<hr />

						<div class="table--actions button-container left">
							<button class="primary clear has-icon icon-left hover" (click)="refreshTables()">
								<img src="../../../../assets/img/refresh-icon-2.svg" alt="refresh icon" />
								Refresh
							</button>
							<button class="primary clear has-icon icon-left hover" (click)="batchRetryEvent()" [disabled]="selectedEventsFromEventDeliveriesTable.length <= 0">
								<img src="../../../../assets/img/retry-icon.svg" alt="retry icon" />
								Bulk Retry
							</button>
						</div>

						<div class="table--container" *ngIf="displayedEventDeliveries.length > 0">
							<table id="event-deliveries-table">
								<thead>
									<tr class="table--head">
										<th scope="col" class="checkbox">
											<div class="checkbox"><input type="checkbox" name="eventDeliveryTable" id="eventDeliveryTable" (change)="checkAllCheckboxes($event)" /></div>
											Status
										</th>
										<th scope="col">Event Type</th>
										<th scope="col">Attempts</th>
										<th scope="col">Created At</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngFor="let eventDeliveriesGroup of displayedEventDeliveries; let i = index">
										<tr class="table--date-row">
											<td>
												<div>{{ eventDeliveriesGroup.date }}</div>
											</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
										<tr
											*ngFor="let event of eventDeliveriesGroup.events; let index = index"
											[ngClass]="{ active: event.uid === detailsItem?.uid }"
											[id]="'event' + index"
											(click)="detailsItem = event; getDelieveryAttempts(event.uid)"
										>
											<td>
												<div class="checkbox has-retry">
													<img *ngIf="event.metadata.num_trials > event.metadata.retry_limit" src="/assets/img/retry-icon.svg" alt="retry icon" title="manually retried" />
													<input type="checkbox" [name]="'event' + index" id="event" [value]="event.uid" (change)="checkEventDeliveryBox($event)" />
													<div [class]="'tag tag--' + event.status">{{ event.status }}</div>
												</div>
											</td>
											<td>
												<div>{{ event.event_metadata.name }}</div>
											</td>
											<td>
												<div>{{ event.metadata?.num_trials }}</div>
											</td>
											<td>
												<div>{{ event.created_at | date: 'mediumTime' }}</div>
											</td>
											<td>
												<div>
													<button
														[disabled]="event.status === 'Success' || event.status === 'Scheduled'"
														[class]="'primary has-icon icon-left ' + (event.status === 'Success' || event.status === 'Scheduled' ? 'disabled' : '')"
														(click)="retryEvent({ e: $event, index: this.index, eventDeliveryId: event.uid })"
													>
														<img src="/assets/img/refresh-icon.svg" alt="refresh icon" />
														Retry
													</button>
												</div>
											</td>
										</tr>
									</ng-container>
								</tbody>
							</table>

							<div class="table--load-more button-container center" *ngIf="eventDeliveries.pagination.totalPage > 1">
								<button [class]="'primary clear has-icon icon-left'" [disabled]="eventDeliveries.pagination.page === eventDeliveries.pagination.totalPage" (click)="loadMoreEventDeliveries()">
									<img src="/assets/img/arrow-down-icon.svg" alt="arrow down icon" />
									Load more
								</button>
							</div>
						</div>

						<div class="empty-state table--container" *ngIf="displayedEventDeliveries.length === 0">
							<img src="/assets/img/empty-state-img.svg" alt="empty state" />
							<p>No event to show here</p>
						</div>
					</ng-container>

					<div class="table--container smaller-table" *ngIf="apps && apps.content.length > 0 && activeTab === 'apps'">
						<table>
							<thead>
								<tr class="table--head">
									<th scope="col">Name</th>
									<th scope="col">Created</th>
									<th scope="col">Updated</th>
									<th scope="col">Events</th>
									<th scope="col">Endpoints</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let app of apps?.content" [ngClass]="{ active: app.uid === detailsItem?.uid }" (click)="detailsItem = app">
									<td class="has-long-text">
										<div>{{ app.name }}</div>
									</td>
									<td>
										<div>{{ app.created_at | date }}</div>
									</td>
									<td>
										<div>{{ app.updated_at | date }}</div>
									</td>
									<td>
										<div>{{ app.events }}</div>
									</td>
									<td>
										<div>{{ app.endpoints.length }}</div>
									</td>
									<td>
										<div>
											<button [disabled]="app.events <= 0" title="view events" [class]="'primary has-icon icon-left'" (click)="toggleActiveTab('events'); eventApp = app.uid; getEvents()">
												<img src="/assets/img/view-events-icon.svg" alt="view events icon" />
												Events
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="table--load-more button-container margin-top center" *ngIf="apps?.pagination && apps.pagination.totalPage > 1">
							<button
								[class]="'primary clear has-icon icon-left ' + (apps.pagination.page === apps.pagination.totalPage ? 'disabled' : '')"
								[disabled]="apps.pagination.page === apps.pagination.totalPage"
							>
								<img src="/assets/img/arrow-down-icon.svg" alt="arrow down icon" />
								Load more
							</button>
						</div>
					</div>

					<div class="empty-state" *ngIf="apps?.content?.length === 0 && activeTab === 'apps'">
						<img src="/assets/img/empty-state-img.svg" alt="empty state" />
						<p>No app to show here</p>
					</div>
				</div>
			</div>

			<div class="dashboard--logs--details">
				<ng-container *ngIf="detailsItem">
					<h3>Details</h3>
					<ul class="dashboard--logs--details--meta" *ngIf="activeTab === 'apps' || activeTab === 'event deliveries'">
						<ng-container *ngIf="activeTab === 'event deliveries'">
							<li class="list-item-inline">
								<div class="list-item-inline--label">IP Address</div>
								<div class="list-item-inline--item color">{{ eventDeliveryAtempt?.ip_address || '-' }}</div>
							</li>
							<li class="list-item-inline">
								<div class="list-item-inline--label">HTTP Status</div>
								<div class="list-item-inline--item">{{ eventDeliveryAtempt?.http_status || '-' }}</div>
							</li>
							<li class="list-item-inline">
								<div class="list-item-inline--label">API Version</div>
								<div class="list-item-inline--item color">{{ eventDeliveryAtempt?.api_version || '-' }}</div>
							</li>
							<li class="list-item-inline">
								<div class="list-item-inline--label">Endpoint</div>
								<div class="list-item-inline--item color" [title]="detailsItem.endpoint?.target_url">
									{{ detailsItem.endpoint?.target_url }}
								</div>
							</li>
							<li class="list-item-inline" *ngIf="detailsItem.metadata?.num_trials < detailsItem.metadata?.retry_limit && detailsItem.status !== 'Success'">
								<div class="list-item-inline--label">Next Retry</div>
								<div class="list-item-inline--item color">
									{{ detailsItem.metadata?.next_send_time | date: 'mediumTime' }}
								</div>
							</li>
							<li class="list-item-inline">
								<div class="list-item-inline--label">App Name</div>
								<div class="list-item-inline--item color">
									{{ detailsItem.app_metadata?.title }}
								</div>
							</li>
						</ng-container>
						<li class="list-item-inline" *ngIf="activeTab === 'apps'">
							<div class="list-item-inline--label">Support Email</div>
							<div class="list-item-inline--item">{{ detailsItem?.support_email || '-' }}</div>
						</li>
					</ul>

					<ul class="tabs" *ngIf="activeTab === 'event deliveries'">
						<li *ngFor="let tab of eventDetailsTabs" [class]="'tab ' + (eventDetailsActiveTab === tab.id ? 'active' : '')">
							<button class="primary outline" (click)="eventDetailsActiveTab = tab.id">{{ tab.label }}</button>
						</li>
					</ul>

					<div class="dashboard--logs--details--req-res" *ngIf="activeTab === 'events' || activeTab === 'event deliveries'">
						<div [class]="'dashboard--logs--details--tabs-data ' + (eventDetailsActiveTab === 'data' ? 'show' : '')">
							<h3>Event</h3>
							<app-shared language="json" [code]="getCodeSnippetString(activeTab === 'events' ? 'event' : 'event_delivery')"></app-shared>
						</div>

						<div [class]="'dashboard--logs--details--tabs-data ' + (eventDetailsActiveTab === 'response' ? 'show' : '')">
							<h3>Header</h3>
							<app-shared language="json" [code]="getCodeSnippetString('res_head')"></app-shared>

							<h3>Body</h3>
							<app-shared language="json" [code]="getCodeSnippetString('res_body')"></app-shared>
						</div>

						<div [class]="'dashboard--logs--details--tabs-data ' + (eventDetailsActiveTab === 'request' ? 'show' : '')">
							<h3>Header</h3>
							<app-shared language="json" [code]="getCodeSnippetString('req')"></app-shared>
						</div>
					</div>

					<ng-container *ngIf="activeTab === 'events'">
						<h4>Deliveries Overview</h4>
						<ul class="dashboard--logs--details--endpoints inline">
							<li *ngFor="let delivery of sidebarEventDeliveries">
								<div [class]="'tag tag--' + delivery.status">{{ delivery.status }}</div>
								<div class="url" [title]="delivery.endpoint.target_url">
									{{ delivery.endpoint.target_url }}
								</div>
							</li>
						</ul>
					</ng-container>

					<ng-container *ngIf="activeTab === 'apps'">
						<h4>App Event Endpoints</h4>
						<ul class="dashboard--logs--details--endpoints">
							<ng-container *ngIf="detailsItem?.endpoints">
								<li *ngFor="let endpoint of detailsItem.endpoints">
									<h5>{{ endpoint.description }}</h5>
									<p>
										<img src="/assets/img/link-icon.svg" alt="link icon" />
										{{ endpoint.target_url }}
									</p>
									<div class="events">
										<div class="tag" *ngFor="let event of endpoint.events">{{ event == '*' ? 'all events' : event }}</div>
									</div>
								</li>
							</ng-container>
						</ul>
					</ng-container>
				</ng-container>
			</div>
		</section>
	</div>
</div>
