.dashboard--page {
	width: 1374px;
	margin: 32px auto;
	padding: 0 2rem;

	&--details {
		display: flex;
		justify-content: space-between;

		&--chart {
			padding: 0;
			max-width: 850px;
			width: 100%;

			h3 {
				font-weight: bold;
				font-size: 16px;
				line-height: 28px;
				margin-bottom: 30px;
			}

			& > div {
				padding: 24px;
			}
		}

		&--credentials {
			max-width: 428px;
			width: 100%;

			.card--container {
				padding: 16px 24px;
			}
		}
	}

	&--head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.metrics {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
	min-height: 76px;
	align-items: center;
	border-bottom: 1px solid #eaedf3;

	li {
		padding: 16px 30px;
		display: flex;
		align-items: center;

		&.messages {
			background: url(/assets/img/message-icon-transparent.svg) no-repeat;
			background-position: 210px 35px;
		}

		&.apps {
			background: url(/assets/img/apps-icon-transparent.svg) no-repeat;
			background-position: 210px 35px;
		}

		&:not(:last-of-type) {
			border-right: 1px solid #eaedf3;
		}

		img {
			margin-right: 30px;
		}

		div {
			&:first-of-type {
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
			}

			&:last-of-type {
				font-weight: 400;
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}

.dashboard--logs {
	margin-top: 32px;
	padding: 0 0 20px;
	display: flex;

	.table--container {
		max-height: calc(100vh - 950px);
		min-height: 521px;
		overflow: auto;

		&.smaller-table {
			min-height: 567px;
		}
	}

	&--tabs {
		width: calc(1310px - 480px);
		border-right: 1px solid #edeff5;
		height: 100%;
		overflow: auto;

		.filter {
			margin-right: 16px;

			.select select,
			.filter--button {
				height: 35px;
				padding: 0px 8px;
				outline: none;
			}

			.event-button {
				width: 140px;
				min-width: unset;

				img {
					width: 13px;
				}
			}

			.select select {
				width: 70px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				padding-right: 30px;
			}
		}

		button.events-filter-clear-btn {
			display: block;
			background: var(--primary-color);
			min-width: unset;
		}
	}

	&--details {
		padding: 24px;
		width: 480px;
		max-height: calc(100vh - 950px);
		min-height: 707px;
		overflow: auto;

		& > h3 {
			margin-bottom: 15px;
		}

		&--meta {
			padding: 8px 0 24px;
			border-bottom: 1px solid #edeff5;
			margin: 0 0 24px;
		}

		&--response-data {
			font-size: 13px;
			line-height: 30px;
			width: 100%;
			padding: 1em;
			background: #fbfbfb;
			margin-right: 25px;
		}

		&--tabs-data {
			width: 100%;
			opacity: 0;
			position: absolute;
			right: 1000px;
			z-index: -1;
			top: 0;

			&.show {
				opacity: 1;
				position: initial;
				z-index: initial;
			}

			h3 {
				font-size: 0.8rem;
				background: #fbfbfb;
				padding: 10px 23px;
				border-bottom: 2px solid var(--primary-color-inverse);

				&:not(:first-of-type) {
					margin-top: 20px;
				}
			}
		}

		.data-hidden {
			height: 100px;
			overflow-x: hidden;
			overflow-y: hidden;
		}

		&--req-res {
			overflow-y: auto;

			& > div {
				margin: 10px 0 20px;
			}
		}

		&--endpoints {
			margin: 20px 0;
			border-bottom: none;
			width: 100%;

			&.inline li {
				display: flex;
				align-items: center;

				.url {
					width: 330px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					margin-left: 10px;
					cursor: pointer;
					font-size: 14px;
				}
			}

			li {
				display: block;
				width: 100%;
				padding: 10px 0;
				margin-bottom: 10px;
				border-bottom: 1px solid #edeff5;

				p {
					font-size: 14px;
					margin-top: 10px;
					display: flex;
					align-items: center;

					img {
						width: 15px;
						margin-right: 10px;
					}
				}
				.events {
					margin-top: 10px;

					.tag {
						display: inline-block;
						margin: 5px 10px 5px 0;
					}
				}
			}
		}

		.tabs {
			border: none;
			padding-bottom: 10px;

			.tab {
				padding: 0;

				&:not(:last-of-type) {
					.active button {
						margin-right: 25px;
					}
				}

				&.active {
					&::after {
						content: none;
					}

					button {
						border-color: rgba(var(--primary-color-rgb), 0.2);
						box-shadow: 0px 10px 25px rgba(151, 143, 175, 0.08);
						border-radius: 8px;
						color: var(--primary-color);
					}
				}

				button {
					padding: 9px 20px;
					border: 1px solid transparent;
					font-weight: 500;
					font-size: 14px;
					line-height: 16px;
					letter-spacing: 0.01em;
					transition: all 0.3s;
					color: var(--color-black);
				}
			}
		}
	}
}

.table {
	&--actions {
		border-bottom: 1px solid #edeff5;

		button {
			padding: 10px;
			color: var(--color-black);
			margin-right: 10px;
			font-size: 14px;
		}

		img {
			width: 15px;
		}
	}
}
