<convoy-modal position="full" [title]="projectType === 'outgoing' ? 'Configure Outgoing Project' : 'Configure Incoming Project'" (closeModal)="cancel()">
	<div class="pt-40px pb-60px" modalBody>
		<convoy-card className="p-30px" *ngIf="projectStage === 'setupSDK'">
			<h2 class="font-semibold mb-8px">SDK installation</h2>
			<p class="text-grey-60 text-14 max-w-[555px] mb-26px">Select your preffered and follow the intstructions below to install your SDK to get started.</p>

			<div class="flex mb-36px">
				<button convoy-button size="sm" className="mr-16px" (click)="router.navigateByUrl('/projects/' + this.privateService.activeProjectDetails?.uid)">
					I have completed configuration
					<svg width="14" height="14" class="ml-8px fill-white-100">
						<use xlink:href="#doc-icon"></use>
					</svg>
				</button>
				<button convoy-button fill="outline" size="sm" (click)="toggleActiveStage({ project: 'createApplication' })">
					Setup Without SDK
					<svg width="14" height="14" class="ml-8px fill-primary-100">
						<use xlink:href="#info-icon"></use>
					</svg>
				</button>
			</div>

			<sdk-documentation (onAction)="cancel()"></sdk-documentation>
		</convoy-card>

		<convoy-card className="p-24px mb-24px" *ngIf="projectStage !== 'setupSDK'">
			<ul class="setup-steps flex items-center border-b border-b-grey-10 pb-24px">
				<li class="mr-32px last-of-type:mr-0" *ngFor="let stage of projectStages">
					<div>
						<div class="h-4px w-240px" [class]="stage.currentStage === 'current' ? 'bg-primary-300' : stage.currentStage === 'done' ? 'bg-primary-100' : 'bg-primary-500'"></div>
						<div class="mt-4px flex items-center">
							<div class="m-0 w-16px h-16px border-[5px] rounded-[50px]" [class]="stage.currentStage === 'current' ? 'border-primary-300' : stage.currentStage === 'done' ? 'border-primary-100' : 'border-primary-500'"></div>
							<div class="ml-8px text-14 font-medium" [class]="stage.currentStage === 'current' ? 'text-grey-40' : stage.currentStage === 'done' ? 'text-black' : 'text-grey-40'">{{ stage.projectStage }}</div>
						</div>
					</div>
				</li>
			</ul>

			<div *ngIf="projectStage === 'createSource'">
				<h2 class="mt-24px font-semibold">Create your first source</h2>
				<p class="text-14 text-grey-40 mt-8px w-4/5">Create a source that'll triger a webhook event in your project</p>
			</div>
			<div *ngIf="projectStage === 'createApplication'">
				<h2 class="mt-24px font-semibold">Create your first application</h2>
				<p class="text-14 text-grey-40 mt-8px w-4/5">Create and aplication and endpoint(s) that'll listen to events on this project</p>
			</div>
			<div *ngIf="projectStage === 'createSubscription'">
				<h2 class="mt-24px font-semibold">Create your first subscription</h2>
				<p class="text-14 text-grey-40 mt-8px w-4/5">Create a subscription that'll listen to events from your source</p>
			</div>
		</convoy-card>

		<app-create-source *ngIf="projectStage === 'createSource' && privateService.activeProjectDetails?.uid" (onAction)="$event?.action == 'close' ? cancel() : toggleActiveStage({ project: 'createSubscription', prevStage: 'createSource' })"></app-create-source>

		<app-create-app
			*ngIf="projectStage === 'createApplication' && privateService.activeProjectDetails?.uid"
			(discardApp)="cancel()"
			(createApp)="projectType == 'incoming' ? toggleActiveStage({ project: 'createSource', prevStage: 'createApplication' }) : toggleActiveStage({ project: 'createSubscription', prevStage: 'createApplication' })"
		></app-create-app>

		<app-create-subscription *ngIf="projectStage === 'createSubscription' && privateService.activeProjectDetails?.uid" (onAction)="onProjectOnboardingComplete()"></app-create-subscription>
	</div>
</convoy-modal>
