@if (!file) {
  <div (click)="file.click()" class="border border-dashed border-new.border rounded-12px flex flex-col justify-center items-center h-140px hover:cursor-pointer hover:bg-new.surface-subtle transition-colors">
    <img src="/assets/img/download.png" class="mb-12px" alt="download icon" />
    <ng-content></ng-content>
    <input #file type="file" class="invisible h-0" (change)="parseFile($event)" />
  </div>
}
@if (file) {
  <div class="border border-new.border rounded-12px flex p-18px relative group hover:border-new.primary-400 transition-colors">
    <img src="/assets/img/file.png" class="mb-12px" alt="download icon" />
    <div class="flex flex-col ml-10px">
      <p class="font-body font-medium text-[12px] text-new.text-primary">{{ file.name }}</p>
      <p class="font-body font-normal text-[10px] text-new.text-secondary">{{ fileSize(file.size) }}</p>
    </div>
    <div
      class="hidden group-hover:flex absolute inset-0 rounded-12px bg-new.text-primary/50 items-center justify-center backdrop-blur-sm transition-all duration-300"
      >
      <button type="button" class="w-36px h-36px flex items-center justify-center rounded-full bg-white-100/20 hover:bg-white-100/30" (click)="file = null; deleteFile.emit()" aria-label="Remove file">
        <svg width="20" height="20" class="fill-white-100">
          <use xlink:href="#delete-icon"></use>
        </svg>
      </button>
    </div>
  </div>
}
