<div *ngIf="!file" (click)="file.click()" class="border border-dashed border-grey-20 rounded-4px flex flex-col justify-center items-center h-140px hover:cursor-pointer">
	<img src="/assets/img/download.png" class="mb-12px" alt="download icon" />
	<ng-content></ng-content>
	<input #file type="file" class="invisible h-0" (change)="parseFile($event)" />
</div>
<div *ngIf="file" class="border border-primary-100 rounded-4px flex p-18px hover:border-white-100 focus-within:border-white-100 group">
	<img src="/assets/img/file.png" class="mb-12px" alt="download icon" />
	<div class="flex flex-col ml-10px">
		<p class="text-12 text-grey-60">{{ file.name }}</p>
		<p class="text-10 text-grey-40">{{ fileSize(file.size) }}</p>
	</div>
	<div
		class="hidden group-focus-within:absolute group-focus-within:flex group-hover:absolute group-hover:flex backdrop-blur-sm rounded-4px top-0 w-full h-[80px] -ml-[19px] mt-28px bg-grey-40 bg-opacity-50 items-center flex-col justify-center p-24px transition-all duration-300"
	>
		<button convoy-button fill="clear" type="button" (click)="file = null; deleteFile.emit()">
			<svg width="24" height="23" class="mr-8px fill-white-100">
				<use xlink:href="#delete-icon"></use>
			</svg>
		</button>
	</div>
</div>
