<div *ngIf="!file" (click)="file.click()" class="border border-new.primary-25 rounded-4px flex flex-col justify-center items-center h-140px hover:cursor-pointer hover:border-new.primary-50">
	<img src="/assets/img/download.png" class="mb-12px h-38px" alt="download icon" />
	<ng-content></ng-content>
	<input #file type="file" class="invisible h-0" (change)="parseFile($event)" />
</div>
<div *ngIf="file" class="border-2 border-new.primary-300 rounded-4px px-16px py-10px group">
	<div class="flex justify-end mb-2px">
		<button convoy-button fill="text" type="button" class="opacity-0 group-focus-within:opacity-100 group-hover:opacity-100 transition-all duration-300" (click)="file = null; deleteFile.emit()">
			<svg width="14" height="14" class="mr-8px fill-new.gray-500">
				<use xlink:href="#delete-icon"></use>
			</svg>
		</button>
	</div>
	<div class="flex items-start">
		<img src="/assets/img/file.png" class="mb-12px h-38px" alt="download icon" />
		<div class="flex flex-col ml-10px">
			<p class="text-12 text-new.gray-800">{{ file.name }}</p>
			<p class="text-10 text-new.gray-400">{{ fileSize(file.size) }}</p>
		</div>
	</div>
</div>
