.metrics {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
	align-items: center;
	min-height: 76px;
	li {
		&.messages {
			background: url(/assets/img/message-icon-transparent.svg) no-repeat;
			background-position: 210px 35px;
		}

		&.apps {
			background: url(/assets/img/apps-icon-transparent.svg) no-repeat;
			background-position: 210px 35px;
		}
	}
}
.events-card {
	margin-top: -2px;
}

.event {
	&__table {
		max-width: calc(1087px - 380px);
		width: 100%;
		border-right: 1px solid var(--line-border);
		height: 100%;
		overflow: hidden;
	}

	&__details {
		max-width: 380px;
		width: 100%;
		max-height: calc(100vh - 950px);
		min-height: 707px;
		overflow: auto;

		& > h3 {
			margin-bottom: 15px;
		}
	}

	&.width-100 {
		width: unset;
		width: 100%;
	}
}
.empty-state-img {
	width: 90px;
	height: 80px;
}
canvas {
	max-width: 1027px;
}
