<div convoy-dialog-header fullscreen="custom" (closeDialog)="close.emit()">
	<div class="flex items-center justify-between w-full">
		<h2 class="font-semibold text-14 capitalize">Open Api Spec</h2>
		<div class="flex items-center justify-end">
			<button convoy-button size="sm" type="button" (click)="addOpenApiSpec()">Add OpenAPI Spec</button>
		</div>
	</div>
</div>

<div class="max-w-[970px] m-auto mt-40px px-20px">
	<h3 class="text-16 font-bold text-neutral-11">Upload OpenAPI Spec</h3>
	<p class="text-12 font-normal text-neutral-11 mt-10px mb-12px w-full max-w-[600px]">Paste the OpenAPI specification for your API here to update your events catalogues with event types that match your API spec.</p>

	<div convoy-card>
		<convoy-monaco [editorValue]="events" #requestEditor></convoy-monaco>
	</div>
</div>
