<div class="max-w-[1300px] w-full mx-auto px-24px pt-80px pb-100px">
	<h2 class="font-medium text-14 text-neutral-10 mb-24px">Endpoints</h2>
	<div class="flex justify-between items-center mb-12px">
		<form class="border border-primary-400 h-36px px-14px py-0 max-w-[350px] w-full rounded-[10px] flex items-center bg-white-100" (ngSubmit)="getEndpoints({ q: endpointSearchString })">
			<img src="/assets/img/search-icon.svg" alt="search icon" class="mr-10px" />
			<input type="search" placeholder="Search endpoints" class="w-full text-neutral-11 text-12 outline-none" [(ngModel)]="endpointSearchString" [ngModelOptions]="{ standalone: true }" />
			<button convoy-button *ngIf="endpointSearchString && endpointSearchString.length > 0" class="transition-all duration-200" fill="text" size="sm">
				<img src="/assets/img/enter-icon.png" alt="enter icon" class="w-16px" />
			</button>
		</form>
		<button convoy-button fill="soft" class="py-4px px-10px rounded-8px text-12" (click)="openEndpointForm('create')" *ngIf="portalDetails?.can_manage_endpoint && portalDetails?.owner_id">
			<img src="/assets/img/add-icon.svg" alt="add icon" class="mr-8px w-12px" />
			Add Endpoint
		</button>
	</div>

	<ul convoy-card class="mb-40px">
		<ng-container *ngIf="isloadingSubscriptions && !endpoints?.length">
			<ng-container *ngFor="let i of [0, 1]">
				<li class="px-4 py-14px">
					<div class="bg-neutral-a3 rounded-8px animate-pulse w-80px h-20px"></div>
				</li>
				<li class="flex items-center gap-36px p-16px" *ngFor="let i of [0, 1, 2]">
					<div class="bg-neutral-a3 rounded-8px animate-pulse w-150px h-20px"></div>
					<div class="bg-neutral-a3 rounded-8px animate-pulse w-80px h-20px"></div>
					<div class="bg-neutral-a3 rounded-8px animate-pulse w-320px h-20px"></div>
					<div class="bg-neutral-a3 rounded-8px animate-pulse w-200px h-20px"></div>
					<div class="bg-neutral-a3 rounded-8px animate-pulse w-12px h-20px ml-auto"></div>
				</li>
			</ng-container>
		</ng-container>

		<ng-container *ngFor="let endpointGroup of displayedEndpoints; let i = index">
			<li class="py-10px px-22px">
				<div class="text-neutral-10 text-12">{{ endpointGroup.date }}</div>
			</li>
			<li class="flex justify-between py-12px px-22px hover:bg-new.primary-25 transition-all duration-300 rounded-8px last-of-type:mb-0 relative border-b border-new.primary-25" *ngFor="let endpoint of endpointGroup.content; let i = index">
				<div class="flex text-14 text-neutral-10 w-full gap-36px items-center min-h-[28px]">
					<div class="max-w-[150px] w-full truncate">{{ endpoint?.name }}</div>
					<div convoy-tag size="sm" [color]="endpoint.status | statuscolor">{{ endpoint?.status }}</div>
					<div>
						<div convoy-tag class="!gap-10px flex items-center">
							<span class="max-w-xs w-full truncate">{{ endpoint.url || endpoint.target_url }}</span>

							<convoy-copy-button size="sm" [notificationText]="endpoint.name || endpoint.title + ' Url has been copied to clipboard'" [text]="endpoint.url || endpoint.target_url"></convoy-copy-button>
						</div>
					</div>
					<div>
						<div convoy-tag class="!gap-10px flex items-center">
							<span class="w-[150px] truncate">{{ endpoint.uid }}</span>

							<convoy-copy-button size="sm" [notificationText]="endpoint.name || endpoint.title + ' ID has been copied to clipboard'" [text]="endpoint.uid"></convoy-copy-button>
						</div>
					</div>
				</div>

				<div convoy-dropdown #subscriptionDropdown position="right" size="md" class="ml-4px">
					<button dropdownTrigger convoy-button size="sm" fill="text" class="!p-0">
						<img src="assets/img/more-icon-vertical.svg" class="h-5" alt="more icon" />
					</button>

					<ul dropdownOptions class="p-10px">
						<li class="mb-10px hover:bg-new.primary-25 transition-all duration-300 rounded-8px" *ngIf="portalDetails?.can_manage_endpoint">
							<button convoy-dropdown-option convoy-button size="sm" fill="text" class="w-full !justify-start px-8px py-4px text-neutral-12" color="neutral" (click)="activeEndpoint = endpoint; openEndpointForm('update')">
								<svg width="16" height="16" class="mr-8px">
									<use xlink:href="#edit-icon"></use>
								</svg>
								Edit
							</button>
						</li>
						<li class="mb-10px hover:bg-new.primary-25 transition-all duration-300 rounded-8px">
							<button convoy-dropdown-option convoy-button size="sm" fill="text" class="w-full !justify-start px-8px py-4px text-neutral-12" color="neutral" (click)="goToSubscriptionsPage(endpoint)">
								<svg width="16" height="16" class="mr-8px stroke-neutral-12 scale-90">
									<use xlink:href="#subscriptions-icon"></use>
								</svg>
								View Subscriptions
							</button>
						</li>
						<li class="mb-10px hover:bg-new.primary-25 transition-all duration-300 rounded-8px" *ngIf="portalDetails?.can_manage_endpoint">
							<button convoy-dropdown-option convoy-button size="sm" fill="text" class="w-full !justify-start px-8px py-4px text-neutral-12" color="neutral" (click)="activeEndpoint = endpoint; secretDialog.showModal()">
								<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-8px">
									<path
										d="M6.99344 1.48703L3.66677 2.74036C2.9001 3.02703 2.27344 3.9337 2.27344 4.74703V9.70036C2.27344 10.487 2.79344 11.5204 3.42677 11.9937L6.29344 14.1337C7.23344 14.8404 8.7801 14.8404 9.7201 14.1337L12.5868 11.9937C13.2201 11.5204 13.7401 10.487 13.7401 9.70036V4.74703C13.7401 3.92703 13.1134 3.02036 12.3468 2.7337L9.0201 1.48703C8.45344 1.28036 7.54677 1.28036 6.99344 1.48703Z"
										stroke="#1D2939"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
									<path
										d="M7.99984 8.33464C8.73622 8.33464 9.33317 7.73768 9.33317 7.0013C9.33317 6.26492 8.73622 5.66797 7.99984 5.66797C7.26346 5.66797 6.6665 6.26492 6.6665 7.0013C6.6665 7.73768 7.26346 8.33464 7.99984 8.33464Z"
										stroke="#1D2939"
										stroke-miterlimit="10"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
									<path d="M8 8.33203V10.332" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
								</svg>
								View Secret
							</button>
						</li>
						<li class="mb-10px hover:bg-new.primary-25 transition-all duration-300 rounded-8px">
							<button convoy-dropdown-option convoy-button size="sm" fill="text" class="w-full !justify-start px-8px py-4px text-neutral-12" color="neutral" (click)="sendTestEvent(endpoint?.uid)">
								<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-8px">
									<path d="M7.33317 11.8346L8.6665 10.5013L7.33317 9.16797L8.6665 10.5013H4.6665" fill="#F97066" />
									<path d="M7.33317 11.8346L8.6665 10.5013L7.33317 9.16797L8.6665 10.5013H4.6665" stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" />
									<path
										d="M14.6668 7.16536V10.4987C14.6668 13.832 13.3335 15.1654 10.0002 15.1654H6.00016C2.66683 15.1654 1.3335 13.832 1.3335 10.4987V6.4987C1.3335 3.16536 2.66683 1.83203 6.00016 1.83203H9.3335"
										stroke="#292D32"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
									<path d="M14.6668 7.16536H12.0002C10.0002 7.16536 9.3335 6.4987 9.3335 4.4987V1.83203L14.6668 7.16536Z" stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" />
								</svg>

								Send Test Event
							</button>
						</li>
						<li class="mb-10px hover:bg-new.primary-25 transition-all duration-300 rounded-8px" *ngIf="portalDetails?.can_manage_endpoint">
							<button convoy-dropdown-option convoy-button size="sm" fill="text" class="w-full !justify-start px-8px py-4px text-neutral-12" color="neutral" (click)="toggleEndpoint(i, endpoint)">
								<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-8px" *ngIf="endpoint?.status === 'active'; else playIcon">
									<path d="M7.1 13.24V3.76C7.1 2.86 6.72 2.5 5.76 2.5H3.34C2.38 2.5 2 2.86 2 3.76V13.24C2 14.14 2.38 14.5 3.34 14.5H5.76C6.72 14.5 7.1 14.14 7.1 13.24Z" stroke="#292D32" stroke-linecap="round" stroke-linejoin="round" />
									<path
										d="M13.9999 13.24V3.76C13.9999 2.86 13.6199 2.5 12.6599 2.5H10.2399C9.28657 2.5 8.8999 2.86 8.8999 3.76V13.24C8.8999 14.14 9.2799 14.5 10.2399 14.5H12.6599C13.6199 14.5 13.9999 14.14 13.9999 13.24Z"
										stroke="#292D32"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
								</svg>
								<ng-template #playIcon>
									<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-8px">
										<path
											d="M2.66699 8.50026V6.12692C2.66699 3.18026 4.75366 1.97359 7.30699 3.44692L9.36699 4.63359L11.427 5.82026C13.9803 7.29359 13.9803 9.70692 11.427 11.1803L9.36699 12.3669L7.30699 13.5536C4.75366 15.0269 2.66699 13.8203 2.66699 10.8736V8.50026Z"
											stroke="#292D32"
											stroke-miterlimit="10"
											stroke-linecap="round"
											stroke-linejoin="round"
										/>
									</svg>
								</ng-template>

								<div>{{ endpoint?.status === 'active' ? 'Paus' : 'Unpaus' }}{{ isTogglingEndpoint ? 'ing endpoint...' : 'e Endpoint' }}</div>
							</button>
						</li>
					</ul>
				</div>
			</li>
		</ng-container>

		<div class="flex justify-center items-center p-40px flex-col" *ngIf="!isloadingSubscriptions && endpoints?.length === 0">
			<img src="/assets/img/empty-state.svg" alt="empty state image" />
			<p class="mt-16px text-12 text-neutral-11">You don't have any endpoints yet</p>
		</div>
	</ul>

	<!-- Pagination -->
	<convoy-pagination *ngIf="fetchedEndpoints?.pagination?.has_next_page || fetchedEndpoints?.pagination?.has_prev_page" [pagination]="fetchedEndpoints?.pagination" (paginate)="getEndpoints($event)"></convoy-pagination>
</div>

<div id="convoy-app"></div>

<div class="fixed top-0 left-0 right-0 bottom-0 bg-[#fff] z-20 pb-100px overflow-auto" *ngIf="showCreateEndpoint || currentRoute === 'new' || (currentRoute !== 'endpoints' && currentRoute !== 'new')">
	<div class="max-w-[900px] w-full mx-auto pt-40px">
		<button convoy-button fill="text" class="!p-0 font-medium capitalize text-12" (click)="goBack(true)">
			<div class="block p-2px rounded-100px border border-new.primary-50 mr-8px">
				<svg width="24" height="24" class="fill-neutral-10 scale-75">
					<use xlink:href="#arrow-left-icon"></use>
				</svg>
			</div>
			Back
		</button>
		<convoy-create-endpoint type="portal" showAction="true" [endpointId]="activeEndpoint?.uid || ''" (onAction)="goBack(true)"></convoy-create-endpoint>
	</div>
</div>

<dialog #secretDialog convoy-dialog position="center">
	<convoy-endpoint-secret [endpointDetails]="activeEndpoint" (closeSecretModal)="secretDialog.close()" (expireCurrentSecret)="getEndpoints(); secretDialog.close()"></convoy-endpoint-secret>
</dialog>
