<div>
	<div class="">
		<h4 *ngIf="title" class="bg-[#f3f3f8] py-8px px-22px rounded-tl-8px rounded-tr-8px -mb-2px text-14">{{ title }}</h4>
		<pre *ngIf="language" class="language-{{ language }} line-numbers">
<code #codeEle class="language-{{ language }} line-numbers">{{getCodeSnippet()}}</code>
</pre>
	</div>
	<div class="flex justify-end" *ngIf="code && code.length > 390">
		<convoy-button size="sm" type="text" (click)="showPayload = !showPayload">Expand payload</convoy-button>
	</div>
</div>

<convoy-modal position="full" [title]="title ? title : 'Payload'" *ngIf="showPayload" (closeModal)="showPayload = false">
	<div class="py-40px" modalBody>
		<div class="">
			<h4 *ngIf="title" class="bg-[#f3f3f8] py-8px px-22px rounded-tl-8px rounded-tr-8px -mb-2px text-14">{{ title }}</h4>
			<pre *ngIf="language" class="language-{{ language }} line-numbers">
    <code #codeEle class="language-{{ language }} line-numbers">{{getCodeSnippet()}}</code>
    </pre>
		</div>
	</div>
</convoy-modal>
