.active {
	background: var(--primary-color-500);
	color: var(--primary-color);

	svg {
		fill: var(--primary-color);
	}
}

aside {
	width: fit-content;

	.sidebar--bottom {
		margin-top: 358px;
	}

	li {
		width: 66px;

		span {
			width: 0px;
			overflow: hidden;
		}
	}

	.sidebar--button {
		.open-icon {
			display: none;
		}

		.close-icon {
			display: block;
		}
	}

	&.full {
		li {
			width: 182px;

			span {
				width: unset;
				overflow: unset;
			}
		}

		.sidebar--button {
			.open-icon {
				display: block;
			}

			.close-icon {
				display: none;
			}
		}
	}
}

.page {
	max-width: calc(1328px + 48px);
	width: 100%;
}

.sidebar--button {
	right: -15px;

	.open-icon {
		display: block;
	}

	.close-icon {
		display: none;
	}
}

@media only screen and (max-device-width: 1340px) and (-webkit-min-device-pixel-ratio: 1) {
	aside {
		li {
			width: 66px;

			span {
				width: 0px;
				overflow: hidden;
			}
		}

		.sidebar--button {
			.open-icon {
				display: none;
			}

			.close-icon {
				display: block;
			}
		}
	}

	aside.full {
		li {
			width: 182px;

			span {
				width: unset;
				overflow: unset;
			}
		}

		.sidebar--button {
			.open-icon {
				display: block;
			}

			.close-icon {
				display: none;
			}
		}
	}

	table {
		thead {
			width: 100px;
		}
	}
}
