<div class="pt-0 pb-0 w-full min-h-screen bg-new.surface-page">
  <div class="w-full border-b border-new.border fixed top-60px z-[12] bg-white-100">
    <nav class="flex items-center justify-between gap-16px max-w-[1449px] m-auto px-24px h-60px">
      <div class="flex items-center gap-8px flex-1 min-w-0">
        <!-- Project selector -->
        <div convoy-dropdown position="center" class="shrink-0" size="lg">
          <button dropdownTrigger class="flex items-center gap-8px py-4px px-8px rounded-full transition-colors hover:bg-new.surface-muted">
            <span class="max-w-[160px] truncate font-body font-medium text-[14px] leading-[16px] text-new.text-primary">{{ projectDetails?.name }}</span>
            <img src="/assets/img/svg/chevron-grabber.svg" class="w-16px h-16px" alt="" />
          </button>

          <ng-container dropdownOptions class="relative">
            <ul class="p-10px max-h-[300px] overflow-y-auto overflow-x-hidden">
              @for (project of projects; track $index) {
                <li class="mb-12px last-of-type:mb-0 w-full">
                  <button
                    convoy-dropdown-option
                    convoy-button
                    size="sm"
                    color="neutral"
                    fill="text"
                    class="py-8px px-8px w-full text-left hover:bg-new.primary-25 transition-all duration-300 rounded-8px flex justify-between items-center gap-24px"
                    (click)="getProjectCompleteDetails(project)"
                    >
                    <div class="flex items-center gap-8px max-w-[calc(100%-36px)]">
                      <div class="w-full max-w-[200px] truncate">{{ project.name }}</div>
                      <div tooltipToggle convoy-tag class="py-[1px] px-[3px]" color="primary" fill="soft">
                        <svg width="16" height="16" class="fill-primary-100 stroke-primary-100 scale-75" [ngClass]="{ 'rotate-180': project?.type === 'incoming' }">
                          <use xlink:href="#top-right-icon"></use>
                        </svg>
                      </div>
                    </div>
                    <div class="w-12px">
                      @if (projectDetails?.uid === project.uid) {
                        <img src="assets/img/check-icon-primary.svg" alt="check icon" />
                      }
                    </div>
                  </button>
                </li>
              }
            </ul>

            @if (projects.length) {
              <hr class="border-t border-t-new.primary-25" />
            }

            <div class="flex items-center">
              <div class="w-full relative">
                <a [routerLink]="isDisabled ? null : '../new'" convoy-button size="sm" color="neutral" fill="text" class="py-12px px-12px whitespace-nowrap w-full text-left hover:bg-new.primary-25 flex items-center" convoy-permission="Project Settings|MANAGE" [class.pointer-events-none]="isDisabled" [class.opacity-50]="isDisabled">
                  <svg width="16" height="16" class="mr-4px fill-neutral-12 scale-75">
                    <use xlink:href="#plus-icon"></use>
                  </svg>
                  New Project
                </a>

                @if (!licenseService.hasLicense('project_limit') && getProjectLimitMessage()) {
                  <div class="bg-white-40 backdrop-blur-[2px] flex items-center justify-center absolute top-0 h-full w-full">
                    <convoy-tooltip [withIcon]="false" position="top" className="!min-w-fit whitespace-nowrap !left-0 !translate-x-0">
                      {{ getProjectLimitMessage() }}
                      <div tooltipToggle class="flex items-center justify-center text-new.primary-400 text-14 font-medium gap-10px">
                        <svg width="10" height="10" class="fill-new.primary-400 scale-150">
                          <use xlink:href="#lock-icon"></use>
                        </svg>
                        {{ getProjectLimitPillText() }}
                      </div>
                    </convoy-tooltip>
                  </div>
                }
                @if (isDisabled && !getProjectLimitMessage()) {
                  <div class="bg-white-40 backdrop-blur-[2px] flex items-center justify-center text-new.primary-400 text-14 font-medium gap-10px absolute top-0 h-full w-full px-16px text-center">
                    <svg width="10" height="10" class="fill-new.primary-400 scale-150 shrink-0">
                      <use xlink:href="#lock-icon"></use>
                    </svg>
                    {{ disabledOrganisationMessage }}
                  </div>
                }
              </div>
              <div class="h-44px w-2px bg-new.primary-25"></div>
              <a routerLink="../" convoy-button size="sm" color="neutral" fill="text" class="py-12px px-18px w-full text-left hover:bg-new.primary-25 flex items-center">
                <img src="assets/img/svg/projects.svg" class="w-12px mr-8px" alt="plus icon" />
                All Projects
              </a>
            </div>
          </ng-container>
        </div>

        @if (projectDetails) {
          <ul class="flex items-center gap-8px overflow-x-auto overflow-y-hidden min-w-0">
            @for (nav of sideBarItems; track $index) {
              <li>
                <a [routerLink]="'.' + nav.route" routerLinkActive="!bg-new.surface-muted !font-medium" class="block font-body font-normal text-[14px] leading-normal text-new.text-primary whitespace-nowrap p-8px rounded-full transition-colors hover:bg-new.surface-muted">
                  {{ nav.name }}
                </a>
              </li>
            }
            @for (nav of secondarySideBarItems; track $index) {
              <li>
                <a [routerLink]="'.' + nav.route" routerLinkActive="!bg-new.surface-muted !font-medium" class="block font-body font-normal text-[14px] leading-normal text-new.text-primary whitespace-nowrap p-8px rounded-full transition-colors hover:bg-new.surface-muted">
                  {{ nav.name }}
                </a>
              </li>
            }
          </ul>
        }
      </div>

      @if (projectDetails) {
        <a routerLink="./settings" routerLinkActive="!bg-new.surface-muted" class="flex items-center gap-4px py-4px px-8px rounded-full transition-colors hover:bg-new.surface-muted shrink-0">
          <span class="font-body font-normal text-[14px] leading-normal text-new.text-primary whitespace-nowrap">Project Settings</span>
          <svg width="16" height="16" class="fill-neutral-10">
            <use xlink:href="#settings-icon"></use>
          </svg>
        </a>
      }
    </nav>
  </div>

  <main class="w-full pl-24px pr-24px pt-40px relative transition-all duration-200 max-w-[1449px] m-auto mt-[120px]">
    <router-outlet></router-outlet>
  </main>
</div>

@if (showHelpDropdown) {
  <div class="fixed h-screen w-screen top-0 right-0 bottom-0 z-[5]" (click)="$event.stopPropagation(); showHelpDropdown = false"></div>
}
@if (isLoadingProjectDetails) {
  <convoy-loader [isTransparent]="false"></convoy-loader>
}
