<convoy-page [class]="'flex pt-0 pb-0'">
	<aside class="w-fit pt-10 border-r border-r-grey-10 relative">
		<convoy-button
			type="outline"
			buttonType="button"
			[class]="'px-0 py-0 border-grey-10 bg-white-100 rounded-100px w-[32px] h-[32px] absolute top-[8px] -right-[16px]'"
			[disable]="screenWidth < 1150"
			(click)="shouldShowFullSideBar = !shouldShowFullSideBar"
		>
			<svg width="12" height="12" fill="#477DB3" [class]="shouldShowFullSideBar ? 'hidden' : 'block'">
				<use xlink:href="#sidebar-icon"></use>
			</svg>
			<svg width="12" height="12" fill="#477DB3" [class]="!shouldShowFullSideBar ? 'hidden' : 'block'">
				<use xlink:href="#sidebar-icon-2"></use>
			</svg>
		</convoy-button>
		<nav class="pl-[8px] pr-[24px]">
			<ul>
				<li [class]="shouldShowFullSideBar ? 'w-[182px]' : 'w-[66px]'" *ngFor="let nav of sideBarItems" class="animate">
					<a [routerLink]="'.' + nav.route" routerLinkActive="active" class="flex items-center text-grey-40 py-2 pl-6 my-2 rounded-8px animate">
						<svg width="18" height="18" class="mr-2" [attr.fill]="nav.icon == 'subscriptions' ? '' : '#737a91'" [attr.stroke]="nav.icon == 'subscriptions' ? '#737a91' : ''" [id]="nav.icon">
							<use [attr.xlink:href]="'#' + nav.icon + '-icon'"></use>
						</svg>
						<span class="font-medium text-14 animate" [ngClass]="{ 'w-0 hidden': !shouldShowFullSideBar }">{{ nav.name }}</span>
					</a>
				</li>
			</ul>
		</nav>
		<div class="mt-[358px] border-t border-t-grey-10 pt-16px">
			<ul class="pl-8px pr-24px">
				<li>
					<a routerLink="./settings" routerLinkActive="active" class="flex items-center text-grey-40 py-8px pl-24px my-8px rounded-8px animate">
						<svg width="18" height="18" class="mr-[10px]" fill="#737A91">
							<use xlink:href="#settings-icon"></use>
						</svg>
						<span class="font-medium text-14" [ngClass]="{ 'w-0 hidden': !shouldShowFullSideBar }">Project Settings</span>
					</a>
				</li>
				<li>
					<a href="https://getconvoy.io/docs" target="_blank" referrerpolicy="no-referrer" class="flex items-center text-grey-40 py-8px pl-24px my-8px rounded-8px animate">
						<svg width="18" height="18" class="mr-[10px]" fill="#737A91">
							<use xlink:href="#guide-icon"></use>
						</svg>
						<span class="font-medium text-14" [ngClass]="{ 'w-0 hidden': !shouldShowFullSideBar }">Guides</span>
					</a>
				</li>
			</ul>
		</div>
	</aside>
	<main class="w-full ml-24px mt-16px relative animate">
		<router-outlet></router-outlet>
	</main>
</convoy-page>
