<div convoy-page class="flex justify-center">
	<div class="max-w-[834px] w-full">
		<h2 class="font-medium text-14 text-new.gray-400 mt-40px -mb-6px">Create Endpoint</h2>
		<convoy-create-endpoint type="portal" [endpointId]="subscription?.endpoint_metadata?.uid || ''" [editMode]="true"></convoy-create-endpoint>

		<h2 class="font-medium text-14 text-new.gray-400 mt-40px -mb-6px flex items-center">
			Subscription Configurations
			<convoy-tooltip class="ml-4px" size="sm" type="white" tooltipContent="Configure how and what events this endpoint should receive" position="right"></convoy-tooltip>
		</h2>
		<convoy-create-subscription [action]="subscription ? 'update' : 'create'" isPortal="true" [subscriptionId]="subscription?.uid || ''"></convoy-create-subscription>

		<div class="flex justify-end items-center">
			<button convoy-button color="danger" fill="outline" class="mr-30px" (click)="onAction.emit({ action: 'close' })">Close</button>
			<button convoy-button (click)="subscription ? updateEndpoint() : createEndpoint()">{{ subscription ? 'Updat' : 'Creat' }}{{ isCreatingEndpoint ? 'ing Endpoint...' : 'e Endpoint' }}</button>
		</div>
	</div>
</div>
