<div class="flex justify-center max-w-[1100px] w-full mx-auto">
	<div class="max-w-[770px] w-full">
		<h2 class="font-medium text-14 text-neutral-10 mt-40px -mb-6px">Endpoint</h2>
		<convoy-create-endpoint type="portal" [endpointId]="endpoint?.uid || ''" [editMode]="true"></convoy-create-endpoint>


		<div class="flex justify-end items-center mt-30px">
			<button convoy-button color="error" fill="outline" class="mr-30px" (click)="onAction.emit({ action: 'close' })">Close</button>
			<button convoy-button (click)="endpoint ? updateEndpoint() : createEndpoint()">{{ endpoint ? 'Updat' : 'Creat' }}{{ isCreatingEndpoint ? 'ing Endpoint...' : 'e Endpoint' }}</button>
		</div>
	</div>
</div>
