<div class="min-h-[60vh] border-none">
	<table convoy-table>
		<thead convoy-table-head>
			<th convoy-table-head-cell *ngFor="let head of tableHead; let i = index" [class]="i === 0 ? 'pl-16px uppercase' : 'uppercase'">{{ head }}</th>
		</thead>
		<tbody>
			<tr convoy-table-row [forDate]="true" *ngIf="withDate">
				<td convoy-table-cell [forDate]="true"><convoy-skeleton-loader className="w-160px h-20px"></convoy-skeleton-loader></td>
				<td convoy-table-cell [forDate]="true" *ngFor="let head of tableHead.slice(1)"></td>
			</tr>
			<tr convoy-table-row *ngFor="let index of loaderIndex">
				<td convoy-table-cell class="pl-16px">
					<convoy-skeleton-loader className="w-120px h-20px"></convoy-skeleton-loader>
				</td>
				<td convoy-table-cell *ngFor="let head of tableHead.slice(1)">
					<convoy-skeleton-loader className="w-100px h-20px"></convoy-skeleton-loader>
				</td>
			</tr>
		</tbody>
	</table>
</div>
