<table [ngClass]="'table ' + tableClass">
	<thead>
		<tr class="table--head">
			<th *ngFor="let head of tableHead" scope="col">{{ head }}</th>
		</tr>
	</thead>
	<tbody>
		<tr class="table--date-row" *ngIf="!tableClass">
			<td>
				<div>
					<div class="skeleton-loader smaller padding-top--unset padding-bottom--unset"></div>
				</div>
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
			<td *ngFor="let head of tableHead.slice(1)">
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
			<td *ngFor="let head of tableHead.slice(1)">
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
			<td *ngFor="let head of tableHead.slice(1)">
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
			<td *ngFor="let head of tableHead.slice(1)">
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
		</tr>

		<tr class="table--date-row" *ngIf="!tableClass">
			<td>
				<div>
					<div class="skeleton-loader smaller padding-top--unset padding-bottom--unset"></div>
				</div>
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
			<td *ngFor="let head of tableHead.slice(1)">
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
			<td *ngFor="let head of tableHead.slice(1)">
				<div>
					<div class="skeleton-loader data"></div>
				</div>
			</td>
		</tr>
	</tbody>
</table>