<div convoy-dialog-header fullscreen="true" (closeDialog)="goBack()">
    <h2 class="font-semibold text-14 capitalize">Portal Link</h2>
</div>

<div class="max-w-[770px] m-auto">
    <h2 class="font-semibold mb-8px mt-30px">{{ action === 'update' ? 'Update' : 'Create' }} Portal Link</h2>
    <p class="text-neutral-10 font-normal text-14 max-w-max">A portal link is a dashboard for your for your
        customers to view and debug their webhooks sent from you.</p>

    <form [formGroup]="portalLinkForm" (ngSubmit)="savePortalLink()">
        <div convoy-card class="p-24px mt-24px">
            <convoy-input-field>
                <label for="link-name" convoy-label required="true">Link Name</label>
                <input id="link-name" convoy-input autocomplete="name" formControlName="name" placeholder="Link name"
                       [readonly]="portalLink"/>
                <convoy-input-error *ngIf="portalLinkForm.get('name')?.touched && portalLinkForm.get('name')?.invalid">
                    Please provide a name for your link.
                </convoy-input-error>
            </convoy-input-field>

            <convoy-input-field class="mb-24px">
                <label for="owner_id_value"
                       tooltip="An arbitrary string that represents the ID of the reources in your system" convoy-label
                       required="true">Owner ID</label>
                <input id="owner_id_value" convoy-input autocomplete="name" formControlName="owner_id"
                       placeholder="Enter owner id"/>
            </convoy-input-field>

            <div class="max-w-[500px] mb-12px">
                <label class="text-14 font-semibold">Authentication Type</label>
            </div>
            <div class="grid grid-cols-2 gap-24px mb-24px">
                <convoy-radio formControlName="auth_type"
                              description="Default authentication type for existing portal links. (Deprecated)"
                              label="Static Token"
                              _name="type"
                              value="static_token"
                              _id="incoming"></convoy-radio>
                <convoy-radio
                        formControlName="auth_type"
                        description="Short-lived token that can be used to access the portal link. (Recommended)"
                        label="Refresh Token"
                        [checked]="true"
                        _name="type"
                        value="refresh_token"
                        _id="owner_id"></convoy-radio>
            </div>


            <div class="flex justify-between items-start">
                <div class="max-w-full">
                    <label class="text-14 font-semibold">Allow Endpoint Management</label>
                    <p class="text-12 font-normal text-neutral-11 mt-10px">Endpoint management enables portal link user
                        to update and create (if set up with owner id) endpoints.</p>
                </div>
                <convoy-toggle [class]="portalLink ? 'disabled' : ''"
                               formControlName="can_manage_endpoint"></convoy-toggle>
            </div>

            <hr class="my-24px border border-new.primary-25" *ngIf="portalLink"/>

            <ng-container *ngIf="portalLink">
                <p class="text-neutral-11 text-12 mt-20px">Portal Link</p>
                <div class="flex items-center justify-between w-full h-50px bg-[#F7F9FC] border border-neutral-a3 rounded-[6px] px-16px mb-12px last-of-type:mb-8px">
                    <span class="text-14 font-normal whitespace-nowrap w-450px overflow-hidden text-ellipsis">{{ portalLink || '' }}</span>
                    <convoy-copy-button [text]="portalLink || ''"
                                        notificationText="URL has been copied to clipboard!"></convoy-copy-button>
                </div>
            </ng-container>
        </div>

        <div class="flex justify-end items-center my-60px">
            <button convoy-button [disabled]="isCreatingPortalLink || portalLink || portalLinkForm.disabled">
                {{ action === 'update' ? 'Update Portal Link' : 'Create Portal Link' }}
            </button>
            <button convoy-button class="ml-16px text-14" type="button" fill="outline" *ngIf="portalLink"
                    (click)="goBack()">Done
            </button>
        </div>
    </form>
</div>

<convoy-notification></convoy-notification>
