<h1 class="font__12px font__weight-500 flex flex__align-items-center text__uppercase margin-bottom__24px">
	<span routerLink="/projects" class="font__weight-500 pointer-cursor">Projects</span>
	<svg width="16" height="16" class="margin-x__4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	PROJECT NAME
	<svg width="16" height="16" class="margin-x__4px">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="color__primary font__weight-500">SETTINGS</span>
</h1>

<app-create-project-component [action]="'update'"></app-create-project-component>
