<div id="project-settings"></div>
<convoy-loader *ngIf="isloading"></convoy-loader>

<app-create-project-component [action]="'update'" class="block -mt-24px"></app-create-project-component>

<hr class="border-t border-grey-10 my-40px" />

<div convoy-card color="danger" class="p-26px my-24px">
	<h2 class="text-danger font-semibold mb-20px">Danger zone</h2>
	<p class="text-14">
		Deleting this project will delete all of it's data including events, apps, subscriptions and config.
		<strong>Are you sure you want to delete this project?</strong>
	</p>
	<button convoy-button convoy-permission="Project Settings|MANAGE" color="danger" size="sm" class="mt-32px" (click)="showDeleteProjectModal = true">
		<svg width="18" height="18" class="mr-2 fill-white-100">
			<use xlink:href="#delete-icon"></use>
		</svg>
		Delete Project
	</button>
</div>

<app-delete-modal *ngIf="showDeleteProjectModal" [isLoading]="isloading" [deleteText]="'delete this project'" (closeModal)="showDeleteProjectModal = false" (deleteData)="deleteProject()"></app-delete-modal>
