<div class="text-12 font-medium flex items-center mb-24px uppercase">
	<a routerLink="/projects" class="font-medium cursor-pointer">Projects</a>
	<svg width="16" height="16" class="mx-4px fill-dark-grey">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	{{ privateService.activeProjectDetails?.name }}
	<svg width="16" height="16" class="mx-4px fill-dark-grey">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<a class="cursor-pointer font-medium" (click)="goBack()">Endpoints</a>
	<svg width="16" height="16" class="mx-4px fill-dark-grey">
		<use xlink:href="#arrow-right-icon"></use>
	</svg>
	<span class="font-medium text-primary-100">{{ endpointDetails?.title || 'Endpoint' }}</span>
</div>

<convoy-card className="p-32px mb-20px">
	<div class="flex justify-between items-center mb-24px">
		<div class="flex items-center">
			<h3 class="font-medium capitalize">{{ endpointDetails?.title }}</h3>
			<div convoy-dropdown size="sm" position="left">
				<button dropdownTrigger convoy-button size="sm" fill="text" class="px-10px ml-12px">
					<svg width="16" height="16" class="fill-primary-100 rotate-90">
						<use xlink:href="#arrow-right-icon"></use>
					</svg>
				</button>

				<ul dropdownOptions>
					<li convoy-dropdown-option class="border-b border-grey-20">
						<button convoy-button size="sm" fill="clear" class="w-full !justify-start" [routerLink]="'/projects/' + privateService.activeProjectDetails?.uid + '/endpoints/' + endpointDetails?.uid + '/edit'">
							<svg width="16" height="16" class="mr-8px fill-primary-100">
								<use xlink:href="#edit-icon"></use>
							</svg>
							Edit
						</button>
					</li>
					<li convoy-dropdown-option>
						<button convoy-button size="sm" fill="clear" color="danger" class="w-full !justify-start" (click)="showDeleteModal = true">
							<svg width="16" height="16" class="mr-8px fill-danger-100">
								<use xlink:href="#delete-icon"></use>
							</svg>
							Delete
						</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="flex justify-end items-center" *ngIf="!isLoadingEndpointDetails && endpointDetails">
			<button convoy-button fill="outline" size="sm" class="mr-20px" (click)="showAddEventModal = true">Send Event</button>
			<button convoy-button fill="outline" size="sm" class="mr-20px" (click)="viewEndpointEvents(endpointDetails.uid)">View Events</button>
			<button convoy-button fill="outline" size="sm" (click)="viewEndpointPortalLinks(endpointDetails.uid)">
				Open Portal Link
				<img src="/assets/img/arrow-up-right.svg" class="w-14px" alt="link out" />
			</button>
		</div>
	</div>

	<!-- endpoint details overview  -->
	<div *ngIf="isLoadingEndpointDetails">
		<div class="flex items-center flex-wrap justify-between mb-32px">
			<div>
				<p class="text-grey-40 text-12 font-light">DATE CREATED</p>
				<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
			</div>
			<div>
				<p class="text-grey-40 text-12 font-light">SUPPORT EMAIL</p>
				<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
			</div>
			<div>
				<p class="text-grey-40 text-12 font-light">SECRET</p>
				<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
			</div>
			<div>
				<p class="text-grey-40 text-12 font-light">EVENTS</p>
				<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
			</div>
			<div>
				<p class="text-grey-40 text-12 font-light">UPDATED</p>
				<convoy-skeleton-loader className="mt-10px w-120px h-20px"></convoy-skeleton-loader>
			</div>
		</div>
		<div>
			<p class="text-grey-40 text-12 font-light">URL</p>
			<convoy-skeleton-loader className="mt-10px w-320px h-20px"></convoy-skeleton-loader>
		</div>
	</div>

	<div *ngIf="!isLoadingEndpointDetails && endpointDetails">
		<div class="flex items-center flex-wrap justify-between mb-32px">
			<div>
				<p class="text-grey-40 text-12 font-light">DATE CREATED</p>
				<p class="text-black text-14 font-normal">{{ endpointDetails.created_at | date: 'mediumDate' }}</p>
			</div>
			<div>
				<p class="text-grey-40 text-12 font-light">SUPPORT EMAIL</p>
				<p class="text-black text-14 font-normal">{{ endpointDetails.support_email || '...no support email provided' }}</p>
			</div>
			<div>
				<p class="text-grey-40 text-12 font-light">SECRET</p>
				<button convoy-button size="sm" fill="text" (click)="showEndpointSecret = true">
					View Secret
					<img src="/assets/img/arrow-up-right.svg" class="w-14px" alt="link out" />
				</button>
			</div>
			<div>
				<p class="text-grey-40 text-12 font-light">EVENTS</p>
				<p class="text-black text-14 font-normal">{{ endpointDetails.events || 0 }}</p>
			</div>
			<div>
				<p class="text-grey-40 text-12 font-light">UPDATED</p>
				<p class="text-black text-14 font-normal">{{ endpointDetails.updated_at | date: 'mediumDate' }}</p>
			</div>
		</div>
		<div>
			<p class="text-grey-40 text-12 font-light">URL</p>
			<p class="text-black text-14 font-normal flex">
				<img src="/assets/img/link-icon.svg" alt="link icon" class="mr-8px" />
				{{ endpointDetails.target_url }}
			</p>
		</div>
	</div>
</convoy-card>

<ng-container *ngIf="isCliAvailable">
	<!-- app api keys and devices list  -->
	<convoy-card className="mt-24px rounded-bl-[0] rounded-br-[0]">
		<div class="flex items-center justify-center">
			<ul class="flex flex-row m-auto w-full mt-12px">
				<li *ngFor="let tab of tabs" class="mr-24px !list-none first-of-type:ml-24px last-of-type:mr-0">
					<button class="pb-16px pt-10px flex items-center" [class]="activeTab === tab ? 'active' : ''" (click)="toggleActiveTab(tab)">
						<span class="text-14 text-left capitalize text-grey-60 tracking-[0.02em] mobile:min-w-[80px]">{{ tab }}</span>
					</button>
				</li>

				<div class="text-grey-40 text-14 font-medium whitespace-nowrap ml-auto pr-14px" *ngIf="activeTab === 'CLI Keys'">
					<convoy-button size="sm" fill="outline" (click)="cliKeys.generateKeyModal = true" class="mt-6px">Generate Key</convoy-button>
				</div>
			</ul>
		</div>
	</convoy-card>

	<ng-container *ngIf="activeTab === 'CLI Keys'">
		<convoy-cli-keys></convoy-cli-keys>
	</ng-container>
	<ng-container *ngIf="activeTab === 'devices'">
		<convoy-devices></convoy-devices>
	</ng-container>
</ng-container>

<!-- send event form  -->
<send-event *ngIf="showAddEventModal && endpointDetails" [endpointId]="endpointDetails.uid" (onAction)="$event.action == 'cancel' ? (showAddEventModal = false) : getEndpointDetails(endpointDetails.uid); showAddEventModal = false"></send-event>

<!-- endpoint secret  -->
<convoy-endpoint-secret *ngIf="showEndpointSecret && endpointDetails" [endpointDetails]="endpointDetails" (closeSecretModal)="showEndpointSecret = false"></convoy-endpoint-secret>

<!-- delete modal  -->
<app-delete-modal *ngIf="showDeleteModal" [isLoading]="isDeletingEndpoint" [deleteText]="'delete “' + endpointDetails?.title + '”'" (closeModal)="showDeleteModal = false" (deleteData)="deleteEndpoint()"></app-delete-modal>
