<div class="flex flex-col items-center justify-center">
  @if (imgSrc) {
    <img [src]="imgSrc" alt="empty state" class="mb-46px h-156px" />
  }
  @if (heading) {
    <h2 class="font-bold mb-14px text-16 text-neutral-12 text-center">{{ heading }}</h2>
  }
  @if (description) {
    <p class="text-14 text-neutral-10 w-full max-w-[410px] text-center mt-8px">{{ description }}</p>
  }
  @if (buttonText) {
    <button convoy-button class="mt-22px" (click)="onAction.emit()">{{ buttonText }}</button>
  }
  <div class="empty:hidden">
    <ng-content select="[emptyStateCTA]"></ng-content>
  </div>
</div>
