<div class="flex flex-col items-center justify-center" [class]="type === 'normal' ? class + ' bg-white-100 border border-grey-10 rounded-8px py-70px' : class">
	<img *ngIf="imgSrc" [src]="imgSrc" alt="empty state" class="mb-4" />
	<h2 *ngIf="heading" class="font-semibold mb-2 text-center">{{ heading }}</h2>
	<p *ngIf="description" class="text-14 text-grey-60 w-full max-w-[600px] text-center mt-8px">{{ description }}</p>
	<button convoy-button *ngIf="buttonText" class="mt-22px" (click)="onAction.emit()">{{ buttonText }}</button>
	<div class="empty:hidden">
		<ng-content select="[emptyStateCTA]"></ng-content>
	</div>
</div>
