<dialog #projectSetupDialog convoy-dialog id="configureProjectForm" position="full">
	<div convoy-dialog-header fullscreen="true" (closeDialog)="cancel()">
		<h2 class="font-semibold capitalize">{{ projectType === 'outgoing' ? 'Configure Outgoing Project' : 'Configure Incoming Project' }}</h2>
	</div>

	<div class="h-full w-full">
        <div class="max-w-[770px] m-auto pb-60px flex flex-col">
            <convoy-loader *ngIf="showLoader"></convoy-loader>

            <ng-container *ngIf="projectType === 'incoming'">
                <h3 class="font-semibold mt-40px">Create your first source</h3>
                <p class="text-14 text-grey-60 mt-6px max-w-[634px]">
                    A source on Convoy represents your event senders, the providers and services you’ll like to receive events from. On creating a source, you’ll get a unique URL to listen to event into Convoy which can then be routed to any endpoint of choice
                </p>
            </ng-container>

            <div [class]="projectType === 'incoming' ? 'order-4' : 'order-10'" *ngIf="projectType === 'incoming' || connectPubSub">
                <convoy-create-source (onAction)="$event?.action === 'close' ? false : onCreateSource($event.data)"></convoy-create-source>
            </div>

            <h3 class="font-semibold mt-40px order-5">Create your first endpoint</h3>
            <p class="text-14 text-grey-60 mt-6px max-w-[634px] order-6">HTTP Endpoint is the destination of events from your sources. Create an endpoint to receive events from your configured sources, including through Convoy API.</p>
            <convoy-create-endpoint class="mb-40px order-7" (onAction)="$event.action === 'close' ? false : onCreateEndpoint($event.data)">
                <hr class="border-t border-grey-20 my-24px" />
                <convoy-toggle label="Automatically subscribe endpoint to all events sent?" name="automaticSubscription" (onChange)="automaticSubscription = !automaticSubscription" [isChecked]="automaticSubscription"></convoy-toggle>
            </convoy-create-endpoint>

            <div class="order-8" [ngClass]="{ 'h-0 invisible': automaticSubscription }">
                <h3 class="font-semibold">Create your first subscription</h3>

                <convoy-create-subscription (onAction)="onProjectOnboardingComplete()"></convoy-create-subscription>
            </div>

            <ng-container *ngIf="privateService.getProjectDetails?.type === 'outgoing'">
                <div convoy-card class="p-24px mb-40px order-9">
                    <div class="flex justify-between">
                        <div>
                            <h2 class="font-semibold mb-8px">Connect Pub/sub as event source</h2>
                            <p class="text-grey-60 text-12 mt-6px max-w-[348px]">Connect your Google Pub/Sub or AWS SQS to automatically trigger events to endpoints once there is a new message on the queue</p>

                            <!-- pending when documentation is ready  -->
                            <!-- <a convoy-button size="sm" fill="text" type="button" class="font-medium !justify-start" href="https://getconvoy.io/docs/manual/subscriptions#subscription-filters" target="_blank" referrerpolicy="noreferrer">
                                Read more here
                                <svg width="24" height="24" class="ml-8px" class="fill-primary-100">
                                    <use xlink:href="#arrow-right-icon"></use>
                                </svg>
                            </a> -->
                        </div>
                        <convoy-toggle name="connectPubSub" (onChange)="connectPubSub = !connectPubSub" [isChecked]="connectPubSub"></convoy-toggle>
                    </div>
                </div>
            </ng-container>

            <div class="flex justify-end order-11 mt-32px">
                <button convoy-button fill="outline" type="button" class="mr-16px transition-all duration-300 hover:text-danger-100 hover:border-danger-100" (click)="cancel()">Cancel</button>
                <button convoy-button [disabled]="isLoading" (click)="saveProjectConfig()">
                    Save and Proceed
                    <svg width="24" height="24" class="ml-8px fill-white-100">
                        <use xlink:href="#arrow-right-icon"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</dialog>
<convoy-notification></convoy-notification>
