<div class="fixed bg-black bg-opacity-50 h-screen w-screen top-0 right-0 bottom-0"></div>
<div class="fixed w-full bg-white-100 h-screen top-0 right-0 bottom-0 overflow-y-auto translate-x-0 shadow" [class]="modalType === 'side' ? 'max-w-[600px]' : 'w-screen'">
	<div class="px-20px pt-20px pb-16px border-b border-b-grey-10" *ngIf="hasModalHead">
		<ng-content select="[modalHead]"></ng-content>
	</div>
	<div class="p-20px" *ngIf="hasModalHead">
		<ng-content select="[modalBody]"></ng-content>
	</div>
	<div class="px-20px pt-20px pb-16px border-t border-t-grey-10" *ngIf="hasModalHead">
        <ng-content select="[modalFooter]"></ng-content>
    </div>
    <ng-content></ng-content>
</div>
