{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "email": "support@getconvoy.io",
      "name": "Convoy Support",
      "url": "https://getconvoy.io/docs"
    },
    "description": "Convoy is a fast and secure webhooks proxy. This document contains datastore.s API specification.",
    "license": {
      "name": "Mozilla Public License 2.0",
      "url": "https://www.mozilla.org/en-US/MPL/2.0/"
    },
    "termsOfService": "https://getconvoy.io/terms",
    "title": "Convoy API Reference",
    "version": "24.1.4"
  },
  "servers": [
    {
      "url": "https://us.getconvoy.cloud/api",
      "description": "US Region"
    },
    {
      "url": "https://eu.getconvoy.cloud/api",
      "description": "EU Region"
    }
  ],
  "paths": {
    "/v1/projects/{projectID}/endpoints": {
      "get": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "enum": [
                "next",
                "prev"
              ],
              "type": "string"
            },
            "x-enum-varnames": [
              "Next",
              "Prev"
            ]
          },
          {
            "description": "A pagination cursor to fetch the next page of a list",
            "example": "01H0JA5MEES38RRK3HTEJC647K",
            "in": "query",
            "name": "next_page_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The owner ID of the endpoint",
            "example": "01H0JA5MEES38RRK3HTEJC647K",
            "in": "query",
            "name": "ownerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return per page",
            "example": 20,
            "in": "query",
            "name": "perPage",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A pagination cursor to fetch the previous page of a list",
            "example": "01H0JATTVCXZK8FRDX1M1JN3QY",
            "in": "query",
            "name": "prev_page_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name of the endpoint",
            "example": "endpoint-1",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order, values are `ASC` or `DESC`, defaults to `DESC`",
            "example": "ASC | DESC",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/models.PagedResponse"
                            },
                            {
                              "properties": {
                                "content": {
                                  "items": {
                                    "$ref": "#/components/schemas/models.EndpointResponse"
                                  },
                                  "type": "array"
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "description": "This endpoint fetches an endpoints",
        "operationId": "GetEndpoints",
        "summary": "List all endpoints"
      },
      "post": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EndpointResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "description": "This endpoint creates an endpoint",
        "operationId": "CreateEndpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.CreateEndpoint"
              }
            }
          },
          "description": "Endpoint Details",
          "required": true
        },
        "summary": "Create an endpoint"
      }
    },
    "/v1/projects/{projectID}/endpoints/oauth2/test": {
      "post": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.TestOAuth2Response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "description": "This endpoint tests the OAuth2 connection by attempting to exchange a token",
        "operationId": "TestOAuth2Connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.TestOAuth2Request"
              }
            }
          },
          "description": "OAuth2 Configuration",
          "required": true
        },
        "summary": "Test OAuth2 connection"
      }
    },
    "/v1/projects/{projectID}/endpoints/{endpointID}": {
      "delete": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Endpoint ID",
            "in": "path",
            "name": "endpointID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "description": "This endpoint deletes an endpoint",
        "operationId": "DeleteEndpoint",
        "summary": "Delete endpoint"
      },
      "get": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Endpoint ID",
            "in": "path",
            "name": "endpointID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EndpointResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "description": "This endpoint fetches an endpoint",
        "operationId": "GetEndpoint",
        "summary": "Retrieve endpoint"
      },
      "put": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Endpoint ID",
            "in": "path",
            "name": "endpointID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EndpointResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Accepted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "description": "This endpoint updates an endpoint",
        "operationId": "UpdateEndpoint",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.UpdateEndpoint"
              }
            }
          },
          "description": "Endpoint Details",
          "required": true
        },
        "summary": "Update an endpoint"
      }
    },
    "/v1/projects/{projectID}/endpoints/{endpointID}/activate": {
      "post": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Endpoint ID",
            "in": "path",
            "name": "endpointID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EndpointResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Accepted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "description": "Activated an inactive endpoint",
        "operationId": "ActivateEndpoint",
        "summary": "Activate endpoint"
      }
    },
    "/v1/projects/{projectID}/endpoints/{endpointID}/expire_secret": {
      "put": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Endpoint ID",
            "in": "path",
            "name": "endpointID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EndpointResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "description": "This endpoint expires and re-generates the endpoint secret.",
        "operationId": "ExpireSecret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.ExpireSecret"
              }
            }
          },
          "description": "Expire Secret Body Parameters",
          "required": true
        },
        "summary": "Roll endpoint secret"
      }
    },
    "/v1/projects/{projectID}/endpoints/{endpointID}/pause": {
      "put": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Endpoint ID",
            "in": "path",
            "name": "endpointID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EndpointResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Accepted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Endpoints"
        ],
        "description": "Toggles an endpoint's status between active and paused states",
        "operationId": "PauseEndpoint",
        "summary": "Pause endpoint"
      }
    },
    "/v1/projects/{projectID}/event-types": {
      "get": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/models.EventTypeResponse"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "EventTypes"
        ],
        "description": "This endpoint fetches the project's event types",
        "operationId": "GetEventTypes",
        "summary": "Retrieves a project's event types"
      },
      "post": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EventTypeResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "EventTypes"
        ],
        "description": "This endpoint creates an event type",
        "operationId": "CreateEventType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.CreateEventType"
              }
            }
          },
          "description": "Event Type Details",
          "required": true
        },
        "summary": "Create an event type"
      }
    },
    "/v1/projects/{projectID}/event-types/import": {
      "post": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/models.EventTypeResponse"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "EventTypes"
        ],
        "description": "This endpoint imports event types from an OpenAPI specification",
        "operationId": "ImportOpenApiSpec",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.ImportOpenAPISpec"
              }
            }
          },
          "description": "OpenAPI specification",
          "required": true
        },
        "summary": "Import event types from OpenAPI spec"
      }
    },
    "/v1/projects/{projectID}/event-types/{eventTypeId}": {
      "put": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EventTypeResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "EventTypes"
        ],
        "description": "This endpoint updates an event type",
        "operationId": "UpdateEventType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.UpdateEventType"
              }
            }
          },
          "description": "Event Type Details",
          "required": true
        },
        "summary": "Updates an event type"
      }
    },
    "/v1/projects/{projectID}/event-types/{eventTypeId}/deprecate": {
      "post": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Event Type ID",
            "in": "path",
            "name": "eventTypeId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EventTypeResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "EventTypes"
        ],
        "description": "This endpoint deprecates an event type",
        "operationId": "DeprecateEventType",
        "summary": "Deprecates an event type"
      }
    },
    "/v1/projects/{projectID}/eventdeliveries": {
      "get": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "enum": [
                "next",
                "prev"
              ],
              "type": "string"
            },
            "x-enum-varnames": [
              "Next",
              "Prev"
            ]
          },
          {
            "description": "The end date",
            "example": "2008-05-02T15:04:05",
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of endpoint IDs to filter by",
            "in": "query",
            "name": "endpointId",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Event ID to filter by",
            "in": "query",
            "name": "eventId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "EventType to filter by",
            "in": "query",
            "name": "event_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "IdempotencyKey to filter by",
            "in": "query",
            "name": "idempotencyKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A pagination cursor to fetch the next page of a list",
            "example": "01H0JA5MEES38RRK3HTEJC647K",
            "in": "query",
            "name": "next_page_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return per page",
            "example": 20,
            "in": "query",
            "name": "perPage",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A pagination cursor to fetch the previous page of a list",
            "example": "01H0JATTVCXZK8FRDX1M1JN3QY",
            "in": "query",
            "name": "prev_page_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order, values are `ASC` or `DESC`, defaults to `DESC`",
            "example": "ASC | DESC",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date",
            "example": "2006-01-02T15:04:05",
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of event delivery statuses to filter by",
            "in": "query",
            "name": "status",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "SubscriptionID to filter by",
            "in": "query",
            "name": "subscriptionId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/models.PagedResponse"
                            },
                            {
                              "properties": {
                                "content": {
                                  "items": {
                                    "$ref": "#/components/schemas/models.EventDeliveryResponse"
                                  },
                                  "type": "array"
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Event Deliveries"
        ],
        "description": "This endpoint retrieves all event deliveries paginated.",
        "operationId": "GetEventDeliveriesPaged",
        "summary": "List all event deliveries"
      }
    },
    "/v1/projects/{projectID}/eventdeliveries/batchretry": {
      "post": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "enum": [
                "next",
                "prev"
              ],
              "type": "string"
            },
            "x-enum-varnames": [
              "Next",
              "Prev"
            ]
          },
          {
            "description": "The end date",
            "example": "2008-05-02T15:04:05",
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of endpoint IDs to filter by",
            "in": "query",
            "name": "endpointId",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Event ID to filter by",
            "in": "query",
            "name": "eventId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "EventType to filter by",
            "in": "query",
            "name": "event_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "IdempotencyKey to filter by",
            "in": "query",
            "name": "idempotencyKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A pagination cursor to fetch the next page of a list",
            "example": "01H0JA5MEES38RRK3HTEJC647K",
            "in": "query",
            "name": "next_page_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return per page",
            "example": 20,
            "in": "query",
            "name": "perPage",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A pagination cursor to fetch the previous page of a list",
            "example": "01H0JATTVCXZK8FRDX1M1JN3QY",
            "in": "query",
            "name": "prev_page_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order, values are `ASC` or `DESC`, defaults to `DESC`",
            "example": "ASC | DESC",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The start date",
            "example": "2006-01-02T15:04:05",
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of event delivery statuses to filter by",
            "in": "query",
            "name": "status",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "SubscriptionID to filter by",
            "in": "query",
            "name": "subscriptionId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Event Deliveries"
        ],
        "description": "This endpoint batch retries multiple event deliveries at once.",
        "operationId": "BatchRetryEventDelivery",
        "summary": "Batch retry event delivery"
      }
    },
    "/v1/projects/{projectID}/eventdeliveries/forceresend": {
      "post": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Event Deliveries"
        ],
        "description": "This endpoint enables you retry a previously successful event delivery",
        "operationId": "ForceResendEventDeliveries",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.IDs"
              }
            }
          },
          "description": "event delivery ids",
          "required": true
        },
        "summary": "Force retry event delivery"
      }
    },
    "/v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}": {
      "get": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "event delivery id",
            "in": "path",
            "name": "eventDeliveryID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EventDeliveryResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Event Deliveries"
        ],
        "description": "This endpoint fetches an event delivery.",
        "operationId": "GetEventDelivery",
        "summary": "Retrieve an event delivery"
      }
    },
    "/v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}/deliveryattempts": {
      "get": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "event delivery id",
            "in": "path",
            "name": "eventDeliveryID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "items": {
                            "$ref": "#/components/schemas/datastore.DeliveryAttempt"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Delivery Attempts"
        ],
        "description": "This endpoint fetches an app message's delivery attempts",
        "operationId": "GetDeliveryAttempts",
        "summary": "List delivery attempts"
      }
    },
    "/v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}/deliveryattempts/{deliveryAttemptID}": {
      "get": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "event delivery id",
            "in": "path",
            "name": "eventDeliveryID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "delivery attempt id",
            "in": "path",
            "name": "deliveryAttemptID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/datastore.DeliveryAttempt"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Delivery Attempts"
        ],
        "description": "This endpoint fetches an app event delivery attempt",
        "operationId": "GetDeliveryAttempt",
        "summary": "Retrieve a delivery attempt"
      }
    },
    "/v1/projects/{projectID}/eventdeliveries/{eventDeliveryID}/resend": {
      "put": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "event delivery id",
            "in": "path",
            "name": "eventDeliveryID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/models.EventDeliveryResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Event Deliveries"
        ],
        "description": "This endpoint retries an event delivery.",
        "operationId": "ResendEventDelivery",
        "summary": "Retry event delivery"
      }
    },
    "/v1/projects/{projectID}/events": {
      "get": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "enum": [
                "next",
                "prev"
              ],
              "type": "string"
            },
            "x-enum-varnames": [
              "Next",
              "Prev"
            ]
          },
          {
            "description": "The end date",
            "example": "2008-05-02T15:04:05",
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of endpoint ids to filter by",
            "in": "query",
            "name": "endpointId",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "IdempotencyKey to filter by",
            "in": "query",
            "name": "idempotencyKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A pagination cursor to fetch the next page of a list",
            "example": "01H0JA5MEES38RRK3HTEJC647K",
            "in": "query",
            "name": "next_page_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return per page",
            "example": 20,
            "in": "query",
            "name": "perPage",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A pagination cursor to fetch the previous page of a list",
            "example": "01H0JATTVCXZK8FRDX1M1JN3QY",
            "in": "query",
            "name": "prev_page_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Any arbitrary value to filter the events payload",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order, values are `ASC` or `DESC`, defaults to `DESC`",
            "example": "ASC | DESC",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of Source IDs to filter the events by.",
            "in": "query",
            "name": "sourceId",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "The start date",
            "example": "2006-01-02T15:04:05",
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/models.PagedResponse"
                            },
                            {
                              "properties": {
                                "content": {
                                  "items": {
                                    "$ref": "#/components/schemas/models.EventResponse"
                                  },
                                  "type": "array"
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Events"
        ],
        "description": "This endpoint fetches app events with pagination",
        "operationId": "GetEventsPaged",
        "summary": "List all events"
      },
      "post": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/handlers.Stub"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Events"
        ],
        "description": "This endpoint creates an endpoint event",
        "operationId": "CreateEndpointEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/models.CreateEvent"
              }
            }
          },
          "description": "Event Details",
          "required": true
        },
        "summary": "Create an event"
      }
    },
    "/v1/projects/{projectID}/events/batchreplay": {
      "post": {
        "parameters": [
          {
            "description": "Project ID",
            "in": "path",
            "name": "projectID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "enum": [
                "next",
                "prev"
              ],
              "type": "string"
            },
            "x-enum-varnames": [
              "Next",
              "Prev"
            ]
          },
          {
            "description": "The end date",
            "example": "2008-05-02T15:04:05",
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of endpoint ids to filter by",
            "in": "query",
            "name": "endpointId",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "IdempotencyKey to filter by",
            "in": "query",
            "name": "idempotencyKey",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A pagination cursor to fetch the next page of a list",
            "example": "01H0JA5MEES38RRK3HTEJC647K",
            "in": "query",
            "name": "next_page_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of items to return per page",
            "example": 20,
            "in": "query",
            "name": "perPage",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A pagination cursor to fetch the previous page of a list",
            "example": "01H0JATTVCXZK8FRDX1M1JN3QY",
            "in": "query",
            "name": "prev_page_cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Any arbitrary value to filter the events payload",
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order, values are `ASC` or `DESC`, defaults to `DESC`",
            "example": "ASC | DESC",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of Source IDs to filter the events by.",
            "in": "query",
            "name": "sourceId",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "The start date",
            "example": "2006-01-02T15:04:05",
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/util.ServerResponse"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
[...]
