<convoy-card class="mb-20px min-h-[30vh] rounded-tl-[0] rounded-tr-[0]">
	<!-- empty state for api keys  -->
	<ng-container *ngIf="showError || (!isFetchingApiKeys && apiKeys?.length === 0)">
		<div convoy-empty-state imgSrc="/assets/img/events-log-empty-state.png" heading="You do not have any keys" class="py-54px" id="empty-state"></div>
	</ng-container>

	<!-- loader for api keys  -->
	<ng-container *ngIf="isFetchingApiKeys">
		<div class="flex justify-between items-center p-22px" *ngFor="let index of loaderIndex">
			<div>
				<div class="flex items-center mb-8px">
					<convoy-skeleton-loader className="h-20px w-100px"></convoy-skeleton-loader>
					<convoy-skeleton-loader className="h-14px w-60px ml-10px"></convoy-skeleton-loader>
				</div>
				<convoy-skeleton-loader className="h-14px w-120px"></convoy-skeleton-loader>
			</div>
			<convoy-skeleton-loader className="h-14px w-120px"></convoy-skeleton-loader>
		</div>
	</ng-container>

	<!-- fetched api keys  -->
	<ng-container *ngIf="!isFetchingApiKeys && apiKeys">
		<div class="flex justify-between items-center pb-10px px-22px mt-24px bg-[#fcfcfc] border-b border-b-grey-10 last-of-type:border-none" *ngFor="let key of apiKeys">
			<div>
				<div class="flex items-center mb-8px">
					<p class="text-12 font-medium mr-36px">{{ key.name }}</p>
					<convoy-tag type="grey" className="mr-16px">{{ key.role.type }}</convoy-tag>
					<convoy-tag [type]="getKeyStatus(key.expires_at) | statuscolor">{{ getKeyStatus(key.expires_at) }}</convoy-tag>
				</div>
				<p class="text-grey-40 text-12 mt-8px">Expires At: {{ key.expires_at | date: 'medium' }}</p>
			</div>
			<button convoy-button size="xs" fill="text" color="danger" class="font-medium" (click)="selectedApiKey = key; showRevokeApiModal = true" *ngIf="getKeyStatus(key.expires_at) === 'active'">Revoke</button>
		</div>
	</ng-container>
</convoy-card>

<convoy-token-modal *ngIf="showApiKey" title="Cli Key Generated Successfully" description="Your Cli Key has been created. Please copy this key and save it somewhere safe." [token]="apiKey" (closeModal)="showApiKey = false; getApiKeys()"></convoy-token-modal>

<div convoy-modal (closeModal)="generateKeyModal = false; generateKeyForm.reset()" *ngIf="generateKeyModal">
	<div convoy-modal-header>
		<h2 class="font-semibold capitalize">Generate CLI key</h2>

		<button convoy-button texture="light" size="sm" class="px-8px !py-10px" (click)="generateKeyModal = false; generateKeyForm.reset()">
			<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
		</button>
	</div>

    <form class="p-20px" [formGroup]="generateKeyForm" (ngSubmit)="generateNewKey()">
		<ng-container *ngIf="token">
			<convoy-select label="Endpoint" name="endpoint_id" formControlName="endpoint_id" [options]="endpoints" [value]="endpointId" [required]="true" errorMessage="Endpoint Id is required" (selectedOption)="setEndpointId($event)"></convoy-select>
		</ng-container>
		<convoy-input-field>
			<label for="name" convoy-label [ngClass]="{ 'mt-24px': token }">CLI key name</label>
			<input id="name" convoy-input autocomplete="name" formControlName="name" placeholder="CLI key name" />
		</convoy-input-field>
		<convoy-select label="Expiration" name="expiration" formControlName="expiration" [options]="expirationDates" (selectedOption)="generateKeyForm.patchValue({ expiration: $event })"></convoy-select>
		<div class="flex justify-end mt-24px">
			<button convoy-button>Generate Key</button>
		</div>
	</form>
</div>

<app-delete-modal *ngIf="showRevokeApiModal" [isLoading]="isRevokingApiKey" [deleteText]="'revoke “' + selectedApiKey?.name + ' cli key”'" deleteButtonText="revoke" (closeModal)="showRevokeApiModal = false" (deleteData)="revokeApiKey()"></app-delete-modal>
