<div class="max-w-[1300px] w-full mx-auto px-24px pt-80px pb-100px">
	<button type="button" class="flex items-center gap-8px mt-24px font-body font-medium text-[14px] text-new.text-primary" [routerLink]="'/portal'" [queryParams]="{ token: portalToken }">
		<span class="w-28px h-28px flex items-center justify-center rounded-full bg-white-100 border border-new.border">
			<svg width="24" height="24" class="fill-new.text-primary scale-[0.6]">
				<use xlink:href="#arrow-left-icon"></use>
			</svg>
		</span>
		Back
	</button>

	<app-event-delivery-details (onViewEndpoint)="viewEndpointDetails($event)"></app-event-delivery-details>
</div>
