on:
  push:
    branches:
      - master
name: Build docker image
jobs:
  deploy:
    runs-on: "ubuntu-latest"
    steps:

    - name: Get the version
      id: get_version
      run: echo ::set-output name=tag::$(echo ${GITHUB_SHA:8})

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Authenticate
      uses: actions-hub/docker/login@master
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.PAT }}
        DOCKER_REGISTRY_URL: ghcr.io

    - name: Build latest image
      run: docker build -t ghcr.io/${GITHUB_REPOSITORY}:${{ steps.get_version.outputs.tag }} --build-arg ACCESS_TOKEN_USR=${{ secrets.DOCKER_USERNAME }} --build-arg ACCESS_TOKEN=${{ secrets.PAT }} .

    - name: Push
      uses: actions-hub/docker@master
      with:
        args:  push ghcr.io/${GITHUB_REPOSITORY}:${{ steps.get_version.outputs.tag }}
