name: Build and Push Docker Images

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Manual workflow name"
        required: true
  push:
    tags:
      # Release binary for every tag.
      - v*

env:
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
  IMAGE_NAME: getconvoy/convoy
  RELEASE_VERSION: ${{ github.ref_name }}

jobs:
  build_ui:
    name: Build UI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Artifact
        run: "make ui_install type=ce"

      - name: Archive Build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-without-markdown
          path: |
            web/ui/dashboard/dist
            !web/ui/dashboard/dist/**/*.md

  build-and-push-arch:
    runs-on: ubuntu-latest
    needs: [build_ui]
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
            dockerfile: release.Dockerfile
          - arch: arm64
            platform: linux/arm64
            dockerfile: release.Dockerfile

    steps:
      - uses: actions/checkout@v4
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: dist-without-markdown
          path: api/ui/build
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Check out code
        uses: actions/checkout@v4

      - name: Get and verify dependencies
        run: go mod tidy && go mod download && go mod verify

      - name: Go vet
        run: go vet ./...

      - name: Build app to make sure there are zero issues
        run: |
          export CGO_ENABLED=0 
          export GOOS=linux
          export GOARCH=${{ matrix.platform }} 
          go build -o convoy ./cmd

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ env.DOCKER_HUB_TOKEN }}

      - name: Build and push arch specific images
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platform }}
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }}-${{ matrix.arch }}
          build-args: |
            ARCH=${{ matrix.arch }}

      - name: Create and push manifest for latest
        run: |
          docker manifest create  ${{ env.IMAGE_NAME }}:latest \
            ${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }}-amd64 \
            ${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }}-arm64
          docker manifest push user/repo:latest

      - name: Create and push manifest for tag
        run: |
          docker manifest create  ${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }} \
            ${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }}-amd64 \
            ${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }}-arm64
          docker manifest push ${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }}