name: Build and Push Docker Images

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Manual workflow name"
        required: true
  push:
    branches:
      - main
    tags:
      - v*

permissions:
  contents: read
  actions: write

env:
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
  IMAGE_NAME: getconvoy/convoy

jobs:
  set-image-tag:
    name: Set image tag
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set-tag-release.outputs.image_tag || steps.set-tag-main.outputs.image_tag }}
      release_kind: ${{ steps.set-tag-release.outputs.release_kind || steps.set-tag-main.outputs.release_kind }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - name: Set tag outputs for release tags
        if: ${{ github.ref_type == 'tag' }}
        id: set-tag-release
        run: |
          echo "release_kind=tag" >> "$GITHUB_OUTPUT"
          echo "image_tag=${{ github.ref_name }}" >> "$GITHUB_OUTPUT"

      - name: Set tag outputs for main
        if: ${{ github.ref_type != 'tag' }}
        id: set-tag-main
        run: |
          SHORT_SHA="$(git rev-parse --short=7 HEAD)"
          echo "release_kind=main" >> "$GITHUB_OUTPUT"
          echo "image_tag=${SHORT_SHA}" >> "$GITHUB_OUTPUT"

  build_ui:
    name: Build UI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Build Artifact
        run: "make ui_install type=ce"

      - name: Archive Build artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: dist-without-markdown
          path: |
            web/ui/dashboard/dist
            !web/ui/dashboard/dist/**/*.md

  build-and-push-arch:
    runs-on: ubuntu-latest
    needs: [build_ui, set-image-tag]
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
            dockerfile: release.Dockerfile
          - arch: arm64
            platform: linux/arm64
            dockerfile: release.Dockerfile

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: Download Build Artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          name: dist-without-markdown
          path: api/ui/build

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: 1.25

      - name: Get and verify dependencies
        run: go mod tidy && go mod download && go mod verify

      - name: Go vet
        run: go vet ./...

      - name: Build app to make sure there are zero issues
        run: |
          export CGO_ENABLED=0
          export GOOS=linux
          export GOARCH=${{ matrix.arch }}
          go build -o convoy ./cmd

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ env.DOCKER_HUB_TOKEN }}

      - name: Build and push stable arch images
        if: ${{ needs.set-image-tag.outputs.release_kind == 'tag' }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platform }}
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ needs.set-image-tag.outputs.image_tag }}-${{ matrix.arch }}
          build-args: |
            ARCH=${{ matrix.arch }}

      - name: Build and push main arch images
        if: ${{ needs.set-image-tag.outputs.release_kind == 'main' }}
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platform }}
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:main-${{ needs.set-image-tag.outputs.image_tag }}-${{ matrix.arch }}
          build-args: |
            ARCH=${{ matrix.arch }}

  build-and-push-default:
    runs-on: ubuntu-latest
    needs: [build-and-push-arch, set-image-tag]
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ env.DOCKER_HUB_TOKEN }}

      - name: Create and push stable manifests
        if: ${{ needs.set-image-tag.outputs.release_kind == 'tag' }}
        run: |
          docker buildx imagetools create -t ${{ env.IMAGE_NAME }}:${{ needs.set-image-tag.outputs.image_tag }} \
            ${{ env.IMAGE_NAME }}:${{ needs.set-image-tag.outputs.image_tag }}-amd64 \
            ${{ env.IMAGE_NAME }}:${{ needs.set-image-tag.outputs.image_tag }}-arm64

      - name: Create and push main manifests
        if: ${{ needs.set-image-tag.outputs.release_kind == 'main' }}
        run: |
          docker buildx imagetools create -t ${{ env.IMAGE_NAME }}:latest \
            ${{ env.IMAGE_NAME }}:main-${{ needs.set-image-tag.outputs.image_tag }}-amd64 \
            ${{ env.IMAGE_NAME }}:main-${{ needs.set-image-tag.outputs.image_tag }}-arm64

          docker buildx imagetools create -t ${{ env.IMAGE_NAME }}:main-${{ needs.set-image-tag.outputs.image_tag }} \
            ${{ env.IMAGE_NAME }}:main-${{ needs.set-image-tag.outputs.image_tag }}-amd64 \
            ${{ env.IMAGE_NAME }}:main-${{ needs.set-image-tag.outputs.image_tag }}-arm64
