name: Validate PR Title

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

permissions:
  pull-requests: read
  statuses: write

jobs:
  semantic-pr-title:
    name: Conventional PR title
    runs-on: ubuntu-latest
    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            perf
            refactor
            docs
            test
            chore
            ci
            build
          scopes: |
            controlplane
            dataplane
            dashboard
          requireScope: true
          subjectPattern: ^.+$
          subjectPatternError: Subject must not be empty
