name: Build and run all tests
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.15.x, 1.16.x]
        os: [ubuntu-latest, macos-latest]
        mongodb-version: ['4.0', '4.2', '4.4']

    runs-on: ubuntu-latest

    # services:
    #   postgres:
    #     image: postgres:13
    #     env:
    #       POSTGRES_PASSWORD: postgres
    #       POSTGRES_USER: hookcamptest
    #     ports: ["5432:5432"]
    #     options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    #   mysql:
    #     image: mysql:5.7
    #     env:
    #       MYSQL_DATABASE: hookcamptest
    #       MYSQL_USER: hookcamptest
    #       MYSQL_PASSWORD: mysql
    #       MYSQL_ROOT_PASSWORD: mysql
    #     ports:
    #       - 3306:3306
    #     options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.4.1
      with:
        mongodb-version: ${{ matrix.mongodb-version }}

    - name: Get the version
      id: get_version
      run: echo ::set-output name=tag::$(echo ${GITHUB_SHA:8})

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Cache go modules
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
        restore-keys: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}

    - name: Check out code
      uses: actions/checkout@v2

    - name: Get and verify dependencies
      run: go mod download && go mod verify

    - name: Build app to make sure there are zero issues
      run: go build -o hookcamp ./cmd

    - name: Go vet
      run: go vet ./...

    - name: Run Mongo integration tests
      run: go test -tags integration -v ./...
      env:
        TEST_DATABASE_DSN: "mongodb://localhost:27017"

