name: golangci-lint
on:
  pull_request:

jobs:
  backend-lint:
    name: Lint
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --config=.golangci.yml --timeout 3m --verbose
          only-new-issues: 'true'
          version: v2.1
