name: golangci-lint
on:
    pull_request:

jobs:
    golangci:
        if: ${{ !(contains(github.head_ref, 'ui/')) || !(contains(github.head_ref, 'cms/')) }}
        name: lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: golangci-lint
              uses: golangci/golangci-lint-action@v6
              with:
                  version: latest
                  only-new-issues: true
                  args: --timeout 3m --verbose
