name: golangci-lint
on:
  pull_request:

jobs:
  backend-lint:
    name: Lint
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          args: --config=.golangci.yml --timeout 5m --verbose
          only-new-issues: 'true'
          version: v2.1
