name: Release Go Binaries

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Manual workflow name"
        required: true
  push:
    tags:
      # Release binary for every tag.
      - v*

jobs:
  build_ui:
    name: Build UI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Build Artifact
        run: "make ui_install type=ce"
      
      - name: Archive Build artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: dist-without-markdown
          path: |
            web/ui/dashboard/dist
            !web/ui/dashboard/dist/**/*.md

  release-matrix:
    name: Release & Publish Go Binary
    needs: [build_ui]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Download Build Artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          name: dist-without-markdown
          path: api/ui/build
          fetch-depth: 0

      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
        name: Set up QEMU

      - uses: actions/setup-python@v6
        name: Setup Python
        with:
          python-version: '3.9'

      - name: Install Cloudsmith CLI
        run: |
         echo $(pip --version)
         pip install --upgrade cloudsmith-cli
         echo $(cloudsmith --version)

      - name: Clean git state
        run: |
          git checkout -- api/ui/build/
          git clean -fd

      - uses: goreleaser/goreleaser-action@v6
        name: Release, Upload & Publish
        with:
          version: latest
          args: -f .publisher.yml release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          REPO_NAME: ${{ github.repository }}
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}

